<module>
	<label>Show Chats</label>
	<description>Module "Show Chats" allows the current user to see his existent chats and interat with the correspondent users. This modules needs the jQuery lib.</description>
	<image>logo.svg</image>
	<load_module_settings_js_function>loadShowChatsBlockSettings</load_module_settings_js_function>
	<is_reserved_module>1</is_reserved_module>
</module>
