.docbook {
	padding:20px;
}
.docbook .docbook_tree .icon.view,
  .docbook .docbook_tree .icon.php {
	float:none;
	clear:both;
	display:inline-block;
	vertical-align:middle;
}
.docbook .docbook_tree .icon.php {
	background: url(../../common/img/icon/php_icon.png) no-repeat scroll 0 0;
}

.docbook .docbook_tree .file_docbook {
	width:100%;
	height:500px;
	max-height:80vh;
	display:block;
	border:1px solid #ccc;
	background:#fff;
}
