.module_edit {
	width:570px;
}
.module_edit .form_fields .form_field label {
	width:230px;
}
.module_edit .form_fields .form_field input {
	width:300px;
}
.module_edit .form_fields .form_field .info {
	min-height:20px;
	color:#999;
	font-size:10px;
	margin-top:5px;
}
.module_edit .form_fields .form_field .warning {
	min-height:20px;
	color:red;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	margin-top:10px;
}
.module_edit .buttons .submit_button_delete {
	display:none;
}

.module_edit .mime_types, .module_edit .extensions {
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #CCC;
}
.module_edit .mime_types select {
	width:305px;
}
.module_edit .extensions input {
	width:90px !important;
}
.module_edit .mime_types .add {
	position:absolute; 
	margin:-22px 0 0 540px;
}
.module_edit .extensions .add {
	position:absolute; 
	margin:-22px 0 0 330px;
}
.module_edit .mime_types table, .module_edit .extensions table {
	max-height:200px;
	overflow-y:auto;
	display:block;
	margin:10px auto 0 auto;
	border:0;
}
.module_edit .mime_types table {
	width:430px;
}
.module_edit .extensions table {
	width:145px;
}
.module_edit .mime_types table td, .module_edit .extensions table td {
	overflow-x:hidden;
}
.module_edit .mime_types table .extension, .module_edit .extensions table .extension {
	width:100px;
	text-align:center;
}
.module_edit .mime_types table .mime_type {
	width:310px;
}
.module_edit .mime_types table .icons, .module_edit .extensions table .icons {
	width:20px;
}
