.module_list .attachment_id {
	text-align:center;
}
.module_list .object_type_id {
	text-align:center;
}
.module_list .object_id {
	text-align:center;
}
.module_list .group {
	text-align:center;
}
.module_list .order {
	text-align:center;
}
