#error_message {
	position:fixed;
	bottom:0px;
	width:100%;
	min-height:25px;
	line-height:17px;
	padding-top:5px;
	background-color:#FF0000;
	color:#FFF;
	text-align:center;
	z-index:2000;
}
#status_message {
	position:fixed;
	bottom:0px;
	width:100%;
	min-height:25px;
	line-height:17px;
	padding-top:5px;
	background-color:#CCFF99;
	color:#000;
	text-align:center;
	z-index:2000;
}
