.module_settings .settings .list_settings .show_edit_button, 
   .module_settings .settings .list_settings .edit_page_url {
	display:none;
}

.list_settings .prop_username .selected_task_properties .form_containers .fields .field .input_name,
   .list_settings .prop_username .selected_task_properties .form_containers .fields .field .input_value,
   .list_settings .prop_username .settings_prop_search_value {
	display:none;
}
.list_settings .prop_activity_id .selected_task_properties .form_containers .fields .field .input_name,
   .list_settings .prop_activity_id .selected_task_properties .form_containers .fields .field .input_value {
	display:none;
}
.list_settings .prop_object_type_id .selected_task_properties .form_containers .fields .field .input_name,
   .list_settings .prop_object_type_id .selected_task_properties .form_containers .fields .field .input_value {
	display:none;
}
.list_settings .prop_time .selected_task_properties .form_containers .fields .field .input_name,
   .list_settings .prop_time .selected_task_properties .form_containers .fields .field .input_value {
	display:none;
}
