.module_list_object_attachments td.attachment_id {
	width:120px;
	text-align:center;
}
.module_list_object_attachments td.object_type_id {
	width:120px;
	text-align:center;
}
.module_list_object_attachments td.object_id {
	width:100px;
	text-align:center;
}
.module_list_object_attachments td.group {
	width:50px;
	text-align:center;
}
.module_list_object_attachments td.order {
	width:50px;
	text-align:center;
}
