/* TEMPLATE POPUPS - choose_available_template_popup */
.choose_available_template_popup {
	top:10px !important;
	left:10px !important;
	right:10px !important;
	bottom:10px !important;
	text-align:center;
}

/* TEMPLATE POPUPS - choose_available_template_popup - title */
.choose_available_template_popup:not(.with_title) > .title {
	display:block;
	text-align:center;
}
.choose_available_template_popup.with_title > .title {
	display:block;
}

/* TEMPLATE POPUPS - choose_available_template_popup - choose_different_editor */
.choose_available_template_popup:not(.with_title) .choose_different_editor,
  .choose_available_template_popup:not(.with_title) .install_template {
	margin:0 10px;
}
.choose_available_template_popup.with_title .choose_different_editor,
  .choose_available_template_popup.with_title .install_template {
	display:inline-block;
	position:absolute;
	top:7px;
	right:50px;
	font-size:11px;
	cursor:pointer;
	background:#8CA9FF;
	border-color:#8CA9FF;
}
.choose_available_template_popup.with_title > .choose_different_editor {
	left:auto;
	right:190px;
}
.choose_available_template_popup.with_title .choose_different_editor:hover,
  .choose_available_template_popup.with_title .install_template:hover {
	opacity:.9;
}
.choose_available_template_popup > .choose_different_editor .icon {
	color:inherit;
}

/* TEMPLATE POPUPS - choose_available_template_popup - content */
.choose_available_template_popup > .content {
	padding:0 15px 15px;
	position:absolute;
	top:60px;
	left:0;
	right:0;
	bottom:0;
	display:block;
	clear:both;
	overflow-y:auto;
	text-align:left;
}
.choose_available_template_popup > .content .loading_templates {
	width:100%;
	display:block;
	text-align:center;
}
.choose_available_template_popup > .content .loading_templates .icon {
	height:20px;
	display:inline-block;
	float:none;
	vertical-align:middle;
}

/* TEMPLATE POPUPS - choose_available_template_popup - content - div */
.choose_available_template_popup > .content > .default_templates,
  .choose_available_template_popup > .content > .installed_templates,
  .choose_available_template_popup > .content > .projects_templates {
	margin:20px 0 50px;
	position:relative;
}
.choose_available_template_popup > .content > .default_templates > .title,
  .choose_available_template_popup > .content > .installed_templates > .title,
  .choose_available_template_popup > .content > .projects_templates > .title {
	margin:0;
	padding:0 10px;
	text-align:left;
	border-bottom:1px solid #eee;
	color:var(--icon-folder-color);
}
.choose_available_template_popup > .content > .default_templates > ul,
  .choose_available_template_popup > .content > .installed_templates > ul,
  .choose_available_template_popup > .content > .projects_templates > ul {
	margin-top:10px;
}

/* TEMPLATE POPUPS - choose_available_template_popup - content - back */
.choose_available_template_popup > .content .back {
	position:absolute;
	top:-1px;
	right:10px;
	font-size:11px;
	color:var(--icon-folder-color);
	color:#aaa;
	cursor:pointer;
	display:none;
}
.choose_available_template_popup > .content .back:hover {
	color:var(--icon-hover-color);
}
.choose_available_template_popup > .content .back .icon {
	color:inherit;
}

/* TEMPLATE POPUPS - choose_available_template_popup - content - current_template_folder */
.choose_available_template_popup > .content .current_template_folder {
	position:absolute;
	top:-1px;
	left:125px;
	font-size:11px;
	color:var(--icon-folder-color);
	color:#aaa;
}
.choose_available_template_popup > .content > .projects_templates > .current_template_folder {
	left:155px;
}
.choose_available_template_popup > .content .current_template_folder .path_parts {
	cursor:pointer;
}
.choose_available_template_popup > .content .current_template_folder .path_parts:hover {
	color:var(--icon-hover-color);
}
.choose_available_template_popup > .content .current_template_folder .path_parts:last-child {
	font-weight:bold;
}
.choose_available_template_popup > .content .current_template_folder .path_parts:not(:last-child):not(.path_part_project) {
	margin-right:5px;
}
.choose_available_template_popup > .content .current_template_folder .path_parts:not(:last-child):not(.path_part_project)::after,
  .choose_available_template_popup > .content .current_template_folder .path_parts.with_project::after {
	margin-left:5px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f105";
	vertical-align:middle;
}
.choose_available_template_popup > .content .current_template_folder .path_parts.with_project::after {
	margin-right:5px;
}


/* TEMPLATE POPUPS - choose_available_template_popup - content - choose_page_workspace */
.choose_available_template_popup > .content .choose_page_workspace {
	text-align:center;
}
.choose_available_template_popup.with_title > .content .choose_page_workspace {
	margin-top:40px;
}
.choose_available_template_popup > .content .choose_page_workspace > .title {
	margin-bottom:20px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
.choose_available_template_popup > .content .choose_page_workspace .html_editor,
  .choose_available_template_popup > .content .choose_page_workspace .template_editor {
	width:300px;
	margin:20px;
	padding:20px;
	display:inline-block;
	border:1px solid #eee;
	border-radius:5px;
	box-shadow:0px 0px 5px 5px rgb(200 200 200 / 20%);
}
.choose_available_template_popup > .content .choose_page_workspace .html_editor .title,
  .choose_available_template_popup > .content .choose_page_workspace .template_editor .title {
	font-weight:bold;
	text-align:center;
	color:#000;
}
.choose_available_template_popup > .content .choose_page_workspace .html_editor .description,
  .choose_available_template_popup > .content .choose_page_workspace .template_editor .description {
	margin:10px 0 20px;
}

/* TEMPLATE POPUPS - choose_available_template_popup - content - li */
.choose_available_template_popup > .content li:not(.empty):not(.loading_templates):not(.separator) {
	width:70px;
	min-height:50px;
	margin:15px 30px;
	padding:0;
	display:inline-block;
	position:relative;
	background:none;
	vertical-align:top;
	cursor:pointer;
	box-sizing:border-box;
	text-align:center;
}
.choose_available_template_popup > .content li:not(.empty):not(.loading_templates):not(.separator):hover {
	z-index:1;
}
.choose_available_template_popup > .content li.default_template:hover::before,
  .choose_available_template_popup > .content li.file:hover::before,
  .choose_available_template_popup > .content li.folder:hover::before,
  .choose_available_template_popup > .content li.project_folder:hover::before,
  .choose_available_template_popup > .content li.project:hover::before {
	width:100px;
	content:"Click to select template";
	position:absolute;
	top:-12px;
	left:-15px;
	font-size:8px;
	color:#999;
	
	display:none; /* This causes too much noise and the framework should be as simple as possible. */
}
.choose_available_template_popup > .content li.folder:hover::before,
  .choose_available_template_popup > .content li.project_folder:hover::before {
	content:"Click to open folder";
}
.choose_available_template_popup > .content li.project:hover::before {
	content:"Click to open project";
}
.choose_available_template_popup > .content li.separator {
	margin:0 20px;
	display:block;
	border-bottom:1px solid #eee;
}
.choose_available_template_popup > .content li.empty {
	text-align:center;
	padding:20px;
}
.choose_available_template_popup > .content li > label {
	display:inline;
	text-align:center;
	color:#585B69;
	font-size:10px;
	word-break:break-all;
	white-space:break-spaces;
	cursor:pointer;
}

/* TEMPLATE POPUPS - choose_available_template_popup - content - li - show_demo */
.choose_available_template_popup > .content li .show_demo {
	width:15px;
	height:20px;
	margin:0 -10px 0 5px;
	display:inline-block;
	font-size:10px;
	color:#ccc;
	vertical-align:top;
	overflow:hidden;
}
.choose_available_template_popup > .content li:hover .show_demo {
	color:#585B69;
}
.choose_available_template_popup > .content li .show_demo:hover {
	color:var(--icon-hover-color);
}
.choose_available_template_popup > .content li .show_demo > .icon {
	margin:2px 0 0 2px;
	font-size:inherit;
	color:inherit;
}

/* TEMPLATE POPUPS - choose_available_template_popup - content - li - image/logo/photo */
.choose_available_template_popup > .content li > .image {
	width:100%;
	height:40px;
	margin:0;
	border-radius:3px;
	overflow:hidden;
}
.choose_available_template_popup > .content li > .image:hover {
	transform:scale(3);
	transform-origin:50% 100% 0;
	border-radius:1px;
}
.choose_available_template_popup > .content li > .image > img {
	width:100%;
	height:100%;
	object-fit:contain;
	object-fit:scale-down;
}
.choose_available_template_popup > .content li > .image + .photo.hidden {
	display:none;
}
.choose_available_template_popup > .content li > .photo_ajax,
  .choose_available_template_popup > .content li > .photo_empty,
  .choose_available_template_popup > .content li > .photo_default,
  .choose_available_template_popup > .content li > .photo {
	width:100%;
	height:40px;
	margin:0;
	padding:7px 0;
	font-size:25px;
	display:block;
	box-sizing:border-box;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	overflow:hidden;
}
.choose_available_template_popup > .content li > .photo_ajax::before,
  .choose_available_template_popup > .content li > .photo_empty::before,
  .choose_available_template_popup > .content li > .photo_default::before,
  .choose_available_template_popup > .content li > .photo::before {
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font:var(--fa-font-solid);
	font-size:inherit;
	color:var(--icon-file-color);
	display:block;
}
.choose_available_template_popup > .content li.file > .photo_ajax::before {
	content:"\f7c0";
}
.choose_available_template_popup > .content li.file > .photo_empty::before {
	content:"\f15b";
}
.choose_available_template_popup > .content li.file > .photo_default::before,
  .choose_available_template_popup > .content li.project_default_template > .photo_default::before {
	content:"\f570";
}
.choose_available_template_popup > .content li.file > .photo::before {
	content:"\f570";
}
.choose_available_template_popup > .content li.folder > .photo::before {
	content:"\f07c";
	color:var(--icon-folder-color);
}
.choose_available_template_popup > .content li.project > .photo::before {
	/*content:"\f0a0";*/
	content:"\f49e";
	color:#999;
}
.choose_available_template_popup > .content li.project_folder > .photo::after {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	/*content:"\f0a0";*/
	content:"\f49e";
	color:#aaa;
	font-size:20px;
	position:absolute;
	top:20px;
}

/* TEMPLATE POPUPS - show_available_template_demo_popup */
.show_available_template_demo_popup {
	top:10px !important;
	left:10px !important;
	right:10px !important;
	bottom:10px !important;
	border:3px solid #000;
	padding:0;
}
.show_available_template_demo_popup iframe {
	width:100% !important;
	height:100% !important;
}
.show_available_template_demo_popup > .popup_close {
	top:-10px !important;
	right:-10px !important;
}
.show_available_template_demo_popup > .popup_close::before {
	width: 23px;
	height: 23px;
	line-height: 23px;
	font-size: 20px;
	background: #fff;
	border-radius: 10px;
	text-align: center;
}

/* TEMPLATE POPUPS - install_template_popup */
.install_template_popup {
	top:10px !important;
	left:10px !important;
	right:10px !important;
	bottom:10px !important;
}
.install_template_popup iframe {
	width:100% !important;
	height:100% !important;
}
