body,
  #main_column {
	background:#fff !important;
}
::-webkit-scrollbar-track {
	background-color:#fff;
}

/* TOP BAR */
.top_bar .title input[name=page_url] {
	width:300px;
	margin-left:5px;
	margin-right:5px;
	padding-right:20px;
}
.top_bar .title .icon {
	margin-top:2px;
	margin-left:-25px;
	position:absolute;
}
.top_bar .title input[name=template_name] {
	margin-left:5px;
}
.icon.convert_to_region,
  .icon.convert_to_param {
    vertical-align: middle !important;
}
.icon.convert_to_region::before,
  .icon.convert_to_param::before {
	content:"\f111";
}
.icon.convert_to_region::after,
  .icon.convert_to_param::after {
	top:2px;
	left:4px;
	color:#fff;
}
.icon.convert_to_region::after {
	content:"R";
}
.icon.convert_to_param::after {
	content:"P";
}

/* CONVERT URL TO TEMPLATE */
.convert_url_to_template {
	text-align:center;
}
.convert_url_to_template .page_html {
	width:100%;
	height:300px;
	height:calc(100vh - 50px);
}
.convert_url_to_template .page_html iframe {
	width:100%;
	height:calc(100% - 50px);
	border:1px inset #ccc;
	border-top:0;
	box-sizing: border-box;
}
.convert_url_to_template .page_html .buttons {
	margin-top:10px;
}

