/* TOP BAR */
.top_bar {
	margin-bottom:10px;
}
.top_bar header .title {
	max-width:calc(100% - 150px);
}
.top_bar header > ul {
	right:112px;
}

/* CONFIG OBJ */
.config_obj {
	width:100%;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	border:0;
}
.config_obj #code textarea,
  .config_obj #code .ace_editor, 
  .config_obj #ui .taskflowchart {
	height:calc(100vh - 55px) !important;
	box-sizing:border-box; /* bc of the .ace_editor */
}

/* To print the workflow */
@media print {
	.config_obj {
		overflow:visible !important;
		border:0 !important;
	}
}
