.regions_blocks_includes_settings_overlay {
	content:"";
	position:fixed;
	top:30px;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	background:rgba(0, 0, 0, .5);
	display:none;
}
.regions_blocks_includes_settings {
	height:300px;
	margin:0 auto;
	padding:20px 10px;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	box-sizing:border-box;
	z-index:2;
	background:#fff;
}
.regions_blocks_includes_settings:not(.resizing) {
	transition:1s all;
}
.regions_blocks_includes_settings.collapsed {
	height:25px !important;
	padding-top:0;
	overflow:hidden;
}
.regions_blocks_includes_settings .settings_header {
	height:30px;
	margin-top:-20px;
	padding:5px;
	position:fixed;
	left:0;
	right:0;
	box-sizing:border-box;
	overflow:hidden;
	cursor:ns-resize;
	z-index:1051;
	border-top:1px solid #ccc;
	
	background: -moz-linear-gradient(top, #eee 50%, #f7f7f7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), color-stop(100%, #f7f7f7));
	background: -webkit-linear-gradient(top, #eee 50%, #f7f7f7 100%);
	background: -o-linear-gradient(top, #eee 50%, #f7f7f7 100%);
	background: -ms-linear-gradient(top, #eee 50%, #f7f7f7 100%);
	background: linear-gradient(to bottom, #eee 50%, #f7f7f7 100%);
}
.regions_blocks_includes_settings.collapsed .settings_header {
	margin-top:-3px;
	border:0;
	
	background: -moz-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: -o-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: -ms-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: linear-gradient(to top, #eee 50%, #ffffff73 100%);
}
.regions_blocks_includes_settings .settings_header .icon {
	margin:0 5px 0 0;
	float:right;
	font-size:16px;
}
.regions_blocks_includes_settings .settings_header .icon.minimize {
	margin-top:-3px;
}

.regions_blocks_includes_settings .invisible {
	visibility:hidden;
}

.regions_blocks_includes_settings input {
	
}
.regions_blocks_includes_settings select {
	
}
.regions_blocks_includes_settings input, .regions_blocks_includes_settings select, .regions_blocks_includes_settings textarea {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.9em;
	/*background:#eee;
	border: 1px inset #eee;*/
	color: #555555;
}

.regions_blocks_includes_settings .template_params .items .item > .delete {
	display:none;
}
.regions_blocks_includes_settings .includes .items .item > .search {
	margin-left:0;
}
.regions_blocks_includes_settings .icon {
	display:inline-block;
	float:none;
	margin:auto 2px;
	z-index:100;
	font-size:14px;
}

.regions_blocks_includes_settings .items {
	margin-left:20px;
}
.regions_blocks_includes_settings .template label {
	width:150px;
	display:inline-block;
}
.regions_blocks_includes_settings .template select {
	background-color:#FFF;
}
.regions_blocks_includes_settings .region_blocks, 
   .regions_blocks_includes_settings .other_region_blocks, 
   .regions_blocks_includes_settings .includes, 
   .regions_blocks_includes_settings .template_params, 
   .regions_blocks_includes_settings .other_template_params {
	margin-top:20px;
}
.regions_blocks_includes_settings .other_region_blocks,
   .regions_blocks_includes_settings .other_template_params {
	margin-left:20px;
}
.regions_blocks_includes_settings .region_blocks .items .item, 
   .regions_blocks_includes_settings .other_region_blocks .items .item,
   .regions_blocks_includes_settings .template_params .items .item,
   .regions_blocks_includes_settings .other_template_params .items .item {
	width:585px;
	margin-top:10px;
}
.regions_blocks_includes_settings .region_blocks .items .item:not(.has_edit) > .edit,
  .regions_blocks_includes_settings .other_region_blocks .items .item:not(.has_edit) > .edit {
	display:none !important;
}
.regions_blocks_includes_settings .region_blocks .items .item > label, 
   .regions_blocks_includes_settings .other_region_blocks .items .item > label, 
   .regions_blocks_includes_settings .template_params .items .item > label, 
   .regions_blocks_includes_settings .other_template_params .items .item > label {
	width:150px;
	margin-left:5px;
	margin-right:5px;
	display:inline-block;
	font-weight:normal;
	font-style:normal;
	white-space:nowrap;
}
.regions_blocks_includes_settings .other_region_blocks .items .item > label, 
   .regions_blocks_includes_settings .other_template_params .items .item > label {
	width:130px;
}
.regions_blocks_includes_settings input,
  .regions_blocks_includes_settings select {
	height:26px;
	font-size:10px;
	background-color:#FFF;
	border:1px solid #eee;
	border-radius:4px;
	box-sizing:border-box;
}
.regions_blocks_includes_settings .region_blocks .items .item > input,
  .regions_blocks_includes_settings .other_region_blocks .items .item > input {
	width:200px;
	text-align:left;
	/*direction:rtl; - Cannot change the directio to right, otherwise the blocks like "_login" will appear "login_" */
}
.regions_blocks_includes_settings .items .item > .block_options,
   .regions_blocks_includes_settings .items .item > .pretty_block_options_button {
	width:200px !important; /* !important must be here bc if block_options is hidden then pretty_block_options_button will have the width:0. so we need to overright this issue! */
}
.regions_blocks_includes_settings .template_params .items .item > input,
  .regions_blocks_includes_settings .other_template_params .items .item > input {
	width:265px;
}
.regions_blocks_includes_settings .items .item > .pretty_block_options_button {
	height:24px;
	display:inline-block !important;
	background:white;
	vertical-align:middle;
	border-color:#eee;
}
.regions_blocks_includes_settings .items .item > .pretty_block_options_button:hover {
	border-color:#eee;
}
.regions_blocks_includes_settings .items .item > .pretty_block_options_button.hidden {
	display:none !important;
}
.regions_blocks_includes_settings .items .item > .pretty_block_options_button .ui-selectmenu-text {
	line-height:17px;
	/*direction:rtl; - Cannot change the directio to right, otherwise the blocks like "_login" will appear "login_" */
}
.pretty_block_options_menu > ul { /* must be generic bc this is appended to the body */
	max-width:100vw !important;
	min-height:40px;
	max-height:200px;
}
.pretty_block_options_menu .import_module_block {
	margin:0 !important;
	padding:5px !important;
	background:#ddd;
	border-bottom:1px inset #bbb !important;
	font-weight:normal;
}
.pretty_block_options_menu .import_module_block a,
  .pretty_block_options_menu .import_module_block a i {
	color:#ff0000;
	color:var(--icon-hover-color);
}
.pretty_block_options_menu .import_module_block a:hover,
  .pretty_block_options_menu .import_module_block a:hover i {
	color:initial;
}
.pretty_block_options_menu .import_module_block a .add {
	margin:auto 5px;
}
.pretty_block_options_menu > ul .ui-menu-item {
	padding-left:20px;
	border:0;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	font-weight:normal;
}
.pretty_block_options_menu > ul .ui-menu-item.ui_menu_item_selected {
	border-color:#fbcb09;
	border-color:var(--icon-hover-color);
	background:#ccc;
	color:#c77405;
	color:var(--icon-hover-color);
}
.pretty_block_options_menu > ul .ui-menu-item.ui-state-focus:not(.ui_menu_item_selected),
  .pretty_block_options_menu > ul .ui-menu-item.ui-state-disabled {
	margin:0;
	background:transparent;
	border-color:transparent;
	color:inherit;
}
.pretty_block_options_menu > ul .ui-menu-item:not(.ui-state-disabled):hover,
  .pretty_block_options_menu > ul .ui-menu-item.ui-state-focus:not(.ui-state-disabled):hover {
	margin:0;
	background:#dadada;
	border-color:#fbcb09;
	border-color:var(--icon-hover-color);
	color:#c77405;
	color:var(--icon-hover-color);
	opacity:.8;
}
.pretty_block_options_menu > ul .ui-menu-item:nth-child(2) { /* blank option */
	padding-left:5px;
	color:#999;
}
.pretty_block_options_menu > ul .ui-menu-item:nth-child(2):before {
	content:"-- none --";
}

.regions_blocks_includes_settings .items .item > .region_block_type {
	color:#CCC;
}
.regions_blocks_includes_settings .items .item > .block_text,
   .regions_blocks_includes_settings .items .item > .block_html,
   .regions_blocks_includes_settings .items .item > .block_params > .block_param .block_param_text,
   .regions_blocks_includes_settings .items .item > .template_param_text {
	float:none;
	clear:left;
	margin-top:3px;
}
.regions_blocks_includes_settings .items .item > .block_text > textarea,
   .regions_blocks_includes_settings .items .item > .block_html > textarea,
   .regions_blocks_includes_settings .items .item > .block_params > .block_param .block_param_text > textarea,
   .regions_blocks_includes_settings .items .item > .template_param_text > textarea {
	width:100%;
	height:auto;
	min-height:100px;
	background-color:#FFF;
	border:1px solid #eee;
	border-radius:4px;
	box-sizing:border-box;
}
.regions_blocks_includes_settings .items .item > .block_params > .block_param > label {
	width:150px;
	display:inline-block;
	font-weight:normal;
	font-size:80%;
	color:#666;
	vertical-align:middle; /* in case the label be in 2 lines bc is too big */
}
.regions_blocks_includes_settings .items .item > .block_params > .block_param .block_param_value {
	width:192px;
	color:#666;
}
.regions_blocks_includes_settings .items .item > .block_html > .block_html_editor {
	width:540px;
	height:auto;
	min-height:100px;
	background:#fff;
	border:1px solid #eee;
	border-radius:4px;
}
.regions_blocks_includes_settings .items .item > .block_params > .block_param select, 
   .regions_blocks_includes_settings .includes .item > select, 
   .regions_blocks_includes_settings .template_params .item > select, 
   .regions_blocks_includes_settings .other_template_params .item > select {
	width:70px;
	color:#CCC;
}
.regions_blocks_includes_settings .items .item > .block_params {
	margin-left:40px;
}
.regions_blocks_includes_settings .items .item > .block_params > .block_param {
	margin-top:5px;
}
.regions_blocks_includes_settings .no_items {
	margin-top:10px;
	margin-left:50px;
}

.regions_blocks_includes_settings .includes .items {
	margin-top:5px;
}
.regions_blocks_includes_settings .includes .items .item {
	margin-top:5px;
}
.regions_blocks_includes_settings .includes .items .item > .path {
	width:330px;
}
/* TEMPLATE REGION INFO POPUP */
.template_region_info_popup {
	position:absolute;
	top:5%;
	left:5%;
	right:5%;
	bottom:5%;
	width:90%;
	height:90%;
}
.template_region_info_popup iframe {
	width:100%;
	height:100%;
}

/* CHOOSE MODULE BLOCK POPUP */
.choose_module_block_popup {
	position:absolute;
	top:5%;
	left:5%;
	right:5%;
	bottom:5%;
	width:90%;
	height:90%;
}
.choose_module_block_popup iframe {
	width:100%;
	height:100%;
}

/* TAB CONTENT TEMPLATE LAYOUT */
body > .dragging_menu_item {
	padding:5px;
	background:#ebf304 !important;
	background:#ebf30478 !important;
	border:1px solid #ccc;
	border-radius:5px;
	text-align:center;
}

.tab_content_template_layout {
	width:99%;
	width:calc(100% - 5px);
	height:calc(100vh - 55px); /* Toolbar and settings height */
	padding:0 0 30px !important;
	position:relative;
	background:#ddd !important; /* very important bc when the iframe is smartphone responsive, we loose track of the iframe borders. The background will help to detect this. */
	box-sizing: border-box;
	text-align:center;
	overflow:auto;
	transition:all 1s;
}
.tab_content_template_layout.toolbar_open {
	width:75%;
	width:calc(100% - 250px);
}

.tab_content_template_layout .iframe_toolbar {
	text-align:right;
	position:fixed;
	top:5px;
	right:205px;
	color:#999;
	font-size:10px;
	z-index:4;
}
.tab_content_template_layout .iframe_toolbar .view_template_samples {
	margin-left:5px;
	font-size:var(--icon-font-size);
}
.tab_content_template_layout .iframe_toolbar .view_template_samples::before {
	content:"\f1b3";
}
.tab_content_template_layout .iframe_toolbar .view_template_samples::after {
	content:"\f06e";
}
.tab_content_template_layout .iframe_toolbar select {
	color:#666;
	background:none;
	border:1px solid #eee;
	box-sizing:border-box;
	text-align:center;
	font-size:inherit;
}
.tab_content_template_layout .iframe_toolbar input {
	width:35px;
	margin-right:3px;
	color:#666;
	background:none;
	border:1px solid #eee;
	box-sizing:border-box;
	text-align:center;
	font-size:inherit;
}
.tab_content_template_layout .iframe_toolbar .dimension,
  .tab_content_template_layout .iframe_toolbar .orientation {
	display:none;
}

.tab_content_template_layout iframe {
	width:100%;
	height:100%;
	margin:auto; /* when responsive and iframe has small widtha and height, it should be centered */
	padding:0;
	box-sizing:border-box;
	border:none;
	background:#fff; /* when is smartphone responsive we loose the track of the iframe borders. The background will help to detect this. */
	
	transition:all 1s;
}

.tab_content_template_layout .iframe_modules_blocks_toolbar {
	width:1%;
	width:calc(5px);
	height:auto;
	margin:0;
	position:fixed;
	top:30px;
	right:0;
	bottom:25px;
	background:#fff;
	text-align:left;
	
	transition:width 1s;
	
	overflow:hidden;
}
.tab_content_template_layout.toolbar_open .iframe_modules_blocks_toolbar {
	width:25%;
	width:calc(250px);
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_toggle {
	width:5px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	cursor:pointer;
	overflow:hidden;
	background:url("../../img/back_frame_open_close_vertical_red.gif") repeat-y;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_toggle .button {
	width:5px;
	height:34px;
	position:absolute;
	left:0;
	top:45%;
	top:calc(50% - 17px);
	background:url("../../img/tool_frame_left.gif") no-repeat;
}
.tab_content_template_layout.toolbar_open .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_toggle .button {
	background:url("../../img/tool_frame_right.gif") no-repeat;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content {
	width:100%;
	width:calc(100% - 5px);
	height:100%;
	margin-left:5px;
	overflow:auto;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree {
	width:100%;
	min-width:auto;
	max-width:none;
	height:100%;
	min-height:auto;
	max-height:none;
	margin:0;
	border:0;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .icon {	
	margin-left:5px;
	display:inline-block;
	vertical-align:middle;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .icon.refresh {	
	opacity:0;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .jstree-open > a .icon.refresh {
	opacity:.7
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-list,
  .tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-edit,
  .tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-add,
  .tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-view {	
	vertical-align:baseline;
	color:var(--icon-hover-color);
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-list::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f00a";
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-edit::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f044";
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-add::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f0fe";
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-view::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f06e";
}

/* TAB CONTENT TEMPLATE LAYOUT - DIAGRAM TASK PROPERTIES */
.tab_content_template_layout .tab_content_template_layout_tasks {
	position:fixed !important;
	top:20px !important;
	left:20px !important;
	right:20px !important;
	bottom:20px !important;
	
	/* need this otherwise the popup will appear short and weird in the edit_template_simple.php */
	min-width:calc(100% - 40px) !important;
	min-height:calc(100% - 40px) !important;
	box-sizing:border-box !important;
	overflow:visible !important;
}
.tab_content_template_layout .tab_content_template_layout_tasks > .popup_close {
	z-index:auto !important;
	
	/* need this otherwise the close button will appear transparent and on the left side in the edit_template_simple.php */
	top:-10px !important; 
	left:auto !important; 
	right:-10px !important;
	opacity:1 !important;
}
.tab_content_template_layout .tab_content_template_layout_tasks > iframe {
	width:100% !important;
	height:100% !important;
	position:relative !important;
	top:0 !important;
	left:0 !important;
}

/* MODULE INFO TOOLTIP */
#module_info_tooltip {
	min-width:100px;
	min-height:150px;
	position:fixed;
	padding:10px;
	background:#fff;
	border:1px solid #aaa;
	border-radius:10px;
	z-index:3;
}
#module_info_tooltip > .close {
	margin:0;
	position:absolute;
	right:5px;
	top:5px;
	opacity:.5;
}
#module_info_tooltip > .close:hover {
	opacity:1;
}
#module_info_tooltip > .module_data {
	width:400px;
	max-width:95vw;
	text-align:center;
}
#module_info_tooltip > .module_data > .loading {
	margin:40px auto 0;
	padding-left: 20px;
	display: inline-block;
}
#module_info_tooltip > .module_data > .module_img {
	width:25%;
	width:150px;
	height:150px;
	line-height:150px;
	text-transform:uppercase;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	float:left;
}
#module_info_tooltip > .module_data > .module_img img {
	width:100%;
	height:100%;
}
#module_info_tooltip > .module_data > .module_label {
	width:75%;
	width:calc(100% - 170px);
	margin-bottom:5px;
	padding-left:20px;
	font-weight:bold;
	text-align:left;
	float:left;
}
#module_info_tooltip > .module_data > .module_description {
	width:75%;
	width:calc(100% - 170px);
	padding-left:20px;
	text-align:left;
	float:left;
}

/* WORKFLOW */
/*#ui .taskflowchart .workflow_menu {
	border:0;
}
#ui .taskflowchart .workflow_menu.top_bar_menu {
	right:5px;
}
#ui .taskflowchart .workflow_menu.top_bar_menu > ul > li.tasks_flow_full_screen {
	border-right:0;
}
#ui .taskflowchart .workflow_menu > .dropdown > .save {
	display:none;
}*/

/* CODE */
/* CODE - MENU - NOT TOP BAR MENU */
.code_layout_ui_editor .code_menu:not(.top_bar_menu) {
	position:absolute;
	top:.5em;
	left:0;
	z-index:11;
}
.code_layout_ui_editor .code_menu:not(.top_bar_menu) ul {
	background:none;
	border:none;
}
.code_layout_ui_editor .code_menu:not(.top_bar_menu) ul li {
	border:none;
}
.code_layout_ui_editor .code_menu:not(.top_bar_menu) ul li a {
	color:#fff;
	border-right-color:#fff;
}
/*.code_layout_ui_editor .code_menu:not(.top_bar_menu) ul li.editor_settings a {
	border-right:none;
}
.code_layout_ui_editor .code_menu:not(.top_bar_menu) ul li.editor_full_screen {
	display:none;
}
.code_layout_ui_editor .code_menu > ul > .save {
	display:none;
}*/

/* CODE - MENU - TOP BAR MENU */
.code_layout_ui_editor .code_menu.top_bar_menu {
	z-index:2;
}
.code_layout_ui_editor .code_menu.top_bar_menu > ul {
	border:0;
}

/* CODE - ELS UI */
.code_layout_ui_editor .layout_ui_editor,
  .template_region_block_html_editor_popup .layout_ui_editor {
	height:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0px;
	margin:0;
}
.template_region_block_html_editor_popup .layout_ui_editor {
	background:transparent; /* in firefox this editor appears with a bigger z-index than the popup close icon. so we must put the bg transparent so we can see the popup close btn */
}
.code_layout_ui_editor .layout_ui_editor.full-screen,
  .template_region_block_html_editor_popup .layout_ui_editor.full-screen {
	position: absolute !important; /* overwrite the css from jquerylayoutuieditor/style.css */
	bottom: 0px !important;
	z-index:1;
}
.code_layout_ui_editor .layout_ui_editor > .tabs,
  .template_region_block_html_editor_popup .layout_ui_editor > .tabs {
	display:none;
}
.layout_ui_editor > .menu-widgets, 
  .layout_ui_editor > .menu-layers, 
  .layout_ui_editor > .menu-settings, 
  .layout_ui_editor > .template-widgets-options {
	border:0;
}
.layout_ui_editor > .menu-settings .group ul.group-block,
  .layout_ui_editor > .menu-settings .settings-classes .user-classes {
	background:rgba(0,0,0,0.05);
}
.layout_ui_editor > .menu-settings input,
  .layout_ui_editor > .menu-settings select,
  .layout_ui_editor > .menu-settings textarea {
	color:#485152 !important;
}
#code .layout_ui_editor textarea {
	position:initial !important;/* bc of the '#code textarea' that sets the position to fixed. */
}
.template_region_block_html_editor_popup .layout_ui_editor > .menu-widgets > li:first-child {
	display:none; /*hide code group menu bc ptl and php are not allowed in the template_region_block_html_editor_popup */
}
.code_layout_ui_editor .layout_ui_editor > .menu-widgets li.menu-widget-ptl,
  .template_region_block_html_editor_popup .layout_ui_editor > .menu-widgets li.menu-widget-ptl,
  .template_region_block_html_editor_popup .layout_ui_editor > .menu-widgets li.menu-widget-php {
	display:none !important;
}
.code_layout_ui_editor .layout_ui_editor > .menu-settings table,
  .template_region_block_html_editor_popup .layout_ui_editor > .menu-settings table {
	border-collapse:separate;
	border-spacing:2px;
}

.code_layout_ui_editor .layout_ui_editor > .options > .options-left,
  .code_layout_ui_editor .layout_ui_editor > .options > .options-center,
  .code_layout_ui_editor .layout_ui_editor > .options > .options-right,
  .code_layout_ui_editor .layout_ui_editor > .options > .options-right-2,
  .template_region_block_html_editor_popup .layout_ui_editor > .options > .options-left,
  .template_region_block_html_editor_popup .layout_ui_editor > .options > .options-center,
  .template_region_block_html_editor_popup .layout_ui_editor > .options > .options-right,
  .template_region_block_html_editor_popup .layout_ui_editor > .options > .options-right-2 {
	padding-top:7px;
}
.code_layout_ui_editor .layout_ui_editor > .options > .options-right,
  .template_region_block_html_editor_popup .layout_ui_editor > .options > .options-right {
	direction:rtl;
}
/*.code_layout_ui_editor .layout_ui_editor > .options > .options-center,
  .template_region_block_html_editor_popup .layout_ui_editor > .options > .options-center {
	left:170px;
}
.code_layout_ui_editor .layout_ui_editor > .options .option,
  .template_region_block_html_editor_popup .layout_ui_editor > .options .option {
	height:20px;
}
.code_layout_ui_editor .layout_ui_editor > .options .option.option-screen-width, 
  .code_layout_ui_editor .layout_ui_editor > .options .option.option-screen-height,
  .template_region_block_html_editor_popup .layout_ui_editor > .options .option.option-screen-width,
  .template_region_block_html_editor_popup .layout_ui_editor > .options .option.option-screen-height {
	height:auto;
	font-size:70%;
	vertical-align:middle;
}
.code_layout_ui_editor .layout_ui_editor > .options .option.option-screen-width,
  .template_region_block_html_editor_popup .layout_ui_editor > .options .option.option-screen-width {
	margin-left:0;
}
.code_layout_ui_editor .layout_ui_editor > .options .option.option-px,
  .template_region_block_html_editor_popup .layout_ui_editor > .options .option.option-px {
	margin-top:0;
}
.code_layout_ui_editor .layout_ui_editor > .options .option.option-x,
  .template_region_block_html_editor_popup .layout_ui_editor > .options .option.option-x {
	font-size:70%;
}*/
.code_layout_ui_editor .layout_ui_editor > .options .option,
  .template_region_block_html_editor_popup .layout_ui_editor > .options .option {
	opacity:1;
}
.code_layout_ui_editor .layout_ui_editor > .options .option.show-full-source,
  .template_region_block_html_editor_popup .layout_ui_editor > .options .option.show-full-source,
  .template_region_block_html_editor_popup .layout_ui_editor > .options .option.full-screen {
	display:none !important;
}
.code_layout_ui_editor .layout_ui_editor .option,
  .code_layout_ui_editor .layout_ui_editor .move,
  .code_layout_ui_editor .layout_ui_editor .add,
  .code_layout_ui_editor .layout_ui_editor .delete,
  .template_region_block_html_editor_popup .layout_ui_editor.option,
  .template_region_block_html_editor_popup .layout_ui_editor .move,
  .template_region_block_html_editor_popup .layout_ui_editor .add,
  .template_region_block_html_editor_popup .layout_ui_editor .delete {
	background-image:none;
}
.code_layout_ui_editor .layout_ui_editor label,
  .template_region_block_html_editor_popup .layout_ui_editor label {
	font-style:inherit;
	font-weight:inherit;
	color:inherit;
	font-family:inherit;
}
.code_layout_ui_editor .layout_ui_editor .template-source textarea,
   .code_layout_ui_editor .layout_ui_editor .template-source .ace_editor,
   .code_layout_ui_editor .layout_ui_editor .template-full-source textarea,
   .code_layout_ui_editor .layout_ui_editor .template-full-source .ace_editor,
  .template_region_block_html_editor_popup .layout_ui_editor .template-source textarea,
  .template_region_block_html_editor_popup .layout_ui_editor .template-source .ace_editor,
  .template_region_block_html_editor_popup .layout_ui_editor .template-full-source textarea,
  .template_region_block_html_editor_popup .layout_ui_editor .template-full-source .ace_editor {
	height:100% !important;
}
.code_layout_ui_editor .layout_ui_editor .tabs .tab.view-page {
	display:none; /* disable view tab bc does not parse PHP */
}

/*.code_layout_ui_editor .layout_ui_editor > .template-widgets,
  .code_layout_ui_editor .layout_ui_editor > .template-widgets-options {
	right:20%;
}
.code_layout_ui_editor .layout_ui_editor > .template-widgets-options,
  .template_region_block_html_editor_popup .layout_ui_editor > .template-widgets-options {
	z-index:12;
}*/
.code_layout_ui_editor .layout_ui_editor > .template-widgets-options > .options > .show-ptl,
  .template_region_block_html_editor_popup .layout_ui_editor > .template-widgets-options > .options > .show-php,
  .template_region_block_html_editor_popup .layout_ui_editor > .template-widgets-options > .options > .show-ptl {
	display:none;
}
.code_layout_ui_editor .layout_ui_editor > .template-widgets .widget-header,
  .code_layout_ui_editor .layout_ui_editor > .template-widgets > .droppable-header {
	background-color:#eee;
}
.layout_ui_editor .text-selection-menu {
	background-color:#f7f7f7;
}

/* CODE - ELS UI - LAYOUT UI EDITOR - TOP BAR MENU */
/*.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu.full-screen,
  .template_region_block_html_editor_popup .layout_ui_editor.with_top_bar_menu.full-screen {
	top:30px !important;
	bottom:0 !important;
	z-index:1;
}*/
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options {
	width:150px;
	position:absolute;
	right:0;
	z-index:3;
}
/*.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu.layout-shown.full-screen > .options {
	width:100%;
	height:30px;
	left:0;
	background:#d5e3e4;
}*/
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center {
	width:170px;
	padding:0 60px 0 0;
	position:fixed;
	top:6px;
	left:auto;
	right:285px;
	bottom:auto;
	box-sizing:border-box;
	text-align:right;
	z-index:1;
}
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center .layout-in-desktop {
	position:absolute;
	right:0px;
}
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center .layout-in-mobile {
	position:absolute;
	right:28px;
}
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center .option.option-screen-width, 
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center .option.option-screen-height,
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center .option.option-px,
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center .option.option-x {
	font-size:10px;
	vertical-align:middle;
}
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right {
	width:250px;
	padding:0;
	position:fixed;
	top:6px;
	left:auto;
	right:25px;
	bottom:auto;
	box-sizing:border-box;
	z-index:1;
	text-align:right;
}
/*.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu.full-screen > .options > .options-left {
	top:30px;
}*/
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options .option:not(input) {
	width:auto;
}
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu:not(.layout-shown) > .options .option.full-screen {
	display:none;
}
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options .option.save {
	position:fixed;
	top:9px;
	right:0;
}
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .resize-panels,
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .template-source,
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .template-full-source,
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .template-widgets,
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .template-preview {
	top:0;
}
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .menu-widgets, 
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .menu-layers,
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .template-widgets-options {
	top:30px;
}
/*.code_layout_ui_editor.editor_full_screen .layout_ui_editor.with_top_bar_menu.full-screen > .menu-widgets, 
  .code_layout_ui_editor.editor_full_screen .layout_ui_editor.with_top_bar_menu.full-screen > .menu-layers,
  .code_layout_ui_editor.editor_full_screen .layout_ui_editor.with_top_bar_menu.full-screen > .template-widgets-options {
	top:60px;
}*/
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .menu-layers {
	padding-top:10px;
}
.code_layout_ui_editor .layout_ui_editor.with_top_bar_menu.fixed_properties.menu-settings-shown > .template-widgets,
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu.fixed_properties.menu-settings-shown > .menu-widgets, 
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu.fixed_properties.menu-settings-shown > .menu-layers,
  .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu.fixed_properties.menu-settings-shown > .template-widgets-options {
	margin-bottom:25px;
}
.code_layout_ui_editor .layout_ui_editor.fixed_properties > .menu-settings .settings-info {
	background: -moz-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -o-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -ms-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: linear-gradient(to bottom, #eee 50%, #ffffff73 100%);
}

/* CODE - MYTREE */
.code_layout_ui_editor .mytree .icon {	
	margin-left:5px;
	display:inline-block;
	vertical-align:middle;
}
.code_layout_ui_editor .mytree .icon.refresh {	
	opacity:0;
}
.code_layout_ui_editor .mytree .jstree-open > a .icon.refresh {
	opacity:.7
}
.code_layout_ui_editor .mytree .table-list,
  .code_layout_ui_editor .mytree .table-edit,
  .code_layout_ui_editor .mytree .table-add,
  .code_layout_ui_editor .mytree .table-view {	
	vertical-align:baseline;
	color:var(--icon-hover-color);
}
.code_layout_ui_editor .mytree .table-list::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f00a";
}
.code_layout_ui_editor .mytree .table-edit::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f044";
}
.code_layout_ui_editor .mytree .table-add::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f0fe";
}
.code_layout_ui_editor .mytree .table-view::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f06e";
}

/* CODE - DB TABLE UIS DIAGRAM BLOCK POPUP */
.code_layout_ui_editor .db_table_uis_diagram_block {
	position:fixed !important;
	top:20px !important;
	left:20px !important;
	right:20px !important;
	bottom:20px !important;
}
.code_layout_ui_editor .db_table_uis_diagram_block > .popup_close {
	z-index:auto !important;
}
.code_layout_ui_editor .db_table_uis_diagram_block > iframe {
	width:100% !important;
	height:100% !important;
}

/* CODE - ELS UI RIGHT CONTAINER */
/*.code_layout_ui_editor .layout_ui_editor_right_container_resize {
	width:5px;
	position:absolute;
	top:3.5em;
	right:calc(20% - 5px);
	bottom:3.5em;
	box-sizing:border-box;
	background:#796669;
	cursor:ew-resize;
	z-index:11;
	display:none;
}*/
/*.code_layout_ui_editor .layout_ui_editor_right_container_resize.full-screen {
	position:fixed;
	top:3.5em;
	bottom:2.8em;
}*/

.code_layout_ui_editor .layout_ui_editor_right_container {
	margin:0;
	padding:0;
	position:absolute;
	top:30px;
	left: 70%;
	right: 0;
	bottom:0;
	overflow-y: auto;
	overflow-x: hidden;
	vertical-align:top;
	display:none;
	box-sizing:border-box;
	
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#666;
	font-size:13px;
}
.code_layout_ui_editor .layout_ui_editor_right_container a {
	color:#666;
}
/*.code_layout_ui_editor .layout_ui_editor_right_container.full-screen {
	position:fixed;
	top:3.5em;
	bottom:2.8em;
}*/

.code_layout_ui_editor .layout_ui_editor_right_container .mytree {
	min-width:auto;
	max-width:none;
	min-height:auto;
	max-height:none;
	margin:0;
	padding:0 0 0 5pxs;
	border:0;
	overflow:visible;
}
.code_layout_ui_editor .layout_ui_editor_right_container .mytree .jstree-hovered {
	background: #ddd !important;
}
.code_layout_ui_editor .layout_ui_editor_right_container .mytree .jstree-clicked {
	background: #999;
}
.code_layout_ui_editor .layout_ui_editor_right_container .mytree .template-widget {
	display:none;
}

/* TEMPLATE REGION BLOCK HTML EDITOR POPUP */
.template_region_block_html_editor_popup {
	position:absolute;
	top:5%;
	left:5%;
	right:5%;
	bottom:5%;
	width:90%;
	height:90%;
}
.template_region_block_html_editor_popup .layout_ui_editor {
	top:15px;
	left:10px;
	right:10px;
	bottom:10px;
}
