/* TOP BAR */
.top_bar {
	margin-bottom:10px;
}
.top_bar header {
	z-index:4;
}
.top_bar header .title {
	max-width:calc(100% - 400px);
}
.top_bar header > ul {
	right:145px;
}
.top_bar.project_with_auto_view.view_file_exists header > ul {
	right:175px;
}
.top_bar.project_with_auto_view:not(.view_file_exists) header > ul {
	right:198px;
}
.with_top_bar_tab > .tabs {
	z-index:4;
}


/* ENTITY OBJ */
.entity_obj {
	width:100%;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	border:0;
}
.entity_obj #view_tab,
  .entity_obj #add_view_tab {
	float:right;
}
.entity_obj #add_view_tab a {
	width:30px;
}
.entity_obj #add_view_tab .icon.add {
	margin:0;
	font-size:14px;
	color:#ff0000;
	color:var(--icon-hover-color);
	vertical-align:top;
}

.entity_obj .code_layout_ui_editor {
	height:calc(100vh - 40px);
	min-height:300px;
	padding:0 !important;
	position:relative;
}

.entity_obj .code_layout_ui_editor .code_menu.top_bar_menu,
  .entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right,
  .entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center {
	z-index:5;
}
.entity_obj .code_menu.top_bar_menu,
  .entity_obj .taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu {
	right:130px;
}
.entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right {
	right:220px;
}
.entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.sub_menu {
	right:-99px;
}
.entity_obj.project_with_auto_view .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.sub_menu {
	right:-94px;
}
.entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center {
	right:288px;
}
.entity_obj.project_with_auto_view.view_file_exists .code_menu.top_bar_menu,
  .entity_obj.project_with_auto_view.view_file_exists .taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu {
	right:163px;
}
.entity_obj.project_with_auto_view.view_file_exists .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right {
	right:248px;
}
.entity_obj.project_with_auto_view.view_file_exists .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center {
	right:315px;
}
.entity_obj.project_with_auto_view:not(.view_file_exists) .code_menu.top_bar_menu,
  .entity_obj.project_with_auto_view:not(.view_file_exists) .taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu {
	right:187px;
}
.entity_obj.project_with_auto_view:not(.view_file_exists) .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right {
	right:272px;
}
.entity_obj.project_with_auto_view:not(.view_file_exists) .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center {
	right:340px;
}

.entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.sub_menu > ul {
	width:220px;
}

.entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.save,
  .entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.full-screen {
	display:none !important;
}
.entity_obj .code_layout_ui_editor .layout-ui-editor:not(.layout-shown) > .options > .options-left {
	display:none;
}

#view {
	width:100%;
	padding:0;
	margin:0;
}

#view iframe {
	width:100%;
	border:0;
	padding:0;
	margin:0;
}

/* To print the workflow */
@media print {
	.entity_obj {
		overflow:visible !important;
		border:0 !important;
	}
}
  
