/* TOP BAR */
.top_bar {
	margin-bottom:10px;
}
.top_bar header {
	z-index:4;
}
.top_bar.content_editor_shown header > ul {
	right:95px;
}
.top_bar:not(.content_editor_shown) header > ul {
	right:50px;
}
.top_bar li.sub_menu > ul {
	min-width:250px !important;
}
.top_bar li.toggle_content_editor > a > input {
	position:absolute;
	right:10px;
}
.top_bar:not(.content_editor_shown) li.update_layout_from_settings {
	display:none !important;
}
.top_bar li.dummy_elm_to_add_auto_save_options {
	display:none !important;
}
.with_top_bar_tab > .tabs {
	z-index:4;
}

.top_bar li.preview .icon.view::before {
	margin-top:1px;
	display:block;
}

.top_bar .toggle_content_editor .icon.toggle_content_editor::before {
	content:"\f022";
}
.top_bar .toggle_content_editor .icon.toggle_content_editor::after {
	content:"\f06e";
}

/* GENERIC */
.error {
	width:100%;
	text-align:center;
	font-style:italic;
	color:#FF0000;
	margin-top:10px;
	margin-bottom:20px;
}

/* TEMPLATE OBJ */
.template_obj {
	width:100%;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	border:0;
}
.template_obj .invalid {
	padding:10px;
	position:absolute;
	left:0;
	top:0;
	right:0;
	text-align:center;
	background:#fff;
	border:1px solid #ff0000;
	color:#ff0000;
	z-index:5;
}
.template_obj .invalid a {
	color:#ff0000;
	text-decoration:underline;
}
.template_obj .invalid .close {
	position:absolute;
	right:5px;
	bottom:10px;
}


.template_obj:not(.content_editor_shown) > .tabs > #code_editor_layout_tab {
	display:none;
}

/* Template Preview */
.template_obj #preview {
	width:auto !important;
	height:auto !important;
	position:fixed !important;
	top:5px !important;
	left:5px !important;
	right:5px !important;
	bottom:5px !important;
	padding:0 !important;
}
.template_obj #preview iframe {
	width:100%;
	height:100%;
	box-sizing:border-box;
	border:none;
}

/* Code Editor - Contents */
.template_obj .code_editor_layout {
	height:calc(100vh - 65px);
	min-height:300px;
	padding:0 !important;
	position:relative;
	border:0;
}
.template_obj .code_editor_layout.tab_content_template_layout .iframe_toolbar {
	right:187px;
}

/* Code Editor - Body */
.template_obj .code_editor_body {
	height:calc(100vh - 65px);
	min-height:300px;
	padding:0 !important;
	position:relative;
	border:0;
}
.template_obj .code_editor_body .code_menu.top_bar_menu {
	right:227px;
}
.template_obj .code_editor_body .code_menu.top_bar_menu li.editor_full_screen,
  .template_obj .code_editor_body .code_menu.top_bar_menu li.sub_menu,
  .template_obj .code_editor_body .code_menu.top_bar_menu li.save {
	display:none;
}

/* Code Editor - Body - ELS UI */
.template_obj.content_editor_shown .code_editor_body .layout_ui_editor.with_top_bar_menu > .options .options-right {
	right:190px;
	z-index:5;
}
.template_obj:not(.content_editor_shown) .code_editor_body .layout_ui_editor.with_top_bar_menu > .options .options-right {
	right:145px;
	z-index:5;
}
.template_obj.content_editor_shown .code_editor_body .layout_ui_editor.with_top_bar_menu > .options > .options-center {
	right:305px;
	z-index:5;
}
.template_obj:not(.content_editor_shown) .code_editor_body .layout_ui_editor.with_top_bar_menu > .options > .options-center {
	right:260px;
	z-index:5;
}
.template_obj .code_editor_body .layout_ui_editor.with_top_bar_menu > .options .options-left .option.save,
  .template_obj .code_editor_body .layout_ui_editor.with_top_bar_menu > .options .options-right .option.full-screen {
	display:none !important;
}
.template_obj .code_editor_body .layout_ui_editor.with_top_bar_menu.fixed_properties > .menu-settings {
	z-index:5;
}
.template_obj .code_editor_body .layout_ui_editor.with_top_bar_menu.fixed_properties.menu-settings-shown > .template-widgets,
  .template_obj .code_editor_body .layout_ui_editor.with_top_bar_menu.fixed_properties.menu-settings-shown > .menu-widgets, 
  .template_obj .code_editor_body .layout_ui_editor.with_top_bar_menu.fixed_properties.menu-settings-shown > .menu-layers,
  .template_obj .code_editor_body .layout_ui_editor.with_top_bar_menu.fixed_properties.menu-settings-shown > .template-widgets-options {
	margin-bottom:0;
}

/* Settings */
.template_obj .regions_blocks_includes_settings .update_automatically:not(.icon) {
	width:250px;
	position:absolute;
	right:5px;
	color:#777;
	font-size:90%;
	text-align:right;
	opacity:.8;
}
.template_obj .regions_blocks_includes_settings .update_automatically:not(.icon):hover {
	opacity:1;
}

.template_obj .regions_blocks_includes_settings .head {
	margin-top:20px;
}
.template_obj .regions_blocks_includes_settings .head textarea, 
  .template_obj .regions_blocks_includes_settings .head .ace_editor {
	width:100%;
	height:200px;
	border:0;
	border:.5px solid #eee;
	margin:0;
	box-sizing:border-box;
}

/* To print the workflow */
@media print {
	.template_obj {
		overflow:visible !important;
		border:0 !important;
	}
}
