/* TOP BAR */
.top_bar {
	margin-bottom:10px;
}
.top_bar header .title {
	max-width:calc(100% - 160px);
}
.top_bar header > ul {
	right:105px;
}

/* BLOCK OBJ */
.block_obj {
	width:100%;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	border:0;
}

/* To print the workflow */
@media print {
	.block_obj {
		overflow:visible !important;
		border:0 !important;
	}
}
