/* TOP BAR */
.top_bar {
	margin-bottom:10px;
}

/* VIEW OBJ */
.view_obj {
	width:100%;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	border:0;
}

.view_obj .code_layout_ui_editor {
	height:calc(100vh - 33px);
	min-height:300px;
	padding:0 !important;
	position:relative;
}

.view_obj .code_menu.top_bar_menu,
  .view_obj .taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu {
	right:132px;
}
.view_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right {
	top:5px;
	right:158px;
}
.view_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center {
	right:405px;
}
.view_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options .option.save {
	top:7px;
	right:135px;
	color:#666;
	font-size:16px;
}
.view_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right .option.full-screen {
	font-size:16px;
	color:#666;
	margin-top:2px;
}
.view_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right .option.auto_save_convert_settings {
	padding-right:0;
}
.view_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right .option.auto_save_convert_settings a .icon.auto_save_convert_settings {
	margin-top:1px;
	vertical-align:middle;
}

/* To print the workflow */
@media print {
	.view_obj {
		overflow:visible !important;
		border:0 !important;
	}
}
