/* TOP BAR */
.top_bar {
	margin-bottom:10px;
}
.top_bar header {
	z-index:3;
}
.top_bar header > ul {
	right:150px;
}
.top_bar.project_with_auto_view.view_file_exists header > ul {
	right:195px;
}
.top_bar.project_with_auto_view:not(.view_file_exists) header > ul {
	right:208px;
}
.with_top_bar_tab > .tabs {
	z-index:3;
}


/* ENTITY OBJ */
.entity_obj {
	width:100%;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	border:0;
}
.entity_obj #view_tab,
  .entity_obj #add_view_tab {
	float:right;
}
.entity_obj #add_view_tab a {
	width:30px;
}
.entity_obj #add_view_tab .icon.add {
	margin:0;
	font-size:14px;
	color:#ff0000;
	color:var(--icon-hover-color);
	vertical-align:top;
}

.entity_obj .code_layout_ui_editor {
	height:calc(100vh - 33px);
	min-height:300px;
	padding:0 !important;
	position:relative;
}

.entity_obj .code_layout_ui_editor .code_menu.top_bar_menu,
  .entity_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right,
  .entity_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center,
  .entity_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu.fixed_properties > .menu-settings {
	z-index:5;
}
.entity_obj .code_menu.top_bar_menu,
  .entity_obj .taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu {
	right:140px;
}
.entity_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right {
	right:250px;
}
.entity_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right .option.auto_save_convert_settings {
	right:-120px;
}
.entity_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center {
	right:448px;
}
.entity_obj.project_with_auto_view.view_file_exists .code_menu.top_bar_menu,
  .entity_obj.project_with_auto_view.view_file_exists .taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu {
	right:183px;
}
.entity_obj.project_with_auto_view.view_file_exists .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right {
	right:293px;
}
.entity_obj.project_with_auto_view.view_file_exists .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center {
	right:490px;
}
.entity_obj.project_with_auto_view:not(.view_file_exists) .code_menu.top_bar_menu,
  .entity_obj.project_with_auto_view:not(.view_file_exists) .taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu {
	right:197px;
}
.entity_obj.project_with_auto_view:not(.view_file_exists) .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right {
	right:307px;
}
.entity_obj.project_with_auto_view:not(.view_file_exists) .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-center {
	right:505px;
}
.entity_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options > .options-right {
	width:200px;
}

.entity_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options .option.save,
  .entity_obj .code_layout_ui_editor .layout_ui_editor.with_top_bar_menu > .options .option.full-screen {
	display:none !important;
}
.entity_obj .code_layout_ui_editor .layout_ui_editor:not(.layout-shown) > .options > .options-left {
	display:none;
}

#view {
	width:100%;
	padding:0;
	margin:0;
}

#view iframe {
	width:100%;
	border:0;
	padding:0;
	margin:0;
}

/* To print the workflow */
@media print {
	.entity_obj {
		overflow:visible !important;
		border:0 !important;
	}
}
  
