.template_obj {
	
}

/* Template Preview */
.template_obj #preview_tab {
	float:right;
}
#main_column.minimized .template_obj #preview_tab {
	margin-right:30px;
}

.template_obj #preview {
	padding:0;
}
.template_obj #preview iframe {
	width:100%;
	height:100%;
	min-height:400px;
	box-sizing:border-box;
	border:none;
}

/* Code Editor */
.template_obj #code_editor > .tabs {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.template_obj #code_editor .code_editor_contents {
	border-width:1px;
	border-top-width:0;
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.template_obj #code_editor .code_editor_contents > .tabs {
	text-align:center;
}
.template_obj #code_editor .code_editor_contents > .tabs > li {
	float:none;
	display:inline-block;
	margin:0;
	padding:0;
	top:3px;
}
.template_obj #code_editor .code_editor_contents > .tabs > li.ui-state-active {
	top:4px;
}

.template_obj #code_editor .buttons {
	width:100%;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}
.template_obj #code_editor .buttons input {
	line-height:15px;
}
.template_obj #code_editor .buttons input.loading {
	min-width:20px;
	text-indent:-999px;
}

/* Code Editor - head */
.template_obj #code_editor .head {
	padding:0;
}
.template_obj #code_editor .head.editor_full_screen {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0;
	height: auto;
	z-index: 999;
}
.template_obj #code_editor .head > label {
	width:100%;
	height:22px;
	display:block;
	font-size:13px;
	color:#999;
	display:none;
}
.template_obj #code_editor .head textarea, 
  .template_obj #code_editor .head .ace_editor {
	width:100%;
	height:400px;
	border:0;
	border:1px inset #CCC;
	border-bottom:3px inset #CCC;
	margin:0;
	box-sizing:border-box;
}
.template_obj #code_editor .head .code_menu {
	display:none !important;
}

/* Code Editor - settings */
.template_obj #code_editor .regions_blocks_includes_settings {
	margin-top:20px;
}
.template_obj #code_editor .regions_blocks_includes_settings .advanced_settings_label {
	width:100%;
	height:22px;
	display:block;
	font-size:13px;
	color:#999;
}
.template_obj #code_editor .regions_blocks_includes_settings .update {
	width:220px;
	margin-top:-20px;
	float:right;
	text-indent:20px;
	color:#777;
	opacity:.8;
}
.template_obj #code_editor .regions_blocks_includes_settings .update:hover {
	opacity:1;
	color:#666;
}
.template_obj #code_editor .regions_blocks_includes_settings .region_blocks {
	margin-top:5px;
}
.template_obj #code_editor .regions_blocks_includes_settings .region_blocks,
   .template_obj #code_editor .regions_blocks_includes_settings .other_region_blocks,
   .template_obj #code_editor .regions_blocks_includes_settings .includes {
	margin-left:30px;
}

/* Code Editor - Body */
.template_obj #code_editor .body > label {
	width:100%;
	height:22px;
	display:block;
	font-size:13px;
	color:#999;
}
.template_obj #code_editor .body .code_menu {
	display:none !important;
}

.template_obj #code_editor .body .error {
	height:20px;
	color:#FF0000;
	font-weight:bold;
	font-style:italic;
	font-size:12px;
	padding-left:5px;
}
.template_obj #code_editor .body .cke_top {
	background-color:#d5e3e4;
	border: 1px outset #999999;
}
.template_obj #code_editor .body .cke_chrome {
	border-color:#b3c8cc;
}
.template_obj #code_editor .body .cke_bottom {
	background-color:#d5e3e4;
}
.template_obj #code_editor .body .cke_bottom * {
	color:#333;
}
.template_obj #code_editor .body .cke_top a.cke_button_off:hover/*, .template_obj #code_editor .body .cke_top a.cke_button_disabled:hover*/ {
	background-color:#b3c8cc;
}

/* Code Editor - Body - ELS UI */
.template_obj #code_editor .body.code_layout_ui_editor {
	height:380px;
	position:relative;
}

.template_obj #code_editor .body .layout_ui_editor > .menu-settings table {
	border-collapse:separate;
	border-spacing:2px;
}
.template_obj #code_editor .body .layout_ui_editor > .menu-settings table th {
	font-weight:bold;
}
.template_obj #code_editor .body .layout_ui_editor > .menu-settings label {
	display:inline;
}

.template_obj #code_editor .body .layout_ui_editor > .menu-layers label {
	display:inline;
	float:none;
}

.template_obj #code_editor .body .layout_ui_editor > .options .options-left,
  .template_obj #code_editor .body .layout_ui_editor > .options .options-center,
  .template_obj #code_editor .body .layout_ui_editor > .options .options-right,
  .template_obj #code_editor .body .layout_ui_editor > .options .options-right-2 {
	padding-top:7px;
}
.template_obj #code_editor .body .layout_ui_editor > .options .option {
	height:20px;
}
.template_obj #code_editor .body .layout_ui_editor > .options .option.option-screen-width, 
  .template_obj #code_editor .body .layout_ui_editor > .options .option.option-screen-height {
	height:auto;
	font-size:70%;
	vertical-align:middle;
}
.template_obj #code_editor .body .layout_ui_editor > .options .option.option-screen-width {
	margin-left:0;
}
.template_obj #code_editor .body .layout_ui_editor > .options .option.option-px {
	margin-top:0;
}
.template_obj #code_editor .body .layout_ui_editor > .options .option.option-x {
	font-size:70%;
}
.template_obj #code_editor .body .layout_ui_editor .option,
  .template_obj #code_editor .body .layout_ui_editor .move,
  .template_obj #code_editor .body .layout_ui_editor .add,
  .template_obj #code_editor .body .layout_ui_editor .delete {
	background-image:none;
}
.template_obj #code_editor .body .layout_ui_editor label {
	font-style:inherit;
	font-weight:inherit;
	color:inherit;
	font-family:inherit;
}
.template_obj #code_editor .body .layout_ui_editor .template-source textarea,
   .template_obj #code_editor .body .layout_ui_editor .template-source .ace_editor {
	height:100%;
}
.template_obj #code_editor .body .layout_ui_editor .tabs .tab.view-page {
	opacity:.6;
	float:left;
}

/* To print the workflow */
@media print {
	.template_obj {
		overflow:visible !important;
		border:0 !important;
	}
}
