/* TOP BAR */
.top_bar {
	margin-bottom:10px;
}
.top_bar header {
	z-index:4;
}
.top_bar header .title {
	max-width:calc(100% - 350px);
}
.top_bar header > ul {
	right:142px;
}
.with_top_bar_tab > .tabs {
	z-index:4;
}

/* VIEW OBJ */
.view_obj {
	width:100%;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	border:0;
}

.view_obj .code_layout_ui_editor {
	height:calc(100vh - 40px);
	min-height:300px;
	padding:0 !important;
	position:relative;
}

.view_obj .code_layout_ui_editor .code_menu.top_bar_menu,
  .view_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right,
  .view_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center {
	z-index:5;
}
.view_obj .code_menu.top_bar_menu,
  .view_obj .taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu {
	right:130px;
}
.view_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center {
	right:235px;
}
.view_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right {
	right:168px;
}
.view_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.save,
  .view_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.full-screen {
	display:none !important;
}
.view_obj .code_layout_ui_editor .layout-ui-editor:not(.layout-shown) > .options > .options-left {
	display:none;
}

/* To print the workflow */
@media print {
	.view_obj {
		overflow:visible !important;
		border:0 !important;
	}
}
