:root {
	--selection-color:#4070FF;
	--mytree-dragged-widget-bg:#4070FF;
	--mytree-dragged-widget-color:#fff;
}

.regions_blocks_includes_settings_overlay {
	content:"";
	position:fixed;
	top:30px;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	background:rgba(0, 0, 0, .5);
	display:none;
}
.regions_blocks_includes_settings {
	height:300px;
	margin:0 auto;
	padding:40px 10px 10px;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	box-sizing:border-box;
	z-index:3;
	color:var(--main-settings-color);
	background:var(--main-settings-bg);
	font-size:8pt;
}
.regions_blocks_includes_settings:not(.resizing) {
	transition:.2s all;
}
.regions_blocks_includes_settings.collapsed {
	height:25px !important;
	padding-top:20px;
	overflow:hidden;
	bottom:-10px;
}
.regions_blocks_includes_settings .settings_header {
	height:35px;
	line-height:25px;
	margin-top:-45px;
	padding:8px 5px 5px 10px;
	position:fixed;
	left:0;
	right:0;
	box-sizing:border-box;
	overflow:hidden;
	cursor:ns-resize;
	z-index:1051;
	
	/*font-weight:bold;*/
	border-bottom:1px solid var(--main-settings-header-border);
	color:var(--main-settings-color);
	background:var(--main-settings-bg);
	/*background: -moz-linear-gradient(top, var(--main-iframe-bg) 50%, #f7f7f7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--main-iframe-bg)), color-stop(100%, #f7f7f7));
	background: -webkit-linear-gradient(top, var(--main-iframe-bg) 50%, #f7f7f7 100%);
	background: -o-linear-gradient(top, var(--main-iframe-bg) 50%, #f7f7f7 100%);
	background: -ms-linear-gradient(top, var(--main-iframe-bg) 50%, #f7f7f7 100%);
	background: linear-gradient(to bottom, var(--main-iframe-bg) 50%, #f7f7f7 100%);
	border-top:1px solid #eee;*/
}
.regions_blocks_includes_settings.collapsed .settings_header {
	margin-top:-35px;
	border:0;
	
	/*background: -moz-linear-gradient(bottom, var(--main-iframe-bg) 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, var(--main-iframe-bg)), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(bottom, var(--main-iframe-bg) 50%, #ffffff73 100%);
	background: -o-linear-gradient(bottom, var(--main-iframe-bg) 50%, #ffffff73 100%);
	background: -ms-linear-gradient(bottom, var(--main-iframe-bg) 50%, #ffffff73 100%);
	background: linear-gradient(to top, var(--main-iframe-bg) 50%, #ffffff73 100%);*/
}
.regions_blocks_includes_settings .settings_header::before {
	content:"";
	height:4px;
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	
	border-top:1px solid var(--resize-bar-border);
	border-bottom:1px solid var(--resize-bar-border);
	background:var(--resize-bar-bg);
	/*background:var(--resize-bar-horizontal-img) repeat-x var(--main-template-bg);*/
}
.regions_blocks_includes_settings .settings_header .icon {
	width:34px;
	height:20px;
	position:absolute;
	top:0;
	left:45%;
	left:calc(50% - 17px);
	text-indent:-9999px;
	cursor:pointer;
	opacity:1;
}
.regions_blocks_includes_settings .settings_header .icon.maximize {
	background:url(../../img/tool_frame_top.gif) no-repeat;
}
.regions_blocks_includes_settings .settings_header .icon.minimize {
	background:url(../../img/tool_frame_bottom.gif) no-repeat;
}
.regions_blocks_includes_settings .settings_header .icon::before {
    display:none;
}

.regions_blocks_includes_settings .invisible {
	visibility:hidden;
}

.regions_blocks_includes_settings input {
	
}
.regions_blocks_includes_settings select {
	
}
.regions_blocks_includes_settings input, .regions_blocks_includes_settings select, .regions_blocks_includes_settings textarea {
	font-family:var(--main-font-family);
	font-size: 0.9em;
	/*background:#eee;
	border: 1px inset #eee;*/
	color: #555555;
}

.regions_blocks_includes_settings .template_params .items .item > .delete {
	display:none;
}
.regions_blocks_includes_settings .includes .items .item > .search {
	margin-left:0;
}
.regions_blocks_includes_settings .icon {
	display:inline-block;
	float:none;
	margin:auto 2px;
	z-index:100;
	font-size:14px;
}

.regions_blocks_includes_settings .items {
	margin-left:20px;
}
.regions_blocks_includes_settings .template label {
	width:150px;
	display:inline-block;
}
.regions_blocks_includes_settings .template select {
	background-color:#FFF;
}
.regions_blocks_includes_settings .other_region_blocks, 
   .regions_blocks_includes_settings .includes, 
   .regions_blocks_includes_settings .template_params, 
   .regions_blocks_includes_settings .other_template_params {
	margin-top:20px;
}
.regions_blocks_includes_settings .other_region_blocks,
   .regions_blocks_includes_settings .other_template_params {
	margin-left:20px;
}
.regions_blocks_includes_settings .region_blocks .items .item, 
   .regions_blocks_includes_settings .other_region_blocks .items .item,
   .regions_blocks_includes_settings .template_params .items .item,
   .regions_blocks_includes_settings .other_template_params .items .item {
	width:585px;
	margin-top:10px;
}
.regions_blocks_includes_settings .region_blocks .items .item:not(.has_edit) > .edit,
  .regions_blocks_includes_settings .other_region_blocks .items .item:not(.has_edit) > .edit {
	display:none !important;
}
.regions_blocks_includes_settings .region_blocks .items .item > label, 
   .regions_blocks_includes_settings .other_region_blocks .items .item > label, 
   .regions_blocks_includes_settings .template_params .items .item > label, 
   .regions_blocks_includes_settings .other_template_params .items .item > label {
	width:150px;
	margin-left:5px;
	margin-right:5px;
	display:inline-block;
	font-weight:normal;
	font-style:normal;
	white-space:nowrap;
}
.regions_blocks_includes_settings .other_region_blocks .items .item > label, 
   .regions_blocks_includes_settings .other_template_params .items .item > label {
	width:130px;
}
.regions_blocks_includes_settings input,
  .regions_blocks_includes_settings select {
	height:26px;
	font-size:10px;
	background-color:#FFF;
	border:1px solid #eee;
	border-radius:4px;
	box-sizing:border-box;
}
.regions_blocks_includes_settings .region_blocks .items .item > input,
  .regions_blocks_includes_settings .other_region_blocks .items .item > input {
	width:202px;
	text-align:left;
	/*direction:rtl; - Cannot change the directio to right, otherwise the blocks like "_login" will appear "login_" */
}
.regions_blocks_includes_settings .items .item > .block_options,
   .regions_blocks_includes_settings .items .item > .pretty_block_options_button {
	width:200px !important; /* !important must be here bc if block_options is hidden then pretty_block_options_button will have the width:0. so we need to overright this issue! */
}
.regions_blocks_includes_settings .template_params .items .item > input,
  .regions_blocks_includes_settings .other_template_params .items .item > input {
	width:265px;
}
.regions_blocks_includes_settings .items .item > .pretty_block_options_button {
	height:24px;
	display:inline-block !important;
	background:white;
	vertical-align:middle;
	border-color:#eee;
	border-radius:2px;
}
.regions_blocks_includes_settings .items .item > .pretty_block_options_button:hover {
	border-color:#eee;
}
.regions_blocks_includes_settings .items .item > .pretty_block_options_button.hidden {
	display:none !important;
}
.regions_blocks_includes_settings .items .item > .pretty_block_options_button .ui-selectmenu-text {
	line-height:17px;
	/*direction:rtl; - Cannot change the directio to right, otherwise the blocks like "_login" will appear "login_" */
}
.pretty_block_options_menu > ul { /* must be generic bc this is appended to the body */
	max-width:100vw !important;
	min-height:40px;
	max-height:200px;
}
.pretty_block_options_menu .import_module_block {
	margin:0 !important;
	padding:5px !important;
	background:#ddd;
	border-bottom:1px inset #bbb !important;
	font-weight:normal;
}
.pretty_block_options_menu .import_module_block a,
  .pretty_block_options_menu .import_module_block a i {
	color:var(--selection-color);
}
.pretty_block_options_menu .import_module_block a:hover,
  .pretty_block_options_menu .import_module_block a:hover i {
	color:initial;
}
.pretty_block_options_menu .import_module_block a .add {
	margin:auto 5px;
}
.pretty_block_options_menu > ul .ui-menu-item {
	padding-left:20px;
	border:0;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	font-weight:normal;
}
.pretty_block_options_menu > ul .ui-menu-item.ui_menu_item_selected {
	border-color:#fbcb09;
	border-color:var(--selection-color);
	background:#ccc;
	color:#c77405;
	color:var(--selection-color);
}
.pretty_block_options_menu > ul .ui-menu-item.ui-state-focus:not(.ui_menu_item_selected),
  .pretty_block_options_menu > ul .ui-menu-item.ui-state-disabled {
	margin:0;
	background:transparent;
	border-color:transparent;
	color:inherit;
}
.pretty_block_options_menu > ul .ui-menu-item:not(.ui-state-disabled):hover,
  .pretty_block_options_menu > ul .ui-menu-item.ui-state-focus:not(.ui-state-disabled):hover {
	margin:0;
	background:#dadada;
	border-color:#fbcb09;
	border-color:var(--selection-color);
	color:#c77405;
	color:var(--selection-color);
	opacity:.8;
}
.pretty_block_options_menu > ul .ui-menu-item:nth-child(2) { /* blank option */
	padding-left:5px;
	color:#999;
}
.pretty_block_options_menu > ul .ui-menu-item:nth-child(2):before {
	content:"-- none --";
}

.regions_blocks_includes_settings .items .item > .region_block_type {
	color:#CCC;
}
.regions_blocks_includes_settings .items .item > .block_text,
   .regions_blocks_includes_settings .items .item > .block_html,
   .regions_blocks_includes_settings .items .item > .block_params > .block_param .block_param_text,
   .regions_blocks_includes_settings .items .item > .template_param_text {
	float:none;
	clear:left;
	margin-top:3px;
}
.regions_blocks_includes_settings .items .item > .block_text > textarea,
   .regions_blocks_includes_settings .items .item > .block_html > textarea,
   .regions_blocks_includes_settings .items .item > .block_params > .block_param .block_param_text > textarea,
   .regions_blocks_includes_settings .items .item > .template_param_text > textarea {
	width:100%;
	height:auto;
	min-height:100px;
	background-color:#FFF;
	border:1px solid #eee;
	border-radius:4px;
	box-sizing:border-box;
}
.regions_blocks_includes_settings .items .item > .block_params > .block_param > label {
	width:150px;
	display:inline-block;
	font-weight:normal;
	font-size:80%;
	color:#666;
	vertical-align:middle; /* in case the label be in 2 lines bc is too big */
}
.regions_blocks_includes_settings .items .item > .block_params > .block_param .block_param_value {
	width:192px;
	color:#666;
}
.regions_blocks_includes_settings .items .item > .block_html > .block_html_editor {
	width:100%;
	min-width:540px;
	height:auto;
	min-height:100px;
	background:#fff;
	border:1px solid #eee;
	border-radius:2px;
}
.regions_blocks_includes_settings .items .item > .block_params > .block_param select, 
   .regions_blocks_includes_settings .includes .item > select, 
   .regions_blocks_includes_settings .template_params .item > select, 
   .regions_blocks_includes_settings .other_template_params .item > select {
	width:70px;
	color:#CCC;
}
.regions_blocks_includes_settings .items .item > .block_params {
	margin-left:40px;
}
.regions_blocks_includes_settings .items .item > .block_params > .block_param {
	margin-top:5px;
}
.regions_blocks_includes_settings .no_items {
	margin-top:10px;
	margin-left:50px;
}

.regions_blocks_includes_settings .includes .items {
	margin-top:5px;
}
.regions_blocks_includes_settings .includes .items .item {
	margin-top:5px;
}
.regions_blocks_includes_settings .includes .items .item > .path {
	width:330px;
}
/* TEMPLATE REGION INFO POPUP */
.template_region_info_popup {
	position:absolute;
	top:5%;
	left:5%;
	right:5%;
	bottom:5%;
	width:90%;
	height:90%;
}
.template_region_info_popup > iframe {
	width:100%;
	height:100%;
}

/* CHOOSE MODULE BLOCK POPUP */
.choose_module_block_popup {
	position:absolute;
	top:5%;
	left:5%;
	right:5%;
	bottom:5%;
	width:90%;
	height:90%;
}
.choose_module_block_popup iframe {
	width:100%;
	height:100%;
}

/* TAB CONTENT TEMPLATE LAYOUT */
body > .dragging_menu_item {
	padding:5px;
	background:var(--mytree-dragged-widget-bg) !important;
	color:var(--mytree-dragged-widget-color);
	border:0;
	border-radius:5px;
	text-align:center;
}

.tab_content_template_layout {
	height:calc(100vh - 84px); /* Toolbar and settings height */
	position:relative;
	background:var(--main-template-bg) !important; /* very important bc when the iframe is smartphone responsive, we loose track of the iframe borders. The background will help to detect this. */
	box-sizing: border-box;
	text-align:center;
	overflow:auto;
}
.tab_content_template_layout:not(.resizing) {
	transition:all .2s;
}
.tab_content_template_layout.toolbar_open {
	width:75%;
	width:calc(100% - 250px);
}
.tab_content_template_layout:not(.toolbar_open) {
	width:99% !important;
	width:calc(100% - 7px) !important;
}
.tab_content_template_layout.resizing:after {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0, 0, 0, .5);
}

.tab_content_template_layout .iframe_toolbar {
	width:195px;
	padding:0 60px 0 0;
	position:fixed;
	top:20px;
	right:72px;
	color:#999;
	box-sizing:border-box;
	z-index:6;
}
.tab_content_template_layout .iframe_toolbar .icon:not(:hover):not(.active) {
	color:var(--main-template-color);
}
.tab_content_template_layout .iframe_toolbar .icon.desktop {
	position:absolute;
	top:1px;
	right:0px;
	margin-right:5px;
	padding-right:8px;
	border-right:1px solid rgba(0, 0, 0, .1);
}
.tab_content_template_layout .iframe_toolbar .icon.mobile {
	position:absolute;
	top:1px;
	right:35px;
}
.tab_content_template_layout .iframe_toolbar .icon:hover:after,
  .tab_content_template_layout .iframe_toolbar .icon:active:after,
  .tab_content_template_layout .iframe_toolbar .icon:focus:after,
  .tab_content_template_layout .iframe_toolbar .fit_to_screen:hover:after,
  .tab_content_template_layout .iframe_toolbar .fit_to_screen:active:after,
  .tab_content_template_layout .iframe_toolbar .fit_to_screen:focus:after {
	content:attr(data-title);
	margin-top:5px;
	padding:5px 10px;
	display:block;
	position:fixed;
	top:auto;
	left:auto;
	right:auto;
	text-align:right;
	white-space:nowrap;
	background:var(--main-iframe-bg);
	color:var(--main-iframe-color);
	border-radius:3px;
	font-weight:normal;
	cursor:auto;
	font-size:8pt;
	font-family:var(--main-font-family);
}
.tab_content_template_layout .iframe_toolbar .fit_to_screen:hover:after,
  .tab_content_template_layout .iframe_toolbar .fit_to_screen:active:after,
  .tab_content_template_layout .iframe_toolbar .fit_to_screen:focus:after {
	margin-top:15px;
}
.tab_content_template_layout .iframe_toolbar input,
  .tab_content_template_layout .iframe_toolbar .px,
  .tab_content_template_layout .iframe_toolbar .x {
	vertical-align:unset;
}
.tab_content_template_layout .iframe_toolbar .fit_to_screen {
	margin:0 0 0 5px;
	vertical-align:middle;
}
.tab_content_template_layout .iframe_toolbar .view_template_samples {
	/*margin-left:5px;
	font-size:var(--icon-font-size);*/
	display:none;
}

.tab_content_template_layout iframe {
	width:100%;
	height:100%;
	margin:auto; /* when responsive and iframe has small widtha and height, it should be centered */
	padding:0;
	box-sizing:border-box;
	border:none;
	background:#fff; /* when is smartphone responsive we loose the track of the iframe borders. The background will help to detect this. */
	
	transition:all .2s;
}
.tab_content_template_layout .iframe_toolbar:not(.desktop) ~ iframe {
	border:5px solid var(--resize-bar-border);
	border-radius:10px;
}

.tab_content_template_layout .iframe_modules_blocks_toolbar {
	height:auto;
	margin:0;
	position:fixed;
	top:50px;
	right:0;
	bottom:34px;
	color:var(--main-template-color);
	background:var(--main-template-bg);
	border:1px solid #aaa;
	text-align:left;
	
	overflow:hidden;
}
.tab_content_template_layout:not(.resizing) .iframe_modules_blocks_toolbar {
	transition:width .2s;
}
.tab_content_template_layout.toolbar_open .iframe_modules_blocks_toolbar {
	width:25%;
	width:calc(250px);
}
.tab_content_template_layout:not(.toolbar_open) .iframe_modules_blocks_toolbar {
	width:1% !important;
	width:calc(5px) !important;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_toggle {
	width:5px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	cursor:ew-resize;
	overflow:hidden;
	
	border-left:1px solid var(--resize-bar-border);
	border-right:1px solid var(--resize-bar-border);
	background:var(--resize-bar-bg);
	/*background:var(--resize-bar-vertical-img) repeat-y var(--main-template-bg);*/
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_toggle .button {
	width:5px;
	height:34px;
	position:absolute;
	left:0;
	top:45%;
	top:calc(50% - 17px);
	cursor:pointer;
	background:url("../../img/tool_frame_left.gif") no-repeat;
}
.tab_content_template_layout.toolbar_open .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_toggle .button {
	background:url("../../img/tool_frame_right.gif") no-repeat;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content {
	width:100%;
	width:calc(100% - 5px);
	height:100%;
	margin-left:5px;
	overflow:auto;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree {
	width:100%;
	min-width:auto;
	max-width:none;
	height:100%;
	min-height:auto;
	max-height:none;
	margin:0;
	border:0;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree > li:first-child {
	padding-top:10px;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree li a {
	color:var(--main-template-color);
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree li.draggable_menu_item a {
	height:26px;
	cursor:move;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree li.draggable_menu_item a > .jstree-icon {
	background:var(--mytree-dragged-widget-bg);
	color:var(--mytree-dragged-widget-color);
	border-radius:3px;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree li.draggable_menu_item a > .jstree-icon::before {
	color:inherit;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree li.draggable_menu_item a label {
	color:var(--mytree-dragged-widget-bg);
	cursor:move;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .icon {	
	margin-left:5px;
	display:inline-block;
	vertical-align:middle;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree li .icon:not(:hover) {
	color:var(--main-template-color);
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .icon.refresh {	
	opacity:0;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .jstree-open > a .icon.refresh {
	opacity:.7
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .block_file::before {
	margin-left:0;
	content:"\f1b2";
	font:var(--fa-font-solid);
	font-size:16px;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-list,
  .tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-edit,
  .tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-add,
  .tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-view {	
	height:20px;
	vertical-align:baseline;
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-list::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f00a";
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-edit::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f044";
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-add::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f0fe";
}
.tab_content_template_layout .iframe_modules_blocks_toolbar .iframe_modules_blocks_toolbar_content .mytree .table-view::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f06e";
}

/* TAB CONTENT TEMPLATE LAYOUT - DIAGRAM TASK PROPERTIES */
.tab_content_template_layout .tab_content_template_layout_tasks {
	position:fixed !important;
	top:20px !important;
	left:20px !important;
	right:20px !important;
	bottom:20px !important;
	
	padding:0;
	box-sizing:border-box;
	overflow:hidden;
}
.tab_content_template_layout .tab_content_template_layout_tasks > .popup_close {
	/* need this otherwise the close button will appear transparent and on the left side in the edit_template_simple.php */
	opacity:1 !important;
}
.tab_content_template_layout .tab_content_template_layout_tasks > iframe {
	width:100% !important;
	height:100% !important;
	position:relative !important;
	top:0 !important;
	left:0 !important;
}

/* MODULE INFO TOOLTIP */
#module_info_tooltip {
	min-width:100px;
	min-height:150px;
	position:fixed;
	padding:10px;
	background:#fff;
	border:1px solid #aaa;
	border-radius:10px;
	z-index:3;
}
#module_info_tooltip > .close {
	margin:0;
	position:absolute;
	right:5px;
	top:5px;
	opacity:.5;
}
#module_info_tooltip > .close:hover {
	opacity:1;
}
#module_info_tooltip > .module_data {
	width:400px;
	max-width:95vw;
	text-align:center;
}
#module_info_tooltip > .module_data > .loading {
	margin:40px auto 0;
	padding-left: 20px;
	display: inline-block;
}
#module_info_tooltip > .module_data > .module_img {
	width:25%;
	width:150px;
	height:150px;
	line-height:150px;
	text-transform:uppercase;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	float:left;
}
#module_info_tooltip > .module_data > .module_img img {
	width:100%;
	height:100%;
}
#module_info_tooltip > .module_data > .module_label {
	width:75%;
	width:calc(100% - 170px);
	margin-bottom:5px;
	padding-left:20px;
	font-weight:bold;
	text-align:left;
	float:left;
}
#module_info_tooltip > .module_data > .module_description {
	width:75%;
	width:calc(100% - 170px);
	padding-left:20px;
	text-align:left;
	float:left;
}

/* CODE */
/* CODE - MENU - NOT TOP BAR MENU */
.code_layout_ui_editor .code_menu:not(.top_bar_menu) {
	position:absolute;
	top:.5em;
	left:0;
	z-index:11;
}
.code_layout_ui_editor .code_menu:not(.top_bar_menu) ul {
	background:none;
	border:none;
}
.code_layout_ui_editor .code_menu:not(.top_bar_menu) ul li {
	border:none;
}
.code_layout_ui_editor .code_menu:not(.top_bar_menu) ul li a {
	color:#fff;
	border-right-color:#fff;
}


/* CODE - MENU - TOP BAR MENU */
.code_layout_ui_editor .code_menu.top_bar_menu {
	z-index:2;
}
.code_layout_ui_editor .code_menu.top_bar_menu > ul {
	/*border:0;*/
}

/* CODE - ELS UI */
.code_layout_ui_editor .layout-ui-editor,
  .template_region_block_html_editor_popup .layout-ui-editor {
	height:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0px;
	margin:0;
	background:var(--main-template-bg);
	color:var(--main-template-color);
}
.template_region_block_html_editor_popup .layout-ui-editor {
	background:transparent; /* in firefox this editor appears with a bigger z-index than the popup close icon. so we must put the bg transparent so we can see the popup close btn */
}
.code_layout_ui_editor .layout-ui-editor.full-screen,
  .template_region_block_html_editor_popup .layout-ui-editor.full-screen {
	position: absolute !important; /* overwrite the css from jquerylayoutuieditor/style.css */
	bottom: 0px !important;
}
.code_layout_ui_editor .layout-ui-editor > .tabs,
  .template_region_block_html_editor_popup .layout-ui-editor > .tabs {
	display:none;
}
#code .layout-ui-editor textarea {
	position:initial !important;/* bc of the '#code textarea' that sets the position to fixed. */
	border:1px solid var(--menu-settings-input-border, transparent);
    
}
.code_layout_ui_editor .layout-ui-editor > .menu-settings {
	/* This is very important otherwise the layout_ui_editor_right_container will appear in the background of the menu-settings */
	background:#fff;
	z-index:1;
}
.template_region_block_html_editor_popup .layout-ui-editor > .menu-widgets > li:first-child {
	display:none; /*hide code group menu bc ptl and php are not allowed in the template_region_block_html_editor_popup */
}
.code_layout_ui_editor .layout-ui-editor > .menu-widgets li.menu-widget-ptl,
  .template_region_block_html_editor_popup .layout-ui-editor > .menu-widgets li.menu-widget-ptl,
  .template_region_block_html_editor_popup .layout-ui-editor > .menu-widgets li.menu-widget-php {
	display:none !important;
}

.code_layout_ui_editor .layout-ui-editor .move,
  .code_layout_ui_editor .layout-ui-editor .add,
  .code_layout_ui_editor .layout-ui-editor .delete,
  .template_region_block_html_editor_popup .layout-ui-editor .move,
  .template_region_block_html_editor_popup .layout-ui-editor .add,
  .template_region_block_html_editor_popup .layout-ui-editor .delete {
	background-image:none;
}
.code_layout_ui_editor .layout-ui-editor label,
  .template_region_block_html_editor_popup .layout-ui-editor label {
	font-style:inherit;
	font-weight:inherit;
	color:inherit;
	font-family:inherit;
}
.code_layout_ui_editor .layout-ui-editor .template-source textarea,
   .code_layout_ui_editor .layout-ui-editor .template-source .ace_editor,
   .code_layout_ui_editor .layout-ui-editor .template-full-source textarea,
   .code_layout_ui_editor .layout-ui-editor .template-full-source .ace_editor,
  .template_region_block_html_editor_popup .layout-ui-editor .template-source textarea,
  .template_region_block_html_editor_popup .layout-ui-editor .template-source .ace_editor,
  .template_region_block_html_editor_popup .layout-ui-editor .template-full-source textarea,
  .template_region_block_html_editor_popup .layout-ui-editor .template-full-source .ace_editor {
	height:100% !important;
}
.code_layout_ui_editor .layout-ui-editor .tabs .tab.view-page {
	display:none; /* disable view tab bc does not parse PHP */
}

/* CODE - ELS UI - OPTIONS */
.code_layout_ui_editor .layout-ui-editor > .options > .options-left,
  .code_layout_ui_editor .layout-ui-editor > .options > .options-center,
  .code_layout_ui_editor .layout-ui-editor > .options > .options-right,
  .code_layout_ui_editor .layout-ui-editor > .options > .options-right-2,
  .template_region_block_html_editor_popup .layout-ui-editor > .options > .options-left,
  .template_region_block_html_editor_popup .layout-ui-editor > .options > .options-center,
  .template_region_block_html_editor_popup .layout-ui-editor > .options > .options-right,
  .template_region_block_html_editor_popup .layout-ui-editor > .options > .options-right-2 {
	padding-top:7px;
}
.code_layout_ui_editor .layout-ui-editor > .options > .options-right,
  .template_region_block_html_editor_popup .layout-ui-editor > .options > .options-right {
	direction:rtl;
}
.code_layout_ui_editor .layout-ui-editor > .options .option,
  .template_region_block_html_editor_popup .layout-ui-editor > .options .option {
	opacity:1;
}
.code_layout_ui_editor .layout-ui-editor > .options .option.show-full-source,
  .template_region_block_html_editor_popup .layout-ui-editor > .options .option.show-full-source,
  .template_region_block_html_editor_popup .layout-ui-editor > .options .option.full-screen {
	display:none !important;
}
.code_layout_ui_editor .layout-ui-editor .option,
  .template_region_block_html_editor_popup .layout-ui-editor .option {
	background-image:none;
}
.code_layout_ui_editor .layout-ui-editor > .template-widgets-options > .options > .show-ptl,
  .code_layout_ui_editor .layout-ui-editor > .options .toggle-ptl,
  .template_region_block_html_editor_popup .layout-ui-editor > .template-widgets-options > .options > .show-php,
  .template_region_block_html_editor_popup .layout-ui-editor > .template-widgets-options > .options > .show-ptl,
  .template_region_block_html_editor_popup .layout-ui-editor > .options .toggle-php,
  .template_region_block_html_editor_popup .layout-ui-editor > .options .toggle-ptl {
	display:none;
}

/* CODE - ELS UI - LAYOUT UI EDITOR - TOP BAR MENU - OPTIONS */
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-left {
	height:30px;
	padding:5px;
	top:0;
	left:0;
	right:70%;
	box-sizing:border-box;
	background:var(--main-template-bg);
	white-space:nowrap;
	z-index:3;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu.reverse > .options > .options-left {
	left:70%;
	right:0;
	text-align:center;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-left .option {
	color:var(--main-template-color);
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-left .option:not(.show-option-panel) {
	display:none;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-left .option.show-option-panel {
	width:100%;
	margin:0;
	/*border-color:rgba(0, 0, 0, .1);*/
	border-color:transparent;
	background:var(--main-template-bg);
	color:var(--resize-bar-border);
	font-weight:bold;
	font-size:8pt;
	text-align:left;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-left .option.show-option-panel:hover {
	color:var(--resize-bar-border) !important;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .options-left .option.option-disabled {
	opacity:.35 !important;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .options-left .option:hover:after {
	margin-top:5px;
}

.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center {
	width:175px;
	padding:0 50px 0 0;
	position:fixed;
	top:19px;
	left:auto;
	right:285px;
	bottom:auto;
	box-sizing:border-box;
	z-index:1;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center .layout-in-desktop {
	position:absolute;
	right:0px;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center .layout-in-mobile {
	position:absolute;
	right:28px;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center .option.option-screen-width, 
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center .option.option-screen-height {
	padding-right:15px;
	font-size:10px;
	color:#999 !important; /* so the color doesn't change to red */
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center .option.option-px,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center .option.option-x {
	font-size:10px;
	color:#999 !important; /* so the color doesn't change to red */
	cursor:not-allowed;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right {
	width:105px;
	padding:0;
	position:fixed;
	top:19px;
	left:auto;
	right:25px;
	bottom:auto;
	box-sizing:border-box;
	z-index:1;
	text-align:right;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option:not(input) {
	width:auto;
	color:inherit;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options.zooms {
	margin-left:5px;
	padding-left:8px;
	border-left:1px solid rgba(0, 0, 0, .1);
	
	margin-right:5px;
	padding-right:10px;
	border-right:1px solid rgba(0, 0, 0, .1);
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options.toggles {
	margin-right:5px;
	padding-right:10px;
	border-right:1px solid rgba(0, 0, 0, .1);
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul {
	min-width:120px;
	padding-top:10px;
	background:var(--main-iframe-bg);
	font-size:8pt;
	direction:ltr;
	border-bottom:1px solid var(--main-context-menu-border);
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	color:var(--main-context-menu-color);
	right:-1000px;
	left:auto;
	display:block;
	transition:.5s all;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options:hover ul {
	right:0;
	left:auto;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options:hover > ul:before {
	content:" ";
	width:0;
	height:0;
	display:block;
	position:absolute;
	top:-5px;
	right:14px;
	border-top:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid var(--main-context-menu-border);
	border-left:8px solid transparent;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options:hover > ul:after {
	content:" ";
	height:0;
	width:0;
	display:block;
	position:absolute;
	top:-3px;
	right:15px;
	border-top:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid var(--main-context-menu-bg);
	border-left:7px solid transparent;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li {
	line-height:20px;
	padding:5px 5px 5px 10px;
	border-left:1px solid var(--main-context-menu-border);
	border-right:1px solid var(--main-context-menu-border);
	background:var(--main-context-menu-bg);
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li:first-child {
	border-top:1px solid var(--main-context-menu-border);
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li:hover {
	/*color:var(--icon-hover-color);*/
	background:var(--main-context-menu-hover-bg);
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li i {
	width:15px;
	visibility:hidden;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.zoom-range input {
	width:calc(100% - 30px);
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.zoom-range span {
	float:left;
	font-size:6pt;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-background,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-borders,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-php,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-ptl,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-comments,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-js,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-css,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.auto-resize {
	padding-left:30px;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-background input,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-borders input,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-php input,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-ptl input,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-comments input,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-js input,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.toggle-css input,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .sub-options ul li.auto-resize input {
	position:absolute;
	left:5px;
	opacity:.1;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu:not(.layout-shown) > .options .option.full-screen {
	display:none;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.save {
	position:fixed;
	top:10px;
	right:0;
}

/* CODE - ELS UI - LAYOUT UI EDITOR - TOP BAR MENU - OPTIONS - AUTO-SAVE */
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.sub_menu {
	width:16px;
	direction:ltr;
	font-family:var(--main-font-family);
	font-size:12px;
	text-align:left;
	color:#444;
	overflow:visible;
	
	position:absolute;
	right:-55px;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.sub_menu:before {
	width:13px;
	height:16px;
	/*padding-top:4px;*/
	display:block;
	cursor:pointer;
	color:#555;
	font-size:14px;
	
	padding-top:2px;
	content:"\f142";
	text-indent:2px;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.sub_menu:hover:before {
	color:var(--icon-hover-color);
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.sub_menu > ul {
	width:200px;
	padding:7px 0 0;
	position:absolute;
	top:20px;
	right:-350px;
	background:transparent;
	border-bottom:1px solid #aaa;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	cursor:default;
	opacity:0;
	box-sizing:border-box;
	overflow:hidden;
	transition:.5s all;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.sub_menu:hover > ul {
	display:block;
	right:0;
	opacity:1;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.sub_menu:hover > ul:before {
	content:" ";
	width:0;
	height:0;
	display:block;
	position:absolute;
	top:-8px;
	right:10px;
	border-top:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid var(--main-context-menu-border);
	border-left:8px solid transparent;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-right .option.sub_menu:hover > ul:after {
	content:" ";
	height:0;
	width:0;
	display:block;
	position:absolute;
	top:-6px;
	right:11px;
	border-top:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid var(--main-context-menu-bg);
	border-left:7px solid transparent;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.sub_menu ul li {
	margin:0;
	display:block;
	padding:5px;
	position:relative;
	background:var(--main-context-menu-bg);
	color:var(--main-context-menu-color);
	font-style:normal;
	font-size:8pt;
	border-left:1px solid var(--main-context-menu-border);
	border-right:1px solid var(--main-context-menu-border);
	cursor:pointer;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.sub_menu ul li:first-child {
	border-top:1px solid var(--main-context-menu-border);
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.sub_menu ul li.without_padding {
	padding:0;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.sub_menu ul li:hover {
	background:var(--main-context-menu-hover-bg);
	/*color:var(--icon-hover-color);*/
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.sub_menu ul li input[type=checkbox] {
	position:absolute;
	left:5px;
	opacity:.1;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.sub_menu ul li a {
	padding:5px;
	display:block;
	color:inherit;
	text-decoration:none;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.sub_menu ul li a > .icon {
	width:20px;
	height:20px;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.sub_menu ul li .icon::before,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .option.sub_menu ul li .icon::after {
	display:none !important;
}

/* CODE - ELS UI - LAYOUT UI EDITOR - TOP BAR MENU - PANELS */
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .resize-panels,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .template-source,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .template-full-source,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .template-widgets,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .template-preview {
	top:0;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .menu-widgets, 
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .menu-layers,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .template-widgets-options {
	top:30px;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu.reverse > .template-widgets {
	margin-right:2px;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .menu-layers {
	padding-top:10px;
}
.code_layout_ui_editor .layout-ui-editor.fixed-side-properties > .menu-settings.full-screen {
	top:30px !important;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .template-source,
  .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .template-full-source {
	border:0;
}
.code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .template-widgets > .template-widgets-droppable {
	border-color:var(--resize-bar-border) !important;
	border:0;
}

/* CODE - ELS UI - LAYOUT UI EDITOR - TOP BAR MENU - PROPERTIES */
.code_layout_ui_editor .layout-ui-editor.fixed-side-properties > .menu-settings {
	color:var(--main-settings-color);
	background:var(--main-settings-bg);
	border-top:0;
}
.code_layout_ui_editor .layout-ui-editor.fixed-side-properties > .menu-settings > .resize-menu-settings {
	border-top:1px solid var(--resize-bar-border);
	border-bottom:1px solid var(--resize-bar-border);
	background: var(--resize-bar-bg);
     /*background: var(--resize-bar-horizontal-img) repeat-x var(--main-template-bg);*/
     z-index:2;
}
.code_layout_ui_editor .layout-ui-editor.fixed-side-properties > .menu-settings > .settings-info {
	border-top:0;
	border-bottom:1px solid var(--main-settings-header-border);
	color:var(--main-settings-color);
	background:var(--main-settings-bg);
	/*background: -moz-linear-gradient(top, var(--main-settings-bg) 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--main-settings-bg)), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(top, var(--main-settings-bg) 50%, #ffffff73 100%);
	background: -o-linear-gradient(top, var(--main-settings-bg) 50%, #ffffff73 100%);
	background: -ms-linear-gradient(top, var(--main-settings-bg) 50%, #ffffff73 100%);
	background: linear-gradient(to bottom, var(--main-settings-bg) 50%, #ffffff73 100%);*/
}

/* CODE - MYTREE */
.code_layout_ui_editor .mytree .icon {	
	margin-left:5px;
	display:inline-block;
	vertical-align:middle;
}
.code_layout_ui_editor .mytree .icon.refresh {	
	opacity:0;
}
.code_layout_ui_editor .mytree .jstree-open > a .icon.refresh {
	opacity:.7
}
.code_layout_ui_editor .mytree .table-list,
  .code_layout_ui_editor .mytree .table-edit,
  .code_layout_ui_editor .mytree .table-add,
  .code_layout_ui_editor .mytree .table-view {	
	vertical-align:baseline;
	color:var(--icon-hover-color);
}
.code_layout_ui_editor .mytree .table-list::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f00a";
}
.code_layout_ui_editor .mytree .table-edit::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f044";
}
.code_layout_ui_editor .mytree .table-add::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f0fe";
}
.code_layout_ui_editor .mytree .table-view::before {	
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f06e";
}

/* CODE - DB TABLE UIS DIAGRAM BLOCK POPUP */
.code_layout_ui_editor .db_table_uis_diagram_block {
	position:fixed !important;
	top:20px !important;
	left:20px !important;
	right:20px !important;
	bottom:20px !important;
}
.code_layout_ui_editor .db_table_uis_diagram_block > .popup_close {
	z-index:auto !important;
}
.code_layout_ui_editor .db_table_uis_diagram_block > iframe {
	width:100% !important;
	height:100% !important;
}

/* CODE - ELS UI RIGHT CONTAINER */
/*.code_layout_ui_editor .layout_ui_editor_right_container_resize {
	width:5px;
	position:absolute;
	top:3.5em;
	right:calc(20% - 5px);
	bottom:3.5em;
	box-sizing:border-box;
	background:#796669;
	cursor:ew-resize;
	z-index:11;
	display:none;
}*/
/*.code_layout_ui_editor .layout_ui_editor_right_container_resize.full-screen {
	position:fixed;
	top:3.5em;
	bottom:2.8em;
}*/

.code_layout_ui_editor .layout_ui_editor_right_container {
	margin:0;
	padding:0;
	position:absolute;
	top:30px;
	left: 70%;
	right: 0;
	bottom:0;
	overflow-y: auto;
	overflow-x: hidden;
	vertical-align:top;
	display:none;
	box-sizing:border-box;
	
	font-family:var(--main-font-family);
	border-top:1px solid rgba(0,0,0,0.25);
	color:#666;
	font-size:8pt;
	transition:.2s all;
}
.code_layout_ui_editor .layout-ui-editor.with-minimized-panels > .layout_ui_editor_right_container {
	left:100%;
}
.code_layout_ui_editor .layout_ui_editor_right_container a {
	color:#666;
}
/*.code_layout_ui_editor .layout_ui_editor_right_container.full-screen {
	position:fixed;
	top:3.5em;
	bottom:2.8em;
}*/

.code_layout_ui_editor .layout_ui_editor_right_container .mytree {
	min-width:auto;
	max-width:none;
	min-height:auto;
	max-height:none;
	margin:0;
	padding:0 0 0 5px;
	border:0;
	overflow:visible;
}
.code_layout_ui_editor .layout_ui_editor_right_container .mytree .jstree-hovered {
	background: #ddd !important;
}
.code_layout_ui_editor .layout_ui_editor_right_container .mytree .jstree-clicked {
	background: #999;
}
.code_layout_ui_editor .layout_ui_editor_right_container .mytree .template-widget {
	display:none;
}
.code_layout_ui_editor .layout_ui_editor_right_container .mytree > li:first-child {
	padding-top:10px;
}

/* TEMPLATE REGION BLOCK HTML EDITOR POPUP */
.template_region_block_html_editor_popup {
	position:absolute;
	top:5%;
	left:5%;
	right:5%;
	bottom:5%;
	width:90%;
	height:90%;
}
.template_region_block_html_editor_popup .layout-ui-editor {
	top:15px;
	left:10px;
	right:10px;
	bottom:10px;
}
