/* TOP BAR */
.top_bar {
	margin-bottom:10px;
}
.top_bar header {
	z-index:6;
}
.top_bar header .title {
	max-width:calc(100% - 290px);
}
.top_bar .template_fields {
	width:365px;
	display: inline-block;
}
.top_bar.is_external_template .template_fields {
	width:163px;
}

/* ENTITY OBJ */
.entity_obj {
	margin-top:-10px;
	padding:0;
	overflow:hidden;
}

/* TEMPLATE */
.entity_obj .template {
	position:fixed;
	top:19px;
	left:172px;
	z-index:7;
	white-space:nowrap;
	color:var(--main-iframe-color);
}
.entity_obj .template > label {
	display:inline-block;
	margin:0 3px;
}
.entity_obj .template > select[name=template] {
	width:200px;
	background:transparent;
	border:1px solid rgba(0, 0, 0, .05);
	color:inherit;
	font-size:10px;
}
.entity_obj .template > select[name=template_genre] {
	width:115px;
	background:transparent;
	border:1px solid rgba(0, 0, 0, .05);
	color:inherit;
	font-size:10px;
}
.entity_obj .template > .search {
	margin:0 0 0 2px;
	display:inline-block;
	vertical-align:middle;
	color:inherit;
}

/* Code Editor */
.entity_obj .code_layout_ui_editor {
	height:calc(100vh - 86px);
	min-height:300px;
	padding:0 !important;
	position:relative;
	/*border:0;*/
}
.entity_obj .code_layout_ui_editor .code_menu.top_bar_menu {
	right:217px;
}
.entity_obj .code_layout_ui_editor .code_menu.top_bar_menu li.editor_full_screen,
  .entity_obj .code_layout_ui_editor .code_menu.top_bar_menu li.sub_menu,
  .entity_obj .code_layout_ui_editor .code_menu.top_bar_menu li.save {
	display:none;
}

/* Code Editor - ELS UI */
.entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .options-right {
	right:91px;
	z-index:7;
}
.entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options > .options-center {
	right:224px;
	z-index:7;
}
.entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .options-left .option.save,
  .entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu > .options .options-right .option.full-screen {
	display:none !important;
}
.entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu.fixed-side-properties.menu-settings-shown > .template-widgets,
  .entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu.fixed-side-properties.menu-settings-shown > .menu-widgets, 
  .entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu.fixed-side-properties.menu-settings-shown > .menu-layers,
  .entity_obj .code_layout_ui_editor .layout-ui-editor.with_top_bar_menu.fixed-side-properties.menu-settings-shown > .template-widgets-options {
	margin-bottom:0;
}

/* EXTERNAL TEMPLATE PARAMS */

.entity_obj .external_template_params {
	position:fixed;
	left:0;
	right:0;
	border-bottom:1px solid #ccc;
	background:#eee;
	z-index:7;
	overflow:hidden;
	font-size:11px;
}
.entity_obj .external_template_params.collapsed {
	height:40px;
}
.entity_obj .external_template_params.collapsed .external_template_type {
	margin-bottom:20px;
}
.entity_obj .external_template_params > div {
	margin:5px auto;
	width:500px;
}
.entity_obj .external_template_params > div > label {
	width:190px;
	display:inline-block;
}
.entity_obj .external_template_params > div > input:not([type=checkbox]),
  .entity_obj .external_template_params > div > select {
	width:280px;
	box-sizing:border-box;
	background:#fff;
	border:1px solid #ccc;
	font-size:inherit;
}
.entity_obj .external_template_params > .template_id > input,
  .entity_obj .external_template_params > .block_id > input,
  .entity_obj .external_template_params > .url > input {
	padding-right:20px;
}
.entity_obj .external_template_params .edit {
	position: absolute;
}
.entity_obj .external_template_params .search {
	margin:3px 0 auto -18px;
	position: absolute;
}
.entity_obj .external_template_params .info {
	margin-top:5px;
	color:#c0c0c0;
}

/* POPUP: page_preview_popup */
.page_preview_popup {
	position:fixed;
	top:20px !important;
	left:20px !important;
	right:20px;
	bottom:20px;
}
.page_preview_popup iframe {
	width:100%;
	height:100%;
}
.page_preview_popup .popup_close {
	width:auto;
	height:auto;
	top:7px;
	left:auto;
	right:7px;
	background:none;
	font-size:var(--icon-font-size);
	color:#333;
}
.page_preview_popup .popup_close::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing: antialiased;
	font:var(--fa-font-solid);
	content:"\f057";
}
