.title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 20px 0px;
	text-align: center;
	width: 100%;
	height:25px;
}

.file_upload {
	width:400px;
	margin:0 auto;
	text-align:center;
}
.file_upload .sub_title {
	display:block;
	width:100%;
	height:20px;
	margin-bottom:10px;
	font-weight:normal;
	text-align:center;
}
.file_upload div {
	clear:left;
	float:none;
	text-align:left;
	width:315px;
	margin:5px auto;
}
.file_upload div label {
	display:block;
	float:left;
	width:60px;
	font-weight:normal;
}
.file_upload div select {
	width:250px;
}

.file_upload .upload_file {
	display:block;
	margin:10px auto 0 auto;
}
.file_upload .upload_url {
	margin:10px auto 0 auto;
}
.file_upload .upload_url input {
	width:calc(100% - 100px);
}
.file_upload .upload_url .icon {
	height:16px;
	display:inline-block;
	float:none;
	vertical-align:middle;
}
.file_upload .button {
	display:block;
	margin:10px auto 20px auto;
	height:20px;
	line-height:15px;
	font-size:10px;
	font-weight:bold;
}
.file_upload .installing {
	margin:10px auto 30px auto;
	text-align:center;
}

.file_upload .install_store_template,
  .file_upload .go_to_templates_download_page {
	width:100%;
	text-align:center;
	color:#999;
}
.file_upload .go_to_templates_download_page {
	margin-bottom:30px;
}

.messages {
	margin:10px 10px 20px 10px;
	padding:10px;
	background-color:#CCC;
	border:1px solid #999;
}
.messages li ul li {
	margin-left:20px;
}
.messages li ul li.ok {
	color:green;
	font-weight:bold;
}
.messages li ul li.error {
	color:red;
	font-weight:bold;
}
.messages li ul li.info {
	color:#999;
	font-weight:bold;
}
.messages li ul li.exception {
	color:brown;
}

/* TEMPLATE POPUPS - install_store_template_popup */

.install_store_template_popup {
	top:10px !important;
	left:10px !important;
	right:10px !important;
	bottom:10px !important;
}
.install_store_template_popup ul {
	max-height: calc(100% - 60px);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
	overflow: auto;
}
.install_store_template_popup ul li {
	flex: 25%;
	max-width: 400px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.install_store_template_popup ul li a {
    font-size: 80%;
}
.install_store_template_popup ul li a.img_label:hover {
    text-decoration:none;
}
.install_store_template_popup ul li img {
    width:100%;
    border-bottom:1px solid #ddd;
}
.install_store_template_popup ul li label {
    margin:15px 0 10px;
    display: block;
    text-align: center;
    font-weight:normal;
    color:#666;
}
.install_store_template_popup ul li a label {
	cursor:pointer;
}
.install_store_template_popup ul li .view_template {
    float:right;
}
.install_store_template_popup ul li.loading {
	padding-left:30px;
	border:none;
	background:transparent;
	text-align:center;
}

/* TEMPLATE POPUPS - view_store_template_popup */

.view_store_template_popup {
	top:10px !important;
	left:10px !important;
	right:10px !important;
	bottom:10px !important;
}
.view_store_template_popup iframe {
	width:100% !important;
	height:100% !important;
}
