body.no_scroll {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

#title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 0px 0px;
	text-align: center;
	width: 100%;
	height:25px;
}
#sub_title {
	color: #000;
	font-size: 12px;
	margin:0px 0 0px 0px;
	text-align: center;
	width: 100%;
	height:25px;
}

#file_tree {
	margin:10px auto 0 auto;
	border-top:1px inset #CCC;
}
#file_tree li > a:not(.jstree-clicked) {
	background-color:#f0f0f0;
}
#file_tree li > ul > li > a:not(.jstree-clicked) {
	background-color:#f7f7f7;
}
#file_tree li:nth-of-type(odd) > a:not(.jstree-clicked) {
	background-color:#f7f7f7;
}
#file_tree li > ul > li:nth-of-type(odd) > a:not(.jstree-clicked) {
	background-color:#f0f0f0;
}
#file_tree li > a:hover {
	background-color:#eee;
}
#file_tree li > a {
    width: calc(100% - 30px);
    display: inline-block;
}
#file_tree li > a .icons {
	float:right;
}
#file_tree li > a .icons .icon {
	margin:4px 0 0 5px;
	display:inline-block;
	float:none;
	vertical-align:middle;
}
#file_tree li > a .icons .icon:hover {
	opacity:.6;
}
#file_tree li > a .icons .icon div {
	width:100%;
	height:100%;
}
#file_tree li > a .icons .icon.sub_menu {
	width:15px;
	background:url("../../common/img/dot.gif") center 5px repeat-x;
	background-size:5px;
}
#file_tree li > a .icons .icon.remove {
	background:url("../../common/img/icon/delete_icon.gif") 0 0 no-repeat;
}
#file_tree li > a .icons .icon.create_folder {
	background:url("../../common/vendor/jquerymytree/css/32px.png") -265px -8px no-repeat;
}
#file_tree li > a .icons .icon.create_file {
	background:url("../../common/img/icon/item_add_icon.png") 0 0 no-repeat;
}
#file_tree li > a .icons .icon.view_project {
	background:url("../../common/img/icon/view_icon.gif") 0 0 no-repeat;
}
#file_tree li > a .icons .icon.edit {
	background:url("../../common/img/icon/update_icon.gif") 0 0 no-repeat;
}
#file_tree li > a .icons .icon.edit_raw_file {
	background:url("../../common/img/icon/edit_icon.gif") 0 0 no-repeat;
}
#file_tree li > a .icons .icon.unzip {
	background:url("../../common/img/icon/zip_icon.png") 0 0 no-repeat;
}
#file_tree li > a .icons .icon.create_automatically {
	width:20px;
	margin-top:-2px;
	background:url("../../img/icons.png") -52px -92px no-repeat;
}
#file_tree li > a .icons .icon.create_uis_diagram {
	width:22px;
	background:url("../../img/db_icons.png") -203px -25px no-repeat;
}
#file_tree li > a .icons .icon.install_template {
	background:url("../../common/img/icon/html_icon.png") 0 0 no-repeat;
}
#file_tree li > a .icons .icon.add_table {
	width:20px;
	background:url("../../img/db_icons.png") -24px -24px no-repeat;
}
#file_tree li > a .icons .icon.manage_records {
	width:22px;
	background:url("../../img/db_icons.png") -45px -3px no-repeat;
}
#file_tree li > a .icons .icon.edit_diagram {
	background:url("../../common/img/icon/update_icon.gif") 0 0 no-repeat;
}
#file_tree li > a .icons .icon.test_unit_obj {
	margin-top:2px;
	background:url("../../img/db_icons.png") -26px -181px no-repeat;
}
#file_tree li > a .icons .icon.service_method {
	width:22px;
	height:22px;
	margin-top:2px;
	background:url("../../img/icons.png") -73px -71px no-repeat;
}

#file_tree.mytree_filtered > ul > li:only-child > a {
	width:auto;
	margin-top:-25px;
	position:absolute;
	right:0;
	background:transparent;
}
#file_tree.mytree_filtered > ul > li:only-child > a.jstree-clicked,
  #file_tree.mytree_filtered > ul > li:only-child > a.jstree-hovered {
	background:transparent !important;
	border:0;
	border-radius:0;
	box-shadow:none;
}
#file_tree.mytree_filtered > ul > li:only-child > .jstree-icon,
  #file_tree.mytree_filtered > ul > li:only-child > a > .jstree-icon,
  #file_tree.mytree_filtered > ul > li:only-child > a > label,
  #file_tree.mytree_filtered > ul > li:only-child > a > .icons .icon:not(.create_folder):not(.create_file):not(.view_project):not(.refresh):not(.sub_menu) {
	display:none;
}
#file_tree.mytree_filtered > ul > li:only-child > ul > li {
	margin-left:0;
}

#file_tree i.project_common.entities_folder {
    background:url("../../img/icons.png") no-repeat -93px -134px !important
}
#file_tree i.project.entities_folder {
    background:url("../../img/icons.png") no-repeat -202px -46px !important;url("../img/icons.png") no-repeat -93px -134px !important
}
#file_tree i.main_node_dao {
    background:url(../../img/icons.png) -51px -156px no-repeat;
}
#file_tree i.main_node_lib {
    background:url("../../common/img/icon/info_icon.png") center no-repeat;
}
#file_tree i.main_node_test_unit {
    background:url("../../img/db_icons.png") 0px -178px no-repeat;
}

.auxiliar_popup {
	position:fixed;
	top:10px !important;
	left:10px !important;
	right:10px;
	bottom:10px;
}
.auxiliar_popup iframe {
	width:100% !important;
	height:100% !important;
}

.popup_overlay {
	bottom:0;
	height:auto !important;
}

.error {
	margin-top:20px;
	text-align:center;
	color:red;
	font-weight:bold;
}
