body,
  #main_column {
	background:#fff !important;
}

/* TITLE */
.title {
	height:30px;
	padding:10px 10px 0;
	color:#ccc;
}

.title .sub_title {
	color:#666;
	margin-left:50px;
}
.title .sub_title:hover {
	color:#000;
}

/* GENERIC */
body.no_scroll {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

/* TREE */
#file_tree {
	margin:-5px auto 0 auto;
}
#file_tree li > a:not(.jstree-clicked) {
	background-color:#f0f0f0;
}
#file_tree li > ul > li > a:not(.jstree-clicked) {
	background-color:#f7f7f7;
}
#file_tree li:nth-of-type(odd) > a:not(.jstree-clicked) {
	background-color:#f7f7f7;
}
#file_tree li > ul > li:nth-of-type(odd) > a:not(.jstree-clicked) {
	background-color:#f0f0f0;
}
#file_tree li > .sub_menu {
    display:none;
}
#file_tree li > a:hover {
	background-color:#eee;
}
#file_tree li > a {
    width: calc(100% - 30px);
    display: inline-block;
}
#file_tree li > a .icons {
	float:right;
}
#file_tree li > a .icons .icon {
	margin:4px 0 0 5px;
	display:inline-block;
	float:none;
	vertical-align:middle;
}
#file_tree li > a .icons .icon:hover {
	opacity:.6;
}
#file_tree li > a .icons .icon {
	width:20px;
	height:20px;
}
#file_tree li > a .icons .icon::before {
	font-size:16px;
	display:block;
}
#file_tree li > a .icons .icon::after {
	font-size:12px;
	display:block;
	color:#666;
}
#file_tree li > a .icons .icon div {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	padding-left:20px;
	z-index:1;
}
/* already exists in icons.css:
#file_tree li > a .icons .icon.sub_menu::before {content:"\f141"; color:#666;}
#file_tree li > a .icons .icon.refresh::before {content:"\f2f1";}
#file_tree li > a .icons .icon.remove::before {content:"\f1f8";}
/*#file_tree li > a .icons .icon.edit::before {content:"\f303";}*/
#file_tree li > a .icons .icon.create_folder::before {content:"\f65e";}
#file_tree li > a .icons .icon.create_file::before {content:"\f477";}
#file_tree li > a .icons .icon.view_project::before {content:"\f06e";}
#file_tree li > a .icons .icon.edit_raw_file::before {content:"\f121"; color:#999;}
#file_tree li > a .icons .icon.edit_raw_file::after {content:"\f303";}
#file_tree li > a .icons .icon.unzip::before {content:"\f1c6"; font:var(--fa-font-regular); font-size:12px;}
#file_tree li > a .icons .icon.create_automatically::before {content:"\f079";}
#file_tree li > a .icons .icon.create_uis_diagram::before {content:"\f079";}
#file_tree li > a .icons .icon.install_template::before {content:"\f13b"; font:var(--fa-font-brands); font-size:16px;}
#file_tree li > a .icons .icon.add_table::before {content:"\f0db";}
#file_tree li > a .icons .icon.manage_records::before {content:"\f00b"; color:#999;}
#file_tree li > a .icons .icon.manage_records::after {content:"\f303";}
#file_tree li > a .icons .icon.edit_diagram::before {content:"\f0e8";}
#file_tree li > a .icons .icon.test_unit_obj::before {content:"\f0ae"; color:#aaa;}
#file_tree li > a .icons .icon.test_unit_obj::after {content:"\2b";}
#file_tree li > a .icons .icon.service_method::before {content:"\e13b"; -webkit-transform:scaleY(-1); transform:scaleY(-1);}

#file_tree.mytree_filtered > ul > li:only-child > a {
	width:auto;
	margin-top:-30px;
	position:absolute;
	right:0;
	background:transparent;
	z-index:1;
}
#file_tree.mytree_filtered > ul > li:only-child > a.jstree-clicked,
  #file_tree.mytree_filtered > ul > li:only-child > a.jstree-hovered {
	background:transparent !important;
	border:0;
	border-radius:0;
	box-shadow:none;
}
#file_tree.mytree_filtered > ul > li:only-child > .jstree-icon,
  #file_tree.mytree_filtered > ul > li:only-child > a > .jstree-icon,
  #file_tree.mytree_filtered > ul > li:only-child > a > label,
  #file_tree.mytree_filtered > ul > li:only-child > .sub_menu,
  #file_tree.mytree_filtered > ul > li:only-child > a > .icons .icon:not(.create_folder):not(.create_file):not(.view_project):not(.refresh):not(.sub_menu) {
	display:none;
}
#file_tree.mytree_filtered > ul > li:only-child > ul > li {
	margin-left:0;
}

#file_tree i.project_common.entities_folder {
    background:url("../../img/icons.png") no-repeat -93px -134px !important
}
#file_tree i.project.entities_folder {
    background:url("../../img/icons.png") no-repeat -202px -46px !important;url("../img/icons.png") no-repeat -93px -134px !important
}
#file_tree i.main_node_dao {
    background:url(../../img/icons.png) -51px -156px no-repeat;
}
#file_tree i.main_node_lib {
    background:url("../../common/img/icon/info_icon.png") center no-repeat;
}
#file_tree i.main_node_test_unit {
    background:url("../../img/db_icons.png") 0px -178px no-repeat;
}

.auxiliar_popup {
	position:fixed;
	top:10px !important;
	left:10px !important;
	right:10px;
	bottom:10px;
}
.auxiliar_popup iframe {
	width:100% !important;
	height:100% !important;
}

.popup_overlay {
	bottom:0;
	height:auto !important;
}

.error {
	margin-top:20px;
	text-align:center;
	color:red;
	font-weight:bold;
}
