.title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 20px 0px;
	text-align: center;
	width: 100%;
	min-height: 25px;
}

.templates_regions_html_obj {
	
}
.templates_regions_html_obj .no_templates_regions_html_regions {
	text-align:center;
	color:#999;
}
.templates_regions_html_obj li {
	border:1px solid #ccc;
}
.templates_regions_html_obj li > .header {
	padding:5px;
	background:#eee;
	font-weight:700;
}
.templates_regions_html_obj li > .header .icon {
	float:right;
}
.templates_regions_html_obj li > .header .icon.view {
	float:left;
}
.templates_regions_html_obj li .content {
	margin-left:20px;
	padding:0;
	display:none;
}
.templates_regions_html_obj li.sample .content {
	width:100%;
	height:100%;
	margin-left:0;
}
.templates_regions_html_obj li.sample .content #view_ui {
	text-align:center;
}
.templates_regions_html_obj li.sample .content iframe,
  .templates_regions_html_obj li.sample .content textarea {
	width:100%;
	height:100%;
	min-height:300px;
	padding:0;
	border:1px solid #ccc;
}

.templates_regions_html_obj li.sample .content .iframe_toolbar {
	height:20px;
	margin:5px;
	padding:3px 10px;
	border:0;
	border-radius:5px;
	background:#ddd;
	text-align:center;
	opacity:.6;
}
.templates_regions_html_obj li.sample .content .iframe_toolbar select {
	height:20px;
	background:none;
	box-sizing:border-box;
	font-size:80%;
	text-align:center;
}
.templates_regions_html_obj li.sample .content .iframe_toolbar input {
	width:35px;
	height:20px;
	background:none;
	box-sizing:border-box;
	font-size:80%;
	text-align:center;
}
.templates_regions_html_obj li.sample .content .iframe_toolbar .dimension,
  .templates_regions_html_obj li.sample .content .iframe_toolbar .orientation {
	display:none;
}

/* TEMPLATE REGION INFO POPUP */
.template_region_info_popup {
	position:absolute;
	top:5%;
	left:5%;
	right:5%;
	bottom:5%;
	width:90%;
	height:90%;
}
.template_region_info_popup iframe {
	width:100%;
	height:100%;
}
