.title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 20px 0px;
	text-align: center;
	width: 100%;
	min-height: 25px;
}

.template_samples_obj .no_template_samples {
	text-align:center;
	color:#999;
}
.template_samples_obj li {
	border:1px solid #ccc;
}
.template_samples_obj li > .header {
	padding:5px;
	background:#eee;
	font-weight:700;
}
.template_samples_obj li > .header .icon {
	float:right;
}
.template_samples_obj li .sample {
	width:100%;
	height:100%;
	padding:0;
	text-align:center;
	border:0;
	display:none;
}
.template_samples_obj li .sample iframe {
	width:100%;
	height:100%;
	min-height:300px;
	margin:0 auto;
	padding:0;
}

.template_samples_obj li .sample .iframe_toolbar {
	height:20px;
	margin:5px;
	padding:3px 10px;
	border:0;
	border-radius:5px;
	background:#ddd;
	text-align:center;
	font-size:80%;
	opacity:.6;
}
.template_samples_obj li .sample .iframe_toolbar select {
	height:20px;
	background:none;
	box-sizing:border-box;
	font-size:80%;
	text-align:center;
}
.template_samples_obj li .sample .iframe_toolbar input {
	width:45px;
	height:20px;
	background:none;
	box-sizing:border-box;
	font-size:80%;
	text-align:center;
}
.template_samples_obj li .sample .iframe_toolbar .dimension,
  .template_samples_obj li .sample .iframe_toolbar .orientation {
	display:none;
}
