.title {
	margin: 10px 0 20px 0px;
	text-align: center;
}

.template_region_obj {
	padding:10px;
}
.template_region_obj .no_template_regions {
	text-align:center;
	color:#999;
}
.template_region_obj li {
	margin-bottom:20px;
	border:1px solid #ccc;
	border-radius:3px;
}
.template_region_obj li > .header {
	padding:5px;
	background:#eee;
	text-transform:capitalize;
}
.template_region_obj li > .header .icon {
	float:right;
}
.template_region_obj li .sample {
	width:100%;
	height:100%;
	padding:0;
	display:none;
}
.template_region_obj li .sample > ul {
	background:none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	font-size:10px;
}
.template_region_obj li .sample iframe,
  .template_region_obj li .sample textarea {
	width:100%;
	height:100%;
	min-height:300px;
	padding:0;
}
