.module_edit_article {
	width:700px;
}
.module_edit_article .form_fields .form_field label {
	width:80px;
}
.module_edit_article .form_fields .form_field.summary label, .module_edit_article .form_fields .form_field.content label {
	float:none;
	clear:left;
	margin-top:5px;
	margin-bottom:5px;
}
.module_edit_article .form_fields .form_field.allow_comments label {
	width:130px;
}
.module_edit_article .form_fields .form_field input,
  .module_edit_article .form_fields .form_field textarea {
	width:590px;
}
.module_edit_article .form_fields .form_field.published input, .module_edit_article .form_fields .form_field.allow_comments input {
	width:auto;
}

.module_edit_article .form_fields .form_field.photo_url {
	display:none;
	text-align:center;
}
.module_edit_article .form_fields .form_field.photo_url label {
	display:none;
}
.module_edit_article .form_fields .form_field.photo_url img {
	display:block;
	margin:10px auto 0 auto;
	max-width:370px;
	height:150px;
}
.module_edit_article .form_fields .form_field.photo_url a {
	cursor:pointer;
}

.module_edit_article .form_fields .form_field.summary .cke_bottom {
	display:none;
}
.module_edit_article .cke_top {
	background-color:#d5e3e4;
	border: 1px outset #999999;
}
.module_edit_article .cke_chrome {
	border-color:#b3c8cc;
}
.module_edit_article .cke_bottom {
	background-color:#d5e3e4;
}
.module_edit_article .cke_bottom * {
	color:#333;
}
.module_edit_article .cke_top a.cke_button_off:hover/*, .module_edit_article .cke_top a.cke_button_disabled:hover*/ {
	background-color:#b3c8cc;
}
