.login:not(.with_popup) .container .card {
	box-shadow:0px 0px 80px 10px rgba(173,173,173,0.5) !important;
}
.login:not(.with_popup) .container .card .card-header {
	background:#222;
	color:#fff;
	border-bottom:3px solid #ff0000;
	text-align:center;
}
.login:not(.with_popup) .container .card .card-header img {
	margin:20px auto 30px;
	display:inline-block;
}
.login:not(.with_popup) .container .card .card-header h5 {
	margin:0;
	color:#ff0000;
}

.form_fields { width:320px; margin:0 auto; }
.form_fields .form_field label { width:100px; margin-right:10px; font-weight:normal; }
.form_fields .form_field input { width:200px; display:inline-block; }

.buttons { text-align:center; }

