.manage_chat_settings {
	width:100%;
	text-align:left;
}
.manage_chat_settings .action,
   .manage_chat_settings .session_id,
   .manage_chat_settings .logged_user_id,
   .manage_chat_settings .to_user_id,
   .manage_chat_settings .maximum_number_of_loaded_messages {
	margin-bottom:5px;
}
.manage_chat_settings .session_id,
   .manage_chat_settings .logged_user_id {
	width:50%;
	float:left;
}
.manage_chat_settings .action label,
   .manage_chat_settings .session_id label,
   .manage_chat_settings .to_user_id label {
   	width:120px;
	display:inline-block;
}
.manage_chat_settings .logged_user_id label {
   	width:140px;
	display:inline-block;
}
.manage_chat_settings .logged_user_id input {
   	width:200px;
}
.manage_chat_settings .maximum_number_of_loaded_messages input {
	width:30px;
	margin-left:5px;
}
