.admin_panel {
	font-size:80%;
}
.admin_panel > ul {
	background: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
}

/* HOW IT WORKS */
.admin_panel .how_it_works div {
	text-align:center;
	margin:20px 0;
	padding:20px 0;
	border-bottom:1px solid #ccc;
}
.admin_panel .how_it_works div img {
	max-width:90vw;
}

/* TUTORIALS */
.admin_panel .tutorials .card {
	border-left:.25rem solid #b3c8cc;
	border-right:.25rem solid #b3c8cc;
	box-sizing:border-box;
}
.admin_panel .tutorials .card.border_bottom {
	border-bottom:.15rem solid #ddd;
}
.admin_panel .tutorials .card .list-group-item > button .dropdown-toggle {
	position: absolute;
	right: 10px;
	top: 15px;
}
.admin_panel .tutorials .card .list-group-item > button:not(.collapsed) .dropdown-toggle:after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: 0;
	border-right: .3em solid transparent;
	border-bottom: .3em solid;
	border-left: .3em solid transparent;
}

/* MODAL VIDEO */
.modal_video {
	background-color: rgba(0,0,0,0.8);
	cursor:pointer;
}
.modal_video .modal-dialog {
	max-width:none;
	cursor:default;
}
.modal_video .modal-dialog .close-mo-icon {
	cursor:pointer;
}
.modal_video .modal-dialog iframe {
	max-width:80vw;
}
