:root,
  .dark_theme {
	--menu-panel-bg:var(--main-template-bg);
	--menu-panel-color:var(--main-template-color);
	--menu-panel-log-info-border:#555;
	--menu-panel-sub-menu-bg:var(--main-template-bg);
	--menu-panel-sub-menu-border:#151515;
	--menu-panel-sub-menu-item-active-bg:#000;
	--menu-panel-sub-menu-item-bg:#282828;
	--menu-panel-sub-menu-item-color:#ccc;
	
	--left-panel-bg:var(--main-template-bg);
	--left-panel-color:var(--main-template-color);
	--left-panel-tree-item-hover-shadow:#000;
	--left-panel-tree-item-hovered-bg:#555;
	--left-panel-tree-item-clicked-bg:#181818;
	--left-panel-tree-item-clicked-shadow:#000;
	--left-panel-tree-sub-group-color:inherit;
	--left-panel-tree-sub-group-bg:#252525;
	--left-panel-tree-sub-group-hover-bg:var(--left-panel-tree-item-hovered-bg);
	--left-panel-tree-sub-group-sub-menu-icon-color:#aaa;
	--left-panel-tree-entities-folder-bg:var(--left-panel-tree-item-clicked-bg);
}
.light_theme {
	--menu-panel-bg:var(--main-template-bg);
	--menu-panel-color:var(--main-template-color);
	--menu-panel-log-info-border:#ddd;
	--menu-panel-sub-menu-bg:var(--main-template-bg);
	--menu-panel-sub-menu-border:#ddd;
	--menu-panel-sub-menu-item-active-bg:#eee;
	--menu-panel-sub-menu-item-bg:#e5e5e5;
	--menu-panel-sub-menu-item-color:#666;
	
	--left-panel-bg:var(--main-template-bg);
	--left-panel-color:var(--main-template-color);
	--left-panel-tree-item-hover-shadow:#999;
	--left-panel-tree-item-hovered-bg:#ddd;
	--left-panel-tree-item-clicked-bg:#aaa;
	--left-panel-tree-item-clicked-shadow:#999;
	--left-panel-tree-sub-group-color:inherit;
	--left-panel-tree-sub-group-bg:#ccc;
	--left-panel-tree-sub-group-hover-bg:var(--left-panel-tree-item-hovered-bg);
	--left-panel-tree-sub-group-sub-menu-icon-color:#aaa;
	--left-panel-tree-entities-folder-bg:var(--left-panel-tree-item-clicked-bg);
}

/* GENERIC */
#menu_panel {
	position:fixed; 
	left:0; 
	top:0; 
	right:0; 
	height:40px; 
	padding:3px 5px 5px; 
	overflow:hidden; 
	z-index:2; 
	box-sizing:border-box;
	
	color:var(--menu-panel-color);
	border-top:2px solid #ff0000;
	background:var(--menu-panel-bg);
	/*background: -moz-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -o-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -ms-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: linear-gradient(to bottom, #eee 50%, #ffffff73 100%);*/
}
#left_panel {position:absolute; left:0px; top:40px; width:300px; bottom:0px; padding-top:5px; overflow-y:scroll; overflow-x:auto; z-index:1; background:var(--left-panel-bg); color:var(--left-panel-color);}
#hide_panel {position:absolute; left:300px; top:40px; width:5px; bottom:0px; overflow:hidden; background:url("../../img/back_frame_open_close_vertical_red.gif") repeat-y; cursor:ew-resize; z-index:3;}
#right_panel {position:absolute; left:305px; top:40px; right:0px; bottom:0px; z-index:1;}

/* MENU PANEL */
#menu_panel ul {display:inline; margin-top:4px;}
#menu_panel ul.left {float:left;}
#menu_panel ul.right {float:right;}
#menu_panel li {cursor:pointer; margin:0 3px; display:inline-block;}

#menu_panel .logo {width:80px; height:15px; margin:0 10px 0 0; background:url(../../img/logo_full_white.png) left center no-repeat; background-size:contain; vertical-align:middle; cursor:default;}
#menu_panel.light_theme .logo {background-image:url(../../img/logo_full.png);}

#menu_panel .icon {color:inherit;}
#menu_panel .icon:hover {color:var(--icon-hover-color); opacity:1;}
#menu_panel .icon:hover:after {
	content:attr(title);
	margin-top:10px;
	padding:5px;
	position:fixed;
	left:auto;
	top:auto;
	display:block;
	font:inherit;
	font-size:80%;
	color:var(--menu-panel-color);
	background:var(--menu-panel-sub-menu-bg);
	border-left:1px solid var(--menu-panel-sub-menu-border);
	border-right:1px solid var(--menu-panel-sub-menu-border);
	border-bottom:1px solid var(--menu-panel-sub-menu-border);
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
#menu_panel .icon.logout {margin:3px 0 0;}
#menu_panel .icon.logout::after {right:0;}

#menu_panel .login_info {
	margin:0 5px 0 5px;
	padding-left:10px;
	border-left:1px solid var(--menu-panel-log-info-border);
	font-size:80%;
	vertical-align:bottom;
	cursor:default;
}
#menu_panel .login_info .icon {
	color:inherit;
	cursor:default;
}
#menu_panel .login_info .icon:after {
	display:none;
}

#menu_panel .sub_menu:before {
	color:var(--icon-hover-color);
}
#menu_panel .sub_menu:after {
	display:none !important;
}
#menu_panel .sub_menu ul {
	margin-top:0;
	padding-top:10px;
	position:fixed;
	left:-200px;
	background:var(--menu-panel-sub-menu-bg);
	border-bottom:1px solid var(--menu-panel-sub-menu-border);
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	overflow:hidden;
	display:block;
	transition:.5s all;
}
#menu_panel .sub_menu:hover {
	opacity:1;
}
#menu_panel .sub_menu:hover ul {
	left:2px;
}
#menu_panel .sub_menu ul li {
	margin:0;
	padding:0;
	border-left:1px solid var(--menu-panel-sub-menu-border);
	border-right:1px solid var(--menu-panel-sub-menu-border);
	background:var(--menu-panel-sub-menu-item-bg);
	color:var(--menu-panel-sub-menu-item-color);
	font-size:12px;
	display:block;
}
#menu_panel .sub_menu ul li a {
	padding:5px 10px;
	display:block;
	color:inherit;
	text-decoration:none;
}
#menu_panel .sub_menu ul li a .icon {
	color:inherit;
}
#menu_panel .sub_menu ul li a .icon::before {
	color:inherit;
}
#menu_panel .sub_menu ul li:hover {
	opacity:.6;
}
#menu_panel .sub_menu ul li.active {
	background:var(--menu-panel-sub-menu-item-active-bg);
}

#menu_panel .filter_by_layout {margin:0 5px; text-align:center; font-size:14px;}
#menu_panel .filter_by_layout label {display:inline-block; font-size:80%; font-weight:normal; font-style:normal; vertical-align:middle;}
#menu_panel .filter_by_layout select {width:auto; display:inline-block; background:var(--menu-panel-bg); border:0; color:inherit; font-size:80%; vertical-align:baseline; cursor:pointer;}

/* HIDE PANEL */
#hide_panel .button {position:absolute; top:45%; top:calc(50% - 17px); width:5px; height:34px; left:0; cursor:pointer;}
#hide_panel .button.maximize {background:url("../../img/tool_frame_right.gif") no-repeat;}
#hide_panel .button.minimize {background:url("../../img/tool_frame_left.gif") no-repeat;}

/* RIGHT PANEL */
#right_panel iframe {position:absolute; display:block; border:0; width:100%; height:100%; padding:0; margin:0;}
#right_panel.dragging::after {
	content:"";
	display:block;
	position:absolute; 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
	background:#000;
	opacity:0.6;
	-ms-filter: alpha(opacity=60);/* For IE 8 */
	filter: alpha(opacity=60);/* For IE */
}
#right_panel .iframe_overlay {
	position:absolute; 
	border:0; 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
	background:#000;
	opacity:0.6;
	-ms-filter: alpha(opacity=60);/* For IE 8 */
	filter: alpha(opacity=60);/* For IE */
}
#right_panel .iframe_overlay .iframe_loading {
	width:24px; 
	height:24px; 
	line-height:24px;
	margin:0 auto;
	position:relative;
	top:48%;
	background:url("../../common/img/loading_slower.gif") no-repeat;
	
	padding-left:30px;
	font-weight:bold;
	color:#FFF;
	font-size:20px;
}

/* LEFT PANEL */
#left_panel .file_tree_root {width:24px; height:24px; background: url("../../img/icons.png") -202px -47px no-repeat !important; display:none;}
#left_panel .mytree li {
	background-color:transparent;
}
#left_panel .mytree .jstree-anchor.jstree-clicked.jstree-hovered, 
  #left_panel .mytree .jstree-anchor.link.jstree-clicked.jstree-hovered,
  #left_panel .mytree .jstree-anchor.link.jstree-hovered {
	box-shadow:inset 0 0 1px var(--left-panel-tree-item-hover-shadow);
}
#left_panel .mytree .jstree-clicked {
	background-color:var(--left-panel-tree-item-clicked-bg) !important;
	box-shadow:inset 0 0 1px var(--left-panel-tree-item-clicked-shadow);
}
#left_panel .mytree .jstree-anchor.link.jstree-hovered {
	background-color:var(--left-panel-tree-item-hovered-bg) !important;
}
#left_panel .mytree a {
	color:inherit;
}
#left_panel .mytree a > label, 
  #left_panel .mytree a > label > label {
	font-weight:normal;
	font-style:normal;
}
#left_panel:not(.advanced_level) .mytree li[data-jstree='{"icon":"main_node main_node_data_access_layers"}'] {display:none;}
#left_panel:not(.advanced_level) .mytree li[data-jstree='{"icon":"main_node main_node_library"}'] {display:none;}

/* LEFT PANEL - WITH TABS */
#left_panel.left_panel_with_tabs .mytree > ul {margin-left:-15px; border:0; font-size:12px; background:transparent; color:inherit;}
#left_panel.left_panel_with_tabs .file_tree_root {display:none;}
#left_panel.left_panel_with_tabs .tabs {margin-left:15px; background:unset; border-top:0; border-left:0; border-right:0; border-radius:0;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node {height:30px; box-sizing:border-box; padding:2px 5px 5px; background:var(--left-panel-bg);}
#left_panel.left_panel_with_tabs .tabs .tab_main_node:not(.ui-tabs-active) {margin-top:-4px; opacity:.5;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node.ui-state-active {margin-top:-3px;}
#left_panel.left_panel_with_tabs:not(.advanced_level) .tabs .tab_main_node_data_access_layers {display:none;}
#left_panel.left_panel_with_tabs:not(.advanced_level) .tabs .tab_main_node_library {display:none;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node_library {float:right;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node_management {float:right;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node a {padding:0;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node a .tab_icon {display:inline-block;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node a .icon.sub_menu {width:5px; margin-left:5px; vertical-align:bottom; font-size:16px; color:var(--icon-hover-color);}
#left_panel.left_panel_with_tabs .tabs .tab_main_node:not(.ui-state-active) a .icon.sub_menu {display:none;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node a .icon.sub_menu::before {content:"\f142";}
#left_panel.left_panel_with_tabs .tabs .tab_main_node a .icon.sub_menu:hover::after {content:"Click me"; position:fixed; top:auto; left:auto; margin:20px 0 0 -30px; color:var(--main-template-color); font: initial; font-family:var(--main-font-family); font-size:8px; }
#left_panel.left_panel_with_tabs .main_tree_node {padding:0 0 0 15px; background:transparent; color:inherit;}
#left_panel.left_panel_with_tabs .main_tree_node > a > label, #left_panel .main_tree_node > a > label > label {font-style:normal; opacity:.9;}
#left_panel.left_panel_with_tabs .main_tree_node > ul {background:transparent;}

/* LEFT PANEL - WITH SUB GROUPS */
#left_panel .with_sub_groups > ul > li {
	margin:10px;
	background:unset;
}
#left_panel .layers > .mytree.with_sub_groups > ul > li:first-child {
	padding-top:0;
}
#left_panel .with_sub_groups > ul > li > a > label {
	width:calc(100% - 30px);
	display:inline-block;
}
#left_panel .with_sub_groups > ul > li > .jstree-icon {
	position:absolute;
}
#left_panel .with_sub_groups > ul > li.jstree-closed > .jstree-icon {
	background-position:-3px 0;
}
#left_panel .with_sub_groups > ul > li.jstree-open > .jstree-icon {
	background-position:-35px 0;
}
#left_panel .with_sub_groups > ul > li.jstree-loading > .jstree-icon {
	background-position:5px 8px;
}
#left_panel .with_sub_groups > ul > li {
	position:relative;
}
#left_panel .with_sub_groups > ul > li > a {
	padding:5px 5px 5px 25px;
	border-radius:5px;
	background-color:var(--left-panel-tree-sub-group-bg);
	color:var(--left-panel-tree-sub-group-color) !important;
	display:block;
}
#left_panel .with_sub_groups > ul > li > a.jstree-hovered {
	background-color:var(--left-panel-tree-sub-group-hover-bg) !important;
}
#left_panel .with_sub_groups > ul > li > .icon.sub_menu {
	position:absolute;
	top:12px;
	right:5px;
	color:var(--left-panel-tree-sub-group-sub-menu-icon-color);
	color:#aaa;
}
#left_panel .with_sub_groups > ul > li > ul > li {
	/*margin-left:0;*/
}

/* LEFT PANEL - WITHOUT SUB GROUPS */
#left_panel .mytree li.hide_tree_item > a,
  #left_panel .mytree li.hide_tree_item > i,
  #left_panel .mytree li.hide_tree_item > .sub_menu {
	display:none;
}
#left_panel .mytree li.hide_tree_item:first-child {
	padding-top:0;
}
#left_panel .mytree li.hide_tree_item:not(.with_sub_groups) > ul > li {
	margin-left:0;
}
#left_panel .mytree li.hide_tree_item > ul > li.with_sub_groups:not(.hide_tree_item) {
	margin-left:10px;
}
#left_panel .mytree li.hide_tree_item:not(.with_sub_groups) > ul > li:first-child:not(.hide_tree_item) {
	padding-top:10px;
}
#left_panel .mytree li.hide_tree_item.with_sub_groups > ul > li:first-child:not(.hide_tree_item) {
	padding-top:0;
}

/* LEFT PANEL - WITHOUT TABS */
#left_panel.left_panel_without_tabs .mytree > ul > li > .jstree-icon {
	position:absolute;
}
#left_panel.left_panel_without_tabs .mytree > ul > li.jstree-closed > .jstree-icon {
	background-position:-3px 0;
}
#left_panel.left_panel_without_tabs .mytree > ul > li.jstree-open > .jstree-icon {
	background-position:-35px 0;
}
#left_panel.left_panel_without_tabs .mytree > ul > li.jstree-loading > .jstree-icon {
	background-position:5px 8px;
}
#left_panel.left_panel_without_tabs .mytree > ul > li {
	position:relative;
}
#left_panel.left_panel_without_tabs .mytree > ul > li > a {
	padding:5px 5px 5px 25px;
	background-color:var(--left-panel-tree-sub-group-bg);
	color:var(--left-panel-tree-sub-group-color) !important;
	display:block;
}
#left_panel.left_panel_without_tabs .mytree > ul > li.jstree-closed > a {
	border-bottom:1px solid var(--left-panel-tree-sub-group-hover-bg);
}
#left_panel.left_panel_without_tabs .mytree > ul > li > a.jstree-hovered {
	background-color:var(--left-panel-tree-sub-group-hover-bg) !important;
}
#left_panel.left_panel_without_tabs .mytree > ul > li > ul {
	padding-bottom:10px;
}


/* LEFT PANEL - PRESENTATION LAYER */
#left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"configs_folder"}'],
  #left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"views_folder"}'],
  #left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"blocks_folder"}'],
  #left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"utils_folder"}'],
  #left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"properties"}'] {
	display:none;
}
#left_panel.advanced_level .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"configs_folder"}'],
  #left_panel.advanced_level .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"views_folder"}'],
  #left_panel.advanced_level .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"blocks_folder"}'],
  #left_panel.advanced_level .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"utils_folder"}'],
  #left_panel.advanced_level .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"properties"}'] {
	display:block;
}
#left_panel.left_panel_with_tabs .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"entities_folder"}'] > a {
	background-color:var(--left-panel-tree-entities-folder-bg);
}
#left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"entities_folder"}'] > a > label {
	text-indent:-9999px;
	display:inline-block;
}
#left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"entities_folder"}'] > a > label:after {
	content:"pages";
	text-indent:0px;
	float:left;
}

/* LEFT PANEL - TREE ICONS */
#left_panel:not(.light_theme) .mytree i.jstree-themeicon:not(.reserved_file):not(.reserved_folder):not(.undefined_file)::after, 
  #left_panel:not(.light_theme) .mytree i.tab_icon::after {
	color:#fff;
}

/* LEFT PANEL - CONTEXT MENUS */
#presentation_project_context_menu li.level {
	padding:5px 0;
	background:#ddd;
}
#presentation_project_context_menu li.level::before {
	content:"\f5fd";
	vertical-align:middle;
}
#presentation_project_context_menu li.level label {
	margin-left:5px;
	padding:4px 5px 4px 2px;
	font-weight:normal;
	vertical-align:middle;
}
#presentation_project_context_menu li.level select {
	background:transparent;
	border:none;
	font-size:inherit;
	color:inherit;
	cursor:pointer;
}
