body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size:14px;
	font-weight:400;
}

.error {
	margin-top:20px;
	color:red;
	text-align:center;
}

/* DB PROPERTIES POPUP */
#selected_menu_properties {
	min-width:200px;
}

/* LEFT PANEL */
#left_panel {
	width:170px; 
	position:absolute; 
	left:0px; 
	top:0px; 
	bottom:0px;
	background:#b3c8cc;
	color:#444;
	border-right:1px solid #b3c8cc;
	
	transition:all 1s;
}
.left_panel_shrinked #left_panel {
	width:30px; 
}

#left_panel > ul.dropdown-1 {
	height:69px;
	position:absolute; 
	top:0;
	left:0;
	right:0;
	background:#586264;
	color:#fff;
}
#left_panel > ul.dropdown-1 > li > .item_header > .sub_menu {
	right:8px;
}
#left_panel > ul.dropdown-1 > li.open > .item_header:after {
	right:10px;
}
#left_panel > ul.dropdown-2 {
	padding-bottom:20px;
	position:absolute; 
	top:69px;
	left:0;
	right:0;
	bottom:0;
	overflow-x:hidden;
	overflow-y:scroll;
	background:#b3c8cc;
}
#left_panel > ul li .item_header {
	height:37px;
	padding:8px 8px 8px 30px;
	box-sizing:border-box;
	display:block;
	position:relative;
	text-decoration:none;
	color:inherit;
	font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
}
#left_panel > ul > li.open > .item_header:after {
	content: " ";
	height: 0;
	width: 0;
	margin-top:-8px;
	display:block;
	position:absolute;
	right:2px;
	border: solid 8px transparent;
	border-top-color: transparent;
	border-top-style: solid;
	border-top-width: 8px;
	border-right-color: transparent;
	border-right-style: solid;
	border-right-width: 8px;
	border-bottom-color: #586264;
	border-bottom-style: solid;
	border-bottom-width: 8px;
	border-left-color: transparent;
	border-left-style: solid;
	border-left-width: 8px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	pointer-events: none;
	opacity:0;
	transition: all 1s;
}
#left_panel > ul > li.selected_project.open > .item_header:after {
	border-bottom-color:#474f50;
}
#left_panel > ul > li.with_sub_menu.open > .item_header:after {
	opacity:1;
}
#left_panel > ul > li.selected_project > .item_header {
	height:auto;
	padding:8px;
	font-size:80%;
}
.left_panel_shrinked #left_panel > ul > li.selected_project > .item_header {
	white-space:nowrap;
}
.left_panel_shrinked #left_panel > ul > li > .item_header > i {
	display:none;
}
#left_panel > ul > li.dashboard > .item_header {
	border-top:1px solid #485152;
	border-bottom:2px solid #485152;
}
#left_panel > ul > li:hover:not(.dashboard):not(.selected_project) > .item_header {
	background:#d5e3e4;
	color:#666;
}
#left_panel > ul > li.dashboard:hover > .item_header {
	background: #616c6e;
}
#left_panel > ul > li > .item_header > .selected {
	width:3px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}
#left_panel > ul > li:hover > .item_header > .selected {
	background:#586264;
}
#left_panel > ul li > .item_header > .logo {
	width:20px;
	padding-top:12px;
	position:absolute;
	top:0;
	left:3px;
	bottom:0;
	text-align:center;
}
#left_panel > ul > li:hover > .item_header > .logo {
	-webkit-animation:zmdi-spin 1.5s infinite linear;
	animation:zmdi-spin 1.5s infinite linear;
}
#left_panel > ul li > .item_header > label {
	height:100%;
	color:inherit;
	font-weight:inherit;
	font-family:inherit;
	font-style:inherit;
}
#left_panel > ul li > a.item_header > label {
	cursor:pointer;
}
#left_panel > ul > li.selected_project > .item_header > label:before {
	content:"Project: ";
}
#left_panel > ul li > .item_header > .sub_menu {
	width:20px;
	padding-top:12px;
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	text-align:center;
	opacity:.5;
}
#left_panel > ul li.open > .item_header > .sub_menu:before {
	content:"\f077";
}
#left_panel > ul > li.selected_project > .item_header > .sub_menu {
	padding-top:10px;
}
#left_panel > ul li > .item_header > .sub_menu:hover {
	color:#333;
}
#left_panel > ul > li.selected_project > .item_header > .sub_menu:hover {
	color:#ccc;
}
#left_panel > ul > li ul {
	height:0;
	background:#586264;
	color:#fff;
	overflow:hidden;
	transition:all .5s;
}
#left_panel > ul > li ul ul {
	margin-left:10px;
	overflow:visible;
}
#left_panel > ul > li.selected_project > ul {
	width:170px;
	height:0;
	position:fixed;
	top:32px;
	left:0;
	overflow-x:hidden;
	overflow-y:auto;
	background:#474f50;
	z-index:1;
}
#left_panel > ul > li.selected_project > ul > li ul {
	background:#474f50;
}
#left_panel > ul > li.selected_project > ul > li:last-child {
	margin-bottom:10px;
}
#left_panel > ul > li.open ul {
	height:auto;
}
#left_panel > ul > li.selected_project.open > ul {
	height:calc(100% - 32px);
	/*padding-top:10px;
	padding-bottom:20px;*/
	box-sizing:border-box;
}
#left_panel > ul > li.db.open > ul {
	height:260px;
}
#left_panel > ul > li.templates.open > ul {
	height:75px;
}
#left_panel > ul > li.utils.open > ul {
	height:75px;
}
#left_panel > ul > li.others.open > ul {
	min-height:297px;
}
#left_panel > ul > li ul > li > .item_header {
	padding-left:25px;
}
#left_panel > ul > li.selected_project ul > li > .item_header {
	height:auto;
}
#left_panel > ul > li ul > li:hover > .item_header {
	background:#6d787af0;
}
#left_panel > ul > li.selected_project ul > li:hover > .item_header {
	background:#424949;
}
#left_panel > ul > li.selected_project ul > li.choose_another_project > .item_header {
	border-bottom:1px solid #394040;
	color:#ccc;
}
#left_panel > ul > li.selected_project ul > li.project_folder:hover > .item_header {
	background:unset;
	cursor:not-allowed;
}
#left_panel > ul > li.selected_project ul > li.project_folder:hover > .item_header label {
	cursor:not-allowed;
}
#left_panel > ul > li.selected_project ul > li.shown_project:not(:hover) > .item_header {
	background:#393f40;
}
#left_panel > ul > li ul > li > .item_header > .selected {
	width:3px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}
#left_panel > ul > li ul > li:hover > .item_header > .selected {
	background:#d5e3e4;
}
#left_panel > ul > li.selected_project ul > li:hover > .item_header > .selected {
	background:#1c2020;
}
#left_panel > ul > li ul > li > .item_header > label {
	font-size:90%;
	white-space:nowrap;
}
#left_panel > ul > li.selected_project ul > li > .item_header > label {
	font-size:80%;
}
#left_panel > ul li > ul > li > .item_header > .logo {
	padding-top:10px;
}
#left_panel > ul li > ul > li.tools {
	border-top:1px solid #d5e3e4;
}

/* TOP RIGHT PANEL */
#top_right_panel {
	height:25px;
	position:absolute; 
	top:0;
	left:170px;
	right:0;
	background:#586264;
	
	transition:all 1s;
}
.left_panel_shrinked #top_right_panel {
	left:30px;
}
#top_right_panel .toggle_left_panel {
	margin-right:20px;
	color:#fff;
	vertical-align:middle;
	cursor:pointer;
}
#top_right_panel .login_info {
	line-height:25px;
	color:#fff;
	font-size:80%;
}
#top_right_panel .icon {
	margin-top:5px;
	float:right;
}
#top_right_panel .left {
	background:url("../../common/img/icon/left_icon.gif") no-repeat scroll 0 0;
}
#top_right_panel .home {
	background:url("../../common/img/icon/home_icon.png") no-repeat scroll 0 0;
}
#top_right_panel .icon:hover {
	opacity:.6;
}

/* RIGHT PANEL */
#right_panel {
	position:absolute; 
	left:170px; 
	top:25px; 
	right:0px; 
	bottom:0px;
	
	transition:all 1s;
}
.left_panel_shrinked #right_panel {
	left:30px;
}
#right_panel iframe {position:absolute; display:block; border:0; width:100%; height:100%; padding:0; margin:0; background:#f5f5f5 !important;}
#right_panel .iframe_overlay {
	position:absolute; 
	border:0; 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
	background:#000;
	opacity:0.6;
	-ms-filter: alpha(opacity=60);/* For IE 8 */
	filter: alpha(opacity=60);/* For IE */
}
#right_panel .iframe_overlay .iframe_loading {
	width:24px; 
	height:24px; 
	line-height:24px;
	margin:0 auto;
	position:relative;
	top:48%;
	background:url("../../common/img/loading_slower.gif") no-repeat;
	
	padding-left:30px;
	font-weight:bold;
	color:#FFF;
	font-size:20px;
}

