#top_panel ul.left {
	font-size:12px;
}
#top_panel ul.left .link {
	cursor:pointer;
}
#top_panel ul.left .logo {
	margin-right:20px;
	vertical-align:sub;
}

#right_panel {
	left:0;
	top:45px;
	right:0px;
	bottom:0px;
}
body.main_navigator_reverse #right_panel {
	right:0px;
}
