#menu_panel {
	position:fixed; 
	left:0px; 
	top:0px; 
	width:300px; 
	height:32px; 
	padding:3px 5px 5px; 
	overflow:hidden; 
	z-index:2; 
	box-sizing:border-box;
	
	border-top:2px solid #ff0000;
	background: -moz-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -o-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -ms-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: linear-gradient(to bottom, #eee 50%, #ffffff73 100%);
}
#left_panel {position:absolute; left:0px; top:32px; width:300px; bottom:0px; padding-top:5px; overflow-y:scroll; overflow-x:auto; z-index:1;}
#hide_panel {position:absolute; left:300px; top:0px; width:5px; bottom:0px; overflow:hidden; background:url("../../img/back_frame_open_close_vertical_red.gif") repeat-y; cursor:ew-resize; z-index:3;}
#right_panel {position:absolute; left:305px; top:0px; right:0px; bottom:0px; z-index:1;}

#menu_panel li {cursor:pointer; margin:0 3px; display:inline-block; font-size:14px;}
#menu_panel .expand_left_panel {float:right; margin-top:3px;}
#menu_panel .collapse_left_panel {float:right; margin-top:3px;}
#menu_panel .login_info {
	margin:3px 5px 0;
	color:#586264;
	font-size:80%;
	float:right;
	opacity:.5;
}

#left_panel .file_tree_root {width:24px; height:24px; background: url("../../img/icons.png") -202px -47px no-repeat !important;}
#left_panel #file_tree a > label, #left_panel #file_tree a > label > label {font-weight:normal; font-style:normal;}

#left_panel.left_panel_with_tabs #file_tree > ul {margin-top:15px; margin-left:-15px; border:0; font-size:12px;}
#left_panel.left_panel_with_tabs .file_tree_root {display:none;}
#left_panel.left_panel_with_tabs .tabs {margin-left:15px; background:unset; border-top:0; border-left:0; border-right:0; border-radius:0;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node {background:#fff; padding:2px 5px 5px;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node.ui-state-active {background:#eee;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node_vendor {float:right; top:2px; right:36px;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node_management {float:right; top:2px; right:-30px;}
#left_panel.left_panel_with_tabs .tabs a {padding:0;}
#left_panel.left_panel_with_tabs .tabs a .icon {display:inline-block; width:24px; height:24px; margin:0;}
#left_panel.left_panel_with_tabs .main_tree_node {padding:0 0 0 15px; background:#eee;}
#left_panel.left_panel_with_tabs .main_tree_node > a > label, #left_panel .main_tree_node > a > label > label {font-style:normal; opacity:.9;}
#left_panel.left_panel_with_tabs .main_tree_node > ul {background:#fff;}

#left_panel .filter_by_layout {margin:20px 5px; text-align:center;}
#left_panel .filter_by_layout label {font-size:80%; font-weight:normal; font-style:normal; color:#999;}
#left_panel .filter_by_layout select {width:calc(100% - 60px); background:#fff; border:1px solid #ccc; color:#999; font-size:80%;}

#hide_panel .button {position:absolute; top:45%; top:calc(50% - 17px); width:5px; height:34px; left:0; cursor:pointer;}
#hide_panel .button.maximize {background:url("../../img/tool_frame_right.gif") no-repeat;}
#hide_panel .button.minimize {background:url("../../img/tool_frame_left.gif") no-repeat;}

#right_panel iframe {position:absolute; display:block; border:0; width:100%; height:100%; padding:0; margin:0;}
#right_panel .iframe_overlay {
	position:absolute; 
	border:0; 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
	background:#000;
	opacity:0.6;
	-ms-filter: alpha(opacity=60);/* For IE 8 */
	filter: alpha(opacity=60);/* For IE */
}
#right_panel .iframe_overlay .iframe_loading {
	width:24px; 
	height:24px; 
	line-height:24px;
	margin:0 auto;
	position:relative;
	top:48%;
	background:url("../../common/img/loading_slower.gif") no-repeat;
	
	padding-left:30px;
	font-weight:bold;
	color:#FFF;
	font-size:20px;
}

