:root,
  .light_theme {
  	--top-panel-border:#ff0000;
	--top-panel-bg:#2C2D34;
	--top-panel-color:#BFC4DB;
	--top-panel-sub-menu-bg:var(--top-panel-bg);
	--top-panel-sub-menu-border:#4e505e;
	--top-panel-sub-menu-item-bg:var(--top-panel-bg);
	--top-panel-sub-menu-item-color:var(--top-panel-color);
	--top-panel-sub-menu-item-hover-bg:#4e505e;
  	
  	--menu-panel-border:#83889E;
	--menu-panel-bg:var(--main-template-bg);
	--menu-panel-color:var(--main-template-color);
	--menu-panel-sub-menu-bg:var(--menu-panel-bg);
	--menu-panel-sub-menu-border:var(--main-context-menu-border);
	--menu-panel-sub-menu-item-bg:var(--main-context-menu-bg);
	--menu-panel-sub-menu-item-color:var(--main-context-menu-color);
	--menu-panel-sub-menu-item-hover-bg:var(--main-context-menu-hover-bg);
	
	--left-panel-bg:var(--main-template-bg);
	--left-panel-color:#83889E;
	--left-panel-tree-tabs-bg:#F8F9FC;
	--left-panel-tree-tabs-border:#83889E;
	--left-panel-tree-tabs-color:#83889E;
	--left-panel-tree-tabs-active-color:#2C2D34;
	--left-panel-tree-item-hover-shadow:#999;
	--left-panel-tree-item-hovered-bg:#eef2ff;
	--left-panel-tree-item-clicked-bg:#f1f3ff;
	--left-panel-tree-item-clicked-shadow:#999;
	--left-panel-tree-sub-group-color:var(--main-template-color);
	--left-panel-tree-sub-group-bg:#F8F9FC;
	--left-panel-tree-sub-group-border:#e6e9f2;
	--left-panel-tree-sub-group-hover-bg:var(--left-panel-tree-item-hovered-bg);
	--left-panel-tree-sub-group-sub-menu-icon-color:#aaa;
	--left-panel-tree-entities-folder-bg:#f2f5fe;
}
.dark_theme {
	--top-panel-border:#ff0000;
	--top-panel-bg:#4e505e;
	--top-panel-color:#BFC4DB;
	--top-panel-sub-menu-bg:var(--top-panel-bg);
	--top-panel-sub-menu-border:#2C2D34;
	--top-panel-sub-menu-item-bg:var(--top-panel-bg);
	--top-panel-sub-menu-item-color:var(--top-panel-color);
	--top-panel-sub-menu-item-hover-bg:#2C2D34;
  	
	--menu-panel-border:#979bae;
	--menu-panel-bg:var(--main-template-bg);
	--menu-panel-color:var(--main-template-color);
	--menu-panel-sub-menu-bg:var(--menu-panel-bg);
	--menu-panel-sub-menu-border:var(--main-context-menu-border);
	--menu-panel-sub-menu-item-bg:var(--main-context-menu-bg);
	--menu-panel-sub-menu-item-color:var(--main-context-menu-color);
	--menu-panel-sub-menu-item-hover-bg:var(--main-context-menu-hover-bg);
	
	--left-panel-bg:var(--main-template-bg);
	--left-panel-color:var(--main-template-color);
	--left-panel-tree-tabs-bg:var(--main-template-bg);
	--left-panel-tree-tabs-color:var(--main-template-color);
	--left-panel-tree-tabs-active-color:var(--main-template-color);
	--left-panel-tree-item-hover-shadow:#000;
	--left-panel-tree-item-hovered-bg:#555;
	--left-panel-tree-item-clicked-bg:#181818;
	--left-panel-tree-item-clicked-shadow:#000;
	--left-panel-tree-sub-group-color:var(--main-template-color);
	--left-panel-tree-sub-group-bg:#252525;
	--left-panel-tree-sub-group-border:#252525;
	--left-panel-tree-sub-group-hover-bg:var(--left-panel-tree-item-hovered-bg);
	--left-panel-tree-sub-group-sub-menu-icon-color:#aaa;
	--left-panel-tree-entities-folder-bg:var(--left-panel-tree-item-clicked-bg);
}

/* GENERIC */
#first_top_panel {
	position:fixed; 
	left:0; 
	top:0; 
	right:0; 
	height:35px; 
	padding:3px 5px 5px; 
	overflow:hidden; 
	z-index:3; 
	box-sizing:border-box;
	
	border-top:2px solid var(--top-panel-border);
	background:var(--top-panel-bg);
	color:var(--top-panel-color);
	font-size:13px;
}
#second_top_panel {
	position:fixed; 
	left:0; 
	top:35px; 
	right:0; 
	height:30px; 
	padding:3px 5px 5px; 
	overflow:hidden; 
	z-index:2; 
	box-sizing:border-box;
	
	border-bottom:1px solid var(--menu-panel-border);
	background:var(--menu-panel-bg);
	color:var(--menu-panel-color);
}
#left_panel {position:absolute; left:0px; top:65px; width:300px; bottom:0px; overflow:hidden; z-index:1; background:var(--left-panel-bg); color:var(--left-panel-color);}
#hide_panel {position:absolute; left:300px; top:65px; width:5px; bottom:0px; overflow:hidden; border-left:1px solid var(--resize-bar-border); border-right:1px solid var(--resize-bar-border); background:var(--resize-bar-bg); /*background:url("../../img/back_frame_open_close_vertical_red.gif") repeat-y; background-size:contain*/; cursor:ew-resize; z-index:3;}
#right_panel {position:absolute; left:305px; top:65px; right:0px; bottom:0px; z-index:1;}

#left_panel:not(.dragging), #hide_panel:not(.dragging), #right_panel:not(.dragging) {transition:.2s all;}

/* TOP PANEL */
.top_panel ul {display:inline;}
.top_panel ul.left {margin-left:10px; float:left;}
#first_top_panel ul.left {margin-top:5px;}
.top_panel ul.right {margin-right:6px; float:right;}
#first_top_panel ul.right {margin-top:3px; margin-right:5px;}
#second_top_panel ul.right {margin-top:2px; font-size:10pt;}
.top_panel li {cursor:pointer; margin:0 3px; display:inline-block;}
.top_panel li.separator {margin:0 5px; cursor:default; opacity:.5; font-style:normal; vertical-align:middle;}

.top_panel .logo {width:80px; height:15px; margin:0 10px 0 0; background:url(../../img/logo_full_white.png) left center no-repeat; background-size:contain; vertical-align:middle; cursor:default;}

.top_panel .icon {color:inherit;}
.top_panel .icon:hover {color:var(--icon-hover-color); opacity:1;}
.top_panel .icon:hover:after,
  .top_panel .icon:active:after,
  .top_panel .icon:focus:after {
	content:attr(data-title);
	margin-left:-10px;
	padding:5px;
	position:fixed;
	left:auto;
	top:auto;
	display:block;
	font:inherit;
	font-size:8pt;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
#first_top_panel .icon:hover:after {
	margin-top:8px;
	color:var(--top-panel-color);
	background:var(--top-panel-sub-menu-bg);
	border-left:1px solid var(--top-panel-sub-menu-border);
	border-right:1px solid var(--top-panel-sub-menu-border);
	border-bottom:1px solid var(--top-panel-sub-menu-border);
}
#second_top_panel .icon:hover:after {
	margin-top:8px;
	color:var(--menu-panel-color);
	background:var(--menu-panel-sub-menu-bg);
	border-left:1px solid var(--menu-panel-sub-menu-border);
	border-right:1px solid var(--menu-panel-sub-menu-border);
	border-bottom:1px solid var(--menu-panel-sub-menu-border);
}
#second_top_panel .question.icon:hover:after {
	right:0;
}
.top_panel .icon.full_screen::before {
	font-size:inherit;
}
.top_panel .icon.full_screen:hover:after {
	right:50px;
}

.top_panel > ul > li.sub_menu > .icon.sub_menu_vertical {
	font-size:14px;
	margin-top:1px;
}
.top_panel > ul > li.sub_menu .icon:after {
	display:none !important;
}
.top_panel > ul > li.sub_menu ul {
	margin-top:0;
	position:fixed;
	right:-500px;
	background:transparent;
	overflow:hidden;
	display:block;
	transition:.5s all;
}
#first_top_panel > ul > li.sub_menu ul {
	padding-top:15px;
	border-bottom:0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#second_top_panel > ul > li.sub_menu ul {
	padding-top:7px;
	border-bottom:1px solid var(--menu-panel-sub-menu-border);
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.top_panel > ul > li.sub_menu:hover {
	opacity:1;
}
.top_panel > ul > li.sub_menu:hover ul {
	right:2px;
}
.top_panel > ul > li.sub_menu:hover ul > .triangle_up {
	width:0;
	height:0;
	position:absolute;
	top:-1px;
	right:13px;
	border-top:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid var(--menu-panel-sub-menu-border);
	border-left:8px solid transparent;
}
.top_panel > ul > li.sub_menu:hover ul > .triangle_up {
	border-bottom-color:var(--top-panel-sub-menu-border);
}
.top_panel > ul > li.sub_menu:hover ul > .triangle_up:after {
	content:" ";
	height:0;
	width:0;
	position:absolute;
	top:-6px;
	left:-7px;
	border-top:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid var(--menu-panel-sub-menu-item-bg);
	border-left:7px solid transparent;
}
.top_panel > ul > li.sub_menu:hover ul > .triangle_up:after {
	border-bottom-color:var(--top-panel-sub-menu-item-bg);
}
.top_panel > ul > li.sub_menu ul li {
	margin:0;
	padding:0;
	border-left:1px solid var(--menu-panel-sub-menu-border);
	border-right:1px solid var(--menu-panel-sub-menu-border);
	background:var(--menu-panel-sub-menu-item-bg);
	color:var(--menu-panel-sub-menu-item-color);
	font-size:12px;
	display:block;
	white-space:nowrap;
}
.top_panel > ul > li.sub_menu ul li:nth-of-type(1) {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#first_top_panel > ul > li.sub_menu ul li {
	border-left:1px solid var(--top-panel-sub-menu-border);
	border-right:1px solid var(--top-panel-sub-menu-border);
	background:var(--top-panel-sub-menu-item-bg);
	color:var(--top-panel-sub-menu-item-color);
}
#second_top_panel > ul > li.sub_menu ul li {
	border-left:1px solid var(--menu-panel-sub-menu-border);
	border-right:1px solid var(--menu-panel-sub-menu-border);
	background:var(--menu-panel-sub-menu-item-bg);
	color:var(--menu-panel-sub-menu-item-color);
}
#first_top_panel > ul > li.sub_menu ul li:hover {
	background:var(--top-panel-sub-menu-item-hover-bg);
}
#second_top_panel > ul > li.sub_menu ul li:hover {
	background:var(--menu-panel-sub-menu-item-hover-bg);
}
.top_panel > ul > li.sub_menu ul li a {
	padding:10px 10px;
	display:block;
	color:inherit;
	text-decoration:none;
	font-size:8pt;
}

.top_panel > ul > li.sub_menu.sub_menu_user {
	margin-left:0;
}
.top_panel > ul > li.sub_menu.sub_menu_user .logged_user_icon {
	width:20px;
	display:inline-block;
	text-align:center;
	border-radius:100%;
	background:var(--icon-hover-color);
	color:#fff;
}
.top_panel > ul > li.sub_menu.sub_menu_user > ul li.login_info:hover {
	background:var(--top-panel-sub-menu-item-bg) !important;
}
.top_panel > ul > li.sub_menu.sub_menu_user > ul li.login_info a {
	cursor:default;
	color:var(--icon-hover-color);
}
.top_panel > ul > li.sub_menu.sub_menu_user > ul li.login_info a .logged_user_icon {
	width:17px;
	margin-left:-3px;
	margin-right:3px;
}
.top_panel > ul > li.sub_menu.sub_menu_user > ul li.logout {
	border-top:1px solid var(--menu-panel-sub-menu-border);
}
.top_panel > ul > li.sub_menu.sub_menu_user > ul li .icon:hover {
	color:inherit;
	cursor:default;
	opacity:.8;
}

.top_panel .filter_by_layout {margin:0; text-align:center; font-size:14px;}
.top_panel .filter_by_layout label {display:inline-block; font-size:80%; font-weight:normal; font-style:normal; vertical-align:middle; opacity:.7;}
.top_panel .filter_by_layout select {width:auto; display:inline-block; background:var(--menu-panel-bg); border:0; color:var(--menu-panel-color); font-size:80%; vertical-align:baseline; cursor:pointer;}

/* HIDE PANEL */
#hide_panel .button {position:absolute; top:45%; top:calc(50% - 17px); width:100%; height:34px; left:0; cursor:pointer; background:none;}
/*#hide_panel .button::before,
  #hide_panel .button::after {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f58e"; 
	color:#fff;
	display:block;
	margin:5px 0;
}*/
#hide_panel .button.maximize {background:url("../../img/tool_frame_right.gif") no-repeat; background-size:100% 100%;}
#hide_panel .button.minimize {background:url("../../img/tool_frame_left.gif") no-repeat; background-size:100% 100%;}

/* RIGHT PANEL */
#right_panel iframe {position:absolute; display:block; border:0; width:100%; height:100%; padding:0; margin:0;}
#right_panel.dragging::after {
	content:"";
	display:block;
	position:absolute; 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
	background:#000;
	opacity:0.6;
	-ms-filter: alpha(opacity=60);/* For IE 8 */
	filter: alpha(opacity=60);/* For IE */
}
#right_panel .iframe_overlay {
	position:absolute; 
	border:0; 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
	background:#000;
	opacity:0.6;
	-ms-filter: alpha(opacity=60);/* For IE 8 */
	filter: alpha(opacity=60);/* For IE */
}
#right_panel .iframe_overlay .iframe_loading {
	width:24px; 
	height:24px; 
	line-height:24px;
	margin:0 auto;
	position:relative;
	top:48%;
	background:url("../../common/img/loading_slower.gif") no-repeat;
	
	padding-left:30px;
	font-weight:bold;
	color:#FFF;
	font-size:20px;
}

/* LEFT PANEL */
#left_panel .file_tree_root {width:24px; height:24px; background: url("../../img/icons.png") -202px -47px no-repeat !important; display:none;}
#left_panel .mytree ul {
	font-size:8pt;
}
#left_panel .mytree li {
	background-color:transparent;
}
#left_panel .mytree .jstree-anchor.jstree-clicked.jstree-hovered, 
  #left_panel .mytree .jstree-anchor.link.jstree-clicked.jstree-hovered,
  #left_panel .mytree .jstree-anchor.link.jstree-hovered {
	/*box-shadow:inset 0 0 1px var(--left-panel-tree-item-hover-shadow);*/
	box-shadow:none;
}
#left_panel .mytree .jstree-clicked {
	background-color:var(--left-panel-tree-item-clicked-bg) !important;
	/*box-shadow:inset 0 0 1px var(--left-panel-tree-item-clicked-shadow);*/
	box-shadow:none;
}
#left_panel .mytree .jstree-clicked:before {
	content:" ";
	height:24px;
	position:absolute;
	left:0;
	right:0;
	background:var(--left-panel-tree-item-clicked-bg);
	display:block;
	z-index:-1;
}
#left_panel .mytree .jstree-anchor.link.jstree-hovered {
	background-color:var(--left-panel-tree-item-hovered-bg) !important;
}
#left_panel .mytree a {
	color:inherit;
}
#left_panel .mytree a > label, 
  #left_panel .mytree a > label > label {
	font-weight:normal;
	font-style:normal;
	cursor:pointer; /* bc of the "others" folder */
}
#left_panel .mytree a.jstree-clicked > label, 
  #left_panel .mytree a.jstree-clicked > label > label {
	font-weight:bold;
}
#left_panel:not(.advanced_level) .mytree li[data-jstree='{"icon":"main_node main_node_data_access_layers"}'] {display:none;}
#left_panel:not(.advanced_level) .mytree li[data-jstree='{"icon":"main_node main_node_library"}'] {display:none;}

/* LEFT PANEL - WITH TABS */
#left_panel.left_panel_with_tabs .mytree > ul {margin-left:-15px; border:0; background:transparent; color:inherit;}
#left_panel.left_panel_with_tabs .file_tree_root {display:none;}
#left_panel.left_panel_with_tabs .tabs {margin-left:15px; padding:0; background:var(--left-panel-tree-tabs-bg); color:var(--left-panel-tree-tabs-color); border-top:0; border-left:0; border-right:0; border-radius:0;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node {width:calc((100% - 20px) /3); height:40px; box-sizing:border-box; margin:0; padding:0 5px 5px; background:var(--left-panel-bg); color:inherit; border-color:var(--left-panel-tree-tabs-border); border-top:0; border-left:0; border-radius:0;}
#left_panel.left_panel_with_tabs.advanced_level .tabs .tab_main_node {width:calc((100% - 20px) /5);}
#left_panel.left_panel_with_tabs .tabs .tab_main_node:not(.ui-tabs-active) {opacity:.8;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node:not(.ui-tabs-active):hover {opacity:1;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node.ui-state-active {height:41px; margin-bottom:-1px; color:var(--left-panel-tree-tabs-active-color);}
#left_panel.left_panel_with_tabs:not(.advanced_level) .tabs .tab_main_node_data_access_layers {display:none;}
#left_panel.left_panel_with_tabs:not(.advanced_level) .tabs .tab_main_node_library {display:none;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node a {width:100%; padding:0; text-align:center;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node a .tab_icon {display:inline-block;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node a .tab_icon::before {color:inherit; font-size:11pt;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node a .tab_label {margin-top:3px; display:block; white-space:nowrap; text-overflow:clip; overflow:hidden;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node .icon.sub_menu {width:5px; height:16px; display:inline-block; margin-top:5px; margin-left:5px; font-size:16px; color:var(--icon-hover-color); display:none;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node:not(.ui-state-active) .icon.sub_menu {display:none;}
#left_panel.left_panel_with_tabs .tabs .tab_main_node .icon.sub_menu::before {content:"\f142";}
#left_panel.left_panel_with_tabs .tabs .tab_main_node .icon.sub_menu:hover::after {content:"Click me"; position:fixed; top:auto; left:auto; margin:20px 0 0 -30px; color:var(--main-template-color); font: initial; font-family:var(--main-font-family); font-size:8px; }
#left_panel.left_panel_with_tabs .main_tree_node {height: calc(100vh - 100px); padding:0 0 0 15px; background:transparent; color:inherit; overflow: auto; box-sizing:border-box;}
#left_panel.left_panel_with_tabs .main_tree_node > a > label, #left_panel .main_tree_node > a > label > label {font-style:normal; opacity:.9;}
#left_panel.left_panel_with_tabs .main_tree_node > ul {background:transparent;}

/* LEFT PANEL - WITH SUB GROUPS */
#left_panel .with_sub_groups > ul {
	border-bottom:1px solid var(--left-panel-tree-sub-group-border);
}
#left_panel .with_sub_groups > ul > li {
	margin:0;
	background:unset;
	position:relative;
	border-top:1px solid var(--left-panel-tree-sub-group-border);
}
#left_panel .layers > .mytree.with_sub_groups > ul > li:first-child {
	padding-top:0;
}
#left_panel .with_sub_groups > ul > li > a > label {
	width:calc(100% - 30px);
	display:inline-block;
}
#left_panel .with_sub_groups > ul > li > .jstree-icon {
	position:absolute;
}
#left_panel .with_sub_groups > ul > li.jstree-closed > .jstree-icon {
	background-position:-3px 0;
}
#left_panel .with_sub_groups > ul > li.jstree-closed > .jstree-icon::before {
	margin-top:12px;
}
#left_panel .with_sub_groups > ul > li.jstree-open > .jstree-icon {
	background-position:-35px 0;
}
#left_panel .with_sub_groups > ul > li.jstree-open > .jstree-icon::before {
	margin-top:12px;
}
#left_panel .with_sub_groups > ul > li.jstree-loading > .jstree-icon {
	background-position:5px 8px;
}
#left_panel .with_sub_groups > ul > li > a {
	padding:5px 5px 5px 25px;
	/*border-radius:3px;
	background-color:var(--left-panel-tree-sub-group-bg);
	color:var(--left-panel-tree-sub-group-color) !important;*/
	display:block;
}
#left_panel .with_sub_groups > ul > li > a.jstree-hovered {
	background-color:var(--left-panel-tree-sub-group-hover-bg) !important;
}
#left_panel .with_sub_groups > ul > li > .icon.sub_menu {
	position:absolute;
	top:12px;
	right:5px;
	color:var(--left-panel-tree-sub-group-color);
}
#left_panel .with_sub_groups > ul > li > ul {
	margin-bottom:10px;
}
#left_panel .with_sub_groups > ul > li > ul > li {
	/*margin-left:0;*/
}

/* LEFT PANEL - WITHOUT SUB GROUPS */
#left_panel .mytree li.hide_tree_item > a,
  #left_panel .mytree li.hide_tree_item > i,
  #left_panel .mytree li.hide_tree_item > .sub_menu {
	display:none;
}
#left_panel .mytree > ul > li.main_tree_node.hide_tree_item > .title {
	display:block;
	padding:10px;
	position:relative;
}
#left_panel .mytree > ul > li.main_tree_node.hide_tree_item > .title .sub_menu {
	position:absolute;
	top:17px;
	right:5px;
	color:inherit;
}
#left_panel .mytree > ul > li.main_tree_node.hide_tree_item > .title .sub_menu:hover:after {
	content:"Click me";
	position:fixed; 
	top:auto; 
	left:auto; 
	margin:-5px 0 0 -28px; 
	color:var(--main-template-color); 
	font: initial; 
	font-family:var(--main-font-family); 
	font-size:8px;
}
#left_panel .mytree li.hide_tree_item:first-child {
	padding-top:0;
}
#left_panel .mytree li.hide_tree_item:not(.with_sub_groups) > ul > li {
	margin-left:0;
}
#left_panel .mytree li.hide_tree_item > ul > li.with_sub_groups:not(.hide_tree_item) {
	margin-left:10px;
}
#left_panel .mytree li.hide_tree_item:not(.with_sub_groups) > ul > li:first-child:not(.hide_tree_item) {
	padding-top:10px;
}
#left_panel .mytree li.hide_tree_item.with_sub_groups > ul > li:first-child:not(.hide_tree_item) {
	padding-top:0;
}

/* LEFT PANEL - WITHOUT TABS */
#left_panel.left_panel_without_tabs {
	padding-top:30px;
}
#left_panel.left_panel_without_tabs .mytree {
	height:calc(100vh - 90px);
	margin-bottom:0;
	overflow:auto;
}
#left_panel.left_panel_without_tabs .mytree > ul {
	border-bottom:1px solid var(--left-panel-tree-sub-group-border);
}
#left_panel.left_panel_without_tabs .mytree > ul > li {
	margin:0;
	background:unset;
	position:relative;
	border-top:1px solid var(--left-panel-tree-sub-group-border);
}
#left_panel.left_panel_without_tabs .mytree > ul > li > .jstree-icon {
	position:absolute;
}
#left_panel.left_panel_without_tabs .mytree > ul > li.jstree-closed > .jstree-icon {
	background-position:-3px 0;
}
#left_panel.left_panel_without_tabs .mytree > ul > li.jstree-closed > .jstree-icon::before {
	margin-top:12px;
}
#left_panel.left_panel_without_tabs .mytree > ul > li.jstree-open > .jstree-icon {
	background-position:-35px 0;
}
#left_panel.left_panel_without_tabs .mytree > ul > li.jstree-open > .jstree-icon::before {
	margin-top:12px;
}
#left_panel.left_panel_without_tabs .mytree > ul > li.jstree-loading > .jstree-icon {
	background-position:5px 8px;
}
#left_panel.left_panel_without_tabs .mytree > ul > li > a {
	padding:5px 5px 5px 25px;
	background-color:var(--left-panel-tree-sub-group-bg);
	color:var(--left-panel-tree-sub-group-color) !important;
	display:block;
	cursor:pointer;
}
#left_panel.left_panel_without_tabs .mytree > ul > li > a.jstree-hovered {
	background-color:var(--left-panel-tree-sub-group-hover-bg) !important;
}
#left_panel.left_panel_without_tabs .mytree > ul > li > ul {
	padding-bottom:10px;
}

/* LEFT PANEL - PRESENTATION LAYER */
#left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"configs_folder"}'],
  #left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"views_folder"}'],
  #left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"blocks_folder"}'],
  #left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"utils_folder"}'],
  #left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"properties"}'] {
	display:none;
}
#left_panel.advanced_level .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"configs_folder"}'],
  #left_panel.advanced_level .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"views_folder"}'],
  #left_panel.advanced_level .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"blocks_folder"}'],
  #left_panel.advanced_level .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"utils_folder"}'],
  #left_panel.advanced_level .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"properties"}'] {
	display:block;
}
#left_panel.left_panel_with_tabs .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"entities_folder"}'] > a {
	background-color:var(--left-panel-tree-entities-folder-bg);
}
#left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"entities_folder"}'] > a > label {
	text-indent:-9999px;
	display:inline-block;
}
#left_panel .mytree > ul > .presentation_layers > ul li[data-jstree='{"icon":"entities_folder"}'] > a > label:after {
	content:"pages";
	text-indent:0px;
	float:left;
}

/* LEFT PANEL - TREE ICONS */
#left_panel:not(.light_theme) .mytree i.jstree-themeicon:not(.reserved_file):not(.reserved_folder):not(.undefined_file)::after, 
  #left_panel:not(.light_theme) .mytree i.tab_icon::after {
	color:#fff;
}
#left_panel:not(.light_theme) .mytree i.jstree-themeicon.template_file::before {
	/*color:#fff;*/
}

/* LEFT PANEL - SUB MENUS */
#left_panel > .sub_menu {
	width:10px;
	position:absolute;
	top:13px;
	right:5px;
	z-index:1;
	overflow:visible;
	color:var(--left-panel-tree-tabs-color);
	font-size:13px;
}
#left_panel.left_panel_without_tabs > .sub_menu {
	top:7px;
	right:12px;
}
#left_panel.left_panel_with_tabs > .sub_menu:before {
	content:"\f142";
	margin-left:3px;
}
#left_panel > .sub_menu:before {
	color:inherit;
	/*color:var(--icon-hover-color);*/
}
#left_panel > .sub_menu:after {
	display:none !important;
}
#left_panel > .sub_menu ul {
	width:0px;
	height:0px;
	margin:0 -10px 0 0;
	padding-top:13px;
	position:absolute;
	right:2px;
	background:transparent;
	border-bottom:1px solid var(--menu-panel-sub-menu-border);
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	overflow:hidden;
	display:block;
	opacity:0;
	transition:.5s all;
}
#left_panel.left_panel_without_tabs > .sub_menu ul {
	margin-right:-12px;
	padding-top:0;
}
#left_panel > .sub_menu:hover {
	opacity:1;
}
#left_panel > .sub_menu:hover ul {
	width:auto;
	height:auto;
	opacity:1;
}
#left_panel > .sub_menu:hover ul > .triangle_up {
	width:0;
	height:0;
	position:absolute;
	top:-2px;
	right:6px;
	border-top:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid var(--menu-panel-sub-menu-border);
	border-left:8px solid transparent;
}
#left_panel > .sub_menu:hover ul > .triangle_up:after {
	content:" ";
	height:0;
	width:0;
	position: absolute;
	top:-6px;
	left:-7px;
	border-top:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid var(--menu-panel-sub-menu-item-bg);
	border-left:7px solid transparent;
}
#left_panel > .sub_menu ul li {
	margin:0;
	padding:0;
	border-left:1px solid var(--menu-panel-sub-menu-border);
	border-right:1px solid var(--menu-panel-sub-menu-border);
	background:var(--menu-panel-sub-menu-item-bg);
	color:var(--menu-panel-sub-menu-item-color);
	font-size:12px;
	display:block;
}
#left_panel > .sub_menu ul li:hover {
	background:var(--menu-panel-sub-menu-item-hover-bg);
}
#left_panel > .sub_menu ul li:nth-of-type(1) {
	border-top:1px solid var(--menu-panel-sub-menu-border);
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
#left_panel > .sub_menu ul li a {
	padding:5px 10px;
	display:block;
	color:inherit;
	text-decoration:none;
	font-size:8pt;
}
#left_panel > .sub_menu ul li a .icon {
	color:inherit;
}
#left_panel > .sub_menu ul li a .icon::before {
	color:inherit;
}

/* LEFT PANEL - CONTEXT MENUS */
#presentation_project_context_menu li.level {
	padding:5px 0;
	background:#ddd;
}
#presentation_project_context_menu li.level::before {
	content:"\f5fd";
	vertical-align:middle;
}
#presentation_project_context_menu li.level label {
	margin-left:5px;
	padding:4px 5px 4px 2px;
	font-weight:normal;
	vertical-align:middle;
}
#presentation_project_context_menu li.level select {
	background:transparent;
	border:none;
	font-size:inherit;
	color:inherit;
	cursor:pointer;
}

/* CONTEXT MENUS */
.jqcontextmenu {
	background-color:var(--menu-panel-sub-menu-bg); 
	color:var(--menu-panel-sub-menu-item-color); 
	border-color:var(--menu-panel-sub-menu-border);
}
.jqcontextmenu ul {
	font-family:inherit;
}
.jqcontextmenu li {
	background-color:var(--menu-panel-sub-menu-item-bg);
}
.jqcontextmenu li:hover {
	background-color:var(--menu-panel-sub-menu-item-hover-bg) !important;
}
.jqcontextmenu li a {
	background-color:var(--menu-panel-sub-menu-item-bg);
	color:var(--menu-panel-sub-menu-item-color);
}
.jqcontextmenu li:hover a {
	background-color:var(--menu-panel-sub-menu-item-hover-bg);
}
.jqcontextmenu .line_break {
	border-top-color:var(--menu-panel-sub-menu-border);
}
.jqcontextmenu li::after {
	color:var(--menu-panel-sub-menu-item-color);
}


