body,
  #main_column {
	background:#fff !important;
	min-height:auto;
}
::-webkit-scrollbar-track {
	background-color:#fff;
}

#title {
	height:25px;
	color:var(--icon-folder-color);
	font-size:16px;
	margin:10px 0 5px 0px;
	text-align:center;
}

ul {
	margin:50px 20px;
	text-align:center;
}
li {
	width:220px;
	height:120px;
	margin:10px !important;
	display:inline-block;
	position:relative;
	color:var(--icon-folder-color);
	border:1px solid transparent;
	border-radius:5px;
	cursor:pointer;
	overflow:hidden;
}
li:hover {
	/*border-color:#eee;
	box-shadow:0px 0px 5px 5px rgb(200 200 200 / 20%);*/
	color:var(--icon-hover-color);
	opacity:.9;
}
li > label {
	margin-top:15px;
	display:block;
	text-align:center;
	cursor:pointer;
}
li > .description {
	height:0;
	position:absolute;
	top:auto;
	bottom:-10px;
	left:0;
	right:0;
	box-sizing:border-box;
	vertical-align:middle;
	cursor:pointer;
	transition:all 1s;
	
	background: -moz-linear-gradient(bottom, #eee 80%, #ffffff73 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(bottom, #eee 80%, #ffffff73 100%);
	background: -o-linear-gradient(bottom, #eee 80%, #ffffff73 100%);
	background: -ms-linear-gradient(bottom, #eee 80%, #ffffff73 100%);
	background: linear-gradient(to top, #eee 80%, #ffffff73 100%);
}
li:hover > .description {
	height:60px;
	padding:15px 10px 10px;
	bottom:0;
}
li > .photo {
	width:auto;
	height:50px;
	margin:10px auto 0;
	cursor:pointer;
	font-size:50px;
	box-sizing:border-box;
}
li > .photo::before {
	margin:0;
}
li.simple_admin_ui > .photo::before {
	content:"\f1ae";
}
li.citizen_admin_ui > .photo::before {
	content:"\f0c0";
}
li.low_code_admin_ui > .photo::before {
	content:"\f501";
}
li.advanced_admin_ui > .photo::before {
	content:"\f21b";
}
li.expert_admin_ui > .photo::before {
	content:"\f504";
}
