/* ADMIN PANEL */
.admin_panel {
	padding:0 20px;
	border:0;
	font-size:12px;
	font-family:inherit;
}
.admin_panel > .title {
	margin:20px 0 0;
	font-weight:bold;
	text-align:center;
	font-size:24px;
}
.admin_panel > ul {
	background:none;
	border:0;
	text-align:center;
}
.admin_panel > ul li {
	margin:0 !important;
	background:none !important;
	border:none !important;
	display:inline-block;
	float:none !important;
}
.admin_panel > ul li:not(:first-child) {
	border-left:1px solid #eee !important;
}
.admin_panel > ul li a {
	margin:0 3px;
	border-bottom:1px solid transparent !important;
}
.admin_panel > ul li.ui-state-active a {
	font-weight:bold;
	border-bottom-color:var(--icon-hover-color) !important;
}

/* PROJS */
.projs > .choose_available_project > .title {
	display:none;
}
.projs > .choose_available_project > .selected_project {
	margin-top:-10px;
}
.projs > .choose_available_project > .projects_list_type {
	margin-top:0;
}
.projs > .choose_available_project > .group {
	padding:0;
}

/* HOW IT WORKS */
.admin_panel .how_it_works div {
	text-align:center;
	margin:20px 0;
	padding:20px 0;
	border-bottom:1px solid #ccc;
}
.admin_panel .how_it_works div img {
	max-width:90vw;
}

/* TUTORIALS */
.tutorials > .choose_available_tutorial > .title {
	display:none;
}

