body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size:14px;
	font-weight:400;
}

.error {
	margin-top:20px;
	color:red;
	text-align:center;
}

/* DB PROPERTIES POPUP */
#selected_menu_properties {
	min-width:200px;
}

/* MENU PANEL */
#menu_panel {
	width:300px;
	height:25px;
	line-height:25px;
	position:absolute; 
	top:0;
	left:0;
	right:0;
	background:#b3c8cc;
	overflow:hidden;
}
#menu_panel > .selected_project {
	padding:0 0 0 5px;
	font-size:80%;
	color:#586264;
	text-decoration:none;
}
#menu_panel > .selected_project:before {
	content:"Project: ";
}
#menu_panel .login_info {
	margin-left:5px;
	margin-right:5px;
	line-height:25px;
	color:#586264;
	font-size:80%;
	float:right;
	opacity:.5;
}
#menu_panel .icon {
	margin-top:5px;
	float:right;
}
#menu_panel .left {
	background:url("../../common/img/icon/left_icon.gif") no-repeat scroll 0 0;
}
#menu_panel .home {
	background:url("../../common/img/icon/home_icon.png") no-repeat scroll 0 0;
}
#menu_panel .icon:hover {
	opacity:.6;
}

/* LEFT PANEL */
#left_panel {
	width:300px; 
	padding:15px 0 20px 0;
	padding-top:15px;
	padding-bottom:20px;
	position:absolute; 
	left:0px; 
	top:25px; 
	bottom:0px;
	color:#444;
	border:0;
	border-right:1px solid #586264;
	border-radius:0;
}

/* LEFT PANEL - TABS */
#left_panel > .tabs {
	height:26px; 
	margin-left:0; 
	background:unset; 
	border-top:0; 
	border-left:0; 
	border-right:0; 
	border-radius:0; 
	overflow:hidden;
}
#left_panel > .tabs a {padding:0;}
#left_panel > .tabs .ui-state-active {background:#fff;}
#left_panel > .tabs a .icon {display:inline-block; width:24px; height:24px; margin:0;}
#left_panel > .tabs .tab_vendors {float:right; right:26px;}
#left_panel > .tabs .tab_settings {float:right; right:-30px;}

#left_panel > .tabs a i.main_node_db_layers {
	/*background: url("../../img/db_icons.png") -245px -21px no-repeat !important;*/
	background: url("../../img/db_driver_small_icon_color.png") center no-repeat !important;
	background-size: 20px 20px !important;
}
#left_panel > .tabs a i.main_node_data_access_layers {
	/*background: url("../../img/db_icons.png") -133px 0px no-repeat !important;*/
	background: url("../../img/data_access_small_icon_color.png") center no-repeat !important;
	background-size: 20px 20px !important;
}
#left_panel > .tabs a i.main_node_business_logic_layers {
	/*background: url("../../img/icons.png") -7px -69px no-repeat !important;*/
	background: url("../../img/business_logic_small_icon_color.png") center no-repeat !important;
	background-size: 20px 20px !important;
}
#left_panel > .tabs a i.main_node_presentation_layers {
	/*background: url("../../img/icons.png") -50px -244px no-repeat !important;*/
	background: url("../../img/presentation_small_icon_color.png") center no-repeat !important;
	background-size: 20px 20px !important;
}
#left_panel > .tabs a i.main_node_vendors {background: url("../../img/icons.png") -115px -156px no-repeat !important;}
#left_panel > .tabs a i.main_node_settings {background: url("../../img/icons.png") -93px -3px no-repeat !important;}

/* LEFT PANEL - TREE */
#left_panel .layers {
	padding:0;
}
#left_panel .layers > .mytree {
	margin:0;
	padding:0 0 20px 0;
	font-size:80%;
	position:absolute;
	top:45px;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
}
#left_panel .layers.with_sub_menus >  .mytree {
	bottom:30px;
}
#left_panel .layers > .mytree label {
	font-weight:normal;
	font-style:normal;
}
#left_panel .layers > .mytree > ul > li:first-child {
	padding-top:10px;
}

/* LEFT PANEL - WITH SUB GROUPS */
#left_panel .with_sub_groups > ul > li {
	margin:10px;
	background:unset;
}
#left_panel .with_sub_groups > ul > li:first-child {
	padding-top:0;
}
#left_panel .with_sub_groups > ul > li > a > label {
	width:calc(100% - 30px);
	display:inline-block;
}
#left_panel .with_sub_groups > ul > li > .jstree-icon {
	position:absolute;
}
#left_panel .with_sub_groups > ul > li.jstree-closed > .jstree-icon {
	background-position:-3px 0;
}
#left_panel .with_sub_groups > ul > li.jstree-open > .jstree-icon {
	background-position:-35px 0;
}
#left_panel .with_sub_groups > ul > li.jstree-loading > .jstree-icon {
	background-position:5px 8px;
}
#left_panel .with_sub_groups > ul > li > a {
	padding:5px 5px 5px 25px;
	border-radius:5px;
	background-color:#b3c8cc;
	display:block;
}
#left_panel .with_sub_groups > ul > li > a.jstree-hovered {
	background-color:#b3c8cc !important;
}
#left_panel .with_sub_groups > ul > li > ul > li {
	margin-left:0;
}

/* LEFT PANEL - WITHOUT SUB GROUPS */
#left_panel .mytree.hide_tree_item > ul > li > a,
  #left_panel .mytree.hide_tree_item > ul > li > i {
	display:none;
}
#left_panel .mytree.hide_tree_item > ul > li:first-child {
	padding-top:0;
}
#left_panel .mytree.hide_tree_item > ul > li > ul > li {
	margin-left:0;
}
#left_panel .mytree.hide_tree_item > ul > li > ul > li:first-child:not(.hide_tree_item) {
	padding-top:10px;
}
#left_panel .mytree.hide_tree_item > ul li.hide_tree_item > a,
  #left_panel .mytree.hide_tree_item > ul li.hide_tree_item > i {
	display:none;
}
#left_panel .mytree.hide_tree_item > ul li.hide_tree_item:not(.with_sub_groups) > ul > li {
	margin-left:0;
}
#left_panel .mytree.hide_tree_item > ul li.hide_tree_item:not(.with_sub_groups) > ul > li:first-child {
	padding-top:10px;
}

/* LEFT PANEL - PRESENTATION LAYER */
#left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"configs_folder"}'],
  #left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"views_folder"}'],
  #left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"blocks_folder"}'],
  #left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"utils_folder"}'],
  #left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"properties"}'] {
	display:none;
}
#left_panel.advanced_level #presentation_layers .mytree > ul li[data-jstree='{"icon":"configs_folder"}'],
  #left_panel.advanced_level #presentation_layers .mytree > ul li[data-jstree='{"icon":"views_folder"}'],
  #left_panel.advanced_level #presentation_layers .mytree > ul li[data-jstree='{"icon":"blocks_folder"}'],
  #left_panel.advanced_level #presentation_layers .mytree > ul li[data-jstree='{"icon":"utils_folder"}'],
  #left_panel.advanced_level #presentation_layers .mytree > ul li[data-jstree='{"icon":"properties"}'] {
	display:block;
}
#left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"entities_folder"}'] > a > label {
	text-indent:-9999px;
	display:inline-block;
}
#left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"entities_folder"}'] > a > label:after {
	content:"pages";
	text-indent:0px;
	float:left;
}

/* LEFT PANEL - SUB MENUS */
#left_panel .sub_menus {
	width:300px;
	height:30px;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	background:#b3c8cc;
	border-top:1px solid #586264;
}
#left_panel .sub_menus.open {
	height:auto;
}
#left_panel .sub_menus > label {
	line-height: 20px;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	font-weight:normal;
	cursor:pointer;
	opacity:.8;
}
#left_panel .sub_menus.open > label {
	background:#bfd5d9;
	border-bottom:1px solid #aaa;
}
#left_panel .sub_menus > label > i {
	float:right;
	margin:8px 8px 0 0;
}
#left_panel .sub_menus.open > label > i {
	margin-top:2px;
}
#left_panel .sub_menus.open > label > i:before {
	content:"\f0dd";
}
#left_panel .sub_menus > ul li.level {
	padding:5px 10px;
	background:#bfd5d9;
	border-top:1px solid #aaa;
	font-size:80%;
}
#left_panel .sub_menus > ul li.level label {
	font-weight:normal;
	vertical-align:middle;
	opacity:.8;
}
#left_panel .sub_menus > ul li.level select {
	background:transparent;
	border:none;
}
#left_panel .sub_menus > ul li .icon {
	width:20px;
	margin:0;
	float:none;
	display:inline-block;
	vertical-align:middle;
}
#left_panel .sub_menus > ul li.external_sub_menu .jqcontextmenu {
	position:relative;
	background-color:transparent;
	border:0;
	border-radius:0;
	box-shadow:none;
	display:block !important;
}
#left_panel .sub_menus > ul li.external_sub_menu .jqcontextmenu li,
  #left_panel .sub_menus > ul li.external_sub_menu .jqcontextmenu li a {
	background-color:#b3c8cc !important;
	border-radius:0;
}
#left_panel .sub_menus > ul li.external_sub_menu .jqcontextmenu li:hover,
  #left_panel .sub_menus > ul li.external_sub_menu .jqcontextmenu li:hover a {
	background-color:#bfd5d9 !important;
}
#left_panel .sub_menus > ul li.external_sub_menu .jqcontextmenu li.line_break {
	margin:0 5px;
	border:none;
	border-top:1px solid #aaa;
}

#left_panel .sub_menus > ul li.external_sub_menu > #presentation_project_context_menu > .rename,
  #left_panel .sub_menus > ul li.external_sub_menu > #presentation_project_context_menu > .remove,
  #left_panel .sub_menus > ul li.external_sub_menu > #presentation_project_context_menu > .zip {
	display:none;
}

/* HIDE PANEL */
#hide_panel {position:absolute; left:300px; top:0px; width:5px; bottom:0px; overflow:hidden; background:url("../../img/back_frame_open_close_vertical.gif") repeat-y; cursor:move; z-index:3;}
#hide_panel .button {position:absolute; top:45%; width:5px; height:34px; left:0; cursor:pointer;}
#hide_panel .button.maximize {background:url("../../img/tool_frame_right.gif") no-repeat;}
#hide_panel .button.minimize {background:url("../../img/tool_frame_left.gif") no-repeat;}

/* RIGHT PANEL */
#right_panel {
	position:absolute; 
	left:305px; 
	top:0; 
	right:0px; 
	bottom:0px;
}
#right_panel iframe {position:absolute; display:block; border:0; width:100%; height:100%; padding:0; margin:0; background:#f5f5f5 !important;}
#right_panel .iframe_overlay {
	position:absolute; 
	border:0; 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
	background:#000;
	opacity:0.6;
	-ms-filter: alpha(opacity=60);/* For IE 8 */
	filter: alpha(opacity=60);/* For IE */
}
#right_panel .iframe_overlay .iframe_loading {
	width:24px; 
	height:24px; 
	line-height:24px;
	margin:0 auto;
	position:relative;
	top:48%;
	background:url("../../common/img/loading_slower.gif") no-repeat;
	
	padding-left:30px;
	font-weight:bold;
	color:#FFF;
	font-size:20px;
}

