#main_menu .dropdown {
	width:100%;
	min-height:25px;
	padding-top:3px;
	z-index:10;
	
	border-top:2px solid #ff0000;
	background: -moz-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -o-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -ms-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: linear-gradient(to bottom, #eee 50%, #ffffff73 100%);
}
#main_menu .dropdown li {
	padding:0px;
	border-left:0;
	text-align:center;
	display:inline-block;
	float:left;
}
#main_menu .dropdown li:hover {
	background-color:#eee;
}
#main_menu .dropdown li label {
	height:22px;
	padding:0px 15px;
	display:block;
	color:#666;
}
#main_menu .dropdown > li > label {
	/*border-left:1px solid #eee;*/
}
#main_menu .dropdown > li.link > label {
	cursor:pointer;
}
#main_menu .dropdown li:hover > label {
	color:#777;
}
#main_menu .dropdown li ul {
	width:150px;
	margin-top:-5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	position:absolute;
	display:none;
	
	background: -moz-linear-gradient(top, #eee 97%, #ffffff73 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(97%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(top, #eee 97%, #ffffff73 100%);
	background: -o-linear-gradient(top, #eee 97%, #ffffff73 100%);
	background: -ms-linear-gradient(top, #eee 97%, #ffffff73 100%);
	background: linear-gradient(to bottom, #eee 97%, #ffffff73 100%);
}
#main_menu .dropdown li.management ul {
	width:200px;
}
#main_menu .dropdown li:hover ul {
	display:block;
}
#main_menu .dropdown li ul li {
	display:block;
	float:none;
	text-align:left;
}
#main_menu .dropdown li ul li.delimiter {
	border-top:1px solid #ddd;
}
#main_menu .dropdown li ul li:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#main_menu .dropdown li ul li:hover {
	background-color:#ddd;
}
#main_menu .dropdown li a {
	height:22px;
	padding:0px 15px;
	display:block;
	color:#666;
	font-style:italic;
	font-weight:bold;
	font-family:var(--main-font-family);
}
#main_menu .dropdown > li > a {
	/*border-left:1px solid #eee;*/
}
#main_menu .dropdown li ul li a {
	height:auto;
	padding:5px 8px;
	color:#666;
	font-weight:normal;
	font-size:90%;
}
#main_menu .dropdown li:hover > a,
  #main_menu .dropdown li:hover > label > a {
	color:#777;
	text-decoration:none;
}
#main_menu .dropdown .buttons {
	float:right;
	border-left:0;
	padding:0 5px 0 0;
}
#main_menu .dropdown .buttons .project {
	line-height:22px;
	margin-right:10px;
	font-size:80%;
	float:left;
}
#main_menu .dropdown .buttons:hover {
	background-color:unset;
}
#main_menu .dropdown .buttons .icon {
	margin:auto 5px;
	font-size:14px;
}
#main_menu .dropdown .buttons .icon:hover {
	opacity:.6;
}

#content {
	width:100%;
	z-index:1;
}
#content iframe {
	border:0;
	z-index:1;
	padding:0;
	margin:0;
	width:100%;
}

#content .iframe_overlay {
	position:absolute; 
	border:0; 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
	background:#000;
	opacity:0.6;
	-ms-filter: alpha(opacity=60);/* For IE 8 */
	filter: alpha(opacity=60);/* For IE */
}
#content .iframe_overlay .iframe_loading {
	width:24px; 
	height:24px; 
	line-height:24px;
	margin:0 auto;
	position:relative;
	top:48%;
	background:url("../../common/img/loading_slower.gif") no-repeat;
	
	padding-left:30px;
	font-weight:bold;
	color:#FFF;
	font-size:20px;
}

