/* ADMIN PANEL */
.admin_panel {
	padding:0 20px;
	border:0;
	font-size:12px;
	font-family:inherit;
}
.admin_panel > .title {
	margin:20px 0 0;
	font-weight:bold;
	text-align:center;
	font-size:24px;
}
.admin_panel > ul {
	background:none;
	border:0;
	text-align:center;
}
.admin_panel > ul li {
	background:none !important;
	border:none !important;
	display:inline-block;
	float:none !important;
}
.admin_panel > ul li:not(:first-child) {
	border-left:1px solid #eee !important;
}
.admin_panel > ul li.ui-state-active {
	font-weight:bold;
	border-bottom:1px solid var(--icon-hover-color) !important;
}

/* PROJS */
.projs > .choose_available_project > .title {
	display:none;
}
.projs > .choose_available_project > .selected_project {
	margin-top:-10px;
}

/* HOW IT WORKS */
.admin_panel .how_it_works div {
	text-align:center;
	margin:20px 0;
	padding:20px 0;
	border-bottom:1px solid #ccc;
}
.admin_panel .how_it_works div img {
	max-width:90vw;
}

/* TUTORIALS */
.admin_panel .tutorials .card {
	border-left:1px solid #ff0000aa;
	border-right:1px solid #ff0000aa;
	box-sizing:border-box;
}
.admin_panel .tutorials .card.border_bottom {
	border-bottom:.15rem solid #ddd;
}
.admin_panel .tutorials .card .list-group-item > button .dropdown-toggle {
	position: absolute;
	right: 10px;
	top: 15px;
}
.admin_panel .tutorials .card .list-group-item > button:not(.collapsed) .dropdown-toggle:after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: 0;
	border-right: .3em solid transparent;
	border-bottom: .3em solid;
	border-left: .3em solid transparent;
}
.admin_panel .btn-link {
	color:#ff0000;
}

/* MODAL VIDEO */
.modal_video {
	background-color: rgba(0,0,0,0.8);
	cursor:pointer;
}
.modal_video .modal-dialog {
	max-width:none;
	cursor:default;
}
.modal_video .modal-dialog .close-mo-icon {
	cursor:pointer;
}
.modal_video .modal-dialog iframe {
	max-width:80vw;
}
