#title {
	color:#666;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 0px 0px;
	text-align: center;
	width: 100%;
	height:25px;
}

ul {
	margin:20px;
	text-align:center;
}
li {
	width:220px;
	height:160px;
	margin:10px !important;
	display:inline-block;
	position:relative;
	border:1px solid #eee;
	border-radius:5px;
	box-shadow:0px 0px 5px 5px rgb(200 200 200 / 20%);
	cursor:pointer;
	overflow:hidden;
}
li:hover {
	box-shadow:0px 0px 10px 10px rgb(200 200 200 / 20%);
}
li > label {
	margin-top:10px;
	display:block;
	text-align:center;
	color:#999;
	cursor:pointer;
}
li > .description {
	height:0;
	padding:15px 10px 10px;
	position:absolute;
	top:auto;
	bottom:-10px;
	left:0;
	right:0;
	box-sizing:border-box;
	color:#555;
	vertical-align:middle;
	cursor:pointer;
	transition:all 1s;
	
	background: -moz-linear-gradient(bottom, #eee 70%, #ffffff73 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(bottom, #eee 70%, #ffffff73 100%);
	background: -o-linear-gradient(bottom, #eee 70%, #ffffff73 100%);
	background: -ms-linear-gradient(bottom, #eee 70%, #ffffff73 100%);
	background: linear-gradient(to top, #eee 70%, #ffffff73 100%);
}
li:hover > .description {
	height:60px;
	bottom:0;
}
li > .photo {
	width:100%;
	height:auto;
	margin:10px auto 0;
	cursor:pointer;
	font-size:80px;
	box-sizing:border-box;
}
li > .photo::before {
	margin:0;
}
li.simple_admin_ui > .photo::before {
	content:"\f1ae";
}
li.citizen_admin_ui > .photo::before {
	content:"\f0c0";
}
li.low_code_admin_ui > .photo::before {
	content:"\f501";
}
li.advanced_admin_ui > .photo::before {
	content:"\f21b";
}
li.expert_admin_ui > .photo::before {
	content:"\f504";
}
