body,
  #main_column {
	background:#fff !important;
}

.choose_available_project {
	
}
.choose_available_project > .title {
	height:25px;
	color:#666;
	font-size: 16px;
	margin: 10px 0 5px 0;
	text-align: center;
}
.choose_available_project .clearfix::after {
	content:"";
	display:block;
	clear:both;
}

.choose_available_project > .selected_project {
	margin:0 0 20px;
	font-size:9px;
	color:#999;
	text-align:center;
	clear:both;
	float:none;
}
.choose_available_project > .selected_project a {
	color:inherit;
}

.choose_available_project > .layer {
	text-align:center;
	color:#666;
}
.choose_available_project:not(.no_projects) > .layer {
	text-align:left;
	float:left;
}
.choose_available_project.single_presentation_layer > .layer {
	display:none;
}
.choose_available_project > .layer select {
	color:#666;
}

.choose_available_project > .projects_list_type {
	margin-top:20px;
	text-align:center;
	color:#666;
}
.choose_available_project:not(.single_presentation_layer) > .projects_list_type {
	float:right;
}
.choose_available_project.no_projects > .projects_list_type {
	display:none;
}
.choose_available_project > .projects_list_type .icon {
	font-size:16px;
}
.choose_available_project > .projects_list_type .icon.active {
	color:#000;
	border-bottom:1px solid var(--icon-hover-color);
}
.choose_available_project > .projects_list_type .icon:hover {
	color:var(--icon-hover-color);
}

.choose_available_project > .new_project {
	margin:40px 20px;
	text-align:center;
	color:#000;
}
.choose_available_project > .new_project .title {
	font-size:18px;
	font-weight:bold;
}
.choose_available_project > .new_project .description {
	margin-top:5px;
}
.choose_available_project > .new_project .button {
	margin-top:20px;
}

.choose_available_project > .loading_projects {
	display:block;
	text-align:center;
}
.choose_available_project > .loading_projects .icon {
	height:20px;
	display:inline-block;
	float:none;
	vertical-align:middle;
}

.choose_available_project > .group {
	padding:0 20px;
}
.choose_available_project > .group.projects {
	margin:30px 0;
}
.choose_available_project > .group > .title {
	text-align:left;
	border-bottom:1px solid #eee;
	color:#000;
	font-size:11px;
}

.choose_available_project .sub_folder_info {
	margin:0 0 30px;
	padding:20px;
	background:var(--main-template-bg);
	color:var(--main-template-color);
	border-radius:5px;
}
.choose_available_project:not(.in_sub_folder) .sub_folder_info {
	display:none;
}

.choose_available_project .current_project_folder {
	margin-left:10px;
	display:inline-block;
}
.choose_available_project .current_project_folder .folder {
	vertical-align:middle;
	cursor:pointer;
}
.choose_available_project .current_project_folder .folder::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f07c";
	color:var(--icon-folder-color);
	vertical-align:middle;
}
.choose_available_project .current_project_folder .folder:hover::before {
	color:var(--icon-hover-color);
}
.choose_available_project .current_project_folder .path_parts {
	cursor:pointer;
}
.choose_available_project .current_project_folder .path_parts:hover {
	color:var(--icon-hover-color);
}
.choose_available_project .current_project_folder .path_parts:not(:last-child) {
	margin-right:5px;
}
.choose_available_project .current_project_folder .path_parts:not(:last-child)::after {
	margin-left:5px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f105";
	vertical-align:middle;
}

.choose_available_project .project_folder_go_up {
	float:right;
	color:var(--icon-folder-color);
	font-weight:bold;
}
.choose_available_project .project_folder_go_up a {
	cursor:pointer;
	color:inherit;
}
.choose_available_project .project_folder_go_up a:hover {
	color:var(--icon-hover-color);
	text-decoration:none;
}
.choose_available_project .project_folder_go_up a .icon {
	width:10px;
	margin-right:2px;
	color:inherit;
	transform:scaleX(-1);
}
.choose_available_project .project_folder_go_up a .icon::before {
	content:"\f3bf";
}

.choose_available_project .group > ul {
	padding:20px 0;
	overflow-y:auto;
	text-align:left;
}
.choose_available_project.list_view .group > ul {
	margin:20px 0;
	padding:5px;
	border:1px solid #eee;
	box-shadow:0px 0px 5px 5px rgb(200 200 200 / 20%);
}
.choose_available_project.block_view li:not(.no_projects) {
	display:inline-block;
	width:200px;
	height:140px;
	margin:10px;
	padding:10px;
	box-sizing:border-box;
	position:relative;
	border:1px solid #ccc;
	border-radius:5px;
	box-shadow:0px 0px 5px 5px rgb(200 200 200 / 20%);
	vertical-align:top;
	text-align:center;
	cursor:pointer;
	opacity:1;
}
.choose_available_project.list_view li:not(.no_projects) {
	padding:10px;
	position:relative;
	background:#eee;
	cursor:pointer;
}
.choose_available_project.list_view li:not(.no_projects):not(:last-child) {
	margin-bottom:5px;
}
.choose_available_project.block_view li:hover:not(.no_projects):not(.project_common) {
	box-shadow:0px 0px 5px 5px rgb(200 200 200 / 70%);
	opacity:.9;
}
.choose_available_project li.folder {
	/*background:#ccc;*/
}
.choose_available_project li.project.project_common {
	opacity:.5;
}
.choose_available_project.block_view li.project:nth-child(odd) {
	/*background:var(--main-template-bg);
	color:var(--main-template-color);*/
}
.choose_available_project li.no_projects {
	margin:20px;
	text-align:center;
}
.choose_available_project li:not(.no_projects):hover::after {
	content:"Click to select this project";
	position:absolute;
	top:-20px;
	left:0;
	font-size:10px;
	color:#999;
}
.choose_available_project.list_view li:not(.no_projects):hover::after {
	top:12px;
	left:auto;
	right:10px;
}
.choose_available_project li.folder:hover::after {
	content:"Click to open this folder";
}
.choose_available_project.block_view li > label {
	margin-top:10px;
	display:block;
	text-align:center;
	font-size:10px;
	cursor:pointer;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	direction:rtl;
}
.choose_available_project.block_view li.folder > label {
	/*font-weight:bold;*/
}
.choose_available_project.block_view li:not(.no_projects) > a {
	margin-top:10px;
	display:block;
	text-align:center;
	font-size:80%;
	color:inherit;
}
.choose_available_project li:hover:not(.no_projects) > a {
	text-decoration:underline;
}
.choose_available_project.block_view li.project > .image {
	width:100px;
	height:70px;
	margin:10px auto 0;
	cursor:pointer;
}
.choose_available_project.list_view li.project > .image {
	width:20px;
	height:20px;
	margin:0 10px 0 0;
	display:inline-block;
	vertical-align:middle;
}
.choose_available_project li.project > .image > img {
	width:100%;
	height:100%;
}
.choose_available_project.block_view li > .photo {
	margin:10px auto 0;
	font-size:70px;
}
.choose_available_project.list_view li > .photo {
	width:20px;
	height:20px;
	margin:0 10px 0 0;
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
}
.choose_available_project li.project > .photo {
	cursor:pointer;
}
.choose_available_project li.project > .photo::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f0a0";
	color:#999;
}
.choose_available_project li.folder > .photo::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f07c";
	color:var(--icon-folder-color);
}

/* POPUP */
.edit_project_details_popup {
	/*position:fixed !important;
	top:5px !important;
	left:5px !important;
	right:5px !important;
	bottom:5px !important;*/
	width:580px;
	height:430px;
}
.edit_project_details_popup iframe {
	width:100%;
	height:100%;
}
