body,
  #main_column {
	background:#fff !important;
}
::-webkit-scrollbar-track {
	background-color:#fff;
}

.choose_available_tutorial:not(.in_popup) {
	/*border:1px solid var(--icon-folder-color);
	border-radius:2px;
	box-shadow:3px 3px 4px rgb(0 0 0 / 5%);*/
}
.choose_available_tutorial:not(.in_popup) > .title {
	/*padding:5px 20px;
	background:var(--icon-folder-color);
	color:#fff;
	font-size:13px;*/
	
	color:#ccc;
	border-bottom:1px solid #ccc;
	opacity:.5;
	display:none;
}
.choose_available_tutorial.in_popup > .title {
	margin:10px 0 5px 0;
	height:25px;
	color:#666;
	font-size:16px;
	text-align:center;
}

.choose_available_tutorial > ul {
	max-width:650px;
	margin:0 auto;
	padding:15px;
}
.choose_available_tutorial.in_popup > ul {
	height:calc(100vh - 70px);
	box-sizing:border-box;
	overflow:auto;
}
.choose_available_tutorial > ul li {
	text-align:left;
}
.choose_available_tutorial > ul > li:not(:last-child) {
	border-bottom:1px solid #4070ff50;
}
.choose_available_tutorial > ul li > .tutorial_header {
	padding:3px 0;
	cursor:pointer;
	color:#585B69;
}
.choose_available_tutorial > ul > li > .tutorial_header {
	padding:15px 0;
	color:inherit;
}
.choose_available_tutorial > ul li:hover > .tutorial_header {
	color:var(--icon-folder-color);
}
.choose_available_tutorial > ul li > .tutorial_header > .tutorial_description {
	display:none;
}
.choose_available_tutorial > ul li > .tutorial_header > .tutorial_title {
	padding-left:20px;
}
.choose_available_tutorial > ul li > .tutorial_header > .tutorial_title .icon {
	margin-left:-20px;
	margin-right:5px;
	opacity:1;
	color:var(--icon-active-color);/*#4070FF*/
}
.choose_available_tutorial > ul li.open.with_sub_tutorials > .tutorial_header > .tutorial_title .icon:not(.dropdown_arrow) {
	opacity:.5;
}
.choose_available_tutorial > ul li.with_sub_tutorials > .tutorial_header > .tutorial_title .icon.dropdown_arrow {
	width:10px;
	margin-top:3px;
	float:right;
}
.choose_available_tutorial > ul li.open.with_sub_tutorials > .tutorial_header > .tutorial_title .icon.dropdown_arrow::before {
	content:"\f106";
}
.choose_available_tutorial > ul li > ul {
	margin-bottom:10px;
}
.choose_available_tutorial > ul li:not(.open) > ul {
	display:none;
}

/*.choose_available_tutorial .card {
	width:300px;
	min-height:200px;
	margin:20px;
	padding:20px;
	display:inline-block;
	border:1px solid #eee;
	border-radius:5px;
	box-shadow:0px 0px 5px 5px rgb(200 200 200 / 20%);
	box-sizing:border-box;
	vertical-align:top;
}
.choose_available_tutorial .card a:hover {
	color:var(--icon-hover-color);
}
.choose_available_tutorial .card .card_header {
	height:150px;
	margin-bottom:10px;
	border-radius:2px;
}
.choose_available_tutorial .card .card_header:empty {
	background:var(--main-template-bg);
}
.choose_available_tutorial .card .card_header:empty:before {
	content:"No Image";
	line-height:150px;
	display:block;
	text-align:center;
	color:#ccc;
}
.choose_available_tutorial .card .card_header img {
	width:100%;
	height:100%;
}
.choose_available_tutorial .card .card_title {
	font-size:11px;
	margin-bottom:10px;
}
.choose_available_tutorial .card .card_description {
	font-size:10px;
	color:#666;
}
.choose_available_tutorial .card .video_link {
	display:block;
	text-align:right;
	color:var(--icon-hover-color);
}
.choose_available_tutorial .card .card_footer {
	margin-top:10px;
}
.choose_available_tutorial .card .list_group {
	font-size:10px;
}
.choose_available_tutorial .card .list_group .list_group_item {
	background:#f2f5fe;
	border:0;
	border-bottom:1px solid #eee;
}
.choose_available_tutorial .card .list_group .list_group_item:first-child {
	border-top-left-radius:2px;
	border-top-right-radius:2px;
}
.choose_available_tutorial .card .list_group .list_group_item:last-child {
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.choose_available_tutorial .card .list_group .list_group_item > .list_group_item_header {
	padding:10px;
	color:var(--main-template-color);
	background:var(--main-template-bg);
	cursor:pointer;
	position:relative;
}
.choose_available_tutorial .card .list_group .list_group_item > .list_group_item_header::after {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f106";
	position:absolute;
	top:13px;
	right:10px;
}
.choose_available_tutorial .card .list_group .list_group_item.collapsed > .list_group_item_header::after {
	content:"\f107";
}
.choose_available_tutorial .card .list_group .list_group_item > .list_group_item_body {
	padding:10px;
}
.choose_available_tutorial .card .list_group .list_group_item.collapsed > .list_group_item_body {
	display:none;
}*/

/* MODAL VIDEO */
.choose_available_tutorial .popup_video {
	padding:15px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(0,0,0,0.8);
	color:#fff;
	z-index:1;
	display:none;
}
.choose_available_tutorial .popup_video .popup_header {
	padding-bottom:15px;
	border-bottom:1px solid #fff;
}
.choose_available_tutorial .popup_video .popup_header .popup_title {
	display:inline-block;
}
.choose_available_tutorial .popup_video .popup_header .close {
	margin-top:-10px;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
	float:right;
}
.choose_available_tutorial .popup_video .popup_body {
	padding:20px;
	text-align:center;
}
.choose_available_tutorial .popup_video .popup_body iframe {
	max-width:calc(100% - 20px);
	background-color:#000;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}
.choose_available_tutorial .popup_video .popup_footer img {
	width:100px;
	height:100px;
	margin-right:10px;
	margin-bottom:10px;
	float:left;
}
