.choose_available_project > .title {
	height:25px;
	color:#666;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 0px 0px;
	text-align: center;
}
.choose_available_project > .layer {
	margin:10px auto;
	text-align:center;
}
.choose_available_project > .layer label {
	color:#666;
	font-weight:normal;
}
.choose_available_project > .layer .create_project .add {
	margin:auto 0 auto 20px;
	vertical-align:middle;
	font-size:14px;
}
.choose_available_project > .current_project_folder {
	height:20px;
	margin-bottom:10px;
	text-align:center;
}
.choose_available_project > .current_project_folder .folder {
	vertical-align:middle;
}
.choose_available_project > .current_project_folder .folder::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f07c";
	color:#e0a800;
}
.choose_available_project > .loading_projects {
	display:block;
	text-align:center;
}
.choose_available_project > .loading_projects .icon {
	display:inline-block;
	float:none;
	vertical-align:middle;
}
.choose_available_project > ul {
	height:calc(100% - 50px);
	margin-bottom:50px;
	overflow-y:auto;
	text-align:center;
}
.choose_available_project li:not(.no_projects) {
	display:inline-block;
	width:200px;
	height:140px;
	margin:10px;
	padding:10px;
	box-sizing:border-box;
	position:relative;
	border:1px solid #ccc;
	border-radius:5px;
	box-shadow:0px 0px 5px 5px rgb(200 200 200 / 20%);
	vertical-align:top;
	cursor:pointer;
	opacity:1;
}
.choose_available_project li:hover:not(.no_projects):not(.project_common) {
	box-shadow:0px 0px 10px 10px rgb(200 200 200 / 20%);
	opacity:.9;
}
.choose_available_project li.project.project_common {
	opacity:.5;
}
.choose_available_project li.no_projects {
	
}
.choose_available_project li > label {
	margin-bottom:10px;
	display:block;
	text-align:center;
	font-weight:normal;
	font-size:80%;
	cursor:pointer;
}
.choose_available_project li:not(.no_projects) > a {
	margin-top:10px;
	display:block;
	text-align:center;
	font-size:80%;
}
.choose_available_project li:hover:not(.no_projects) > a {
	text-decoration:underline;
}
.choose_available_project li.project > .image {
	width:100px;
	height:70px;
	margin:0 auto;
	cursor:pointer;
}
.choose_available_project li.project > .image > img {
	width:100%;
	height:100%;
}
.choose_available_project li > .photo {
	margin:0 auto;
	font-size:70px;
}
.choose_available_project li.project > .photo {
	cursor:pointer;
}
.choose_available_project li.project > .photo::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f0a0";
	color:#fb5c5c;
}
.choose_available_project li.folder > .photo::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f07c";
	color:#e0a800;
}
.choose_available_project li.back {
	padding-top:15px;
	cursor:pointer;
}
.choose_available_project li.back::after {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f2ea";
	
	margin-top:10px;
	display:block;
	font-size:70px;
}
