body,
  #main_column {
	background:#fff !important;
}

.choose_available_tutorial {
	
}
.choose_available_tutorial > .title {
	height:25px;
	color:#666;
	font-size: 16px;
	margin: 10px 0 5px 0;
	text-align: center;
}
.choose_available_tutorial .card {
	width:300px;
	min-height:200px;
	margin:20px;
	padding:20px;
	display:inline-block;
	border:1px solid #eee;
	border-radius:5px;
	box-shadow:0px 0px 5px 5px rgb(200 200 200 / 20%);
	box-sizing:border-box;
	vertical-align:top;
}
.choose_available_tutorial .card a:hover {
	color:var(--icon-hover-color);
}
.choose_available_tutorial .card .card_header {
	height:150px;
	margin-bottom:10px;
	border-radius:2px;
}
.choose_available_tutorial .card .card_header:empty {
	background:var(--main-template-bg);
}
.choose_available_tutorial .card .card_header:empty:before {
	content:"No Image";
	line-height:150px;
	display:block;
	text-align:center;
	color:#ccc;
}
.choose_available_tutorial .card .card_header img {
	width:100%;
	height:100%;
}
.choose_available_tutorial .card .card_title {
	font-size:11px;
	margin-bottom:10px;
}
.choose_available_tutorial .card .card_description {
	font-size:10px;
	color:#666;
}
.choose_available_tutorial .card .video_link {
	display:block;
	text-align:right;
	color:var(--icon-hover-color);
}
.choose_available_tutorial .card .card_footer {
	margin-top:10px;
}
.choose_available_tutorial .card .list_group {
	font-size:10px;
}
.choose_available_tutorial .card .list_group .list_group_item {
	background:var(--main-template-bg);
	border:1px solid #ccc;
}
.choose_available_tutorial .card .list_group .list_group_item:first-child {
	border-top-left-radius:2px;
	border-top-right-radius:2px;
}
.choose_available_tutorial .card .list_group .list_group_item:last-child {
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.choose_available_tutorial .card .list_group .list_group_item > .list_group_item_header {
	padding:10px;
	background:#DFE1ED;
	cursor:pointer;
	position:relative;
}
.choose_available_tutorial .card .list_group .list_group_item > .list_group_item_header::after {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f106";
	position:absolute;
	top:13px;
	right:10px;
}
.choose_available_tutorial .card .list_group .list_group_item.collapsed > .list_group_item_header::after {
	content:"\f107";
}
.choose_available_tutorial .card .list_group .list_group_item > .list_group_item_body {
	padding:10px;
}
.choose_available_tutorial .card .list_group .list_group_item.collapsed > .list_group_item_body {
	display:none;
}

/* MODAL VIDEO */
.choose_available_tutorial .modal_video {
	background-color: rgba(0,0,0,0.8);
	cursor:pointer;
}
.choose_available_tutorial .modal_video .modal-dialog {
	max-width:none;
	cursor:default;
}
.choose_available_tutorial .modal_video .modal-dialog .close-mo-icon {
	cursor:pointer;
}
.choose_available_tutorial .modal_video .modal-dialog iframe {
	max-width:80vw;
}
