#main_column {
	background:#fff !important;
}

/* TOP BAR */
.top_bar {
	margin-bottom:20px;
}

/* INSTALL PROGRAM */
.install_program {
	margin:0 20px 20px;
	text-align:center;
}
.install_program input[type=text][disabled] {
	opacity:.3;
}
.install_program ul {
	margin-left:10px;
	text-align:left;
}
.install_program .file_ok {
	background:rgba(0, 128, 0, .2);
}
.install_program .file_exists {
	background:rgba(255, 0, 0, .2);
}

.install_program .step_0 .upload_file {
	display:block;
	margin:10px auto 0 auto;
}
.install_program .step_0 .upload_url {
	margin:10px auto 0 auto;
}
.install_program .step_0 .upload_url label {
	margin-right:10px;
}
.install_program .step_0 .upload_url input {
	width:270px;
}
.install_program .step_0 .upload_url .icon {
	height:16px;
	display:inline-block;
	float:none;
	vertical-align:middle;
}
.install_program .step_0 .warning {
	margin:20px;
	padding:20px;
	border:1px solid #efbebe;
	border-radius:5px;
	background:#efbebe7a;
	color:red;
}
.install_program .step_0 .install_store_program,
  .install_program .step_0 .go_to_programs_download_page {
	width:100%;
	margin:5px auto;
	text-align:center;
	color:#999;
}
.install_program .step_0 .install_store_program {
	margin-top:30px;
}
.install_program .step_0 .go_to_programs_download_page {
	margin-bottom:30px;
}

.install_program .step_1 > .info {
	margin:10px 0;
	padding:10px;
	border:1px solid #ccc;
	background:#eee;
}
.install_program .step_1 > .info pre {
    white-space: break-spaces;
}
.install_program .step_1 .program_settings {
	margin:60px 0 20px;
	padding:10px;
	border:1px solid #ccc;
	background:#eee;
	text-align:left;
}
.install_program .step_1 .program_settings > label:first-child {
	position:absolute;
	margin: -3.3em 0 0 -1.1em;
	font-size: 80%;
	font-weight:700;
	background: #eee;
	padding: 5px 10px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 5px;
}
.install_program .step_1 .program_settings label {
	font-weight:normal;
}
.install_program .step_1 .program_settings .info {
	font-size: 80%;
}
.install_program .step_1 .db_drivers,
  .install_program .step_1 .layers {
	margin-top:20px;
}
.install_program .step_1 .db_drivers > label,
  .install_program .step_1 .layers > label {
	display:block;
}
.install_program .step_1 .db_drivers > ul,
  .install_program .step_1 .layers > ul {
	display:inline-block;
	margin:10px auto;
}

.install_program .step_2 > .db_drivers > label,
  .install_program .step_2 > .layers > label {
	display:block;
}
.install_program .step_2 > .layers > label {
	margin-top:20px;
}
.install_program .step_2 > .db_drivers > ul,
  .install_program .step_2 > .layers > ul {
	display:inline-block;
	margin:10px auto;
}
.install_program .step_2 > .layers table td:nth-child(1) {
	width:auto;
}
.install_program .step_2 > .layers table td:nth-child(2) {
	min-width:50px;
	text-align:center;
	font-weight:700;
}
.install_program .step_2 > .layers table td:nth-child(3) {
	min-width:180px;
	font-size:80%;
	text-align:center;
}

.install_program .step_3 > .error {
	color:red;
}
.install_program .step_3 > .messages_list,
  .install_program .step_3 > .errors_list {
	margin:10px 20px;
	padding:20px;
	background:#eee;
	border-radius:1rem;
}
.install_program .step_3 > .messages_list ul,
  .install_program .step_3 > .messages_list li,
  .install_program .step_3 > .errors_list ul,
  .install_program .step_3 > .errors_list li {
	margin-left:20px;
	list-style:disc;
}
.install_program .step_3 > .messages_list li,
  .install_program .step_3 > .errors_list li {
	margin-bottom:5px;
}
.install_program .step_3 > .ok {
	color:green;
}
.install_program .step_3 > .users_permissions {
	margin:20px 20px 40px;
	padding:20px;
	text-align:center;
	background:#eee;
	border-radius:1rem;
}
.install_program .step_3 > .users_permissions .info {
	margin-top:10px;
	display:block;
	font-family:var(--main-font-family);
}
.install_program .step_3 > .users_permissions .info img {
	vertical-align:middle;
}
.install_program .step_3 > .users_permissions .info ol {
	margin-left:20px;
	display: inline-block;
	text-align: left;
}
.install_program .step_3 > .users_permissions .info ol li {
	margin:5px 0;
}
.install_program .step_3 > .users_permissions > .users_management_admin_panel_popup {
	width:90vw !important;
	height:90vh !important;
	position:fixed !important;
	left:5% !important;
	top:5% !important;
	box-sizing:border-box;
}
.install_program .step_3 > .users_permissions > .users_management_admin_panel_popup > iframe {
	width:100% !important;
	height:100% !important;
	/* !important is very important otherwise the myfancypopp will overwrite this values */
}
.install_program .step_3 > .users_permissions > .popup_overlay {
	width:auto !important;
	height:auto !important;
	position:fixed !important;
	z-index:1 !important;
}

/* PROGRAM POPUPS - install_store_program_popup */

.install_store_program_popup {
	top:10px !important;
	left:10px !important;
	right:10px !important;
	bottom:10px !important;
}
.install_store_program_popup ul {
	max-height: calc(100% - 60px);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
	overflow: auto;
}
.install_store_program_popup ul li {
	flex: 25%;
	max-width: 200px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 80%;
	text-align:center;
}
.install_store_program_popup ul li img {
    width:100%;
    border-bottom:1px solid #ddd;
}
.install_store_program_popup ul li label {
    margin:15px 0 10px;
    display: block;
    text-align: center;
    font-weight:normal;
    color:#666;
}
.install_store_program_popup ul li div {
    margin:5px 0 10px;
    display: block;
    text-align: center;
    font-weight:normal;
    color:#999;
}
.install_store_program_popup ul li.loading {
	padding-left:30px;
	border:none;
	background:transparent;
	text-align:center;
}
