.title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 20px 0px;
	text-align: center;
	width: 100%;
	height:25px;
}

.file_upload {
	width:400px;
	margin:0 auto;
	text-align:center;
}
.file_upload form {
	width:auto;
	margin:0 auto;
	display:inline-block;
	text-align:left;
}
.file_upload label {
	display:block;
	width:100%;
	height:20px;
	margin-bottom:10px;
	font-weight:normal;
}
.file_upload select[name=project] {
	margin-bottom:10px;
}
.file_upload select {
	text-align:center;
}
.file_upload .upload_file {
	display:block;
	margin:10px 0;
}
.file_upload .upload_file .icon {
	height:16px;
	margin-top:0;
	display:inline-block;
	float:none;
	vertical-align:middle;
}
.file_upload .button {
	display:block;
	margin:10px auto 20px auto;
	height:20px;
	line-height:15px;
	font-size:10px;
	font-weight:bold;
}
.file_upload .installing {
	margin:10px auto;
	text-align:center;
}
.file_upload .add {
	margin-top:0;
	display:inline-block;
	float:none;
	vertical-align:middle;
}
.file_upload .info {
	width:100%;
}
.file_upload .warning {
	margin:20px;
	padding:20px;
	border:1px solid #efbebe;
	border-radius:5px;
	background:#efbebe7a;
	color:red;
}

.go_to_modules_download_page {
	width:100%;
	text-align:center;
	color:#999;
	margin-bottom:10px;
}
.go_back_to_modules_list {
	width:100%;
	text-align:center;
	color:#999;
	margin-bottom:30px;
}

.messages {
	margin:20px 10px 20px 10px;
	padding:10px;
	background-color:#CCC;
	border:1px solid #999;
}
.messages li.space {
	margin-top:20px;
	margin-bottom:20px;
	border-top:1px inset #555;
}
.messages li.module {
	padding:10px;
	border:1px solid #ddd;
	background:#eee;
	text-align:center;
	font-weight:bold;
}
.messages li.project {
	margin-top:20px;
}
.messages li ul li {
	margin-left:20px;
}
.messages li ul li.ok {
	color:green;
	font-weight:bold;
}
.messages li ul li.error {
	color:red;
	font-weight:bold;
}
.messages li ul li.alert {
	color:orange;
	font-weight:bold;
}
.messages li ul li.info {
	color:#999;
	font-weight:bold;
}
.messages li ul li.exception {
	color:brown;
}
