<module>
	<label>Show Question Users Answers</label>
	<description>Module "Show Question Users Answers" shows the answers per user for a specific question.</description>
	<image>logo.svg</image>
	<load_module_settings_js_function>loadShowQuestionUsersAnswersBlockSettings</load_module_settings_js_function>
</module>
