body {
	font-family:var(--main-font-family);
}
body:not(.in_popup) #main_column {
	background:#DFE1ED;
}
.login {
	font-size:13px;
}
.login.with_popup .container .admin-page-content {
	padding:0;
}
.login:not(.with_popup) .container .card {
	box-shadow:0px 0px 80px 10px rgba(173,173,173,0.5) !important;
	margin-top:calc((100vh - 430px) / 2);
}
.login.with_popup .container .card {
	box-shadow:none !important;
}
.login .container .card .card-header {
	background:#2C2D34;
	color:#BFC4DB;
}
.login.with_popup .container .card .card-header {
	height:50px;
	padding:15px;
	background:var(--link-color);
}
.login .container .card .card-header {
	text-align:center;
}
.login .container .card .card-header img {
	height:44px;
	margin:15px auto;
	display:inline-block;
}
.login.with_popup .container .card .card-header h5 {
	line-height:20px;
	margin-bottom:0;
	color:#fff;
	text-align:left;
	font-size:13px;
}
.login .container .card .card-body {
	padding:40px;
}
.login.with_popup .container .card .card-body {
	padding:20px;
}
.login .container .card .card-body .title {
	margin:0 0 40px;
	color:var(--link-color);
	font-size:21px;
	text-align:center;
}
.login.with_popup .container .card .card-body .title {
	display:none;
}

.form_fields { width:calc(100% - 10px); margin:10px auto 0; }
.form_fields .form_field { position:relative; padding:7px 0; color:#555; }
.form_fields .form_field label {
	margin:0;
	position:absolute;
	left:0;
	font-family:inherit;
	
	pointer-events:none;
	-webkit-transition:.3s ease all;
	-o-transition:.3s ease all;
	transition:.3s ease all;
}
.form_fields .form_field label i.asterisk {
	color:#FC3C44;
	font-style:normal;
}
.form_fields .form_field input { 
	width:100%; 
	display:block;
	font-family:inherit;
	font-size:inherit;
	color:inherit;
	letter-spacing:inherit;
	word-spacing:inherit;
	
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center bottom, center calc(100% - 1px);
	background-size:0 2px, 100% 2px;
	transition: background 0s ease-out;
	transition:box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear;
	transition:background 0s ease-out;
	
	--input-line-color:var(--link-color);
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(var(--input-line-color)), to(var(--input-line-color))), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#000));
	background-image: -webkit-linear-gradient(var(--input-line-color), var(--input-line-color)), -webkit-linear-gradient(#e0e0e0, #000);
	background-image: -o-linear-gradient(var(--input-line-color), var(--input-line-color)), -o-linear-gradient(#e0e0e0, #000);
	background-image: linear-gradient(var(--input-line-color), var(--input-line-color)), linear-gradient(#e0e0e0, #000);
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form_fields .form_field input:focus {
	-webkit-background-size: 100% 2px, 100% 1px;
	background-size: 100% 2px, 100% 1px;
	outline: none;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
}
.form_fields .form_field input:focus ~ label, 
  .form_fields .form_field input:-webkit-autofill ~ label,
  .form_fields .form_field input:not(:placeholder-shown) ~ label {
	top:-.8rem;
	left:0;
	/*font-size:95%;*/
	color:#aaa;
}
/*.form_fields .form_field input:focus ~ label:after, 
  .form_fields .form_field input:-webkit-autofill ~ label:after,
  .form_fields .form_field input:not(:placeholder-shown) ~ label:after {
	content:":";
}*/
.form_fields .form_field input ~ label {
	top:.9rem;
	left:.75rem;
	font-size:inherit;
	color:inherit;
}

.buttons { width:320px; margin:25px auto 0; text-align:center; }
.buttons input { font-size:inherit; }

