<module>
	<label>List Object Attachments</label>
	<description>Module "List Object Attachments" allows to manage the object attachments.</description>
	<image>logo.svg</image>
	<load_module_settings_js_function>loadListSettingsBlockSettings</load_module_settings_js_function>
	<is_reserved_module>1</is_reserved_module>
</module>
