.list_settings {
	width:auto;
}

.list_settings .questions_type,
   .list_settings .list_by_parent,
   .list_settings .list_by_parent .list_parent_object_type_id,
   .list_settings .list_by_parent .list_parent_object_id,
   .list_settings .list_by_parent .list_parent_group,
   .list_settings .list_sort_column,
   .list_settings .list_sort_order {
	width:100%;
	text-align:left;
	margin-bottom:5px;
	float:none;
	clear:left;
}
.list_settings .questions_type label,
   .list_settings .list_by_parent label,
   .list_settings .list_by_parent .list_parent_object_type_id label,
   .list_settings .list_by_parent .list_parent_object_id label,
   .list_settings .list_by_parent .list_parent_group label,
   .list_settings .list_sort_column label,
   .list_settings .list_sort_order label {
	margin-bottom:5px;
	display:block;
	float:left;
	clear:none;
}
.list_settings .list_sort_column {
	width:330px;
	float:left;
	clear:none;
}
.list_settings .list_sort_order {
	width:230px;
	float:left;
	clear:none;
}
.list_settings .list_by_parent {
	float:none;
	clear:left;
	min-height:22px;
}
.list_settings .list_by_parent .list_parent_object_type_id {
	width:39%;
	float:left;
	clear:none;
}
.list_settings .list_by_parent .list_parent_object_id,
   .list_settings .list_by_parent .list_parent_group {
	width:30%;
	float:left;
	clear:none;
}
.list_settings .questions_type label, 
   .list_settings .list_sort_order label, 
   .list_settings .list_by_parent .list_parent_object_type_id label,
   .list_settings .list_sort_column label {
	width:130px;
}
.list_settings .list_by_parent .list_parent_object_id label, 
   .list_settings .list_by_parent .list_parent_group label {
	width:90px;
}
.list_settings .list_by_parent .list_parent_object_type_id select {
	width:130px;
}
.list_settings .list_by_parent .list_parent_object_id input { 
	width:100px;
}
.list_settings .list_by_parent .list_parent_group input {
	width:20px;
}

.list_settings .list_sort_order label {
	display:none;
}

.list_settings .list_by_parent, 
   .list_settings .list_parent_group {
	display:none;
}

.list_settings .settings_props {
	width:auto;
	margin-top:20px;
	margin-bottom:0;
	padding-top:20px;
	border-bottom:0;
	border-top:1px solid #CCC;
}
.list_settings .settings_props .settings_prop {
	width:auto;
}
