body {
	font-family:var(--main-font-family);
}
.login {
	font-size:8pt;
}
.login.with_popup .container .admin-page-content {
	padding:0;
}
.login:not(.with_popup) .container .card {
	box-shadow:0px 0px 80px 10px rgba(173,173,173,0.5) !important;
	margin-top:calc((100vh - 350px) / 2);
}
.login .container .card .card-header {
	background:#2C2D34;
	color:#BFC4DB;
	border-bottom:3px solid #FC3C44;
}
.login:not(.with_popup) .container .card .card-header {
	border-bottom:3px solid #FC3C44;
}
.login .container .card .card-header {
	text-align:center;
}
.login .container .card .card-header img {
	margin:20px auto 30px;
	display:inline-block;
}
.login .container .card .card-header h5 {
	margin-bottom:0;
}

.form_fields { width:320px; margin:10px auto 0; }
.form_fields .form_field { position:relative; padding:7px 0; color:#555; }
.form_fields .form_field label {
	margin:0;
	position:absolute;
	left:0;
	font-family:inherit;
	
	pointer-events:none;
	-webkit-transition:.3s ease all;
	-o-transition:.3s ease all;
	transition:.3s ease all;
}
.form_fields .form_field input { 
	width:100%; 
	display:block;
	font-family:inherit;
	font-size:inherit;
	color:inherit;
	letter-spacing:inherit;
	word-spacing:inherit;
	
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center bottom, center calc(100% - 1px);
	background-size:0 2px, 100% 2px;
	transition: background 0s ease-out;
	transition:box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear;
	transition:background 0s ease-out;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FC3C44), to(#FC3C44)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#000));
	background-image: -webkit-linear-gradient(#FC3C44, #FC3C44), -webkit-linear-gradient(#e0e0e0, #000);
	background-image: -o-linear-gradient(#FC3C44, #FC3C44), -o-linear-gradient(#e0e0e0, #000);
	background-image: linear-gradient(#FC3C44, #FC3C44), linear-gradient(#e0e0e0, #000);
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form_fields .form_field input:focus {
	-webkit-background-size: 100% 2px, 100% 1px;
	background-size: 100% 2px, 100% 1px;
	outline: none;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
}
.form_fields .form_field input:focus ~ label, 
  .form_fields .form_field input:-webkit-autofill ~ label,
  .form_fields .form_field input:not(:placeholder-shown) ~ label {
	top:-.8rem;
	left:0;
	font-size:80%;
	color:#aaa;
}
.form_fields .form_field input:focus ~ label:after, 
  .form_fields .form_field input:-webkit-autofill ~ label:after,
  .form_fields .form_field input:not(:placeholder-shown) ~ label:after {
	content:":";
}
.form_fields .form_field input ~ label {
	top:.9rem;
	left:.75rem;
	font-size:inherit;
	color:inherit;
}

.buttons { width:320px; margin:20px auto 0; text-align:center; }
.buttons input { width:100%; font-weight:600; font-size:8pt; background:#2C2D34; color:#fff; }
.buttons input:hover { background:#2C2D34dd; color:#fff; }

