<module>
	<label>Edit Object Event</label>
	<description>Module "Edit Object Event" allows the user to edit an object event.</description>
	<image>logo.gif</image>
	<load_module_settings_js_function>loadEditObjectEventSettingsBlockSettings</load_module_settings_js_function>
	<is_reserved_module>1</is_reserved_module>
</module>
