.edit_settings .settings_props {
	border:0;
}
.edit_settings .settings_props .settings_prop.prop_user_attachments .label_settings {
	padding:0;
}
.edit_settings .settings_props .settings_prop.prop_password .selected_task_properties .form_containers .fields .field .other_settings .password_generator {
	width:100%;
	height:20px;
	margin-bottom:5px;
	margin-left:20px;
}
.edit_settings .settings_props .settings_prop.prop_password .selected_task_properties .form_containers .fields .field .other_settings .password_generator label {
	width:130px;
	display:inline-block;
	/*font-size:90%;*/
}
