<module>
	<label>Edit Menu Group</label>
	<description>Module "Edit Menu Group" allows the user to edit a menu group.</description>
	<image>logo.svg</image>
	<load_module_settings_js_function>loadEditSettingsBlockSettings</load_module_settings_js_function>
	<is_reserved_module>1</is_reserved_module>
</module>
