/* TOP BAR */
.top_bar {
	margin-bottom:20px;
}
.top_bar header {
	width:calc(100% - 215px);
	left:0;
	right:215px;
}
.top_bar header > ul > li:hover:after {	
	right:220px;
}

/* USER */
#menu {
	position:fixed;
	top:0;
	left:auto;
	right:0;
	bottom:0;
	width:220px;
	padding-top:0px;
	overflow:auto;
	text-align:right;
	z-index:1;
	
	background-color:#eee;
	background: -moz-linear-gradient(right, #eee 97%, #ffffff73 100%);
	background: -webkit-gradient(linear, right top, right bottom, color-stop(97%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(right, #eee 97%, #ffffff73 100%);
	background: -o-linear-gradient(right, #eee 97%, #ffffff73 100%);
	background: -ms-linear-gradient(right, #eee 97%, #ffffff73 100%);
	background: linear-gradient(to left, #eee 97%, #ffffff73 100%);
}
#menu ul {
	/*border-top:1px dashed #FFF;*/
}
#menu ul li {
	height:20px;
	/*border-bottom:1px dashed #FFF;*/
	padding:3px 10px;
}
#menu ul li:hover:not(.current_user) {
	background-color:#ddd;
}
#menu ul li a {
	color:#666;
	font-size:90%;
}
#menu li.current_user {
	height:37px;
	line-height:30px;
	padding:0 10px 0 0;
	border-bottom:0;
	font-style:italic;
	text-align:right;
	color:#999;
	font-size:90%;
	
	background: linear-gradient(to bottom, #f7f7f7 0%, #eee 95%, #ffffff73 100%);
}
#menu li.manage_menu_item {
	border-top:1px dashed #FFF;
}
#menu li.manage_user_type_permissions,
  #menu li.manage_layout_type_permissions {
	border-bottom:1px dashed #FFF;
}
#menu li.manage_layout_types,
  #menu li.manage_login_controls,
  #menu li.change_db_keys,
  #menu li.change_auth_settings {
	margin-top:20px;
	border-bottom:1px dashed #FFF;
}
#menu li.change_db_keys {
	background-color:#ddd;
}

#content {
	position:absolute;
	top:0;
	left:0;
	right:220px;
	bottom:0;
	overflow:auto;
}

#content .users_list {}
#content .user_types_list {}
#content .layout_types_list {}
#content .object_types_list {}
#content .permissions_list {}
#content .login_controls_list {}
#content .edit_user_type {}
#content .object_user_type {}
#content .edit_user {}
#content .edit_permission {}
#content .change_db_keys {}
#content .change_auth_settings {}

#content table { margin:0 auto; }
#content th { border-right:1px solid #eee; text-transform:capitalize; font-size:10px; color:#666; }
#content td { border-top:1px solid #CCC; border-right:1px solid #eee; padding:0px 2px 0px 2px; }
#content table .user_id { width:50px; }
#content table .permission_id { width:50px; }
#content table .user_type_id { width:60px; }
#content table .layout_type_id { width:50px; }
#content table .object_type_id { width:50px; }
#content table .user_type { width:100px; }
#content table .layout_type { width:100px; }
#content table .username { width:150px; }
#content table .name { width:150px; }
#content table .created_date { width:150px; text-align:center; }
#content table .modified_date { width:150px; text-align:center; }
#content table td.object_id { text-align:left; padding-left:5px; padding-right:5px; }
#content table .user_type_permission { min-width:100px; }
#content table .layout_type_permission { min-width:100px; }
#content table .buttons { width:20px; padding:0; border:0; }
#content table .buttons .add {font-size:14px;}
#content table .buttons .icon {margin:0 5px;}
#content table .buttons .update {}

#content div.user_type { width:310px; margin:0 auto 20px auto; float:none; clear:left;}
#content div.user_type label { display:block; float:left; width:100px; }
#content div.user_type select { width:200px; text-align:center; }

#content div.layout_type { width:430px; margin:0 auto 20px auto; float:none; clear:left;}
#content div.layout_type label { display:block; float:left; width:100px; }
#content div.layout_type select[name=type_id] { width:110px; }
#content div.layout_type select[name=layout_type_id] { width:200px; }

#content .edit_layout_type div.type { height:auto; }
#content .edit_layout_type div.type select[name=choose_project] { width:205px; margin-top:5px; margin-left:80px; background:#fff; color:#999; }

#content .form_fields { width:310px; margin:0 auto; }
#content .form_fields .form_field { float:none; clear:left; height:20px; margin-bottom:7px; }
#content .form_fields .form_field label { width:80px; display:block; float:left; font-weight:normal; }
#content .form_fields .form_field input { width:200px; }
#content .form_fields .form_field select { width:205px; }
#content .buttons { width:150px; height:20px; margin:15px auto 20px auto; float:none; clear:left; }
#content .buttons .submit_button { float:left; width:70px; text-align:center; }
#content .buttons .submit_button input { font-size:10px; font-weight:bold; height:20px; line-height:15px; }
#content form > .buttons { display:none; }

#content .change_db_keys .form_fields { width:560px; }
#content .change_db_keys .form_fields .form_field_login { width:300px; margin-left:auto; margin-right:auto; }
#content .change_db_keys .form_fields .form_field_login.password { margin-bottom:20px; }
#content .change_db_keys .form_fields .form_field_key label { width:235px; }
#content .change_db_keys .form_fields .form_field_key input { width:300px; }
#content .change_db_keys .label { width:560px; margin:0 auto 10px auto; font-weight:bold; }
#content .change_db_keys .info { text-align:center; margin-top:20px; }
#content .change_db_keys .buttons { display:none; }

#content .change_auth_settings .form_fields { width:460px; }
#content .change_auth_settings .form_fields .form_field label { width:240px; }
#content .change_auth_settings .form_fields .form_field input { width:60px; }
#content .change_auth_settings .form_fields .form_field_db { margin-left:90px; }
#content .change_auth_settings .form_fields .form_field_db label { width:150px; }
#content .change_auth_settings .form_fields .form_field_db input { width:170px; }
#content .change_auth_settings .form_fields .form_field_db input[type=checkbox] { width:auto; }
#content .change_auth_settings .form_fields .form_field_db.db_port input {width:60px;}
#content .change_auth_settings .form_fields .form_field_db select { width:175px; }
#content .change_auth_settings .form_fields .auth_db_path input { width:200px; }
#content .change_auth_settings .form_fields .remote_db_credentials { height:20px; margin-bottom:5px; font-weight:bold; }
#content .change_auth_settings .form_fields .show_advanced_db_options span { display:block; text-align:right; padding-right:45px; }
#content .change_auth_settings .form_fields .form_field .toggle_password {
	margin-left:5px;
}
#content .change_auth_settings .label { width:100%; margin:0 auto 20px auto; font-weight:bold; text-align:center; }
#content .change_auth_settings .buttons { display:none; }

#content .edit_user .error { width:100%; text-align:center; font-weight:bold; color:red; }

#content .user_type_permissions_list table {min-width:350px; font-size:80%;}
#content .user_type_permissions_list table .user_type_permission {width:50px; text-align:center;}
#content .user_type_permissions_list table .user_type_permission.new:after {content:"new"; color:red; font-weight:bold; margin-left:10px; position:absolute; opacity:0.6;}
#content .user_type_permissions_list table .user_type_permission .toggle {
	display:inline-block;
	position:absolute;
	margin-left:50px;
	font-size:16px;
}
#content .user_type_permissions_list table .user_type_permission .toggle::before {
	content:"\f204";
}
#content .user_type_permissions_list table .user_type_permission .toggle.active::before {
	content:"\f205";
}
#content .user_type_permissions_list table .icon {
	width:24px;
	height:24px;
	display:inline-block;
	float:none;
	vertical-align:middle;
}
#content .user_type_permissions_list .user_type_permissions_content {
	border:0;
}
#content .user_type_permissions_list .user_type_permissions_content > .tabs  { 
	background:none;
	border-top:0;
	border-left:0;
	border-right:0;
	border-radius:0;
}
#content .user_type_permissions_list .user_type_permissions_content #pages_permissions_list,
  #content .user_type_permissions_list .user_type_permissions_content #layers_permissions_list {
	max-height:calc(100vh - 165px);
	overflow:auto;
	position:relative;
}
#content .user_type_permissions_list .user_type_permissions_content #layers_permissions_list table td.main_node {
	text-align:left;
}
#content .user_type_permissions_list .user_type_permissions_content #layers_permissions_list table td.object_id {
	text-align:left;
	padding-left:20px;
}
#content .user_type_permissions_list .user_type_permissions_content #layers_permissions_list table .icon {
	width:24px;
	height:24px;
	float:none;
	display:inline-block;
	vertical-align:middle;
}
#content .user_type_permissions_list .buttons {
	 display:none;
}

#content .layout_type_permissions_list .layout_type select {text-align:left;}
#content .layout_type_permissions_list .layout_type_permissions_content {
	border:0;
}
#content .layout_type_permissions_list .layout_type_permissions_content label {font-weight:normal;}
#content .layout_type_permissions_list .layout_type_permissions_content > .tabs { 
	background:none;
	border-top:0;
	border-left:0;
	border-right:0;
	border-radius:0;
}
#content .layout_type_permissions_list .layout_type_permissions_content #belonging_to_layout,
  #content .layout_type_permissions_list .layout_type_permissions_content #referenced_in_layout {
	max-height:calc(100vh - 165px);
	overflow:auto;
	position:relative;
	font-size:80%;
}
#content .layout_type_permissions_list .layout_type_permissions_content .mytree {
	margin-top:10px;
	margin-bottom:10px;
}
#content .layout_type_permissions_list .layout_type_permissions_content .mytree li {
	margin-left:15px;
	position:relative;
}
#content .layout_type_permissions_list .layout_type_permissions_content .mytree li label > input[type=checkbox] {
	position:absolute;
	top:3px;
	left:-15px;
}
#content .layout_type_permissions_list .mytree .icon.main_node {
	width:24px;
	height:24px;
	margin-left:15px;
	display:inline-block;
	float:none;
	vertical-align:middle;
}
#content .layout_type_permissions_list .buttons {
	 display:none;
}
