.module_edit {
	width:350px;
}
.module_edit .form_fields .form_field label {
	width:110px;
}
.module_edit .form_fields .form_field input,
  .module_edit .form_fields .form_field textarea {
	width:220px;
}
.module_edit .form_fields .form_field select {
	width:227px;
}
.module_edit .buttons .submit_button_save {
	display:none;
}
