.mytree {margin-bottom:20px;}

.jstree-default .jstree-clicked {background-color:#ddd !important;}
.mytree .jstree-hovered {background-color:transparent !important; border-radius:none; box-shadow:none;}
.mytree .jstree-anchor.jstree-clicked.jstree-hovered, .mytree .jstree-anchor.link.jstree-clicked.jstree-hovered {background-color:#ccc !important; border-radius:2px; box-shadow:inset 0 0 1px #999999;}
.mytree .jstree-anchor.link.jstree-hovered {background-color:#eee !important; border-radius: 2px; box-shadow: inset 0 0 1px #cccccc;}
.mytree .jstree-anchor {cursor:default; vertical-align:middle;}
.mytree a.link * {cursor:pointer;}
.mytree li > .sub_menu {margin-left:5px; color:#ccc;}
.mytree li > .sub_menu:hover::after {content:"Click me"; position:fixed; top:auto; left:auto; margin:-8px 0 0 -28px; color:var(--main-template-color); font: initial; font-family:var(--main-font-family); font-size:8px; }

.mytree li.disabled > a {opacity:.5;}
.mytree li.module_folder_disabled > a, .mytree li.module_folder_disabled > ul {opacity:.5;}

#selected_menu_properties {
	min-width:200px;
}

/* ICONS */
.mytree .jstree-themeicon {
	background:none;
}
.mytree i.jstree-themeicon::before,
  .mytree i.tab_icon::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	font-size:16px;
	display:block;
	margin-top:4px;
}
.mytree i.jstree-themeicon::after,
  .mytree i.tab_icon::after {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	font-size:12px;
	display:block;
	margin:-10px 0 0 10px;
}
.mytree i.jstree-themeicon::before {
	content:"\f07b";
	color:#FAB12B;
}
.mytree i.main_node::before {
	content:"\f07b";
	color:#888;
}
.mytree i.file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.undefined_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.undefined_file::after {
	content:"\3f";
	color:#ff0000;
}
.mytree i.reserved_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.reserved_file::after {
	content:"\f05e";
	color:#ff0000;
}
.mytree i.reserved_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.reserved_folder::after {
	content:"\f05e";
	color:#ff0000;
}

.mytree li[data-jstree='{"icon":"reserved_folder"}'] > a,
  .mytree li[data-jstree='{"icon":"reserved_file"}'] > a {
	opacity:.7
}

/* ICONS - COMMON */
.mytree i.cms_common::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.cms_common::after {
	content:"\f187";
	color:#888;
}
.mytree i.cms_module::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.cms_module::after {
	content:"\f61f";
	color:#888;
}
.mytree i.cms_program::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.cms_program::after {
	content:"\f51f";
	color:#888;
}
.mytree i.cms_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.cms_folder::after {
	content:"\f49e";
	color:#888;
}
.mytree i.referenced_folder::before {
	content:"\2a";
	color:#FAB12B;
}

/* ICONS - PRESENTATION */
.mytree i.main_node_presentation_layers::before {
	content:"\f5fd";
	color:#FAB12B;
}
.mytree i.main_node_presentation_layers::after {
	content:"\f0ac";
	color:#888;
}
.mytree i.main_node_presentation::before {
	content:"\f07b";
	color:#FAB12B;
}
.mytree i.main_node_presentation::after {
	content:"\f233";
	color:#888;
}
.mytree i.project::before {
	content:"\f0a0";
	color:#999;
}
.mytree i.project_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.project_folder::after {
	content:"\f0a0";
	color:#888;
}
.mytree i.project_common::before {
	content:"\f0a0";
	color:#ccc;
}
.mytree i.project_common::after {
	content:"\f1e0";
	color:#333;
}
.mytree i.configs_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.configs_folder::after {
	content:"\f013";
	color:#888;
}
.mytree i.config_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.config_file::after {
	content:"\f013";
	color:#888;
}
.mytree i.entities_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.entities_folder::after {
	content:"\f15b";
	color:#888;
}
.mytree i.entity_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.entity_file::after {
	content:"\f15b";
	color:#888;
}
.mytree i.views_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.views_folder::after {
	content:"\f03e";
	color:#888;
}
.mytree i.view_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.view_file::after {
	content:"\f03e";
	color:#888;
}
.mytree i.templates_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.templates_folder::after {
	font-size:13px;
	content:"\f815";
	color:#888;
}
.mytree i.template_folder::before {
	content:"\f802";
	color:#FAB12B;
}
.mytree i.template_folder::after {
	font-size:13px;
	content:"\f815";
	color:#888;
}
.mytree i.template_file::before {
	margin-left:-5px;
	content:"\f570";
	color:#888;
}
.mytree i.blocks_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.blocks_folder::after {
	content:"\f1b2";
	color:#888;
}
.mytree i.block_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.block_file::after {
	content:"\f1b2";
	color:#888;
}
.mytree i.utils_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.utils_folder::after {
	content:"\f121";
	color:#888;
}
.mytree i.util_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.util_file::after {
	content:"\f121";
	color:#888;
}
.mytree i.class::before {
	content:"\f121";
	color:#ccc;
}
.mytree i.class::after {
	content:"\f468";
	color:#888;
}
.mytree i.webroot_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.webroot_folder::after {
	content:"\f0ac";
	color:#888;
}
.mytree i.webroot_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.webroot_file::after {
	content:"\f0ac";
	color:#888;
}
.mytree i.img_file::before {
	content:"\f1c5";
	color:#888;
}
.mytree i.php_file::before,
  .mytree i.css_file::before,
  .mytree i.js_file::before,
  .mytree i.zip_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.php_file::after,
  .mytree i.css_file::after,
  .mytree i.js_file::after,
  .mytree i.zip_file::after {
	color:#333;
	margin:-7px 0 0 -3px;
	font:initial;
	font-family:var(--main-font-family);
	font-size:8px;
	font-weight:bold;
	background:#FAB12B88;
	display:inline-block;
	padding:1px 3px;
}
.mytree i.php_file::after {
	content:"PHP";
}
.mytree i.css_file::after {
	content:"CSS";
}
.mytree i.js_file::after {
	content:"JS";
}
.mytree i.zip_file::after {
	content:"ZIP";
}

.mytree i.properties::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.properties::after {
	content:"\f055";
	color:#888;
}
.mytree i.controllers_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.controllers_folder::after {
	content:"\f1e6";
	color:#888;
}
.mytree i.controller_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.controller_file::after {
	content:"\f1e6";
	color:#888;
}
.mytree i.caches_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.caches_folder::after {
	content:"\f0c7";
	color:#888;
}
.mytree i.cache_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.cache_file::after {
	content:"\f0c7";
	color:#888;
}
.mytree i.wordpress_folder::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.wordpress_folder::after {
	font:var(--fa-font-brands);
	font-size:16px;
	content:"\f19a";
	color:#1e769d;
}
.mytree i.wordpress_installation_folder::before {
	font:var(--fa-font-brands);
	font-size:16px;
	content:"\f19a";
	color:#1e769d;
}
.mytree i.module_folder::before {
	content:"\f61f";
	color:#888;
}
.mytree i.module_file::before {
	font:var(--fa-font-regular);
	font-size:16px;
	margin-left:-5px;
	content:"\f15b";
	color:#ccc;
}
.mytree i.module_file::after {
	content:"\f61f";
	color:#888;
}

/* ICONS - BUSINESS LOGIC */
.mytree i.main_node_business_logic_layers::before {
	content:"\f5fd";
	color:#FAB12B;
}
.mytree i.main_node_business_logic_layers::after {
	content:"\e13b";
	color:#888;
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
.mytree i.main_node_businesslogic::before {
	content:"\f07b";
	color:#FAB12B;
}
.mytree i.main_node_businesslogic::after {
	content:"\e13b";
	color:#888;
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
.mytree i.service::before {
	content:"\f468";
	color:#888;
}
.mytree i.method::before {
	content:"\f121";
	color:#ccc;
}
.mytree i.method::after {
	content:"\e13b";
	color:#888;
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
.mytree i.function::before {
	content:"\f121";
	color:#ccc;
}
.mytree i.function::after {
	content:"\e13b";
	color:#888;
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	margin-left:-10px;
}

/* ICONS - DATA-ACCESS */
.mytree i.main_node_data_access_layers::before {
	content:"\f5fd";
	color:#FAB12B;
}
.mytree i.main_node_data_access_layers::after {
	content:"\f1c0";
	color:#888;
}
.mytree i.main_node_hibernate::before {
	content:"\f07b";
	color:#FAB12B;
}
.mytree i.main_node_hibernate::after {
	content:"\f0fd";
	color:#888;
}
.mytree i.main_node_ibatis::before {
	content:"\f07b";
	color:#FAB12B;
}
.mytree i.main_node_ibatis::after {
	content:"\f121";
	color:#888;
}
.mytree i.obj::before {
	content:"\f1c0";
	color:#ccc;
}
.mytree i.obj::after {
	content:"\f1b2";
	color:#888;
}
.mytree i.query::before {
	content:"\f1c0";
	color:#ccc;
}
.mytree i.query::after {
	content:"\f121";
	color:#888;
}
.mytree i.relationship::before {
	content:"\f1c0";
	color:#ccc;
}
.mytree i.relationship::after {
	content:"\f1e0";
	color:#888;
}
.mytree i.hbn_native::before {
	content:"\f1c0";
	color:#ccc;
}
.mytree i.hbn_native::after {
	content:"\f192";
	color:#888;
}
.mytree i.map::before {
	content:"\f1c0";
	color:#ccc;
}
.mytree i.map::after {
	content:"\f279";
	color:#888;
}
.mytree i.import::before {
	content:"\f56f";
	color:#ccc;
}
.mytree i.call_import::before {
	content:"\f574";
	color:#ccc;
}

/* ICONS - DB */
.mytree i.main_node_db_layers::before {
	content:"\f51e";
	color:#FAB12B;
}
.mytree i.main_node_db_layers::after {
	content:"\f1c0";
	color:#888;
}
.mytree i.main_node_db::before {
	content:"\f51e";
	color:#FAB12B;
}
.mytree i.main_node_db::after {
	content:"\f1e6";
	color:#888;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.mytree i.db_driver::before {
	content:"\f1c0";
	color:#aab2c0;
}
.mytree i.db_management::before {
	content:"\f00a";
	color:#aab2c0;
}
.mytree i.db_diagram::before {
	content:"\f0e8";
	color:#aab2c0;
}
.mytree i.table::before {
	content:"\f0db";
	color:#aab2c0;
}
.mytree i.attribute::before {
	content:"\f00b";
	color:#aab2c0;
}

/* ICONS - LIBRARY */
.mytree i.main_node_library::before {
	content:"\f518";
	color:#FAB12B;
}
.mytree i.main_node_lib::before {
	content:"\f02d";
	color:#FAB12B;
}
.mytree i.main_node_other::before {
	content:"\f86d";
	color:#FAB12B;
}

/* ICONS - VENDOR */
.mytree i.main_node_vendor::before {
	content:"\f2a1";
	color:#FAB12B;
}
.mytree i.main_node_dao::before {
	/*content:"\f5fd";*/
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.main_node_dao::after {
	content:"\f247";
	color:#888;
}
.mytree i.dao::before {
	content:"\f247";
	color:#FAB12B;
}
.mytree i.objtype::before {
	font:var(--fa-font-brands);
	font-size:16px;
	content:"\f174";
	color:#ccc;
}
.mytree i.objtype::after {
	content:"\f304";
	color:#888;
}
.mytree i.hibernatemodel::before {
	content:"\f0fd";
	color:#ccc;
}
.mytree i.hibernatemodel::after {
	content:"\f304";
	color:#888;
}
.mytree i.code_workflow_editor::before {
	content:"\f0e8";
	color:#FAB12B;
}
.mytree i.code_workflow_editor::after {
	content:"\f304";
	color:#888;
}
.mytree i.code_workflow_editor_task::before {
	font:var(--fa-font-brands);
	font-size:16px;
	content:"\f174";
	color:#FAB12B;
}
.mytree i.code_workflow_editor_task::after {
	content:"\f304";
	color:#888;
}
.mytree i.layout_ui_editor::before {
	content:"\f53f";
	color:#FAB12B;
}
.mytree i.layout_ui_editor::after {
	content:"\f304";
	color:#888;
}
.mytree i.layout_ui_editor_widget::before {
	content:"\f0c8";
	color:#FAB12B;
}
.mytree i.layout_ui_editor_widget::after {
	content:"\f304";
	color:#888;
}
.mytree i.test_unit::before {
	content:"\f07c";
	color:#FAB12B;
}
.mytree i.test_unit::after {
	content:"\f0ae";
	color:#888;
}
.mytree i.test_unit_obj::before {
	content:"\f0ae";
	color:#888;
}

/* ICONS - MANAGEMENT */
.mytree i.main_node_management::before {
	content:"\f7d9";
	color:#FAB12B;
}
.mytree i.main_node_admin_simple_ui::before {
	content:"\f5c3";
	color:#5ed7c0;
	color:#999;
}
.mytree i.main_node_user_management::before {
	content:"\f0c0";
	color:#026e15;
	color:#999;
}
.mytree i.main_node_layers_management::before {
	content:"\f5fd";
	color:#f1c537;
	color:#999;
}
.mytree i.main_node_modules_management::before {
	content:"\f61f";
	color:#418ec2;
	color:#999;
}
.mytree i.main_node_projects_management::before {
	content:"\f233";
	color:#fb5c5c;
	color:#999;
}
.mytree i.main_node_deployment_management::before {
	content:"\f5b0";
	color:#41998b;
	color:#999;
}
.mytree i.main_node_program_installation::before {
	content:"\f51f";
	color:#d7d9d6;
	color:#999;
}
.mytree i.main_node_testunit_management::before {
	content:"\f0ae";
	color:#1988c3;
	color:#999;
}
.mytree i.main_node_diff_files::before {
	content:"\f24d";
	color:#da77fc;
	color:#999;
}
.mytree i.main_node_flush_cache::before {
	content:"\f51a";
	color:#6e2102;
	color:#999;
}
.mytree i.main_node_logout::before {
	content:"\f14d";
	color:#999;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.mytree i.main_node_about::before {
	content:"\f05a";
	color:#4782ef;
	color:#999;
}


