.mytree {margin-bottom:20px;}
.mytree i.main_node {background: url("../img/icons.png") -7px -3px no-repeat !important;}
.mytree i.main_node_db_layers {background: url("../img/db_icons.png") -245px -21px no-repeat !important;}
.mytree i.main_node_db {background: url("../img/db_icons.png") -179px -89px no-repeat !important;}
.mytree i.main_node_data_access_layers {background: url("../img/db_icons.png") -133px 0px no-repeat !important;}
.mytree i.main_node_ibatis {background: url("../img/db_icons.png") -224px -0px no-repeat !important;}
.mytree i.main_node_hibernate {background: url("../img/db_icons.png") -246px -0px no-repeat !important;}
.mytree i.main_node_business_logic_layers {background: url("../img/icons.png") -7px -69px no-repeat !important;}
.mytree i.main_node_businesslogic {background: url("../img/icons.png") -29px -3px no-repeat !important;}
.mytree i.main_node_presentation_layers {background: url("../img/icons.png") -50px -244px no-repeat !important;}
.mytree i.main_node_presentation {background: url("../img/icons.png") -7px -3px no-repeat !important;}
/*.mytree i.main_node_dao {background: url("../img/icons.png") -51px -156px no-repeat !important;}*/
.mytree i.main_node_vendor {background: url("../img/icons.png") -115px -156px no-repeat !important;}
.mytree i.main_node_management {background: url("../img/icons.png") -93px -3px no-repeat !important;}
.mytree i.main_node_user_management {background: url("../img/icons.png") -6px -134px no-repeat !important;}
.mytree i.main_node_layers_management {background: url("../img/icons.png") -181px -92px no-repeat !important;}
.mytree i.main_node_modules_management {background: url("../img/db_icons.png") -245px -156px no-repeat !important;}
.mytree i.main_node_projects_management {background: url("../img/icons.png") -202px -46px no-repeat !important;}
.mytree i.main_node_deployment_management {background: url("../img/icons.png") -115px -222px no-repeat !important;}
.mytree i.main_node_program_installation {background: url("../img/icons.png") -138px -222px no-repeat !important;}
.mytree i.main_node_diff_files {background: url("../img/icons.png") -50px -90px no-repeat !important;}
.mytree i.main_node_testunit_management {background: url(../img/db_icons.png) 0px -178px no-repeat !important;}
.mytree i.main_node_other {background: url("../img/db_icons.png") -20px -156px no-repeat !important;}
.mytree i.main_node_flush_cache {background: url("../img/icons.png") -158px -201px no-repeat !important;}
.mytree i.main_node_admin_simple_ui {background: url("../img/icons.png") -28px -135px no-repeat !important;}
.mytree i.main_node_logout {background: url("../img/icons.png") -181px -3px no-repeat !important;}
.mytree i.main_node_about {background: url("../common/img/icon/info_icon.png") center no-repeat !important;}
.mytree i.folder {background: url("../common/vendor/jquerymytree/css/32px.png") -260px -4px no-repeat !important;}
.mytree i.file {background: url("../common/vendor/jquerymytree/css/32px.png") -100px -68px no-repeat !important;}
.mytree i.import {background: url("../img/icons.png") -202px -5px no-repeat !important;}
.mytree i.call_import {background: url("../img/icons.png") -50px -155px no-repeat !important;}
.mytree i.db_driver {background: url("../img/db_icons.png") -21px -0px no-repeat !important;}
.mytree i.db_management {background: url("../img/db_icons.png") -43px -0px no-repeat !important;}
.mytree i.db_diagram {background: url("../img/db_icons.png") -200px -21px no-repeat !important;}
.mytree i.table {background: url("../img/db_icons.png") -21px -21px no-repeat !important;}
.mytree i.attribute {background: url("../img/db_icons.png") -223px -156px no-repeat !important;}
.mytree i.method {background: url("../img/icons.png") -72px -69px no-repeat !important;}
.mytree i.function {background: url("../img/icons.png") -182px -69px no-repeat !important;}
.mytree i.obj {background: url("../img/icons.png") -7px -134px no-repeat !important;}
.mytree i.query {background: url("../img/icons.png") -160px -47px no-repeat !important;}
.mytree i.relationship {background: url("../img/icons.png") -159px -69px no-repeat !important;}
.mytree i.hbn_native {background: url("../img/icons.png") -137px -114px no-repeat !important;}
.mytree i.map {background: url("../img/icons.png") -205px -135px no-repeat !important;}
.mytree i.objtype {background: url("../img/icons.png") -115px -5px no-repeat !important;}
.mytree i.hibernatemodel {background: url("../img/icons.png") -72px -47px no-repeat !important;}
.mytree i.service {background: url("../img/icons.png") -72px -202px no-repeat !important;}
.mytree i.project_folder {background:url("../img/icons.png") no-repeat -29px -3px !important;}
.mytree i.project {background:url("../img/icons.png") no-repeat -202px -46px !important;}
.mytree i.project_common {background:url("../img/icons.png") no-repeat -93px -134px !important;}
.mytree i.php_file {background: url("../common/img/icon/php_icon.png") 5px 4px no-repeat !important;}
.mytree i.css_file {background: url("../common/img/icon/css_icon.png") 5px 4px no-repeat !important;}
.mytree i.js_file {background: url("../common/img/icon/js_icon.png") 5px 4px no-repeat !important;}
.mytree i.zip_file {background: url("../common/img/icon/zip_icon.png") 5px 4px no-repeat !important;}
.mytree i.img_file {background: url("../common/img/icon/img_icon.png") 5px 4px no-repeat !important;}
.mytree i.webroot_file {background: url("../common/vendor/jquerymytree/css/32px.png") -100px -68px no-repeat !important;}
.mytree i.entity_file {background: url("../img/icons.png") -137px -113px no-repeat !important;}
.mytree i.entities_folder {background: url("../img/icons.png") -137px -113px no-repeat !important;}
.mytree i.view_file {background: url("../common/img/icon/php_icon.png") 5px 4px no-repeat !important;}
.mytree i.views_folder {background: url("../img/icons.png") -137px -92px no-repeat !important;}
.mytree i.template_file {background: url("../common/img/icon/html_icon.png") 5px 4px no-repeat !important;}
.mytree i.template_folder {background: url("../common/vendor/jquerymytree/css/32px.png") -260px -4px no-repeat !important;}
.mytree i.templates_folder {background: url("../img/icons.png") -138px -27px no-repeat !important;}
.mytree i.util_file {background: url("../common/img/icon/php_icon.png") 5px 4px no-repeat !important;}
.mytree i.utils_folder {background: url("../img/icons.png") -49px -91px no-repeat !important;}
.mytree i.class {background: url("../img/icons.png") -72px -202px no-repeat !important;} /* used in the utils */
.mytree i.config_file {background: url("../common/img/icon/php_icon.png") 5px 4px no-repeat !important;}
.mytree i.configs_folder {background: url("../img/icons.png") -28px -179px no-repeat !important;}
.mytree i.controller_file {background: url("../common/img/icon/php_icon.png") 5px 4px no-repeat !important;}
.mytree i.block_file {background: url("../img/db_icons.png") 1px 0px no-repeat !important;}
.mytree i.blocks_folder {background: url("../img/db_icons.png") 1px 0px no-repeat !important;}
.mytree i.cms_common {background: url("../img/db_icons.png") -245px -156px no-repeat !important;}
.mytree i.cms_module {background: url("../img/db_icons.png") -245px -156px no-repeat !important;}
.mytree i.cms_program {background: url("../img/db_icons.png") -245px -156px no-repeat !important;}
.mytree i.cms_folder {background: url("../img/db_icons.png") -89px -156px no-repeat !important;}
.mytree i.wordpress_folder {background: url("../img/wordpress_icon.png") no-repeat !important;}
.mytree i.wordpress_installation_folder {background: url("../img/wordpress_installation_icon.png") no-repeat !important;}
.mytree i.module_file {background: url("../img/icons.png") -202px -70px no-repeat !important;}
.mytree i.module_folder {background: url("../img/db_icons.png") -89px -156px no-repeat !important;}
.mytree i.properties {background: url("../common/img/icon/properties_icon.gif") 5px 4px no-repeat !important;}
.mytree i.webroot_folder {background: url("../img/icons.png") -50px -243px no-repeat !important;}
.mytree i.controllers_folder {background: url("../img/db_icons.png") -201px -88px no-repeat !important;}
.mytree i.cache_file {background: url("../common/vendor/jquerymytree/css/32px.png") -100px -68px no-repeat !important;}
.mytree i.caches_folder {background: url("../img/icons.png") -93px -25px no-repeat !important;}
.mytree i.undefined_file {background: url("../img/icons.png") -28px -47px no-repeat !important;}
.mytree i.reserved_file {background: url("../img/db_icons.png") -111px -134px no-repeat !important;}
.mytree i.reserved_folder {background: url("../img/db_icons.png") -89px -134px no-repeat !important;}
.mytree i.dao {background: url("../img/icons.png") -51px -156px no-repeat !important;}
.mytree i.code_workflow_editor {background: url("../img/db_icons.png") -223px -200px no-repeat !important;}
.mytree i.code_workflow_editor_task {background: url("../img/db_icons.png") -223px -200px no-repeat !important;}
.mytree i.layout_ui_editor {background: url("../img/db_icons.png") -223px -200px no-repeat !important;}
.mytree i.layout_ui_editor_widget {background: url("../img/db_icons.png") -223px -200px no-repeat !important;}
.mytree i.test_unit {background: url("../img/db_icons.png") 0px -178px no-repeat !important;}
.mytree i.test_unit_obj {background: url("../img/db_icons.png") -21px -178px no-repeat !important;}
.mytree i.referenced_folder {background: url("../img/icons.png") -5px -27px no-repeat !important;}

.mytree .jstree-hovered {background-color:transparent !important; border-radius:none; box-shadow:none;}
.mytree .jstree-anchor.jstree-clicked.jstree-hovered, .mytree .jstree-anchor.link.jstree-clicked.jstree-hovered {background-color:#beebff !important; border-radius:2px; box-shadow:inset 0 0 1px #999999;}
.mytree .jstree-anchor.link.jstree-hovered {background-color:#e7f4f9 !important; border-radius: 2px; box-shadow: inset 0 0 1px #cccccc;}
.mytree .jstree-anchor {cursor:default;}
.mytree a.link * {cursor:pointer;}

.mytree li.disabled > a {opacity:.5;}
.mytree li.module_folder_disabled > a, .mytree li.module_folder_disabled > ul {opacity:.5;}

#selected_menu_properties {
	min-width:200px;
}
