:root,
  .dark_theme {
	/* used in admin_advanced.css */
	--main-template-border:transparent;
	--main-template-bg:#181818;
	--main-template-color:#ddd;
	
	/* used in icons.css */
	--icon-font-size:14px;
	--icon-hover-color:#ff0000;
	--icon-font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.light_theme {
	--main-template-border:transparent;
	--main-template-bg:#f7f7f7;
	--main-template-color:#555;
}

#main_column {
	background:#fff; /* bc of the full screen otherwise it shows a black screen */
	min-height:100vh;
}

.top_bar {
	width:100%;
	height:35px;
	box-sizing:border-box;
}
.top_bar header {
	width:100%;
	height:37px;
	margin:0 0 0 0;
	padding:6px 5px 5px;
	color:#000;
	font-weight:normal;
	text-align:left;
	font-size:inherit;
	box-sizing:border-box;
	
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	z-index:2;
	
	background: linear-gradient(to bottom, #f7f7f7 0%, #eee 95%, #ffffff73 100%);
}

/* TITLE */
.top_bar .title {
	width:auto;
	height:auto;
	min-height:auto;
	text-align:inherit;
	font-size:inherit;
	font-weight:inherit;
	margin:0;
	padding:0;
}
.top_bar .title input,
  .top_bar .title select {
	border:1px solid #ccc;
	background:transparent;
	color:#000;
	font-size:inherit;
	font-weight:inherit;
	font-style:inherit;
	font-family:inherit;
	display:inline-block;
	float:none;
	vertical-align:baseline;
}
.top_bar .title input {
	height:17px;
	line-height:17px;
}
.top_bar .title select {
	height:21px;
	line-height:21px;
}

/* TOP BAR DROPDOWN */
.top_bar header > ul {
	display:inline-block;
	position:absolute;
	top:9px;
	right:3px;
}
.top_bar li {
	margin:0;
	padding:0 2px;
	display:inline-block;
	background:transparent;
	float:left;
	box-sizing:border-box;
	font-size:var(--icon-font-size);
	position:relative;
}
.top_bar li:hover {
	background:transparent;
}
.top_bar header > ul > li:hover:after {
	content:attr(title);
	margin-top:0;
	padding:5px 10px;
	display:block;
	position:absolute;
	right:0;
	text-align:right;
	white-space:nowrap;
	background:#eee;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	font-weight:normal;
	font-size:12px;
	font-family:var(--icon-font-family);
	color:#666;
	cursor:auto;
}
.top_bar li a {
	font-weight:normal;
	display:inline-block;
	box-sizing:border-box;
	text-decoration:none;
	cursor:pointer;
}
.top_bar header > ul > li > a {
	width:20px;
	height:20px;
	white-space:nowrap;
	overflow:hidden;
	position:relative;
}
.top_bar header > ul > li > a .icon {
	width:20px;
	height:20px;
	vertical-align:top;
}
.top_bar header > ul > li > ul {
  	position:absolute !important;
	left:auto;
	right:-1200px; /* must be 1200pc bc of the edit_entity_simple */
	z-index:1;
	background:#eee;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom:1px solid #ddd;
	overflow:hidden; /* otherwise the border-radius will not be show */
	display:block;
	opacity:0;
	transition:.5s all;
}
.top_bar header > ul > li:hover > ul {
	right:0;
	opacity:1;
	
	/* bc of the jquerysimpledropdowns */
	left:auto;
	min-width:auto; 
}
.top_bar header > ul > li > ul > li {
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.top_bar li ul li {
	width:100%;
	display:block !important;
	padding:0 !important;
	border-bottom:none;
	font-size:12px;
	font-family:var(--icon-font-family);
	color:#444;
	box-sizing:border-box;
}
.top_bar li ul li:hover {
	background:#ddd;
}
.top_bar li ul li a {
	padding:7px 10px;
	display:block;
	white-space:nowrap;
	color:#444;
}
.top_bar li ul li a:hover {
	color:var(--icon-hover-color);
}
.top_bar li ul li:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.top_bar li ul li ul li:hover {
	background:#ccc;
}

/* TOP BAR DROPDOWN - SUB MENU */
.top_bar li.sub_menu > .icon {
	height:16px;
	padding-top:2px;
}
.top_bar li.sub_menu > ul {
	padding-top:10px;
}
.top_bar li.sub_menu:hover > ul {
	right:2px;
}
.top_bar li.sub_menu ul li ul {
	width:auto;
	position:relative !important;
}
.top_bar li.sub_menu ul li.auto_save_convert_settings {
	width:100%;
}
.top_bar li.sub_menu ul li.auto_save_convert_settings ul li {
	padding-left:45px !important;
}

/* TOP BAR DROPDOWN - AUTO SAVE */
.top_bar li.auto_save_convert_settings {
	position:relative;
}
.top_bar li.auto_save_convert_settings:hover:after {
	display:none;
}
.top_bar li.auto_save_convert_settings > a:hover {
	color:inherit;
	cursor:default;
}
.top_bar li.auto_save_convert_settings ul {
	width:auto;
	min-width:160px;
}
.top_bar li.auto_save_convert_settings ul li {
	padding:7px 30px 7px 10px !important;
	white-space:nowrap;
	position:initial;
	color:#666;
	cursor:default;
}
.top_bar li.auto_save_convert_settings ul li input {
	position:absolute;
	right:10px;
}

/* TOP BAR MENU DROPDOWN */
.top_bar_menu {
	display:inline-block;
	position:fixed;
	top:7px;
	left:auto;
	right:5px;
	z-index:2;
}
.top_bar_menu:before {
	height:16px;
	padding-top:5px;
	display:block;
	content:"\f141";
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	font-size:12px;
	cursor:pointer;
}
.top_bar_menu:hover:before {
	color:var(--icon-hover-color);
}
.top_bar_menu > ul {
	max-height:calc(100vh - 50px);
	padding-top:3px;
	position:absolute;
	top:auto;
	left:auto;
	right:-8px;
	display:block;
	white-space:nowrap;
	border-bottom:1px solid #ddd;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	overflow:auto;
	transition:.5s all;
	opacity:1;
}
.top_bar_menu:not(:hover) > ul {
	right:-1000px;
	opacity:0;
}
.top_bar_menu li {
	margin:0;
	padding:0;
	display:block;
	background:#eee;
	color:#444;
	box-sizing:border-box;
	position:relative;
	font-family:var(--icon-font-family);
}
.top_bar_menu li:hover {
	background:#ddd;
}
.top_bar_menu > ul > li {
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.top_bar_menu li a {
	padding:7px 10px;
	font-weight:normal;
	display:block;
	box-sizing:border-box;
	cursor:pointer;
	color:inherit;
}
.top_bar_menu li a:hover {
	text-decoration:none;
	color:var(--icon-hover-color);
}
.top_bar_menu li a .icon {
	width:20px;
	vertical-align:text-top;
}
.top_bar_menu li ul {
	margin:0;
}
.top_bar_menu li ul li {
	color:#666;
}
.top_bar_menu li:hover ul li {
	background:#ddd;
}
.top_bar_menu li:hover ul li:hover {
	background:#ccc;
}

/* TOP BAR MENU DROPDOWN - AUTO SAVE */
.top_bar_menu li.auto_save_convert_settings > a:hover {
	color:inherit;
	cursor:default;
}
.top_bar_menu li.auto_save_convert_settings > a > .icon {
	vertical-align: middle;
}
.top_bar_menu li.auto_save_convert_settings ul li {
	padding:7px 10px 7px 45px;
	position:initial;
	cursor:default;
}
.top_bar_menu li.auto_save_convert_settings ul li input {
	position:absolute;
	right:10px;
}

/* WORKFLOW */
.taskflowchart.with_top_bar_menu .tasks_menu_hide {
	background:url(../img/back_frame_open_close_vertical_red.gif);
}

/* WORKFLOW - PROPERTIES POPUP */
.taskflowchart.with_top_bar_menu .tasks_flow .selected_task_properties,
  .taskflowchart.with_top_bar_menu .tasks_flow .selected_connection_properties {
	background:#fff !important;
	border-radius:0;
}
.taskflowchart.with_top_bar_menu .tasks_flow .selected_task_properties:before,
  .taskflowchart.with_top_bar_menu .tasks_flow .selected_connection_properties:before {
	background: -moz-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -o-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -ms-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: linear-gradient(to bottom, #eee 50%, #ffffff73 100%);

}
.taskflowchart.with_top_bar_menu .tasks_flow .selected_task_properties.collapsed_properties:not(.maximize_properties):before,
  .taskflowchart.with_top_bar_menu .tasks_flow .selected_connection_properties.collapsed_properties:not(.maximize_properties):before {
	background: -moz-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: -o-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: -ms-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: linear-gradient(to top, #eee 50%, #ffffff73 100%);
}
.taskflowchart.with_top_bar_menu.auto_save_disabled .tasks_flow .selected_task_properties.maximize_properties .properties_task_id,
  .taskflowchart.with_top_bar_menu.auto_save_disabled .tasks_flow .selected_connection_properties.maximize_properties .properties_task_id {
	max-width:calc(100% - 200px);
}
.taskflowchart.with_top_bar_menu.auto_save_disabled .tasks_flow .selected_task_properties:not(.maximize_properties):not(.collapsed_properties) .properties_task_id,
  .taskflowchart.with_top_bar_menu.auto_save_disabled .tasks_flow .selected_connection_properties:not(.maximize_properties):not(.collapsed_properties) .properties_task_id {
	max-width:calc(100% - 220px);
}

.taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_task_properties > .content, 
  .taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_connection_properties > .content {
	bottom:0;
}

.taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_task_properties .generic_buttons, 
  .taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_connection_properties .generic_buttons {
	margin:0;
	position:absolute;
	top:7px;
	left:auto;
	right:77px;
	bottom:auto;
	font-size:16px;/*var(--icon-font-size);*/
	text-align:left;
	color:#555;
}
.taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_task_properties.maximize_properties .generic_buttons,
  .taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_connection_properties.maximize_properties .generic_buttons {
	right:50px;
}
.taskflowchart.with_top_bar_menu.fixed_properties:not(.auto_save_disabled) .tasks_flow .selected_task_properties .generic_buttons, 
  .taskflowchart.with_top_bar_menu.fixed_properties:not(.auto_save_disabled) .tasks_flow .selected_connection_properties .generic_buttons {
	display:none;
}
.taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_task_properties .generic_buttons input.save, 
  .taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_connection_properties .generic_buttons input.save {
	width:15px !important;
	height:15px !important;
	margin:0 !important;
	padding:0 !important;
	border:0;
	border-radius:0;
	text-indent:-999px;
	cursor:pointer;
	background:none;
	position:absolute;
	top:0;
	left:0;
}
.taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_task_properties .generic_buttons::before, 
  .taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_connection_properties .generic_buttons::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f0c7";
}
.taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_task_properties .generic_buttons input.cancel, 
  .taskflowchart.with_top_bar_menu.fixed_properties .tasks_flow .selected_connection_properties .generic_buttons input.cancel {
	display:none !important;
}

/* WORKFLOW - MENU */
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu {
	min-height:auto;
	background:none;
	border:0;
	position:fixed;
	top:7px;
	left:auto;
	right:5px;
}
.with_top_bar_tab .taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu {
	right:95px;
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li {
	padding:0;
	background:#eee;
	color:#444;
	border-left:1px solid #ddd;
	border-bottom:0;
	color:inherit;
	font-size:12px;
	float:none;
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li:hover {
	background:#ddd;
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li a {
	padding:7px 10px;
	font-size:inherit;
	color:inherit;
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li a:hover {
	color:var(--icon-hover-color);
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li a .icon {
	font-size:var(--icon-font-size);
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li ul {
	visibility:visible !important;
	position:relative;
	top:auto;
	left:auto;
	background:transparent;
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li ul li {
	color:#666;
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li:hover ul li {
	background:#ddd;
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li:hover ul li:hover {
	background:#ccc;
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li ul li a {
	padding-left:45px;
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li.auto_save_convert_settings > a:hover {
	color:inherit;
	cursor:default;
}
.taskflowchart.with_top_bar_menu .workflow_menu.top_bar_menu li.auto_save_convert_settings ul li {
	padding:7px 10px 7px 45px;
}

/* WORKFLOW - ICONS */

body .taskflowchart .task .short_actions {
	top:-15px;
}
body .taskflowchart .task .short_actions .move_action,
  body .taskflowchart .task .short_actions .context_menu_action {
	width:auto;
	height:auto;
	background:none !important;
}
.taskflowchart .task .short_actions .move_action::before,
  .taskflowchart .task .short_actions .context_menu_action::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
}
.taskflowchart .task .short_actions .move_action::before {
	content:"\f047";
}
.taskflowchart .task .short_actions .context_menu_action::before {
	content:"\f141";
	margin-left:5px;
}

.task_context_menu, 
  .task_context_menu ul, 
  .connection_context_menu, 
  .connection_context_menu ul {
	background:#ddd !important;
	border:1px solid #ccc !important;
	border-radius:4px !important;
}
.task_context_menu li, 
  .connection_context_menu li {
	background:#eee !important;
}
.task_context_menu li:hover, 
  .connection_context_menu li:hover {
	background:#ddd !important;
}
body .task_context_menu li a, 
  body .connection_context_menu li a {
	padding-left:5px !important;
}
body .task_context_menu .set_label a {
	background:none !important;
}
.task_context_menu .set_label a::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f5b7";
	margin-right:5px;
}
body .task_context_menu .properties a {
	background:none;
}
.task_context_menu .properties a::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f044";
	margin-right:5px;
}
body .task_context_menu .start_task a,
  body .task_context_menu .start_task a:hover {
	background:unset;
}
body .task_context_menu .start_task.is_start_task a {
	background:none !important;
}
body .task_context_menu .start_task:not(.is_start_task) a {
	padding-left:25px !important;
}
.task_context_menu .start_task.is_start_task a::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f192";
	margin-right:5px;
}
body .task_context_menu .delete a {
	background:none !important;
}
.task_context_menu .delete a::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f1f8";
	margin-right:5px;
}

body .connection_context_menu .set_label a {
	background:none !important;
}
.connection_context_menu .set_label a::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f5b7";
	margin-right:5px;
}
body .connection_context_menu .properties a {
	background:none !important;
}
.connection_context_menu .properties a::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f044";
	margin-right:5px;
}
body .connection_context_menu .connector_types a, 
  body .connection_context_menu .overlay_types a {
	background:none !important;
	padding-left:5px !important;
}
.connection_context_menu .connector_types > a::before, 
  .connection_context_menu .overlay_types > a::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f55b";
	margin-right:5px;
}
body .connection_context_menu .connector_types li.selected_connector a, 
  body .connection_context_menu .overlay_types li.selected_overlay a {
	background:none !important;
}
.connection_context_menu .connector_types li.selected_connector a::before, 
  .connection_context_menu .overlay_types li.selected_overlay a::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f192";
	margin-right:5px;
}
body .connection_context_menu .connector_types li:not(.selected_connector) a, 
  body .connection_context_menu .overlay_types li:not(.selected_overlay) a {
	padding-left:25px !important;
}
body .connection_context_menu .connector_types a .rightarrowclass,
  body .connection_context_menu .overlay_types a .rightarrowclass {
	background:none;
	top:7px;
}
.connection_context_menu .connector_types a .rightarrowclass::before,
  .connection_context_menu .overlay_types a .rightarrowclass::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f0da";
}
body .connection_context_menu .delete a {
	background:none !important;
}
.connection_context_menu .delete a::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f1f8";
	margin-right:5px;
}

.taskflowchart.fixed_properties .selected_task_properties .popup_close,
  .taskflowchart.fixed_properties .selected_connection_properties .popup_close {
	color:#555;
}
.selected_task_properties .maximize_minimize_icon, 
  .selected_connection_properties .maximize_minimize_icon,
  .selected_task_properties .expand_collapse_icon, 
  .selected_connection_properties .expand_collapse_icon {
	display:inline-block;
	width:auto;
	height:auto;
	text-indent:0;
	float:none;
	font-size:var(--icon-font-size);
	color:#555;
}
.taskflowchart.fixed_properties .selected_task_properties .maximize_minimize_icon, 
  .taskflowchart.fixed_properties .selected_connection_properties .maximize_minimize_icon {
	right:25px;
}
.selected_task_properties .maximize_minimize_icon, 
  .selected_connection_properties .maximize_minimize_icon {
	background:none;
}
.selected_task_properties .maximize_minimize_icon::before, 
  .selected_connection_properties .maximize_minimize_icon::before {
	width:18px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f31e";
}
.selected_task_properties.maximize_properties .maximize_minimize_icon, 
  .selected_connection_properties.maximize_properties .maximize_minimize_icon {
	background:none;
}
.selected_task_properties.maximize_properties .maximize_minimize_icon::before, 
  .selected_connection_properties.maximize_properties .maximize_minimize_icon::before {
	width:18px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f78c";
}
.taskflowchart.fixed_properties .selected_task_properties .expand_collapse_icon, 
  .taskflowchart.fixed_properties .selected_connection_properties .expand_collapse_icon {
	right:50px;
}
.selected_task_properties .expand_collapse_icon, 
  .selected_connection_properties .expand_collapse_icon {
	background:none;
}
.selected_task_properties .expand_collapse_icon::before, 
  .selected_connection_properties .expand_collapse_icon::before {
	width:18px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f2d1";
}
.selected_task_properties.collapsed_properties .expand_collapse_icon, 
  .selected_connection_properties.collapsed_properties .expand_collapse_icon {
	background:none;
}
.selected_task_properties.collapsed_properties .expand_collapse_icon::before, 
  .selected_connection_properties.collapsed_properties .expand_collapse_icon::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f2d0";
}

body .workflow_message .status span, 
  body .workflow_message .error span {
	display:inline-block;
	width:20px;
	height:auto;
	margin-right:0;
	text-indent:0;
	background:none;
	font-size:var(--icon-font-size);
}
.workflow_message .status span::before, 
  .workflow_message .error span::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f057";
	margin-right:20px;
}

/* CODE EDITOR */
/* CODE EDITOR - MENU */
.with_top_bar_tab .code_menu.top_bar_menu {
	right:95px;
}

/* LAYOUT CODE EDITOR */
body .layout_ui_editor {
	/* generic */
	--main-editor-bg:#fff;
	--main-editor-color:#888;
	
	/* tabs */
	--tabs-bg:#fff;
	--tabs-item-border:#ccc;
	--tabs-item-bg:#fff;
	--tabs-item-active-border:#ccc;
	--tabs-item-active-bg:#eee;
	--tabs-item-hover-color:#333;
	
	/* menu-widgets */
	--menu-widgets-widget-border:#ccc;
	--menu-widgets-group-color:#666;
	
	/* template-source */
	--template-source-border:#eee;
	--template-source-bg:#fff;
	
	/* template-preview */
	--template-preview-border:#eee;
	--template-preview-bg:#fff;
	
	/* template-widgets-droppable */
	--template-widgets-droppable-border:#eee;
	--template-widgets-droppable-bg:#fff;
	
	/* menu-settings */
	--menu-settings-bg:#fff;
	
	--menu-settings-input-border:#ccc;
	--menu-settings-input-bg:#fff;
	--menu-settings-input-color:#333;
	--menu-settings-select-option-bg:#fff;
	--menu-settings-select-option-color:#666;
	
	--menu-settings-button-border:#eee;
	--menu-settings-button-bg:#666;
	--menu-settings-button-color:#eee;
	--menu-settings-button-hover-color:#ddd;
	
	--menu-settings-user-classes-bg:#f7f7f7;
	--menu-settings-user-class-border:transparent;
	--menu-settings-user-class-bg:#ddd;
	--menu-settings-user-class-color:#333;
	
	--menu-settings-group-color:#555;
	--menu-settings-group-list-bg:#f7f7f7;
	--menu-settings-group-block-list-border:transparent;
	--menu-settings-group-block-list-bg:#f7f7f7;
	
	--menu-settings-measurement-style-select-border-left:transparent;
	--menu-settings-buttons-style-btn-border:transparent;
	--menu-settings-buttons-style-btn-bg:#eee;
	--menu-settings-buttons-style-btn-color:#999;
	--menu-settings-buttons-style-btn-hover-color:#000;
	--menu-settings-buttons-style-btn-selected-border:transparent;
	--menu-settings-buttons-style-btn-selected-bg:#ddd;
	--menu-settings-buttons-style-btn-selected-color:#999;
	--menu-settings-color-style-color-selector-border:transparent;
	--menu-settings-color-style-color-selector-bg:transparent;
	--menu-settings-color-style-color-code-bg:transparent;
	--menu-settings-color-style-color-code-border:transparent;
	
	--menu-settings-info-border:#eee;
	--menu-settings-info-bg:#eee;
	
	/* widget-header */
	--widget-header-border:transparent;
	--widget-header-bg:#eee;
	--widget-header-color:#999;
	--widget-header-hover-color:#333;
	
	/* droppable-header */
	--droppable-header-border:transparent;
	--droppable-header-bg:#eee;
	--droppable-header-color:#999;
	--droppable-header-hover-color:#333;
	
	/* menu-layers */
	--menu-layers-group-hover-border:#333;
	--menu-layers-group-selected-border:#eee;
	--menu-layers-group-title-border:transparent;
	--menu-layers-group-title-color:#999;
	--menu-layers-group-selected-title-bg:#eee;
	--menu-layers-group-selected-title-color:#777;
	--menu-layers-group-open-title-color:#333;
	--menu-layers-group-title-hover-color:#111;
	--menu-layers-place-holder-bg:#f7f7f7;
	--menu-layers-sort-clone-bg:#f7f7f7;
	
	/* option */
	--option-active-color:#555;
	--option-hover-color:#777;
	--option-input-border:#eee;
	--option-input-bg:#fff;
	--option-input-color:#000;
	--option-label-color:#000;
	--option-label-hover-color:#333

	/* scrollbar */
	--scrollbar-track-bg:#555;
	--scrollbar-thumb-bg:#ccc;
	
	/* resize-panel */
	--resize-panel-bg:#666;
	
	/* text-selection-menu */
	--text-selection-menu-bg:#fff;
	--text-selection-menu-color:#666;
	
	--text-selection-menu-item-hover-color:#000;
	--text-selection-menu-item-active-border:#dddddd22;
	--text-selection-menu-item-active-color:#999;
	
	--text-selection-menu-input-border:#eee;
	--text-selection-menu-input-bg:#fff;
	--text-selection-menu-input-color:#333;
	--text-selection-menu-select-option-disabled-bg:#eee;
	--text-selection-menu-select-option-disabled-color:#999;
	--text-selection-menu-icon-color:#555;
	
	--text-selection-menu-popup-border:#eee;
	--text-selection-menu-popup-button-border:#eee;
	--text-selection-menu-popup-button-bg:#666;
	--text-selection-menu-popup-button-color:#eee;
	--text-selection-menu-popup-input-border:#eee;
	--text-selection-menu-popup-input-bg:#fff;
	--text-selection-menu-popup-input-color:#333;
	
	--text-selection-menu-table-border:#eee;
	--text-selection-menu-table-bg:#fff;
	
	--text-selection-menu-tooltip-bg:#ddd;
	--text-selection-menu-tooltip-color:#666;
	
	--text-selection-menu-msg-color:#fff;
	--text-selection-menu-error-msg-bg:rgba(255, 0, 0, 0.4);
	--text-selection-menu-info-msg-bg:rgba(0, 0, 0, 0.1);
	
	/* add-widget-popup */
	--add-widget-popup-border:#eee;
	--add-widget-popup-bg:#fff;
	--add-widget-popup-color:#999;
	--add-widget-popup-button-border:#eee;
	--add-widget-popup-button-bg:#666;
	--add-widget-popup-button-color:#eee;
	--add-widget-popup-input-border:#eee;
	--add-widget-popup-input-bg:#fff;
	--add-widget-popup-input-color:#333;
	
	/* template-widget-source-popup */
	--template-widget-source-popup-bg:#fff;
	--template-widget-source-popup-color:#999;
	
	/* messages */
	--editor-info-msg-bg:rgba(204, 255, 153, 0.8);
	--editor-error-msg-bg:rgba(255, 0, 0, 0.8);
	--editor-error-msg-color:#fff;
}
body .layout_ui_editor > .resize-panels {
	background:url("../img/back_frame_open_close_vertical_red.gif") repeat-y;
}

/* LAYOUT CODE EDITOR - MENU-WIDGETS */
.layout_ui_editor > .menu-widgets .container.custom-container .custom-values {
	background:#fff;
}

/* LAYOUT CODE EDITOR - MENU-OPTIONS */
.layout_ui_editor.with_top_bar_menu > .options .option {
	font-size:18px;
	color:#333;
	vertical-align:top;
	position:relative;
}
.layout_ui_editor.with_top_bar_menu > .options .options-right input {
	vertical-align:top;
	height:15px;
}
.layout_ui_editor.with_top_bar_menu > .options .option:not(.auto_save_convert_settings):hover {
	color:var(--icon-hover-color) !important;
}
.layout_ui_editor.with_top_bar_menu > .options .option.option-active {
	color:var(--icon-hover-color) !important;
}
.layout_ui_editor.with_top_bar_menu > .options .option:not(.auto_save_convert_settings):hover:after {
	content:attr(title);
	padding:5px 10px;
	display:block;
	position:absolute;
	right:0;
	text-align:right;
	white-space:nowrap;
	background:var(--main-template-bg);
	color:var(--main-template-color);
	border-radius:5px;
	font-weight:normal;
	cursor:auto;
	font-size:13px;
	font-family:var(--icon-font-family);
}
.layout_ui_editor.with_top_bar_menu > .options .option.save,
  .layout_ui_editor.with_top_bar_menu > .options .option.full-screen {
	font-size:var(--icon-font-size);
}
.layout_ui_editor.with_top_bar_menu > .options .option.save::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-regular);
	content:"\f0c7";
}
.layout_ui_editor.with_top_bar_menu > .options .option.full-screen::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f065";
}

/* LAYOUT CODE EDITOR - SETTINGS */
.layout_ui_editor.with_top_bar_menu.fixed_properties > .menu-settings .settings-info .close::before,
  .layout_ui_editor.with_top_bar_menu.fixed_properties > .menu-settings .settings-info .full-screen::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	color:#555;
}
.layout_ui_editor.with_top_bar_menu.fixed_properties > .menu-settings .settings-info .close::before {
	content:"\f057";
}
.layout_ui_editor.with_top_bar_menu.fixed_properties > .menu-settings .settings-info .full-screen::before {
	content:"\f31e";
}
.layout_ui_editor.with_top_bar_menu.fixed_properties > .menu-settings.full-screen .settings-info .full-screen::before {
	content:"\f78c";
}

/* TABS */
.tabs.tabs_transparent {
	background:none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
}
.tabs.tabs_right > li {
	float:right;
}
.with_top_bar_tab {
	margin-top:-10px !important;
}
.with_top_bar_tab > .tabs {
	height:32px;
	position:fixed;
	top:1px;
	right:0;
	z-index:2;
	border-bottom:0;
}
.with_top_bar_tab > .tabs.tabs_icons li {
	height:100%;
	box-sizing:border-box;
}
.with_top_bar_tab > .tabs.tabs_icons li a {
	width:15px;
	padding-bottom:0;
	display:inline-block;
	overflow:hidden;
}
.with_top_bar_tab > .tabs.tabs_icons li a .icon {
	margin-right:20px;
}
.with_top_bar_tab > .tabs.tabs_icons li a .icon::after {
	color:#999;
}

/* MYFANCYPOPUP */
.myfancypopup > .popup_close {
	width:auto !important;
	height:auto !important;
	top:7px !important;
	left:auto;
	right:7px !important;
	background:none;
	font-size:var(--icon-font-size);
	color:#333;
}
.myfancypopup > .popup_close::before {
	width:15px;
	display:inline-block;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	content:"\f057";
}
