/* TOP BAR */
.top_bar {
}

/* EDIT TABLE */
.edit_table {
	min-height:calc(100vh - 60px);
	text-align:center;
}
.edit_table > h3 {
	padding:5px 7px 5px 7px !important;
	background:var(--main-template-bg);
	color:var(--main-template-color);
	border:0;
	border-radius:0;
}
.edit_table > h3 .ui-icon {
	display:none;
}
.edit_table > h3 .refresh {
	margin-top:3px;
	float:right;
}
.edit_table .icon.add::before {
	font-size:16px;
}
.edit_table > .table_settings,
  .edit_table > .table_sql_statements,
  .edit_table > .table_errors {
	display:none;
}
.edit_table .table_name, 
  .edit_table .table_charset, 
  .edit_table .table_collation, 
  .edit_table .table_storage_engine, 
  .edit_table .attributes {
	width:400px;
	margin:10px auto 0;
	text-align:left;
}
.edit_table .attributes {
	margin-top:20px;
}
.edit_table .attributes .add {
	display:inline-block;
	vertical-align:middle;
}
.edit_table .table_name label, 
  .edit_table .table_name input,
  .edit_table .table_charset label, 
  .edit_table .table_charset select,
  .edit_table .table_collation label, 
  .edit_table .table_collation select,
  .edit_table .table_storage_engine label, 
  .edit_table .table_storage_engine select {
	display:inline-block;
	float:none;
	clear:both;
}
.edit_table .table_name label,
  .edit_table .table_charset label,
  .edit_table .table_collation label,
  .edit_table .table_storage_engine label,
  .edit_table .attributes > label {
	width:170px;
	font-size:90%;
}
.edit_table .table_name input {
	width:200px;
}
.edit_table .table_charset select,
  .edit_table .table_collation select,
  .edit_table .table_storage_engine select {
	width:205px;
}
.edit_table table {
	width:1225px;
	margin:10px auto;
	float:none;
	clear:left;
}
.edit_table thead th {
	text-align:center;
	font-size:10px;
	color:#666;
}
.edit_table tbody td {
	border-top:1px solid #CCC;
	border-right:1px solid #eee;
}
.edit_table tbody td input:not([type=submit]):not([type=button]), 
   .edit_table tbody td select {
	border:0;
	height:20px;
	line-height:20px;
	margin:0;
	padding:0;
	vertical-align:center;
}
.edit_table tbody td input[disabled], 
   .edit_table tbody td select[disabled] {
	cursor:not-allowed;
}
.edit_table tbody .no_attributes td {
	text-align:center;
}
.edit_table .table_attr_primary_key {
	width:30px;
	text-align:center;
}
.edit_table .table_attr_primary_key input {
	margin:0 auto;
}
.edit_table .table_attr_name {
	width:100px;
}
.edit_table .table_attr_name input {
	width:95px;
	text-align:left;
	font-size:10px !important;
	margin:0 auto;
}
.edit_table .table_attr_type {
	width:90px;
}
.edit_table .table_attr_type select {
	min-width:90px;
	width:100%;
	text-align:left;
	font-size:10px !important;
	margin:0 auto;
}
.edit_table .table_attr_length {
	width:45px;
}
.edit_table .table_attr_length input {
	width:42px;
	text-align:center;
	font-size:10px !important;
	margin:0 auto;
}
.edit_table .table_attr_null {
	width:30px;
	text-align:center;
}
.edit_table .table_attr_null input {
	margin:0 auto;
}
.edit_table .table_attr_unsigned {
	width:60px;
	text-align:center;
}
.edit_table .table_attr_unsigned input {
	margin:0 auto;
}
.edit_table .table_attr_unique {
	width:45px;
	text-align:center;
}
.edit_table .table_attr_unique input {
	margin:0 auto;
}
.edit_table .table_attr_auto_increment {
	width:45px;
	text-align:center;
}
.edit_table .table_attr_auto_increment input {
	margin:0 auto;
}
.edit_table tbody .table_attr_has_default {
	width:20px;
	text-align:center;
	border-right:0;
}
.edit_table tbody .table_attr_has_default input {
	margin:0 auto;
}
.edit_table thead .table_attr_default {
	width:120px;
	border-left:0;
}
.edit_table tbody .table_attr_default {
	width:100px;
	border-left:0;
	text-align:center;
}
.edit_table .table_attr_default input {
	width:95px;
	text-align:left;
	font-size:10px !important;
	margin:0 auto;
	text-indent:5px;
}
.edit_table .table_attr_extra {
	width:150px;
}
.edit_table .table_attr_extra input {
	width:145px;
	text-align:left;
	font-size:10px !important;
	margin:0 auto;
}
.edit_table .table_attr_charset,
  .edit_table .table_attr_collation {
	width:110px;
}
.edit_table .table_attr_charset select,
  .edit_table .table_attr_collation select {
	min-width:110px;
	width:100%;
	text-align:left;
	font-size:10px !important;
	margin:0 auto;
}
.edit_table .table_attr_comment {
	width:155px;
}
.edit_table .table_attr_comment input {
	width:150px;
	text-align:left;
	font-size:10px !important;
	margin:0 auto;
}
.edit_table .table_attr_icons {
	width:20px;
	border:0 !important;
	text-align:center;
}
.edit_table tbody .table_attr_icons {
	
}

.edit_table .table_sql_statements .sql_statement > label {
	font-weight:normal;
	font-size:80%;
}
.edit_table .table_sql_statements .ace_editor, .edit_table .table_sql_statements textarea {
	width:100%;
	min-height:30px;
	margin:0 0 10px;
	border-top:3px inset #CCC;
	border-bottom:3px inset #CCC;
	text-align:left;
}

/* SAVE BUTTON */
.save_button {
	width:100%;
	padding-top:20px;
	text-align:center !important;
}
.save_button input {
	font-size:8pt;
}
.save_button input.delete {
	margin-left:20px;
	/*background:#B51E3F;
	color:white;*/
}
.save_button input.execute {
	margin-left:20px;
}
.save_button input.back {
	/*background:#ccc;*/
}

/* BUTTONS */
.buttons input {
	font-size:8pt;
}

/* ERROR */
.error {
	width:100%;
	min-height:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	color:#B51E3F;
	box-sizing:border-box;
}
