.top_bar .title {
	width:560px !important;
}
.top_bar .title .export_type {
	width:225px;
	display:inline-block;
}
.top_bar .title .doc_name {
	width:150px;
	display:inline-block;
}

/* EXPORT */
.export_form {
	text-align:center;
}
.export_form select[name=export_type] {
  	width:220px;
  	position:absolute;
  	top:5px;
  	left:50px;
  	z-index:9999;
  	border:1px solid #ccc;
  	background:transparent;
}
.export_form input[name=doc_name] {
	width:150px;
  	position:absolute;
  	top:5px;
  	left:418px;
  	z-index:9999;
  	border:1px solid #ccc;
  	background:transparent;
}
.relationship .settings {
	display:none;
}
