.manage_record {
	padding:0 10px;
}

.manage_record .title {
	width: 100%;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 5px;
	text-align: center;
}

/* TABLE */
.manage_record table {
	width:100%;
}
.manage_record table th {
	min-width:100px;
	padding-bottom:5px;
	padding-right:10px;
	font-weight:bold;
	color:#333;
}
.manage_record table td {
	padding-bottom:5px;
}
.manage_record table input:not([type=checkbox]):not([type=radio]),
  .manage_record table textarea,
  .manage_record table select {
	width:100%;
	box-sizing:border-box;
}

/* BUTTONS */
.manage_record .buttons {
	width:100%;
	height:25px;
	text-align:center;
	margin:10px 0 0 0;
}
.manage_record .buttons input {
	border:1px outset;
	border-radius:0.5em;
	height:25px !important;
	line-height:15px !important;
	padding:3px 5px !important;
}
.manage_record .buttons input.delete {
	background:red;
	color:white;
}

/* ERROR */
.manage_record .error {
	margin:20px 0;
	color:red;
	text-align:center;
}
.manage_record .ok {
	margin:20px 0;
	color:green;
	text-align:center;
}

