/* TOP BAR */
.top_bar {
	margin-bottom:20px;
}

/* MANAGE RECORD */
.manage_record {
	padding:0 10px;
}
.manage_record.in_popup {
	padding:0 20px 10px;
}

/* TABLE */
.manage_record table {
	width:100%;
}
.manage_record table th {
	min-width:100px;
	padding-bottom:5px;
	padding-right:10px;
	color:#333;
}
.manage_record table td {
	padding-bottom:5px;
}
.manage_record table input:not([type=checkbox]):not([type=radio]),
  .manage_record table textarea,
  .manage_record table select {
	width:100%;
	box-sizing:border-box;
}

/* ERROR */
.manage_record .error {
	margin:20px 0;
	color:red;
	text-align:center;
}
.manage_record .ok {
	margin:20px 0;
	color:green;
	text-align:center;
}

