.module_events_catalog {
	width:100%;
	float:none;
	clear:both;
}
.module_events_catalog * {
	margin:0;
	padding:0;
}

.module_events_catalog .catalog {
	float:none;
	clear:both;
}
.module_events_catalog .catalog_title {
	width:100%;
	height:30px;
	text-align:left;
	font-family:"Segoe UI",Arial,Helvetica,sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#444;
	/*border-bottom:1px solid #ccc;*/
	margin-bottom:10px;
	margin-top:0;
	background:none;
}
.module_events_catalog .catalog .no_events {
	color:#FF0000;
	text-align:center;
	font-size:16px;
	font-weight:bold;
}
.module_events_catalog .catalog .catalog_event_clear {
	float:none;
	clear:both;
}
.module_events_catalog .catalog li {
	list-style-type:none;
}

/* GENERIC */
.module_events_catalog .form-control,
  .module_events_catalog .form-input {
	line-height:inherit;
	margin:0;
	padding:0;
	display:inline;
	font-size:inherit;
	font-weight:inherit;
	color:inherit;
	background:transparent;
	border:0;
	text-align:inherit;
}
.module_events_catalog a {
	font-family:"Segoe UI",Arial,Helvetica,sans-serif;
	text-decoration:none;
	color:#333;
	font-weight:normal;
}
.module_events_catalog a:hover .catalog_event_title {
	text-decoration:underline;
}
.module_events_catalog .catalog_event_title h1 {
	font-size:120%;
}
.module_events_catalog .catalog_event_sub_title h2 {
	font-size:110%;
}
.module_events_catalog .catalog_event_date label, 
   .module_events_catalog .catalog_event_time label {
	font-weight:normal;
}
.module_events_catalog .catalog_event_photo {
	display:inline-block;
}
.module_events_catalog .catalog_event_photo.no_photo {
	background:#FFF url("no_photo.png") no-repeat center center;
	background-size:100% 100%;
}
.module_events_catalog .catalog_event_photo .form-input,
   .module_events_catalog .catalog_event_photo img,
   .module_events_catalog .catalog_event_photo img.form-control {
	width:100%;
	height:100%;
}
.module_events_catalog .catalog_event_location .map {
	width:16px;
	height:16px;
	display:inline-block;
	margin-left:5px;
	background:url("maps_icon.png") no-repeat center;
	background-size:100% 100%;
	font-size:0;
	cursor:pointer;
	overflow:hidden;
	vertical-align:middle;
}
.module_events_catalog .catalog_event_date,
   .module_events_catalog .catalog_event_time,
   .module_events_catalog .catalog_event_begin_date,
   .module_events_catalog .catalog_event_end_date,
   .module_events_catalog .catalog_event_photo,
   .module_events_catalog .catalog_event_title,
   .module_events_catalog .catalog_event_sub_title,
   .module_events_catalog .catalog_event_address,
   .module_events_catalog .catalog_event_zip_id,
   .module_events_catalog .catalog_event_country_id,
   .module_events_catalog .catalog_event_country,
   .module_events_catalog .catalog_event_map,
   .module_events_catalog .catalog_event_full_address,
   .module_events_catalog .catalog_event_location,
   .module_events_catalog .catalog_event_description,
   .module_events_catalog .catalog_event_user,
   .module_events_catalog .catalog_event_created_date,
   .module_events_catalog .catalog_event_modified_date {
	background-color:none;
}

/* NORMAL LIST */
.module_events_catalog .catalog_normal_list .event {
	width:100%;
	min-height:40px;
	float:none;
	clear:both;
	margin-top:10px;
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
}
.module_events_catalog .catalog_normal_list .event .catalog_event_date {
	width:50%;
	float:left;
	margin-bottom:5px;
	background-color:#F0F0F0;
	text-indent:5px;
}
.module_events_catalog .catalog_normal_list .event .catalog_event_time {
	width:50%;
	float:right;
	margin-bottom:5px;
	background-color:#F0F0F0;
	text-align:right;
}
.module_events_catalog .catalog_normal_list .event .catalog_event_date label,
   .module_events_catalog .catalog_normal_list .event .catalog_event_time label {
	display:inline;
	color:#999;
	font-size:85%;
}
.module_events_catalog .catalog_normal_list .event .catalog_event_time label.to_time {
	padding-right:10px;
}
.module_events_catalog .catalog_normal_list .event .catalog_event_photo {
	width:150px;
	height:100px;
	margin-bottom:10px;
	margin-right:10px;
	float:left;
}
.module_events_catalog .catalog_normal_list .event .catalog_event_title {
	width:100%;
	min-height:20px;
	text-align:left;
	margin:0;
	line-height:1em;
	font-size:16px;
	font-weight:bold;
}
.module_events_catalog .catalog_normal_list .event .catalog_event_sub_title {
	width:100%;
	min-height:20px;
	text-align:left;
	margin:0;
	padding:0;
	font-size:13px;
	color:#999;
}

/* BLOG LIST */
	/* INTRODUCTION */
	.module_events_catalog .catalog_blog_list .introduction_event {
		width:100%;
		min-height:40px;
		float:none;
		clear:both;
		margin-top:10px;
		padding-bottom:10px;
	}
	.module_events_catalog .catalog_blog_list .introduction_event .catalog_event_date {
		width:120px;
		font-size:80%;
		text-align:center;
		position:absolute;
		margin-left:40px;
		background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
		border:1px solid #fff;
	}
	.module_events_catalog .catalog_blog_list .introduction_event .catalog_event_time {
		width:70px;
		height:40px;
		font-size:12px;
		text-align:center;
		position:absolute;
		margin-left:60px;
		margin-top:110px;
		background-color:rgba(255, 255, 255, 0.8);
		border:1px solid #fff;
	}
	.module_events_catalog .catalog_blog_list .introduction_event .catalog_event_date label,
	   .module_events_catalog .catalog_blog_list .introduction_event .catalog_event_time label {
		color:#555;
	}
	.module_events_catalog .catalog_blog_list .introduction_event .catalog_event_photo {
		width:200px;
		height:150px;
		text-align:left;
		margin-bottom:10px;
		margin-right:10px;
		float:left;
	}
	.module_events_catalog .catalog_blog_list .introduction_event .catalog_event_title {
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		line-height:1em;
		font-size:18px;
		font-weight:bold;
		background-color:#F0F0F0;
		padding:5px;
	}
	.module_events_catalog .catalog_blog_list .introduction_event .catalog_event_sub_title {
		width:100%;
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		font-size:14px;
		color:#999;
	}
	.module_events_catalog .catalog_blog_list .introduction_event .catalog_event_location {
		width:100%;
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		font-size:14px;
		color:#555;
	}

	/* FEATURED */
	.module_events_catalog .catalog_blog_list .featured_event_left {
		float:left;
		clear:none;
	}
	.module_events_catalog .catalog_blog_list .featured_event_right {
		float:right;
		clear:none;
	}
	
	/* _30 */
	.module_events_catalog .catalog_blog_list .featured_event_30.featured_event_left {
		width:39%;
		/*border-left:1px solid #ccc;*/
	}
	.module_events_catalog .catalog_blog_list .featured_event_30.featured_event_right {
		width:40%;
		/*border-right:1px solid #ccc;*/
	}
	.module_events_catalog .catalog_blog_list .featured_event_30 {
		min-height:100px;
		max-height:200px;
		padding-top:10px;
		margin-bottom:10px;
		border-top: 1px solid #ccc;
		overflow:hidden;
	}
	.module_events_catalog .catalog_blog_list .featured_event_30 .catalog_event_date {
		width:100px;
		font-size:12px;
		text-align:center;
		position:absolute;
		margin-left:5px;
		background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
		border:1px solid #fff;
		line-height:15px;
	}
	.module_events_catalog .catalog_blog_list .featured_event_30.featured_event_right .catalog_event_date {
		margin-left:0;
	}
	.module_events_catalog .catalog_blog_list .featured_event_30 .catalog_event_time {
		width:70px;
		height:40px;
		font-size:12px;
		text-align:center;
		position:absolute;
		margin-left:15px;
		margin-top:40px;
		padding:0 5px;
		background-color:rgba(255, 255, 255, 0.8);
		border:1px solid #fff;
		line-height:15px;
	}
	.module_events_catalog .catalog_blog_list .featured_event_30.featured_event_right .catalog_event_time {
		margin-left:10px;
	}
	.module_events_catalog .catalog_blog_list .featured_event_30 .catalog_event_date label,
	   .module_events_catalog .catalog_blog_list .featured_event_30 .catalog_event_time label {
		color:#444;
	}
	.module_events_catalog .catalog_blog_list .featured_event_30 .catalog_event_photo {
		width:100px;
		height:80px;
		text-align:left;
		margin-bottom:10px;
		margin-right:5px;
		float:left;
	}
	.module_events_catalog .catalog_blog_list .featured_event_30.featured_event_left .catalog_event_photo {
		/*margin-left:5px;*/
	}
	.module_events_catalog .catalog_blog_list .featured_event_30 .catalog_event_title {
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		line-height:1em;
		font-size:15px;
		font-weight:bold;
		background-color:#F0F0F0;
		padding:2px;
	}
	.module_events_catalog .catalog_blog_list .featured_event_30 .catalog_event_sub_title {
		display:none;
	}
	.module_events_catalog .catalog_blog_list .featured_event_30 .catalog_event_location {
		display:none;
	}
	
	/* _70 */
	.module_events_catalog .catalog_blog_list .featured_event_70 {
		min-height:250px;
		padding-top:10px;
		margin-bottom:10px;
		border-top: 1px solid #ccc;
	}
	.module_events_catalog .catalog_blog_list .featured_event_70.featured_event_left {
		width:60%;
		border-right:1px solid #ccc;
	}
	.module_events_catalog .catalog_blog_list .featured_event_70.featured_event_right {
		width:59%;
		border-left:1px solid #ccc;
	}
	.module_events_catalog .catalog_blog_list .featured_event_70 .catalog_event_date {
		width:120px;
		font-size:12px;
		text-align:center;
		position:absolute;
		margin-left:40px;
		background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
		border:1px solid #fff;
	}
	.module_events_catalog .catalog_blog_list .featured_event_70 .catalog_event_time {
		width:70px;
		height:40px;
		font-size:12px;
		text-align:center;
		position:absolute;
		margin-left:60px;
		margin-top:110px;
		background-color:rgba(255, 255, 255, 0.8);
		border:1px solid #fff;
	}
	.module_events_catalog .catalog_blog_list .featured_event_70 .catalog_event_photo {
		width:200px;
		height:150px;
		text-align:left;
		margin-bottom:10px;
		margin-right:5px;
		float:left;
	}
	.module_events_catalog .catalog_blog_list .featured_event_70.featured_event_right .catalog_event_photo {
		/*margin-left:5px;*/
	}
	.module_events_catalog .catalog_blog_list .featured_event_70 .catalog_event_title {
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		line-height:1em;
		font-size:16px;
		font-weight:bold;
		background-color:#F0F0F0;
		padding:2px;
	}
	.module_events_catalog .catalog_blog_list .featured_event_70 .catalog_event_sub_title {
		width:100%;
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		font-size:14px;
		color:#999;
	}
	.module_events_catalog .catalog_blog_list .featured_event_70 .catalog_event_location {
		width:100%;
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		font-size:14px;
		color:#555;
	}

	/* _50 */
	.module_events_catalog .catalog_blog_list .featured_event_50 {
		width:49%;
		min-height:100px;
		float:left;
		clear:none;
		padding-top:10px;
		margin-bottom:10px;
		border-top:1px solid #ccc;
	}
	.module_events_catalog .catalog_blog_list .featured_event_50.featured_event_50_left {
		border-right:1px solid #CCC;
	}
	.module_events_catalog .catalog_blog_list .featured_event_50.featured_event_50_right {
		/*border-left:1px solid #CCC;*/
	}
	.module_events_catalog .catalog_blog_list .featured_event_50 .catalog_event_date {
		width:100px;
		font-size:12px;
		text-align:center;
		position:absolute;
		margin-left:20px;
		background:#FFF;
		border:1px solid #fff;
	}
	.module_events_catalog .catalog_blog_list .featured_event_50 .catalog_event_time {
		width:70px;
		font-size:12px;
		float:right;
		position:relative;
		margin-right:15px;
		text-align:center;
		background-color:#FFF;
		border:1px solid #fff;
	}
	.module_events_catalog .catalog_blog_list .featured_event_50 .catalog_event_date label,
	   .module_events_catalog .catalog_blog_list .featured_event_50 .catalog_event_time label {
		
	}
	.module_events_catalog .catalog_blog_list .featured_event_50 .catalog_event_photo {
		width:100%;
		height:150px;
		margin:-10px 0 10px;
		float:none;
		clear:both;
	}
	.module_events_catalog .catalog_blog_list .featured_event_50 .catalog_event_title {
		min-height:20px;
		text-align:center;
		margin:0;
		padding:0;
		line-height:1em;
		font-size:16px;
		font-weight:bold;
		padding:2px;
	}
	.module_events_catalog .catalog_blog_list .featured_event_50 .catalog_event_sub_title {
		width:100%;
		min-height:20px;
		text-align:center;
		margin:0;
		padding:0;
		font-size:14px;
		color:#999;
	}
	.module_events_catalog .catalog_blog_list .featured_event_50 .catalog_event_location {
		width:100%;
		min-height:20px;
		text-align:center;
		margin:0;
		padding:0;
		font-size:14px;
		color:#555;
	}
	
	/* _ */
	.module_events_catalog .catalog_blog_list .featured_event {
		width:100%;
		min-height:40px;
		float:none;
		clear:both;
		padding-top:10px;
		margin-bottom:10px;
		border-top:1px solid #ccc;
	}
	.module_events_catalog .catalog_blog_list .featured_event:first-child {
		border-top:0 none;
	}
	.module_events_catalog .catalog_blog_list .featured_event .catalog_event_date {
		width:90px;
		font-size:12px;
		text-align:center;
		position:absolute;
		margin-left:30px;
		background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
		border:1px solid #fff;
	}
	.module_events_catalog .catalog_blog_list .featured_event .catalog_event_time {
		width:70px;
		height:40px;
		font-size:12px;
		text-align:center;
		position:absolute;
		margin-left:40px;
		margin-top:55px;
		background-color:rgba(255, 255, 255, 0.8);
		border:1px solid #fff;
	}
	.module_events_catalog .catalog_blog_list .featured_event .catalog_event_date label,
	   .module_events_catalog .catalog_blog_list .featured_event .catalog_event_time label {
		font-size:85%;
	}
	.module_events_catalog .catalog_blog_list .featured_event .catalog_event_photo {
		width:150px;
		height:100px;
		text-align:left;
		margin-bottom:10px;
		margin-right:5px;
		float:left;
	}
	.module_events_catalog .catalog_blog_list .featured_event .catalog_event_title {
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		line-height:1em;
		font-size:16px;
		font-weight:bold;
		background-color:#F0F0F0;
		padding:2px;
	}
	.module_events_catalog .catalog_blog_list .featured_event .catalog_event_sub_title {
		width:100%;
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		font-size:14px;
		color:#999;
	}
	.module_events_catalog .catalog_blog_list .featured_event .catalog_event_location {
		width:100%;
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		font-size:14px;
		color:#555;
	}
	
	/* LISTED */
	.module_events_catalog .catalog_blog_list .listed_events {
		width:100%;
		float:none;
		clear:both;
		padding-top:20px;
		border-top:1px solid #ccc;
	}
	.module_events_catalog .catalog_blog_list .listed_events ol, 
	   .module_events_catalog .catalog_blog_list .listed_events li {
		list-style:decimal outside none;
		margin-left:10px;
		color:#999;
	}
	.module_events_catalog .catalog_blog_list .listed_event {
		width:100%;
		height:20px;
		float:none;
		clear:both;
	}
	.module_events_catalog .catalog_blog_list .listed_event .catalog_event_date {
		display:none
	}
	.module_events_catalog .catalog_blog_list .listed_event .catalog_event_time {
		display:none
	}
	.module_events_catalog .catalog_blog_list .listed_event .catalog_event_photo {
		display:none;
	}
	.module_events_catalog .catalog_blog_list .listed_event .catalog_event_title {
		width:100%;
		height:20px;
		text-align:left;
		margin:0;
		line-height:1em;
		font-size:12px;
		font-weight:normal;
		color:#999;
	}
	.module_events_catalog .catalog_blog_list .listed_event .catalog_event_sub_title {
		display:none;
	}
	.module_events_catalog .catalog_blog_list .listed_event .catalog_event_location {
		display:none;
	}
	
	.module_events_catalog .catalog_blog_list .listed_event.event_hidden {
		display:none;
	}
	
.module_events_catalog .catalog_blog_list .more_events {
	width:100%;
	height:20px;
	float:none;
	clear:both;
	text-align:left;
	font-size:10px;
	text-decoration:none;
	margin-left:20px;
	cursor:pointer;
	color:#CCC;
}
.module_events_catalog .catalog_blog_list .more_events:hover {
	text-decoration:underline;
}
	
/* PAGINATION */
.module_events_catalog .top_pagination, .module_events_catalog .bottom_pagination {
	width:100%;
	height:20px;
	float:none;
	clear:both;
	font-size:12px;
	color:#999;
}
.module_events_catalog .top_pagination {
	margin-bottom:20px;
}
.module_events_catalog .bottom_pagination {
	margin-top:20px;
}
.module_events_catalog .pagination_alignment_center {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.module_events_catalog .pagination_alignment_left {
	margin-left:0;
	margin-right:auto;
	text-align:left;
}
.module_events_catalog .pagination_alignment_right {
	margin-left:auto;
	margin-right:0;
	text-align:right;
}
