.module_edit {
	width:330px;
}
.module_edit .form_fields .form_field label {
	width:110px;
}
.module_edit .form_fields .form_field.order input {
	width:30px;
}
.module_edit .form_fields .form_field.previous_html textarea,
  .module_edit .form_fields .form_field.next_html textarea {
	width:200px;
	height:45px;
}
