.show_chats_settings {
	width:100%;
	text-align:left;
}
.show_chats_settings .session_id,
   .show_chats_settings .logged_user_id,
   .show_chats_settings .default_chat_user_id,
   .show_chats_settings .show_chat_url,
   .show_chats_settings .load_chat_users_url {
	margin-bottom:5px;
}
.show_chats_settings .session_id,
   .show_chats_settings .logged_user_id {
	width:50%;
	float:left;
}
.show_chats_settings .session_id label {
   	width:100px;
	display:inline-block;
}
.show_chats_settings .logged_user_id label {
   	width:140px;
	display:inline-block;
}
.show_chats_settings .default_chat_user_id,
   .show_chats_settings .show_chat_url,
   .show_chats_settings .load_existent_chat_users_url,
   .show_chats_settings .delete_chat_url,
   .show_chats_settings .user_label {
	margin-top:20px;
}
.show_chats_settings .user_label {
	margin-bottom:20px;
}
.show_chats_settings .default_chat_user_id label,
   .show_chats_settings .show_chat_url label,
   .show_chats_settings .load_existent_chat_users_url label,
   .show_chats_settings .delete_chat_url label,
   .show_chats_settings .user_label label {
   	width:180px;
	display:inline-block;
	vertical-align:top;
}
.show_chats_settings .user_label input {
	width:500px;
}
.show_chats_settings .show_chat_url input,
   .show_chats_settings .load_existent_chat_users_url input,
   .show_chats_settings .delete_chat_url input {
	width:482px;
	padding-right:20px;
}
.show_chats_settings .default_chat_user_id .info,
   .show_chats_settings .show_chat_url .info,
   .show_chats_settings .load_existent_chat_users_url .info,
   .show_chats_settings .delete_chat_url .info,
   .show_chats_settings .user_label .info {
	margin-left:185px;
	display:block;
	font-size:85%;
	color:#555;
}
