/* MESSAGES */
.module_status_message, .module_error_message {
	text-align:center;
	margin:10px auto 20px auto;
	font-weight:bold;
	color:#FFF;
	border:1px solid #CCC;
}
.module_status_message {
	background-color:green;
}
.module_error_message {
	background-color:red;
}
