.manage_table_exta_attributes {
	min-height:calc(100vh - 100px);
}
.manage_table_exta_attributes .attributes {
	margin:20px auto;
	text-align:center;
}
.manage_table_exta_attributes .table_attr_file_type {
	width:90px;
}
.manage_table_exta_attributes .table_attr_file_type select {
	width:90px;
	text-align:left;
	font-size:10px !important;
	margin:0 auto;
}
.manage_table_exta_attributes .table_attr_allow_javascript {
	width:110px;
	text-align:center;
}
.manage_table_exta_attributes .table_attr_allow_javascript input {
	margin:0 auto;
}

/* WARNING */
.manage_table_exta_attributes .info {
	margin:20px;
	padding:20px;
	border:1px solid #ccc;
	border-radius:5px;
	background:#eee;
	color:#555;
}
.manage_table_exta_attributes .info ul {
	margin-top:10px;
	display:inline-block;
	text-align:left;
}
.manage_table_exta_attributes .info ul li {
	list-style:disc;
}
