.module_list .answer_id {
	text-align:center;
}
.module_list .question_id {
	text-align:center;
}
.module_list .title {
	text-align:center;
}
.module_list .delete_action .icon {
	margin-right:0;
}
.module_list .other_action .icon::before {
	content:"\f06e";
}
