.top_bar header {
	z-index:4;
}

.block_obj {
	width:100%;
	margin-bottom:0;
}
.block_obj .module_settings {
	width:auto;
}
.block_obj .module_settings > label {
	display:block;
}
.block_obj .module_settings .settings {
	border:0;
	padding:0;
	text-align:left;
}

.module_workflow_settings {
	overflow:hidden; /* bc of the workflow menu drag&drop */
}
.module_workflow_settings .module_workflow_content {
	border:0;
}
.module_workflow_settings #ui .taskflowchart,
  .module_workflow_settings #code > textarea,
  .module_workflow_settings #code .ace_editor {
	height:calc(100vh - 105px) !important;
}
.module_workflow_settings #code .code_menu,
  .module_workflow_settings #ui .taskflowchart .workflow_menu {
	margin-top:-25px;
	top:auto;
	right:335px;
	z-index:999999;
}
.module_workflow_settings #code .code_menu > ul > .save,
  .module_workflow_settings #ui .taskflowchart .workflow_menu > .dropdown > .save,
  .module_workflow_settings #code .code_menu > ul > .auto_save_activation,
  .module_workflow_settings #code .code_menu > ul > .auto_convert_activation,
  .module_workflow_settings #ui .taskflowchart .workflow_menu > .dropdown > .auto_save_activation,
  .module_workflow_settings #ui .taskflowchart .workflow_menu > .dropdown > .auto_convert_activation,
  .module_workflow_settings #code .code_menu > ul > .editor_full_screen,
  .module_workflow_settings #ui .taskflowchart .workflow_menu > .dropdown > .tasks_flow_full_screen {
	display:none;
}
.module_workflow_settings #code .code_menu > ul > .generate_code_from_tasks_flow,
  .module_workflow_settings #ui .taskflowchart .workflow_menu > .dropdown > .generate_code_from_tasks_flow {
	
}
.module_workflow_settings #code .code_menu > ul > .editor_settings .icon.settings {
	margin:0;
	min-height:auto;
}

.module_workflow_settings #external_vars {
	text-align:center;
}
.module_workflow_settings #external_vars table {
	width:300px;
	margin:0 auto;
}
.module_workflow_settings #external_vars table th,
   .module_workflow_settings #external_vars table td {
	text-align:center;
}
.module_workflow_settings #external_vars table th.variable_name,
   .module_workflow_settings #external_vars table th.variable_value {
	width:140px;
}
.module_workflow_settings #external_vars table .add_variable.inline {
	margin:2px 0 0 -15px;
	position:absolute;
	float:none;
	clear:both;
	display:inline-block;
	vertical-align:middle;
	opacity:.8;
}

/* WORKFLOW */
.module_workflow_settings .jsplumbtaskworkflow .workflow_message {
	position:absolute;
}
.module_workflow_settings .jsplumbtaskworkflow .error {
	height:auto;
	font-size:100%;
}
