.module_edit_object_objects_group {
	width:250px;
}
.module_edit_object_objects_group .form_fields .form_field input {
	width:80px;
}
.module_edit_object_objects_group .form_fields .form_field select {
	width:95px;
}
