.module_list_user_actions td.user_id {
	width:100px;
	text-align:center;
}
.module_list_user_actions td.username {
	width:100px;
}
.module_list_user_actions td.action_id {
	width:100px;
	text-align:center;
}
.module_list_user_actions td.object_type_id {
	width:100px;
	text-align:center;
}
.module_list_user_actions td.object_id {
	width:100px;
	text-align:center;
}
.module_list_user_actions td.time {
	width:80px;
	text-align:center;
}
.module_list_user_actions td.value {
	width:100px;
}
