.login_settings {
	width:720px;
	text-align:left;
}
.login_settings .maximum_login_attempts_to_block_user,
   .login_settings .show_captcha,
   .login_settings .maximum_login_attempts_to_show_captcha,
   .login_settings .redirect_page_url,
   .login_settings .welcoming_message,
   .login_settings .register_page_url,
   .login_settings .forgot_credentials_page_url,
   .login_settings .single_sign_on_page_url,
   .login_settings .register_attribute_label,
   .login_settings .forgot_credentials_attribute_label,
   .login_settings .single_sign_on_attribute_label {
	width:100%;
	float:none;
	clear:left;
}
.login_settings .show_captcha {
	margin-top:10px;
}
.login_settings .redirect_page_url,
   .login_settings .forgot_credentials_page_url {
	margin-top:20px;   
}
.login_settings .welcoming_message,
   .login_settings .register_page_url,
   .login_settings .forgot_credentials_page_url,
   .login_settings .single_sign_on_page_url,
   .login_settings .register_attribute_label,
   .login_settings .forgot_credentials_attribute_label,
   .login_settings .single_sign_on_attribute_label {
	margin-top:5px;
}
.edit_settings .register_attribute_label {
	margin-top:15px;
	padding-top:15px;
	border-top:1px solid #CCC;
}
.login_settings .single_sign_on_page_url {
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:1px solid #CCC;
}
.login_settings .settings_props {
	margin-bottom:15px;
	padding-bottom:15px;
}
.login_settings .single_sign_on_attribute_label {
	margin-bottom:15px;
}
.login_settings .maximum_login_attempts_to_block_user input,
   .login_settings .maximum_login_attempts_to_show_captcha input {
	width:20px;
}
.login_settings .redirect_page_url label,
   .login_settings .welcoming_message label,
   .login_settings .register_page_url label,
   .login_settings .forgot_credentials_page_url label,
   .login_settings .single_sign_on_page_url label {
	width:220px;
	display:inline-block;
}
.login_settings .register_attribute_label label,
   .login_settings .forgot_credentials_attribute_label label,
   .login_settings .single_sign_on_attribute_label label {
 	width:260px;
	display:inline-block;
}
.login_settings .welcoming_message input,
   .login_settings .redirect_page_url input,
   .login_settings .register_page_url input,
   .login_settings .forgot_credentials_page_url input,
   .login_settings .single_sign_on_page_url input {
	width:470px;
	padding-right:20px;
}

.module_settings .settings .login_settings .object_to_objects .add {
	margin-left:250px;
}

.edit_settings > .status_action_insert {
	display:none !important;
}
.edit_settings > .button_settings_insert {
	margin-top:10px;
}
