.catalog_settings {
	width:auto;
}

.catalog_settings .catalog_type,
   .catalog_settings .catalog_title,
   .catalog_settings .questions_type,
   .catalog_settings .catalog_by_parent,
   .catalog_settings .catalog_by_parent .catalog_parent_object_type_id,
   .catalog_settings .catalog_by_parent .catalog_parent_object_id,
   .catalog_settings .catalog_by_parent .catalog_parent_group,
   .catalog_settings .catalog_sort_column,
   .catalog_settings .catalog_sort_order,
   .catalog_settings .filter_by_published,
   .catalog_settings .question_properties_url {
	width:100%;
	text-align:left;
	margin-bottom:5px;
	float:none;
	clear:left;
}
.catalog_settings .catalog_type label,
   .catalog_settings .catalog_title label,
   .catalog_settings .questions_type label,
   .catalog_settings .catalog_by_parent label,
   .catalog_settings .catalog_by_parent .catalog_parent_object_type_id label,
   .catalog_settings .catalog_by_parent .catalog_parent_object_id label,
   .catalog_settings .catalog_by_parent .catalog_parent_group label,
   .catalog_settings .catalog_sort_column label,
   .catalog_settings .catalog_sort_order label,
   .catalog_settings .filter_by_published label,
   .catalog_settings .question_properties_url label {
	margin-bottom:5px;
	display:block;
	float:left;
	clear:none;
}
.catalog_settings .catalog_type {
	width:230px;
	float:left;
	clear:none;
}
.catalog_settings .catalog_title {
	width:450px;
	margin-left:20px;
	float:left;
	clear:none;
}
.catalog_settings .catalog_sort_column {
	width:380px;
	float:left;
	clear:none;
}
.catalog_settings .catalog_sort_order {
	width:230px;
	float:left;
	clear:none;
}
.catalog_settings .catalog_by_parent {
	float:none;
	clear:left;
	min-height:22px;
}
.catalog_settings .catalog_by_parent .catalog_parent_object_type_id {
	width:39%;
	float:left;
	clear:none;
}
.catalog_settings .catalog_by_parent .catalog_parent_object_id,
   .catalog_settings .catalog_by_parent .catalog_parent_group {
	width:30%;
	float:left;
	clear:none;
}
.catalog_settings .catalog_type label, 
   .catalog_settings .catalog_title label,  
   .catalog_settings .questions_type label, 
   .catalog_settings .catalog_sort_order label, 
   .catalog_settings .catalog_by_parent .catalog_parent_object_type_id label {
	width:130px;
}
.catalog_settings .catalog_sort_column label,
   .catalog_settings .filter_by_published label,
   .catalog_settings .question_properties_url label {
	width:180px;
}
.catalog_settings .catalog_by_parent .catalog_parent_object_id label, 
   .catalog_settings .catalog_by_parent .catalog_parent_group label {
	width:90px;
}
.catalog_settings .catalog_title input {
	width:300px;
}
.catalog_settings .catalog_by_parent .catalog_parent_object_type_id select {
	width:130px;
}
.catalog_settings .catalog_by_parent .catalog_parent_object_id input { 
	width:100px;
}
.catalog_settings .catalog_by_parent .catalog_parent_group input {
	width:20px;
}
.catalog_settings .question_properties_url input {
	width:390px;
	padding-right:20px;
}
.catalog_settings .question_properties_url .search_page_url {
	margin-left:-22px !important;
}
.catalog_settings .question_properties_url .info {
	display:block;
	margin-left:170px;
}

.catalog_settings .catalog_sort_order label {
	display:none;
}

.catalog_settings .catalog_by_parent, 
   .catalog_settings .catalog_parent_group {
	display:none;
}

.catalog_settings .settings_props {
	width:auto;
	margin-top:20px;
	margin-bottom:0;
	padding-top:20px;
	border-bottom:0;
	border-top:1px solid #CCC;
}
.catalog_settings .settings_props .settings_prop {
	width:auto;
}
