body > .cke_screen_reader_only { /* cke editor creates this automatically */
	position:fixed;
}

.block_obj {
	margin-bottom:0;
}
.block_obj .module_settings,
  .block_obj .module_settings .settings {
	width:auto;
	margin:0;
	padding:0;
	border:0;
}

.echostr_settings {
	text-align:left;
	border:0;
}
.echostr_settings > .tabs {
	border:0;
	background:none;
}
.echostr_settings > .editor {
	width:100%;
	height:calc(100vh - 100px);
	min-height:350px;
	padding:0;
}
.echostr_settings textarea {
	width:100%;
	height:100%;
}
.echostr_settings textarea.module_settings_property {
	display:none;
} 

/* layout_ui_editor */
.echostr_settings .layout_ui_editor {
	height:calc(100% - 40px);
	min-height:315px;
	border:1px solid #ccc;
	z-index:101;
}
.echostr_settings .layout_ui_editor > .options .options-left,
  .echostr_settings .layout_ui_editor > .options .options-center,
  .echostr_settings .layout_ui_editor > .options .options-right,
  .echostr_settings .layout_ui_editor > .options .options-right-2 {
	padding-top:7px;
}
.echostr_settings .layout_ui_editor > .options .option.show-full-source,
  .echostr_settings .layout_ui_editor > .options .option.full-screen {
	display:none !important;
}
.echostr_settings .layout_ui_editor .tabs .tab.view-page {
	opacity:.4;
	float:left;
}
.echostr_settings .layout_ui_editor > .menu-widgets, 
  .echostr_settings .layout_ui_editor > .menu-layers, 
  .echostr_settings .layout_ui_editor > .menu-settings, 
  .echostr_settings .layout_ui_editor > .template-widgets-options,
  .echostr_settings .layout_ui_editor > .template-widgets,
  .echostr_settings .layout_ui_editor > .resize-panels,
  .echostr_settings .layout_ui_editor > .messages {
	bottom:0 !important;
}
