.module_list_user_activity_objects td.user_id {
	width:100px;
	text-align:center;
}
.module_list_user_activity_objects td.username {
	width:100px;
}
.module_list_user_activity_objects td.activity_id {
	width:100px;
	text-align:center;
}
.module_list_user_activity_objects td.object_type_id {
	width:100px;
	text-align:center;
}
.module_list_user_activity_objects td.object_id {
	width:100px;
	text-align:center;
}
.module_list_user_activity_objects td.time {
	width:100px;
	text-align:center;
}
.module_list_user_activity_objects td.extra {
	width:100px;
}
