.module_list_users td.user_id {
	width:60px;
	text-align:center;
}
.module_list_users td.user_type_id {
	width:80px;
	text-align:center;
}
.module_list_users td.username {
	width:150px;
}
.module_list_users td.password {
	width:100px;
	font-size:9px;
}
.module_list_users td.name {
	width:100px;
}
.module_list_users td.email {
	width:150px;
}
.module_list_users td.security_question {
	width:150px;
}
.module_list_users td.security_answer {
	width:70px;
}
