.jqcontextmenu {
	max-height:100vh;
	padding:10px 0;
	background-color:var(--main-context-menu-bg, #f7f7f7); 
	color:var(--main-context-menu-color, #999); 
	border:1px solid var(--main-context-menu-border, #ccc);
	border-radius:3px;
	box-shadow:none;
	font-family:inherit;
	overflow:auto;
}

/* triangle */
.jqcontextmenu.with_top_left_triangle:before,
  .jqcontextmenu.with_top_center_triangle:before,
  .jqcontextmenu.with_top_right_triangle:before,
  .jqcontextmenu.with_left_top_triangle:before,
  .jqcontextmenu.with_left_center_triangle:before,
  .jqcontextmenu.with_left_middle_triangle:before,
  .jqcontextmenu.with_left_bottom_triangle:before,
  .jqcontextmenu.with_right_top_triangle:before,
  .jqcontextmenu.with_right_center_triangle:before,
  .jqcontextmenu.with_right_middle_triangle:before,
  .jqcontextmenu.with_right_bottom_triangle:before,
  .jqcontextmenu.with_bottom_left_triangle:before,
  .jqcontextmenu.with_bottom_center_triangle:before,
  .jqcontextmenu.with_bottom_right_triangle:before {
	content:" ";
	width:0;
	height:0;
	position:absolute;
	border-top:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid transparent;
	border-left:8px solid transparent;
	display:none;
}
.jqcontextmenu.with_top_left_triangle:before,
  .jqcontextmenu.with_top_center_triangle:before,
  .jqcontextmenu.with_top_right_triangle:before {
	border-bottom-color:var(--main-context-menu-triangle-border);
}
.jqcontextmenu.with_left_top_triangle:before,
  .jqcontextmenu.with_left_center_triangle:before,
  .jqcontextmenu.with_left_middle_triangle:before,
  .jqcontextmenu.with_left_bottom_triangle:before {
	border-right-color:var(--main-context-menu-triangle-border);
}
.jqcontextmenu.with_right_top_triangle:before,
  .jqcontextmenu.with_right_center_triangle:before,
  .jqcontextmenu.with_right_middle_triangle:before,
  .jqcontextmenu.with_right_bottom_triangle:before {
	border-left-color:var(--main-context-menu-triangle-border);
}
.jqcontextmenu.with_bottom_left_triangle:before,
  .jqcontextmenu.with_bottom_center_triangle:before,
  .jqcontextmenu.with_bottom_right_triangle:before {
	border-top-color:var(--main-context-menu-triangle-border);
}
.jqcontextmenu.with_top_left_triangle:after,
  .jqcontextmenu.with_top_center_triangle:after,
  .jqcontextmenu.with_top_right_triangle:after,
  .jqcontextmenu.with_left_top_triangle:after,
  .jqcontextmenu.with_left_center_triangle:after,
  .jqcontextmenu.with_left_middle_triangle:after,
  .jqcontextmenu.with_left_bottom_triangle:after,
  .jqcontextmenu.with_right_top_triangle:after,
  .jqcontextmenu.with_right_center_triangle:after,
  .jqcontextmenu.with_right_middle_triangle:after,
  .jqcontextmenu.with_right_bottom_triangle:after,
  .jqcontextmenu.with_bottom_left_triangle:after,
  .jqcontextmenu.with_bottom_center_triangle:after,
  .jqcontextmenu.with_bottom_right_triangle:after {
	content:" ";
	height:0;
	width:0;
	position:absolute;
	border-top:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid transparent;
	border-left:7px solid transparent;
	display:none;
}
.jqcontextmenu.with_top_left_triangle:after,
  .jqcontextmenu.with_top_center_triangle:after,
  .jqcontextmenu.with_top_right_triangle:after {
	border-bottom-color:var(--main-context-menu-bg);
}
.jqcontextmenu.with_left_top_triangle:after,
  .jqcontextmenu.with_left_center_triangle:after,
  .jqcontextmenu.with_left_middle_triangle:after,
  .jqcontextmenu.with_left_bottom_triangle:after {
	border-right-color:var(--main-context-menu-bg);
}
.jqcontextmenu.with_right_top_triangle:after,
  .jqcontextmenu.with_right_center_triangle:after,
  .jqcontextmenu.with_right_middle_triangle:after,
  .jqcontextmenu.with_right_bottom_triangle:after {
	border-left-color:var(--main-context-menu-bg);
}
.jqcontextmenu.with_bottom_left_triangle:after,
  .jqcontextmenu.with_bottom_center_triangle:after,
  .jqcontextmenu.with_bottom_right_triangle:after {
	border-top-color:var(--main-context-menu-bg);
}

/* triangle - top */
.jqcontextmenu.with_top_left_triangle:before {
	top:-15px;
	left:15px;
}
.jqcontextmenu.with_top_left_triangle:after {
	top:-13px;
	left:16px;
}
.jqcontextmenu.with_top_center_triangle:before {
	top:-15px;
	right:calc(50% - 7px);
}
.jqcontextmenu.with_top_center_triangle:after {
	top:-13px;
	right:calc(50% - 6px);
}
.jqcontextmenu.with_top_right_triangle:before {
	top:-15px;
	right:15px;
}
.jqcontextmenu.with_top_right_triangle:after {
	top:-13px;
	right:16px;
}

/* triangle - left */
.jqcontextmenu.with_left_top_triangle:before {
	top:13px;
	left:-16px;
}
.jqcontextmenu.with_left_top_triangle:after {
	top:14px;
	left:-14px;
}
.jqcontextmenu.with_left_center_triangle:before,
  .jqcontextmenu.with_left_middle_triangle:before {
	top:calc(50% - 8px);
	left:-16px;
}
.jqcontextmenu.with_left_center_triangle:after,
  .jqcontextmenu.with_left_middle_triangle:after {
	top:calc(50% - 7px);
	left:-14px;
}
.jqcontextmenu.with_left_bottom_triangle:before {
	bottom:13px;
	left:-16px;
}
.jqcontextmenu.with_left_bottom_triangle:after {
	bottom:14px;
	left:-14px;
}

/* triangle - right */
.jqcontextmenu.with_right_top_triangle:before {
	top:13px;
	right:-16px;
}
.jqcontextmenu.with_right_top_triangle:after {
	top:14px;
	right:-14px;
}
.jqcontextmenu.with_right_center_triangle:before,
  .jqcontextmenu.with_right_middle_triangle:before {
	top:calc(50% - 8px);
	right:-16px;
}
.jqcontextmenu.with_right_center_triangle:after,
  .jqcontextmenu.with_right_middle_triangle:after {
	top:calc(50% - 7px);
	right:-14px;
}
.jqcontextmenu.with_right_bottom_triangle:before {
	bottom:13px;
	right:-16px;
}
.jqcontextmenu.with_right_bottom_triangle:after {
	bottom:14px;
	right:-14px;
}

/* triangle - bottom */
.jqcontextmenu.with_bottom_left_triangle:before {
	bottom:-15px;
	left:15px;
}
.jqcontextmenu.with_bottom_left_triangle:after {
	bottom:-13px;
	left:16px;
}
.jqcontextmenu.with_bottom_center_triangle:before {
	bottom:-15px;
	right:calc(50% - 7px);
}
.jqcontextmenu.with_bottom_center_triangle:after {
	bottom:-13px;
	right:calc(50% - 6px);
}
.jqcontextmenu.with_bottom_right_triangle:before {
	bottom:-15px;
	right:15px;
}
.jqcontextmenu.with_bottom_right_triangle:after {
	bottom:-13px;
	right:16px;
}

/* lis */
.jqcontextmenu li {background-color:var(--main-context-menu-bg, #f7f7f7); font-size:0;} /* font-size:0: must set the font-size to 0, bc the child "a" is a display inline-block which means that all spaces between the html tags (inside of the LI), will be seen in the browser and show a weird spacing. So we need to set this spaces to 0 and set back the font-size in the child "a" and "::before" */
.jqcontextmenu li:not(.line_break):hover {background-color:var(--main-context-menu-hover-bg, #f7f7f7); color:var(--main-context-menu-hover-color);}
.jqcontextmenu li a {min-width:auto; margin-left:0; padding:4px 15px 4px 40px; cursor:pointer; background-color:var(--main-context-menu-bg, #f7f7f7); color:var(--main-context-menu-color, #999); display:block; font-size:11px;}
.jqcontextmenu li:not(.line_break):hover a, .jqcontextmenu li:not(.line_break) a:hover {text-decoration:none; background-color:var(--main-context-menu-hover-bg, #f7f7f7); color:var(--main-context-menu-hover-color);}
.jqcontextmenu .line_break {margin:0; padding:10px 0;}
.jqcontextmenu .line_break::before {content:""; width:100%; height:0; margin:0; padding:0; border-top:1px solid var(--main-context-menu-border, #ccc); display:block;}

.jqcontextmenu li:not(.line_break)::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	font-size:14px;
	
	width:15px;
	margin-top:4px;
	margin-left:15px;
	display:inline-block;
	color:inherit;
	position:absolute;
}
.jqcontextmenu li:not(.line_break)::after {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	font-size:6pt;
	
	display:inline-block;
	color:var(--icon-hover-color);
	position:absolute;
	left:17px;
	top:10px;
}

/* lis - icons */
.jqcontextmenu .edit::before {content:"\f303";}
.jqcontextmenu .edit_new::before {content:"\f303";}
.jqcontextmenu .edit_new::after {content:"\2b";}
.jqcontextmenu .properties::before {content:"\f022";}
.jqcontextmenu .create_folder::before {content:"\f65e";}
.jqcontextmenu .create_file::before {content:"\f477";}
.jqcontextmenu .upload::before {content:"\f093";}
.jqcontextmenu .download::before {content:"\f019";}
.jqcontextmenu .remove::before {content:"\f1f8";}
.jqcontextmenu .rename::before {content:"\f5b7";}
.jqcontextmenu .refresh::before {content:"\f2f1";}
.jqcontextmenu .copy::before {content:"\f0c5";}
.jqcontextmenu .cut::before {content:"\f0c4";}
.jqcontextmenu .paste::before {content:"\f0ea";}
.jqcontextmenu .zip::before {content:"\f1c6";}
.jqcontextmenu .unzip::before {content:"\f1c6"; font:var(--fa-font-regular) !important; font-size:9pt !important;}
.jqcontextmenu .diff_file::before {content:"\f53e";}
.jqcontextmenu .add_table::before {content:"\f0db";}
.jqcontextmenu .db_dump::before {content:"\f093";}
.jqcontextmenu .import_data::before {content:"\f56f";}
.jqcontextmenu .export_data::before {content:"\f56e";}
.jqcontextmenu .execute_sql::before {content:"\f04b";}
.jqcontextmenu .manage_records::before {content:"\f00b"; color:#999;}
.jqcontextmenu .manage_records::after {content:"\f303";}
.jqcontextmenu .edit_diagram::before {content:"\f0e8";}
.jqcontextmenu .create_diagram_sql::before {content:"\f121"; color:#999;}
.jqcontextmenu .create_diagram_sql::after {content:"\f0e8";}
.jqcontextmenu .create_sql::before {content:"\f121"; color:#999;}
.jqcontextmenu .create_sql::after {content:"\f0e8";}
.jqcontextmenu .obj::before {content:"\f1c0"; color:#999;}
.jqcontextmenu .obj::after {content:"\f1b2"; color:#555;}
.jqcontextmenu .create_automatically::before {content:"\f079";}
.jqcontextmenu .create_uis_diagram::before {content:"\f079";}
.jqcontextmenu .manage_includes::before {content:"\f5ee";}
.jqcontextmenu .edit_raw_file::before {content:"\f121"; color:#999;}
.jqcontextmenu .edit_raw_file::after {content:"\f303";}
.jqcontextmenu .edit_raw_file_new::before {content:"\f121"; color:#999;}
.jqcontextmenu .edit_raw_file_new::after {content:"\f303";}
.jqcontextmenu .query::before {content:"\f1c0"; color:#999;}
.jqcontextmenu .query::after {content:"\f121"; color:#333;}
.jqcontextmenu .relationship::before {content:"\f1c0"; color:#999;}
.jqcontextmenu .relationship::after {content:"\f1e0"; color:#333;}
.jqcontextmenu .result_map::before {content:"\f1c0"; color:#999;}
.jqcontextmenu .result_map::after {content:"\f279";}
.jqcontextmenu .parameter_map::before {content:"\f1c0"; color:#999;}
.jqcontextmenu .parameter_map::after {content:"\f279";}
.jqcontextmenu .service_obj::before {content:"\f468";}
.jqcontextmenu .service_method::before {content:"\e13b"; -webkit-transform:scaleY(-1); transform:scaleY(-1);}
.jqcontextmenu .service_function::before {content:"\e13b"; -webkit-transform:scaleY(-1); transform:scaleY(-1);}
.jqcontextmenu .hbnt_obj::before {content:"\f0fd"; color:#999;}
.jqcontextmenu .hbnt_obj::after {content:"\f304";}
.jqcontextmenu .objt_obj::before {content:"\f174"; color:#999; font:var(--fa-font-brands) !important; font-size:10pt !important;}
.jqcontextmenu .objt_obj::after {content:"\f304";}
.jqcontextmenu .edit_project_global_variables::before {content:"\f0ac"; color:#999;}
.jqcontextmenu .edit_project_global_variables::after {content:"\f304";}
.jqcontextmenu .edit_config::before {content:"\f013"; color:#999;}
.jqcontextmenu .edit_config::after {content:"\f304";}
.jqcontextmenu .edit_init::before {content:"\f573";}
.jqcontextmenu .manage_references::before {content:"\f572";}
.jqcontextmenu .view_project::before {content:"\f06e";}
.jqcontextmenu .test_project::before {content:"\f06e";}
.jqcontextmenu .add_project::before {content:"\f65e";}
.jqcontextmenu .manage_modules::before {content:"\f61f";}
.jqcontextmenu .manage_wordpress::before {content:"\f19a"; font:var(--fa-font-brands) !important; font-size:10pt !important;}
.jqcontextmenu .install_program::before {content:"\f51f";}
.jqcontextmenu .install_template::before {content:"\f13b"; font:var(--fa-font-brands) !important; font-size:10pt !important;}
.jqcontextmenu .convert_template::before {content:"\f13b"; font:var(--fa-font-brands) !important; font-size:10pt !important;}
.jqcontextmenu .test_unit_obj::before {content:"\f0ae"; color:#aaa;}
.jqcontextmenu .test_unit_obj::after {content:"\2b"; margin-left:7px;}
.jqcontextmenu .manage_test_units::before {content:"\f0ae";}
.jqcontextmenu .class_obj::before {content:"\f1c9";}
.jqcontextmenu .class_method::before {content:"\e13b"; -webkit-transform:scaleY(-1); transform:scaleY(-1);}
.jqcontextmenu .class_function::before {content:"\e13b"; -webkit-transform:scaleY(-1); transform:scaleY(-1);}
.jqcontextmenu .manage_docbook::before {content:"\f02d"; text-indent: 2px;}
.jqcontextmenu .view_docbook::before {content:"\f02d"; text-indent: 2px;}
.jqcontextmenu .view_code::before {content:"\f121";}

/* Popups */
.choose_available_tool_popup,
  .choose_available_project_popup,
  .choose_available_tutorial_popup,
  .go_to_popup {
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
}
.choose_available_tutorial_popup {
	max-width:650px;
}
.edit_project_details_popup {
	top:auto;
	left:auto;
	right:auto;
	bottom:auto;
	width:535px;
	height:390px;
}
.choose_available_tool_popup iframe,
  .choose_available_project_popup iframe,
  .choose_available_tutorial_popup iframe,
  .edit_project_details_popup iframe,
  .go_to_popup iframe {
	width:100%;
	height:100%;
}
