/* ADMIN PANEL */
.admin_panel {
	padding:0 20px;
	border:0;
	font-size:12px;
	font-family:inherit;
}
.admin_panel > .title {
	margin:60px 0 35px;
	text-align:center;
	font-size:21px;
	color:var(--icon-active-color);
}
.admin_panel > ul {
	background:none;
	border:0;
	text-align:center;
	font-size:13px;
}
.admin_panel > ul li {
	margin:0 !important;
	background:none !important;
	border:none !important;
	display:inline-block;
	float:none !important;
}
.admin_panel > ul li:not(:first-child) {
	border-left:1px solid #DFE1ED !important;
	border-radius:0;
}
.admin_panel > ul li a {
	margin:0 5px;
	padding:0 10px !important;
	border-bottom:1px solid transparent !important;
	color:#83889E !important;
	float:none !important;
}
.admin_panel > ul li.ui-state-active a {
	font-weight:bold;
	/*border-bottom-color:var(--icon-active-color) !important;*/
	color:#2C2D34 !important;
}

/* PROJS */
.projs {
	padding:15px !important;
}
.projs > .choose_available_project:not(.in_sub_folder) > .top_bar {
	display:none;
}
.projs > .choose_available_project > .title {
	display:none;
}
.projs > .choose_available_project > .selected_project {
	margin-top:-10px;
}
.projs > .choose_available_project > .group {
	margin-left:0;
	margin-right:0;
}

/* HOW IT WORKS */
.admin_panel .how_it_works div {
	text-align:center;
	margin:20px 0;
	padding:20px 0;
	border-bottom:1px solid #ccc;
}
.admin_panel .how_it_works div img {
	max-width:90vw;
}

/* TUTORIALS */
.tutorials > .choose_available_tutorial {
	
}

