.title {
	margin-bottom:0px;
}

.block_obj {
	min-width:760px;
}
.block_obj .module_settings {
	width:760px;
	margin:0 auto;
}
.block_obj .module_settings .settings {
	border:0;
}

.module_show_objects_group_settings {
	text-align:left;
	position:initial;
	top:initial !important;
	left:initial !important;
	right:initial !important;
	bottom:initial !important;
	overflow:visible;
}
.module_show_objects_group_settings label {
	font-style:normal;
	font-weight:normal;
	font-size:inherit;
}
.module_show_objects_group_settings input, .module_show_objects_group_settings select, .module_show_objects_group_settings textarea {
	font-size:inherit;
}

/* CREATE FORM TASK HTML */
.module_show_objects_group_settings .create_form_task_html {
	margin-top:10px;
}
.module_show_objects_group_settings .create_form_task_html .separate_settings_from_input,
   .module_show_objects_group_settings .create_form_task_html .form_input,
   .module_show_objects_group_settings .create_form_task_html .form_input_data,
   .module_show_objects_group_settings .create_form_task_html .separate_input_from_result,
   .module_show_objects_group_settings .create_form_task_html .result,
   .module_show_objects_group_settings .create_form_task_html .task_property_exit {
	display:none;
}
.module_show_objects_group_settings .create_form_task_html .with_form,
   .module_show_objects_group_settings .create_form_task_html .form_method {
	display:none !important;/*Leave !important here because if the user plays with the settings field, the form_method field will appear again. With !important bug doesn't happen anymore*/
}
.module_show_objects_group_settings .create_form_task_html .form_id {
	width:100%;
}
.module_show_objects_group_settings .create_form_task_html .form_css textarea, 
   .module_show_objects_group_settings .create_form_task_html .form_js textarea, 
   .module_show_objects_group_settings .create_form_task_html .form_css .ace_editor, 
   .module_show_objects_group_settings .create_form_task_html .form_js .ace_editor {
	height:250px;
}
.module_show_objects_group_settings .create_form_task_html .form_containers .add_fields_automatically_popup .input_data_variable_name .search {
	display:none;
}

/* PTL UI */
.module_show_objects_group_settings .create_form_task_html > .ptl_settings > .layout-ui-editor > .options .option.show-full-source {
	display:none !important;
}
.module_show_objects_group_settings .create_form_task_html > .ptl_settings .layout-ui-editor > .tabs {
	font-size:8pt;
}

/* ACTION SETTINGS HTML */
.module_show_objects_group_settings .action_settings {
	margin-top:20px;
	padding-top:10px;
	border-top:1px solid #CCC;
}
.module_show_objects_group_settings .action_settings div {
	width:100%;
	text-align:left;
	margin-bottom:5px;
	float:none;
	clear:left;
}
.module_show_objects_group_settings .action_settings div label {
	margin-bottom:5px;
	display:inline-block;
}
.module_show_objects_group_settings .action_settings .input_settings_label {
	font-size:13px;
	font-weight:bold;
	margin-bottom:10px;
	display:block;
	float:none;
	clear:left;
}
.module_show_objects_group_settings .action_settings .list_by_parent .list_parent_object_type_id {
	width:39%;
	float:left;
	clear:none;
}
.module_show_objects_group_settings .action_settings .list_by_parent .list_parent_object_id,
   .module_show_objects_group_settings .action_settings .list_by_parent .list_parent_group {
	width:30%;
	float:left;
	clear:none;
}
.module_show_objects_group_settings .action_settings .objects_groups_type label, 
   .module_show_objects_group_settings .action_settings .specific_by_id label,  
   .module_show_objects_group_settings .action_settings .list_by_tags label, 
   .module_show_objects_group_settings .action_settings .list_by_selected_objects_groups label, 
   .module_show_objects_group_settings .action_settings .list_by_parent .list_parent_object_type_id label {
	width:140px;
	display:inline-block;
}
.module_show_objects_group_settings .action_settings .list_by_parent .list_parent_object_id label, 
   .module_show_objects_group_settings .action_settings .list_by_parent .list_parent_group label {
	width:90px;
	display:inline-block;
}
.module_show_objects_group_settings .action_settings .specific_by_id input {
	width:200px;
}
.module_show_objects_group_settings .action_settings .list_by_tags input {
	width:520px;
}
.module_show_objects_group_settings .action_settings .list_by_parent .list_parent_object_type_id select {
	width:130px;
}
.module_show_objects_group_settings .action_settings .list_by_parent .list_parent_object_id input, 
   .module_show_objects_group_settings .action_settings .list_by_parent .list_parent_group input {
	width:100px;
}
.module_show_objects_group_settings .action_settings .list_by_selected_objects_groups select {
	max-width:410px;
}

.module_show_objects_group_settings .action_settings .list_by_selected_objects_groups .icon.add {
	background-position:0 1px;
}
.module_show_objects_group_settings .action_settings .list_by_selected_objects_groups .selected_objects_groups {
	padding-top:3px;
}
.module_show_objects_group_settings .action_settings .list_by_selected_objects_groups .selected_objects_groups table {
	border:1px solid #CCC;
	margin:0 auto;
}
.module_show_objects_group_settings .action_settings .list_by_selected_objects_groups .selected_objects_groups .objects_group_id {
	width:80px;
}
.module_show_objects_group_settings .action_settings .list_by_selected_objects_groups .selected_objects_groups td.objects_group_id {
	text-align:center;
	font-weight:bold;
}
.module_show_objects_group_settings .action_settings .list_by_selected_objects_groups .selected_objects_groups .objects_group_object {
	width:490px;
}
.module_show_objects_group_settings .action_settings .list_by_selected_objects_groups .selected_objects_groups .buttons {
	width:80px;
}
.module_show_objects_group_settings .action_settings .list_by_selected_objects_groups .selected_objects_groups .no_objects_groups td {
	text-align:center;
	font-style:italic;
	padding-top:5px;
}

.module_show_objects_group_settings .action_settings .specific_by_id, 
   .module_show_objects_group_settings .action_settings .list_by_tags, 
   .module_show_objects_group_settings .action_settings .list_by_selected_objects_groups {
	display:none;
}
.module_show_objects_group_settings .action_settings .list_by_parent, 
   .module_show_objects_group_settings .action_settings .list_parent_group, 
   .module_show_objects_group_settings .action_settings .list_by_tags, 
   .module_show_objects_group_settings .action_settings .list_by_selected_articles {
	display:none;
}

.module_show_objects_group_settings .action_settings .pagination {
	margin-top:10px;
}
.module_show_objects_group_settings .action_settings .pagination label.main_pagination_label {
	width:100%;
	float:none;
	clear:left;
}
.module_show_objects_group_settings .action_settings .pagination div {
	margin-left:20px;
}
.module_show_objects_group_settings .action_settings .pagination div label {
	width:150px;
	display:inline-block;
	color:#666;
}
.module_show_objects_group_settings .action_settings .pagination div select {
	margin-right:5px;
	text-align:center;
}
.module_show_objects_group_settings .action_settings .pagination .rows_per_page input {
	width:30px;
}

.module_show_objects_group_settings .action_settings .action_buttons_settings {
	margin-top:20px;
	float:none;
	clear:both;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons_settings_label {
	width:100%;
	font-size:13px;
	font-weight:bold;
	margin-bottom:10px;
	display:block;
	float:none;
	clear:both;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .add {
	background-position:0 1px;
	margin-left:30px;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons {
	margin:0 auto;
	float:none;
	clear:both;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons td {
	border-top:1px solid #eee;
	border-right:1px solid #eee;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons td.icons {
	border:0;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons .button_label {
	width:105px;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons .button_label input {
	width:100px;
	background-color:#FFF;
	border:0;
	text-align:center;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons .action_type {
	width:315px;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons .action_type select {
	width:315px;
	font-size:10px;
	background-color:#FFF;
	border:0;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons .action_variable {
	width:155px;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons .action_variable input {
	width:150px;
	background-color:#FFF;
	border:0;
	text-align:center;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons .buttons {
	width:80px;
}
.module_show_objects_group_settings .action_settings .action_buttons_settings .action_buttons .no_action_buttons td {
	text-align:center;
	font-style:italic;
	padding-top:5px;
}

/* OBJECT TO OBJECTS FIELDS */
.module_settings .settings .module_show_objects_group_settings .action_settings .object_to_objects {
	min-width:675px;
	margin:20px auto 0 auto;
	padding:5px 5px 2px 5px;
	background-color:#eee;
	border:0;
}
.module_settings .settings .module_show_objects_group_settings .action_settings .object_to_objects div {
	margin-bottom:0;
}
.module_settings .settings .module_show_objects_group_settings .object_to_objects .object_to_objects_main_label {
	margin-bottom:5px;
	color:#666;
}
.module_settings .settings .module_show_objects_group_settings .object_to_objects_settings .add {
	margin:-22px 0 0 255px;
}
.module_settings .settings .module_show_objects_group_settings .object_to_objects .object_type_id label, 
   .module_settings .settings .module_show_objects_group_settings .object_to_objects .object_id label {
	width:80px;
	display:inline-block;
}
