
.my_list th label {
	margin-right:10px;
}
.my_list .list_field {
	vertical-align:middle;
}
.my_list .buttons {
	width:50px;
	text-align:center;
}
.my_list .buttons div {
	width:20px;
	height:20px;
	text-align:center;
	float:left;
}
