#search_and_sort_table {
	width:910px;
	display:block;
	margin-bottom:20px;
	border-bottom:1px inset #AACCFF;
	margin-left:auto;
	margin-right:auto;
}
#search_and_sort_table td {
	width:50%;
	vertical-align:top;
	text-align:center;
}

#search {
	width:520px;
	min-height:30px;
	float:left;
	border-right:1px solid #AACCFF;
	padding-bottom:8px;
}
#search .search_panel_header {
	text-align:left;
	margin-bottom:5px;
}
#search .search_title {
	width:70px;
	height:20px;
	float:left;
}
#search .search_button {
	width:20px;
	height:20px;
	float:left;
	
	background-image: url(../img/icon/search_icon.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	font-size:1px;
	text-indent:-3000px;
	color:#FFF;
	border:0px;
}
#search .add_search_field_button {
	width:20px;
	height:20px;
	clear:left;
	margin-left:395px;
	
	background-image: url(../img/icon/add_icon.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	font-size:1px;
	text-indent:-3000px;
	color:#FFF;
	border:0px;
}
#search #search_fields {
	width:520px;
	min-height:1px;
	text-align:left;
}
#search #search_fields .searching_field {
	width:220px;
	margin-right:5px;
}
#search #search_fields .searching_type {
	width:80px;
	margin-right:5px;
}
#search #search_fields .searching_value {
	width:170px;
	margin-right:5px;
}
#search #search_fields .remove_field_button {
	width:20px;
	height:20px;
	
	background-image: url(../img/icon/delete_icon.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	font-size:1px;
	text-indent:-3000px;
	color:#FFF;
	border:0px;
	vertical-align:middle;
}

#pagination {
	width:100%;
	min-height:30px;
	text-align:center;
}
#pagination span {
	width:5px;
	height:30px;
	margin:0px 5px 0px 5px;
}
#pagination span a {
	color:#33AADD;
}
#pagination span a:hover {
	color:#AACCFF;
}
#pagination span.current {
	
}
#pagination span.current a {
	color:#AACCFF;
}
#pagination span.current a:hover {
	color:#C0C0C0;
}

#sort {
	width:400px;
	min-height:30px;
	clear:left;
	border-left:1px solid #AACCFF;
	padding-left:10px;
	padding-bottom:8px;
}
#sort .sort_panel_header {
	text-align:left;
	margin-bottom:5px;
}
#sort #sort_fields {
	width:400px;
	min-height:1px;
	text-align:left;
}
#sort .sort_title {
	width:70px;
	height:20px;
	float:left;
}
#sort .sort_button {
	width:20px;
	height:20px;
	float:left;
	
	background-image: url(../img/icon/sort_icon.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	font-size:1px;
	text-indent:-3000px;
	color:#FFF;
	border:0px;
}
#sort .add_sort_field_button {
	width:20px;
	height:20px;
	clear:left;
	margin-left:260px;
	
	background-image: url(../img/icon/add_icon.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	font-size:1px;
	text-indent:-3000px;
	color:#FFF;
	border:0px;
}
#sort .sorting_by {
	width:220px;
	margin-right:5px;
}
#sort .sorting_order {
	width:120px;
	margin-right:5px;
}
#sort .remove_field_button {
	width:20px;
	height:20px;
	
	background-image: url(../img/icon/delete_icon.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	font-size:1px;
	text-indent:-3000px;
	color:#FFF;
	border:0px;
	vertical-align:middle;
}
