/* tables */
.my_list table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	/*width: 100%;*/
	text-align: left;
}
.my_list table.tablesorter thead tr th, .my_list table.tablesorter tfoot tr th {
	background-color: #AACCFF;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
.my_list table.tablesorter thead tr .header {
	background-image: url(../img/tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.my_list table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
.my_list table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
.my_list table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/tablesorter/asc.gif);
}
.my_list table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/tablesorter/desc.gif);
}
.my_list table.tablesorter thead tr .headerSortDown, .my_list table.tablesorter thead tr .headerSortUp {
	background-color: #33AADD;
}
