.module_edit {
	width:360px;
}
.module_edit .form_fields .form_field label {
	width:120px;
}
.module_edit .form_fields .form_field input,
  .module_edit .form_fields .form_field select {
	width:240px;
}
