.module_edit {
	width:360px;
}
.module_edit .form_fields .form_field label {
	width:120px;
}
.module_edit .form_fields .form_field input {
	width:220px;
}
.module_edit .form_fields .form_field select {
	width:227px;
}
.module_edit .buttons .submit_button_save {
	display:none;
}
