.module_list .user_type_id {
	text-align:center;
}
.module_list .activity_id {
	text-align:center;
}
.module_list .object_type_id {
	text-align:center;
}
.module_list .object_id {
	text-align:center;
}
.module_list .time {
	text-align:center;
}
