/* ADD FORM */
.module_add_user_type_activity_object {
	width:380px;
	margin:0 auto;
}
.module_add_user_type_activity_object .title {
	text-align:center;
	font-weight:bold;
	font-size:16px;
}
.module_add_user_type_activity_object .message {
	height:20px;
	text-align:center;
	font-weight:bold;
	color:red;
	margin-bottom:20px;
}
.module_add_user_type_activity_object div {
	height:20px;
	margin-bottom:10px;
	float:none;
	clear:left;
}
.module_add_user_type_activity_object label {
	width:110px;
	display:block;
	float:left;
}
.module_add_user_type_activity_object input {
	width:190px;
}
.module_add_user_type_activity_object select {
	width:200px;
}
.module_add_user_type_activity_object .submit_button {
	text-align:center;
}
.module_add_user_type_activity_object .submit_button input {
	width:auto;
}
.module_add_user_type_activity_object .go_back {
	margin-top:10px;
	color:#999;
	text-align:center;
}
.module_add_user_type_activity_object .go_back a {
	color:#999;
}

/* MANAGE FORM */
.module_manage_user_type_activity_objects {
	text-align:left;
}
.module_manage_user_type_activity_objects .title {
	text-align:center;
	font-weight:bold;
	font-size:16px;
}
.module_manage_user_type_activity_objects .message {
	height:20px;
	text-align:center;
	font-weight:bold;
	color:red;
	margin-bottom:20px;
}
.module_manage_user_type_activity_objects .user_type_id {
	width:300px;
	margin:20px auto;
}
.module_manage_user_type_activity_objects .user_type_id label {
	width:90px;
}
.module_manage_user_type_activity_objects .user_type_id select {
	width:200px;
}
.module_manage_user_type_activity_objects .object_type_vs_acivities_title {
	padding:20px 0;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	border-top:1px solid #CCC;
}
.module_manage_user_type_activity_objects ul, .module_manage_user_type_activity_objects li {
	list-style-type:none;
	padding-left:0;
}
.module_manage_user_type_activity_objects li li {
	margin-left:30px;
}
.module_manage_user_type_activity_objects .object_type_header {
	height:20px;
	padding:2px;
	background-color:#eee;
}
.module_manage_user_type_activity_objects .object_type_header .icon {
	width:16px;
	margin:2px 5px 0 5px;
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	cursor:pointer;
	color:#555;
	position:relative;
}
.module_manage_user_type_activity_objects .object_type_header .maximize,
  .module_manage_user_type_activity_objects .object_type_header .minimize {
	float:right;
}
.module_manage_user_type_activity_objects .object_type_header label {
	margin-left:10px;
	display:block;
	float:left;
}
.module_manage_user_type_activity_objects table {
	margin:10px auto;
}
.module_manage_user_type_activity_objects table th {
	min-height:20px;
	padding:2px 4px;
	font-family: Verdana,Arial,sans-serif;
	color:#555555;
	text-align:center;
	border-bottom:1px solid #ccc;
	border-right:1px solid #eee;
}
.module_manage_user_type_activity_objects table th.activity input {
	margin:0;
}
.module_manage_user_type_activity_objects table td {
	border-bottom:1px solid #ccc;
	border-right:1px solid #eee;
	text-align:left;
	padding-left:4px;
	padding-right:2px;
}
.module_manage_user_type_activity_objects table .group_name td {
	font-weight:bold;
	background-color:#ccc;
}
.module_manage_user_type_activity_objects table td.object_id {
	background-color:#f7f7f7;
}
.module_manage_user_type_activity_objects table td.activity {
	text-align:center;
}
.module_manage_user_type_activity_objects table td.activity_warning {
	background-color:red;
	
	opacity:0.7;
	-ms-filter: alpha(opacity=70);/* For IE 8 */
	filter: alpha(opacity=70);/* For IE */
}
.module_manage_user_type_activity_objects table td.activity_warning input {
	opacity:0.7;
	-ms-filter: alpha(opacity=70);/* For IE 8 */
	filter: alpha(opacity=70);/* For IE */
}
.module_manage_user_type_activity_objects table td.other_activities {
	width:75px;
	background-color:#F7F7F7;
	text-align:center;
}
.module_manage_user_type_activity_objects table td.unregister_activities {
	width:75px;
	background-color:#F7F7F7;
	text-align:center;
	color:red;
	font-weight:bold;
}
.module_manage_user_type_activity_objects .submit_button {
	text-align:center;
	margin-top:30px;
}
.module_manage_user_type_activity_objects .submit_button input {
	
}
