/* TOP BAR */
.top_bar {
	margin-bottom:10px;
}

/* CONFIG OBJ */
.config_obj {
	width:100%;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	border:0;
}

/* To print the workflow */
@media print {
	.config_obj {
		overflow:visible !important;
		border:0 !important;
	}
}
