/* TOP BAR */
.top_bar {
	margin-bottom:20px;
}
.top_bar .info {
	color:#999;
	font-size:80%;
}

/* PROJECTS */
.projects_list {
	width:550px;
	margin:0 auto;
	margin-bottom:20px;
}

.projects_list table {
	width:100%;
	border:1px solid #CCC;
	clear:left;
	float:none;
}
.projects_list table th {
	font-weight:bold;
	text-transform:uppercase;
	font-size:10px;
	height:20px;
	line-height:15px;
}
.projects_list table td {
	border:1px solid #CCC;
}
.projects_list table .project {
	width:200px;
	text-align:center;
}
.projects_list table .path {
	width:200px;
	padding:0 3px 0px 3px;
	text-align:center;
}
.projects_list table .buttons {
	width:140px;
	text-align:center;
}
.projects_list table .buttons .icon {
	
}
.projects_list table .buttons .add {
	font-size:14px;
}

.projects_list .default_project {
	margin-top:20px;
}
