.module_upload_object_attachment {
	
}
.module_upload_object_attachment .individual_items_upload {
	width:350px;
	margin:0 auto;
}
.module_upload_object_attachment .individual_items_upload .main_label {
	height:20px;
	float:none;
	clear:left;
}
.module_upload_object_attachment .individual_items_upload .main_label label {
	display:block;
	float:left;
	margin-right:5px;
}
.module_upload_object_attachment .individual_items_upload .main_label .icon {
	margin-top:0;
}
.module_upload_object_attachment .individual_items_upload .upload_items {
	float:none;
	clear:left;
	margin-top:10px;
}
.module_upload_object_attachment .individual_items_upload .upload_item {
	height:30px;
	margin-bottom:5px;
	float:none;
	clear:left;
}
.module_upload_object_attachment .individual_items_upload .upload_item label {
	line-height:30px;
	display:block;
	float:left;
	margin-right:5px;
}
.module_upload_object_attachment .individual_items_upload .upload_item .icon {
	margin-top:7px;
}
.module_upload_object_attachment .individual_items_upload .upload_item input {
	display:block;
	float:left;
	background-color:#FFF;
	border:1px solid #F0F0F0;
}
.module_upload_object_attachment .individual_items_upload .submit_button {
	float:none;
	clear:left;
	text-align:center;
	margin-top:10px;
}
.module_upload_object_attachment .individual_items_upload .submit_button input {
	background-color:#FFF;
}


.module_upload_object_attachment .drag_and_drop_upload .main_label label {
	width: 100%;
	height:20px;
	display:block;
	font-weight:bold;
	margin:10px 0;
	text-align:center;
}
.module_upload_object_attachment .drag_and_drop_upload .dropzone .dz-default {
	font-size: 14px;
	font-weight: bold;
}
.module_upload_object_attachment .drag_and_drop_upload .dropzone .dz-preview .dz-error-message {
	width:300px;
}
