.list_settings .query_type,
   .list_settings .users_by_parent,
   .list_settings .user_type_id {
	width:100%;
	height:20px;
	margin-bottom:10px;
	padding-left:5px;
	float:none;
	clear:left;
}
.list_settings .users_by_parent,
   .list_settings .user_type_id {
	display:none;
}

.list_settings .query_type label, 
   .list_settings .users_by_parent .users_parent_object_type_id label, 
   .list_settings .users_by_parent .users_parent_object_id label, 
   .list_settings .users_by_parent .users_parent_group label,
   .list_settings .user_type_id label {
	width:100px;
	display:inline-block;
}
.list_settings .users_by_parent .users_parent_object_type_id {
	width:39%;
	float:left;
	clear:none;
}
.list_settings .users_by_parent {
	min-height:22px;
}
.list_settings .users_by_parent .users_parent_object_id,
   .list_settings .users_by_parent .users_parent_group {
	width:30%;
	float:left;
	clear:none;
}
.list_settings .users_by_parent .users_parent_object_id label, 
   .list_settings .users_by_parent .users_parent_group label {
	width:90px;
	display:inline-block;
}
.list_settings .users_by_parent .users_parent_object_type_id select {
	width:150px;
}
.list_settings .users_by_parent .users_parent_object_id input, 
   .list_settings .users_by_parent .users_parent_group input {
	width:100px;
}
