.menu_settings {
	width:100%;
	text-align:left;
}
.menu_settings .menu_type {
	width:350px;
	height:25px;
	margin-bottom:5px;
	float:left;
}
.menu_settings .menu_class {
	width:315px;
	height:25px;
	float:left;
}
.menu_settings .menu_title {
	width:100%;
	height:25px;
	float:none;
	clear:left;
}
.menu_settings .template_type {
	width:auto;
	height:25px;
	padding:10px 5px 15px;
}
.menu_settings .menu_background_color,
   .menu_settings .menu_text_color,
   .menu_settings .sub_menu_background_color,
   .menu_settings .sub_menu_text_color {
	width:315px;
	height:25px;
	margin-bottom:5px;
	padding-left:5px;
	float:left;
}
.menu_settings .menu_background_image,
   .menu_settings .sub_menu_background_image {
	width:100%;
	height:25px;
	margin-bottom:5px;
	padding-left:5px;
	float:none;
	clear:both;
}
.menu_settings .menu_type label, 
   .menu_settings .menu_class label, 
   .menu_settings .menu_title label {
   	display:block;
	width:100px;
	float:left;
}
.menu_settings .template_type label {
   	display:block;
	width:125px;
	float:left;
}
.menu_settings .menu_background_color label, 
   .menu_settings .menu_text_color label,
   .menu_settings .menu_background_image label, 
   .menu_settings .sub_menu_background_color label,
   .menu_settings .sub_menu_text_color label,
   .menu_settings .sub_menu_background_image label {
   	width:190px;
	display:block;
	float:left;
	font-size:90%;
	font-weight:normal;
}
.menu_settings .menu_text_color label,
   .menu_settings .sub_menu_text_color label {
   	width:140px;
}
.menu_settings .menu_class input {
	width:200px;
}
.menu_settings .menu_title input {
	width:550px;
}
.menu_settings .menu_background_color input[type=text], 
   .menu_settings .menu_text_color input[type=text],
   .menu_settings .menu_background_image input[type=text], 
   .menu_settings .sub_menu_background_color input[type=text],
   .menu_settings .sub_menu_text_color input[type=text],
   .menu_settings .sub_menu_background_image input[type=text] {
	width:65px;
	height:19px;
	font-size:12px;
	float:left;
	background:#fff;
	box-sizing:border-box;
}
.menu_settings .menu_background_image input[type=text], 
   .menu_settings .sub_menu_background_image input[type=text] {
	width:355px;
}
.menu_settings .menu_background_color input[type=color], 
   .menu_settings .menu_text_color input[type=color], 
   .menu_settings .sub_menu_background_color input[type=color],
   .menu_settings .sub_menu_text_color input[type=color] {
	width:20px;
	height:19px;
	padding:0;
	border:none;
	background:initial;
	color:initial;
	float:left;
	-webkit-appearance: none;
}
.menu_settings .menu_background_color input[type=color]::-webkit-color-swatch-wrapper, 
   .menu_settings .menu_text_color input[type=color]::-webkit-color-swatch-wrapper, 
   .menu_settings .sub_menu_background_color input[type=color]::-webkit-color-swatch-wrapper,
   .menu_settings .sub_menu_text_color input[type=color]::-webkit-color-swatch-wrapper {
	padding:0;
}
.menu_settings .menu_background_color input[type=color]::-webkit-color-swatch, 
   .menu_settings cinput[type=color]::-webkit-color-swatch, 
   .menu_settings .sub_menu_background_color input[type=color]::-webkit-color-swatch,
   .menu_settings .sub_menu_text_color input[type=color]::-webkit-color-swatch {
	border:none;
}

.menu_settings .block_class {
	display:none;
}

/* ELS PTL */
.menu_settings .els {
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
	display:none;
}
.menu_settings .els .els_tabs {
	display:none;
}
.menu_settings .els .import_template_ptl {
	position:absolute;
	right:10px;
	margin-top:-10px;
}
.menu_settings .els .ptl .ptl_external_vars > .items {
	border:0;
	margin-left:0;
}

.menu_settings .els > .ptl > .layout_ui_editor > .options .option.show-full-source {
	display:none !important;
} 

/* ITEMS */
.menu_settings .menu_items {
	width:100%;
	min-height:25px;
	padding-bottom:10px;
	float:none;
	clear:left;
}
.menu_settings .menu_items label {
   	display:block;
	width:100px;
	float:left;
}
.menu_settings .menu_items select.items_type {
	float:left;
	margin-bottom:5px;
}

.menu_settings .menu_items .query_type,
   .menu_settings .menu_items .selected_menu,
   .menu_settings .menu_items .menu_by_user_defined,
   .menu_settings .menu_items .menu_by_tag,
   .menu_settings .menu_items .menu_by_parent {
	height:20px;
	margin-left:10px;
	margin-bottom:10px;
	float:none;
	clear:left;
	display:none;
}
.menu_settings .menu_items .query_type label, 
   .menu_settings .menu_items .menu_by_parent .menu_parent_object_type_id label, 
   .menu_settings .menu_items .menu_by_parent .menu_parent_object_id label, 
   .menu_settings .menu_items .menu_by_parent .menu_parent_group label,
   .menu_settings .menu_items .selected_menu label,
   .menu_settings .menu_items .menu_by_user_defined label,
   .menu_settings .menu_items .menu_by_tag label {
	width:100px;
   	display:block;
	float:left;
	font-weight:normal;
}
.menu_settings .menu_items .menu_by_parent .menu_parent_object_type_id {
	width:39%;
	float:left;
	clear:none;
}
.menu_settings .menu_items .menu_by_parent .menu_parent_object_id,
   .menu_settings .menu_items .menu_by_parent .menu_parent_group {
	width:30%;
	float:left;
	clear:none;
}
.menu_settings .menu_items .menu_by_parent .menu_parent_object_id label, 
   .menu_settings .menu_items .menu_by_parent .menu_parent_group label {
	width:80px;
}
.menu_settings .menu_items .menu_by_parent .menu_parent_object_type_id select {
	width:150px;
}
.menu_settings .menu_items .menu_by_parent .menu_parent_object_id input, 
   .menu_settings .menu_items .menu_by_parent .menu_parent_group input {
	width:100px;
}

.menu_settings .menu_items .menu_items_default_settings {
	display:none;
	margin-left:10px;
	float:none;
	clear:both;
}
.menu_settings .menu_items .menu_items_default_settings label {
	width:100%;
	font-weight:normal;
	margin-bottom:5px;
}
.menu_settings .menu_items .menu_items_default_settings div label {
	width:65px;
	font-style:normal;
	margin-bottom:0;
}
.menu_settings .menu_items .menu_items_default_settings .item_label,
   .menu_settings .menu_items .menu_items_default_settings .item_url,
   .menu_settings .menu_items .menu_items_default_settings .item_attrs,
   .menu_settings .menu_items .menu_items_default_settings .item_previous_html,
   .menu_settings .menu_items .menu_items_default_settings .item_next_html {
	float:none;
	clear:left;
	margin-top:5px;
	margin-left:10px;
}
.menu_settings .menu_items .menu_items_default_settings .item_title {
	width:265px;
	float:left;
	margin-top:5px;
	margin-left:10px;
}
.menu_settings .menu_items .menu_items_default_settings .item_class {
	width:245px;
	float:left;
	margin-top:5px;
	margin-left:10px;
}
.menu_settings .menu_items .menu_items_default_settings .item_class label {
	width:50px;
}
.menu_settings .menu_items .menu_items_default_settings .item_label input,
   .menu_settings .menu_items .menu_items_default_settings .item_title input,
   .menu_settings .menu_items .menu_items_default_settings .item_class input {
	width:190px;
}
.menu_settings .menu_items .menu_items_default_settings .item_attrs input {
	width:450px;
}
.menu_settings .menu_items .menu_items_default_settings .item_url input {
	width:432px;
	padding-right:20px;
}
.menu_settings .menu_items .menu_items_default_settings .item_previous_html textarea,
   .menu_settings .menu_items .menu_items_default_settings .item_next_html textarea {
	width:450px;
	height:45px;
}

.menu_settings .menu_items .icon {
	margin-right:0px;
}
.menu_settings .menu_items .icon.up {
	background:url("../../../img/icon/up_icon.gif") no-repeat 0 0;
}
.menu_settings .menu_items .icon.down {
	background:url("../../../img/icon/down_icon.gif") no-repeat 0 0;
}

.menu_settings .items {
	border:1px solid #CCC;
	padding:5px 5px;
	margin:5px 0px 5px 20px;
	float:none;
	clear:left;
}
.menu_settings .item {
	float:none;
	clear:left;
	margin-top:5px;
}
.menu_settings .item .items label {
	float:none;
	clear:left;
}
.menu_settings .item .menu_label {
	width:100%;
	height:25px;
}
.menu_settings .item .menu_label label {
	display:block;
	float:left;
	clear:none;
	width:50px;
}
.menu_settings .item .menu_label input {
	display:block;
	float:left;
	width:200px;
}
.menu_settings .item .menu_url,
  .menu_settings .item .menu_attrs,
  .menu_settings .item .menu_previous_html,
  .menu_settings .item .menu_next_html {
	width:100%;
   	min-height:25px;
   	margin-top:5px;
   	margin-left:20px;
   	float:none;
   	clear:left;
	display:none;
} 
.menu_settings .item .menu_title, 
   .menu_settings .item .menu_class {
   	width:275px;
   	height:25px;
   	margin-top:2px;
   	margin-left:20px;
   	float:left;
	clear:none;
	display:none;
}
.menu_settings .item .menu_url label, 
   .menu_settings .item .menu_title label, 
   .menu_settings .item .menu_class label,  
   .menu_settings .item .menu_attrs label, 
   .menu_settings .item .menu_previous_html label, 
   .menu_settings .item .menu_next_html label {
	width:65px;
	font-weight:normal;
	float:left;
	clear:none;
}
.menu_settings .item .menu_title input, 
   .menu_settings .item .menu_class input {
   	width:200px;
}
.menu_settings .item .menu_attrs input,
   .menu_settings .item .menu_previous_html input,
   .menu_settings .item .menu_next_html input {
	width:495px;
}
.menu_settings .item .menu_url input {
	width:477px;
	padding-right:20px;
}
.menu_settings .item .menu_previous_html textarea,
   .menu_settings .item .menu_next_html textarea {
	width:495px;
	height:45px;

}
