<module>
	<label>List User Type Activity Objects</label>
	<description>Module "List User Type Activity Objects" allows to manage the user type activity objects.</description>
	<image>logo.png</image>
	<load_module_settings_js_function>loadListSettingsBlockSettings</load_module_settings_js_function>
</module>
