.module_articles_catalog {
	width:100%;
	float:none;
	clear:both;
}
.module_articles_catalog * {
	margin:0;
	padding:0;
	background:none;
}

.module_articles_catalog .catalog {
	float:none;
	clear:both;
}
.module_articles_catalog .catalog_title {
	width:100%;
	height:30px;
	text-align:left;
	font-family:"Segoe UI",Arial,Helvetica,sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#444;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
	margin-top:0;
}
.module_articles_catalog .catalog .no_articles {
	color:#FF0000;
	text-align:center;
	font-size:16px;
	font-weight:bold;
}
.module_articles_catalog .catalog .catalog_article_clear {
	float:none;
	clear:both;
}

/* GENERIC */
.module_articles_catalog .form-control,
  .module_articles_catalog .form-input {
	line-height:inherit;
	margin:0;
	padding:0;
	display:inline;
	font-size:inherit;
	font-weight:inherit;
	color:inherit;
	background:transparent;
	border:0;
	text-align:inherit;
}
.module_articles_catalog a {
	font-family:"Segoe UI",Arial,Helvetica,sans-serif;
	text-decoration:none;
	color:#333;
	font-weight:normal;
}
.module_articles_catalog a:hover .catalog_article_title {
	text-decoration:underline;
}
.module_articles_catalog .catalog_article_title h1 {
	font-size:120%;
}
.module_articles_catalog .catalog_article_sub_title h2 {
	font-size:110%;
}
.module_articles_catalog .catalog_article_photo {
	display:inline-block;
}
.module_articles_catalog .catalog_article_photo .form-input,
   .module_articles_catalog .catalog_article_photo img,
   .module_articles_catalog .catalog_article_photo img.form-control {
	width:100%;
	height:100%;
}

/* NORMAL LIST */
.module_articles_catalog .catalog_normal_list .article {
	width:100%;
	min-height:40px;
	float:none;
	clear:both;
	margin-top:10px;
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
}
.module_articles_catalog .catalog_normal_list .article .catalog_article_photo {
	width:150px;
	height:100px;
	margin-bottom:10px;
	margin-right:10px;
	float:left;
}
.module_articles_catalog .catalog_normal_list .article .catalog_article_title {
	width:auto;
	min-height:20px;
	text-align:left;
	margin:0;
	line-height:1em;
	font-size:16px;
	font-weight:bold;
}
.module_articles_catalog .catalog_normal_list .article .catalog_article_sub_title {
	width:auto;
	min-height:20px;
	text-align:left;
	margin:0;
	padding:0;
	font-size:13px;
	color:#999;
}
.module_articles_catalog .catalog_normal_list .article .catalog_article_summary {
	width:auto;
	height:auto;
	text-align:justify;
	margin-top:10px;
	font-size:11px;
}
.module_articles_catalog .catalog_normal_list .article .catalog_article_summary p {
	line-height:1.5em;
	margin:0 0;
}

/* BLOG LIST */
	/* INTRODUCTION */
	.module_articles_catalog .catalog_blog_list .introduction_article {
		width:100%;
		min-height:40px;
		float:none;
		clear:both;
		margin-top:10px;
		padding-bottom:10px;
	}
	.module_articles_catalog .catalog_blog_list .introduction_article .catalog_article_photo {
		width:200px;
		height:150px;
		text-align:left;
		margin-bottom:10px;
		margin-right:10px;
		float:left;
	}
	.module_articles_catalog .catalog_blog_list .introduction_article .catalog_article_title {
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		line-height:1em;
		font-size:18px;
		font-weight:bold;
		background-color:#F0F0F0;
		padding:5px;
	}
	.module_articles_catalog .catalog_blog_list .introduction_article .catalog_article_sub_title {
		width:auto;
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		font-size:14px;
		color:#999;
		padding:5px;
	}
	.module_articles_catalog .catalog_blog_list .introduction_article .catalog_article_summary {
		width:auto;
		height:auto;
		text-align:justify;
		margin-top:10px;
		font-size:11px;
		padding:5px;
	}
	.module_articles_catalog .catalog_blog_list .introduction_article .catalog_article_summary p {
		line-height:1.5em;
		margin:0;
	}

	/* FEATURED */
	.module_articles_catalog .catalog_blog_list .featured_article_left {
		float:left;
		clear:none;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_right {
		float:right;
		clear:none;
	}
	
	/* _30 */
	.module_articles_catalog .catalog_blog_list .featured_article_30.featured_article_left {
		width:38%;
		padding-left:1%;
		/*border-left:1px solid #ccc;*/
	}
	.module_articles_catalog .catalog_blog_list .featured_article_30.featured_article_right {
		width:39%;
		padding-right:1%;
		/*border-right:1px solid #ccc;*/
	}
	.module_articles_catalog .catalog_blog_list .featured_article_30 {
		min-height:100px;
		max-height:200px;
		padding-top:10px;
		margin-bottom:10px;
		border-top: 1px solid #ccc;
		overflow:hidden;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_30 .catalog_article_photo {
		width:100px;
		height:80px;
		text-align:left;
		margin-bottom:10px;
		margin-right:5px;
		float:left;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_30.featured_article_left .catalog_article_photo {
		margin-left:5px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_30 .catalog_article_title {
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		line-height:1em;
		font-size:15px;
		font-weight:bold;
		background-color:#F0F0F0;
		padding:2px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_30 .catalog_article_sub_title {
		display:none;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_30 .catalog_article_summary {
		width:auto;
		height:auto;
		text-align:justify;
		font-size:11px;
		padding:2px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_30 .catalog_article_summary p {
		line-height:1.5em;
		margin:0 0;
	}
	
	/* _70 */
	.module_articles_catalog .catalog_blog_list .featured_article_70 {
		min-height:250px;
		padding-top:10px;
		margin-bottom:10px;
		border-top: 1px solid #ccc;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_70.featured_article_left {
		width:59%;
		padding-right:1%;
		border-right:1px solid #ccc;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_70.featured_article_right {
		width:58%;
		padding-left:1%;
		border-left:1px solid #ccc;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_70 .catalog_article_photo {
		width:200px;
		height:150px;
		text-align:left;
		margin-bottom:10px;
		margin-right:5px;
		float:left;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_70.featured_article_right .catalog_article_photo {
		margin-left:5px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_70 .catalog_article_title {
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		line-height:1em;
		font-size:16px;
		font-weight:bold;
		background-color:#F0F0F0;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_70 .catalog_article_title {
		padding:2px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_70 .catalog_article_sub_title {
		width:auto;
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		font-size:14px;
		color:#999;
		padding:2px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_70 .catalog_article_summary {
		width:auto;
		height:auto;
		text-align:justify;
		margin-top:10px;
		font-size:11px;
		padding:2px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_70 .catalog_article_summary p {
		line-height:1.5em;
		margin:0 0;
	}

	/* _50 */
	.module_articles_catalog .catalog_blog_list .featured_article_50 {
		min-height:100px;
		float:left;
		clear:none;
		padding-top:10px;
		margin-bottom:10px;
		border-top:1px solid #ccc;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_50.featured_article_50_left {
		width:48%;
		padding-right:1%;
		border-right:1px solid #CCC;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_50.featured_article_50_right {
		width:49%;
		padding-left:1%;
		/*border-left:1px solid #CCC;*/
	}
	.module_articles_catalog .catalog_blog_list .featured_article_50 .catalog_article_photo {
		width:150px;
		height:100px;
		text-align:left;
		margin-bottom:10px;
		margin-right:5px;
		float:left;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_50.featured_article_50_right .catalog_article_photo {
		margin-left:5px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_50 .catalog_article_title {
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		line-height:1em;
		font-size:16px;
		font-weight:bold;
		background-color:#F0F0F0;
		padding:2px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_50 .catalog_article_sub_title {
		width:auto;
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		font-size:14px;
		color:#999;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_50 .catalog_article_summary {
		width:auto;
		height:auto;
		text-align:justify;
		margin-top:10px;
		font-size:11px;
		padding:2px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article_50 .catalog_article_summary p {
		line-height:1.5em;
		margin:0 0;
	}
	
	/* _ */
	.module_articles_catalog .catalog_blog_list .featured_article {
		width:100%;
		min-height:40px;
		float:none;
		clear:both;
		padding-top:10px;
		margin-bottom:10px;
		border-top:1px solid #ccc;
	}
	.module_articles_catalog .catalog_blog_list .featured_article:first-child {
		border-top:0 none;
	}
	.module_articles_catalog .catalog_blog_list .featured_article .catalog_article_photo {
		width:150px;
		height:100px;
		text-align:left;
		margin-bottom:10px;
		margin-right:5px;
		float:left;
	}
	.module_articles_catalog .catalog_blog_list .featured_article .catalog_article_title {
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		line-height:1em;
		font-size:16px;
		font-weight:bold;
		background-color:#F0F0F0;
		padding:2px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article .catalog_article_sub_title {
		width:auto;
		min-height:20px;
		text-align:left;
		margin:0;
		padding:0;
		font-size:14px;
		color:#999;
		padding:2px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article .catalog_article_summary {
		width:auto;
		height:auto;
		text-align:justify;
		margin-top:10px;
		font-size:11px;
		padding:2px;
	}
	.module_articles_catalog .catalog_blog_list .featured_article .catalog_article_summary p {
		line-height:1.5em;
		margin:0 0;
	}
	
	/* LISTED */
	.module_articles_catalog .catalog_blog_list .listed_articles {
		width:100%;
		float:none;
		clear:both;
		padding-top:20px;
		border-top:1px solid #ccc;
	}
	.module_articles_catalog .catalog_blog_list .listed_articles ol, 
	   .module_articles_catalog .catalog_blog_list .listed_articles li {
		list-style:decimal outside none;
		margin-left:10px;
		color:#999;
	}
	.module_articles_catalog .catalog_blog_list .listed_article {
		width:100%;
		height:20px;
		float:none;
		clear:both;
	}
	.module_articles_catalog .catalog_blog_list .listed_article .catalog_article_photo {
		display:none;
	}
	.module_articles_catalog .catalog_blog_list .listed_article .catalog_article_title {
		width:auto;
		height:20px;
		text-align:left;
		margin:0;
		line-height:1em;
		font-size:12px;
		font-weight:normal;
		color:#999;
	}
	.module_articles_catalog .catalog_blog_list .listed_article .catalog_article_sub_title {
		display:none;
	}
	.module_articles_catalog .catalog_blog_list .listed_article .catalog_article_summary {
		display:none;
	}
	
	.module_articles_catalog .catalog_blog_list .listed_article.article_hidden {
		display:none;
	}
	
.module_articles_catalog .catalog_blog_list .more_articles {
	width:100%;
	height:20px;
	float:none;
	clear:both;
	text-align:left;
	font-size:10px;
	text-decoration:none;
	margin-left:20px;
	cursor:pointer;
	color:#CCC;
}
.module_articles_catalog .catalog_blog_list .more_articles:hover {
	text-decoration:underline;
}
	
/* PAGINATION */
.module_articles_catalog .top_pagination, .module_articles_catalog .bottom_pagination {
	width:100%;
	height:20px;
	float:none;
	clear:both;
	font-size:12px;
	color:#999;
}
.module_articles_catalog .top_pagination {
	margin-bottom:20px;
}
.module_articles_catalog .bottom_pagination {
	margin-top:20px;
}
.module_articles_catalog .pagination_alignment_center {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.module_articles_catalog .pagination_alignment_left {
	margin-left:0;
	margin-right:auto;
	text-align:left;
}
.module_articles_catalog .pagination_alignment_right {
	margin-left:auto;
	margin-right:0;
	text-align:right;
}
