.module_edit {
	width:360px;
}
.module_edit .form_fields .form_field label {
	width:230px;
}
.module_edit .form_fields .form_field input {
	width:100px;
}
.module_edit .buttons {
	width:70px;
}
.module_edit .buttons .submit_button_delete {
	display:none;
}
