.module_list .main_title {
	width:600px;
	margin:0 auto;
	border-bottom:1px solid #000;
}
.module_list #file_tree {
	width:600px;
	margin:0 auto;
}
.module_list #file_tree i.default {
	background-position:-260px -34px;
}
.module_list #file_tree .icon {
	display:inline-block;
	float:none;
	margin:0;
	margin-left:1px;
	vertical-align:middle;
}
.module_list #file_tree > a > .jstree-icon,
  .module_list #file_tree .jstree-themeicon {
	background:none;
}
.module_list #file_tree > a > .jstree-icon::before,
  .module_list #file_tree .jstree-themeicon::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	margin-top:7px;
	display:block;
}
.module_list #file_tree > a > .jstree-icon::before {
	content:"\f0a0";
	color:#333;
}
.module_list #file_tree .jstree-themeicon::before {
	content:"\f07b";
	color:#f5df86;
}
