.my_list .center{
	text-align:left;
}

.my_list table{
	width:100%;
	max-width:1600px;
}

.my_list th {
   background-image:url('../img/tablecolresizable/th.png');
   height:30px;
   background-repeat:no-repeat;
   color:white;
   /*text-shadow: #012b4d 2px 2px 2px;*/
   text-align: center;
}

.my_list td{
	text-indent:5px;
	color:#444;
	border-bottom:1px solid #bbb;
	border-left:1px solid #bbb;
}

.my_list td.left{
	border-left:1px solid #2e638e;
}

.my_list td.right{
	border-right:1px solid #2e638e;
}

.my_list td.bottom{
	border-bottom:1px solid #2e638e;
}

.my_list .grip{
	width:10px;
	height:15px;
	margin-top:1px;
	background-image:url('../img/tablecolresizable/grip.png');
	margin-left:-1px;
	position:relative;
	z-index:88;
	cursor:e-resize;
}

.my_list .grip:hover{
	background-position-x:-20px;
}

.my_list .dragging .grip{
	background-position-x:-40px;
}

.my_list .dotted{
	background-image:url('../img/tablecolresizable/dotted.png');
	background-repeat:repeat-y;
}
