<module>
	<label>List Object Events</label>
	<description>Module "List Object Events" allows to manage the object events.</description>
	<image>logo.svg</image>
	<load_module_settings_js_function>loadListSettingsBlockSettings</load_module_settings_js_function>
	<is_reserved_module>1</is_reserved_module>
</module>
