.module_edit_user_environment {
	width:250px;
}
.module_edit_user_environment .form_fields .form_field input {
	width:80px;
}
.module_edit_user_environment .form_fields .form_field select {
	width:95px;
}
