.module_edit_user_type_activity_object {
	width:250px;
}
.module_edit_user_type_activity_object .form_fields .form_field input {
	width:80px;
}
.module_edit_user_type_activity_object .form_fields .form_field select {
	width:95px;
}
