.module_forgot_credentials {
	float:none;
	clear:both;
}
.module_forgot_credentials .choices {
	width:320px;
	margin:0 auto;
}
.module_forgot_credentials .write_email {
	width:310px;
	margin:0 auto;
}
.module_forgot_credentials .write_security_answers {
	width:520px;
	margin:0 auto;
}
.module_forgot_credentials a {
	color:#999;
	text-decoration:none;
}
.module_forgot_credentials a:hover {
	text-decoration:underline;
}
.module_forgot_credentials .info {
	width:100%;
	text-align:center;
	font-weight:bold;
}
.module_forgot_credentials .error {
	width:100%;
	text-align:center;
	font-weight:bold;
	color:red;
}
.module_forgot_credentials .form_fields {

}
.module_forgot_credentials .form_fields .form_field {
	float:none;
	clear:left;
	min-height:20px;
	margin-bottom:10px;
}
.module_forgot_credentials .form_fields .form_field label {
	font-weight:normal;
}
.module_forgot_credentials .write_security_answers .form_fields .form_field label {
	width:100%;
	min-height:20px;
	display:block;
	float:none;
	clear:left;
}
.module_forgot_credentials .form_fields .form_field input {
	width:200px;
	background-color:#FFF;
}
.module_forgot_credentials .write_security_answers .form_fields .form_field input {
	width:510px;
}

.module_forgot_credentials .buttons {
	padding-top:5px;
	margin-bottom:5px;
}
.module_forgot_credentials .buttons .submit_button {
	text-align:center;
}
.module_forgot_credentials .buttons .submit_button input {
	background-color:#F7F7F7;
}

.module_forgot_credentials .main_label {
	height:20px;
	margin-bottom:10px;
	display:block;
	text-align:center;
}

