/* ADD FORM */
.module_add_user_type_activity_object {
	width:380px;
	margin:0 auto;
}
.module_add_user_type_activity_object .title {
	text-align:center;
	font-weight:bold;
	font-size:16px;
}
.module_add_user_type_activity_object .message {
	height:20px;
	text-align:center;
	font-weight:bold;
	color:red;
	margin-bottom:20px;
}
.module_add_user_type_activity_object div {
	height:20px;
	margin-bottom:10px;
	float:none;
	clear:left;
}
.module_add_user_type_activity_object label {
	width:110px;
	display:block;
	float:left;
}
.module_add_user_type_activity_object input {
	width:190px;
	background-color:#d5e3e4;
}
.module_add_user_type_activity_object select {
	width:200px;
	background-color:#d5e3e4;
}
.module_add_user_type_activity_object .submit_button {
	text-align:center;
}
.module_add_user_type_activity_object .submit_button input {
	width:auto;
	background-color:#d5e3e4;
}
.module_add_user_type_activity_object .go_back {
	margin-top:10px;
	color:#999;
	text-align:center;
}
.module_add_user_type_activity_object .go_back a {
	color:#999;
}

/* MANAGE FORM */
.module_manage_user_type_activity_objects {
	text-align:left;
}
.module_manage_user_type_activity_objects .title {
	margin-top:20px;
	margin-bottom:10px;
	text-align:center;
	font-size:15px;
}
.module_manage_user_type_activity_objects .message {
	height:20px;
	text-align:center;
	font-weight:bold;
	color:red;
	margin-bottom:20px;
}
.module_manage_user_type_activity_objects .user_type_id {
	width:300px;
	margin:20px auto;
}
.module_manage_user_type_activity_objects .user_type_id label {
	width:90px;
}
.module_manage_user_type_activity_objects .user_type_id select {
	width:200px;
	background-color:#d5e3e4;
}
.module_manage_user_type_activity_objects .object_type_vs_acivities_title {
	padding:20px 0;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	border-top:1px solid #CCC;
}
.module_manage_user_type_activity_objects ul, .module_manage_user_type_activity_objects li {
	list-style-type:none;
	padding-left:0;
}
.module_manage_user_type_activity_objects li li {
	margin-left:30px;
}
.module_manage_user_type_activity_objects .icon {
	display:block;
	width:16px;
	height:20px;
	margin:2px 5px 0 5px;
	cursor:pointer;
	
	/* Hide Text */
	text-indent:-9999px;
	white-space:nowrap;
	overflow:hidden;
	
	float:left;
	margin-left:5px;
	margin-right:5px;
}
.module_manage_user_type_activity_objects .object_type_header {
	height:20px;
	padding:2px;
	background-color:#d5e3e4;
	border:1px outset #FFF;
}
.module_manage_user_type_activity_objects .object_type_header .maximize {
	background:url("../../img/icon/maximize_icon.png") no-repeat scroll 0 1px;
	float:right;
}
.module_manage_user_type_activity_objects .object_type_header .minimize {
	background:url("../../img/icon/minimize_icon.png") no-repeat scroll 0 1px;
	float:right;
}
.module_manage_user_type_activity_objects .object_type_header .add {
	background:url("../../img/icon/add_icon.gif") no-repeat scroll 0 1px;
	float:right;
}
.module_manage_user_type_activity_objects .object_type_header label {
	margin-left:10px;
	display:block;
	float:left;
}
.module_manage_user_type_activity_objects table {
	min-width:100%;	
	margin:10px auto;
	border:1px solid #CCC;
}
.module_manage_user_type_activity_objects table th {
	min-height:20px;
	padding:2px 4px;
	border: 1px outset #999999;
	background: #d5e3e4;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZTNlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2NjZGVlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2M4Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #d5e3e4 0%, #ccdee0 40%, #b3c8cc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5e3e4), color-stop(40%,#ccdee0), color-stop(100%,#b3c8cc));
	background: -webkit-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
	background: -o-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
	background: -ms-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
	background: linear-gradient(to bottom,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
	
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e3e4', endColorstr='#b3c8cc',GradientType=0 )";
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e3e4', endColorstr='#b3c8cc',GradientType=0 );
	
	font-family: Verdana,Arial,sans-serif;
	color:#555555;
	font-weight:bold;
	text-align:center;
}
.module_manage_user_type_activity_objects table th.activity input {
	margin:0;
}
.module_manage_user_type_activity_objects table td {
	border:1px solid #CCC;
	text-align:left;
	padding-left:4px;
	padding-right:2px;
}
.module_manage_user_type_activity_objects table .group_name td {
	font-weight:bold;
	background-color:#ccc;
	border-top:10px solid #fff;
}
.module_manage_user_type_activity_objects table tr:nth-child(2) td {
	border-top:0;
}
.module_manage_user_type_activity_objects table tr.group_name .group_name_label > .icon.maximize {
	margin-right:5px;
	background:url("../../img/icon/maximize_icon.png") no-repeat scroll 0 1px;
}
.module_manage_user_type_activity_objects table tr.group_name .group_name_label > .icon.minimize {
	margin-right:5px;
	background:url("../../img/icon/minimize_icon.png") no-repeat scroll 0 1px;
}
.module_manage_user_type_activity_objects table td.object_id {
	padding-left:20px;
	background-color:#b3c8cc;
	font-size:80%;
}
.module_manage_user_type_activity_objects table td.activity {
	text-align:center;
}
.module_manage_user_type_activity_objects table td.activity_warning {
	background-color:red;
	
	opacity:0.7;
	-ms-filter: alpha(opacity=70);/* For IE 8 */
	filter: alpha(opacity=70);/* For IE */
}
.module_manage_user_type_activity_objects table td.activity_warning input {
	opacity:0.7;
	-ms-filter: alpha(opacity=70);/* For IE 8 */
	filter: alpha(opacity=70);/* For IE */
}
.module_manage_user_type_activity_objects table td.other_activities {
	width:75px;
	background-color:#F7F7F7;
	text-align:center;
}
.module_manage_user_type_activity_objects table td.unregister_activities {
	width:75px;
	background-color:#F7F7F7;
	text-align:center;
	color:red;
	font-weight:bold;
}
.module_manage_user_type_activity_objects .submit_button {
	text-align:center;
	margin-top:30px;
}
.module_manage_user_type_activity_objects .submit_button input {
	width:auto;
	background-color:#d5e3e4;
}
