/* GLOBAL */
.module_form_settings .broker-action-body > .call_business_logic_task_html > .get_automatically,
  .module_form_settings .broker-action-body > .call_ibatis_query_task_html > .get_automatically,
  .module_form_settings .broker-action-body > .call_function_task_html > .func_name,
  .module_form_settings .broker-action-body > .call_object_method_task_html > .method_obj_name {
	margin-top:0;
}

/* BROKERS LAYER TYPE */
.selected_task_properties .brokers_layer_type {
	width:100%;
	height:20px;
	float:none;
	clear:both;
	
	display:none;
}
.selected_task_properties .brokers_layer_type label {
	display:block;
	float:left;
	width:130px;
	height:20px;
	margin-bottom:5px;
}

/* CALL BUSINESS LOGIC TASK HTML */
.module_form_settings .broker-action-body > .call_business_logic_task_html {
	display:none;
}
.module_form_settings .broker-action-body > .call_business_logic_task_html .get_automatically, 
   .module_form_settings .broker-action-body > .call_business_logic_task_html .broker_method_obj,
   .module_form_settings .broker-action-body > .call_business_logic_task_html .module_id, 
   .module_form_settings .broker-action-body > .call_business_logic_task_html .service_id, 
   .module_form_settings .broker-action-body > .call_business_logic_task_html .params, 
   .module_form_settings .broker-action-body > .call_business_logic_task_html .opts {
	margin:0 auto 5px;
}
.module_form_settings .broker-action-body > .call_business_logic_task_html .broker_method_obj {
	margin-bottom:7px;
}
.module_form_settings .broker-action-body > .call_business_logic_task_html .result,
   .module_form_settings .broker-action-body > .call_business_logic_task_html .task_property_exit {
	display:none;
}

/* CALL QUERY TASK HTML */
.module_form_settings .broker-action-body > .call_ibatis_query_task_html {
	display:none;
}
.module_form_settings .broker-action-body > .call_ibatis_query_task_html .get_automatically,
   .module_form_settings .broker-action-body > .call_ibatis_query_task_html .broker_method_obj,
   .module_form_settings .broker-action-body > .call_ibatis_query_task_html .module_id, 
   .module_form_settings .broker-action-body > .call_ibatis_query_task_html .service_type, 
   .module_form_settings .broker-action-body > .call_ibatis_query_task_html .service_id {
	margin:0 auto 5px;
}
.module_form_settings .broker-action-body > .call_ibatis_query_task_html .broker_method_obj {
	margin-bottom:7px;
}
.module_form_settings .broker-action-body > .call_ibatis_query_task_html .query_type,
   .module_form_settings .broker-action-body > .call_ibatis_query_task_html .result,
   .module_form_settings .broker-action-body > .call_ibatis_query_task_html .task_property_exit {
	display:none;
}

/* CALL HIBERNATE METHOD TASK HTML */
.module_form_settings .broker-action-body > .call_hibernate_method_task_html {
	display:none;
	margin-top:15px;
}
.module_form_settings .broker-action-body > .call_hibernate_method_task_html .get_automatically,
  .module_form_settings .broker-action-body > .call_hibernate_method_task_html .broker_method_obj {
	margin:0 auto 5px;
}
.module_form_settings .broker-action-body > .call_hibernate_method_task_html .broker_method_obj {
	margin-bottom:7px;
}
.module_form_settings .broker-action-body > .call_hibernate_method_task_html .result,
   .module_form_settings .broker-action-body > .call_hibernate_method_task_html .task_property_exit {
	display:none;
}

/* GET QUERY DATA TASK HTML & GET QUERY DATA TASK HTML */
.module_form_settings .broker-action-body > .get_query_data_task_html,
  .module_form_settings .broker-action-body > .set_query_data_task_html {
	display:none;
	margin-top:20px;
}
.module_form_settings .broker-action-body > .get_query_data_task_html .broker_method_obj,
  .module_form_settings .broker-action-body > .set_query_data_task_html .broker_method_obj {
	margin:0 auto 5px;
	margin-bottom:7px;
}
.module_form_settings .broker-action-body > .get_query_data_task_html .result,
   .module_form_settings .broker-action-body > .set_query_data_task_html .result,
   .module_form_settings .broker-action-body > .get_query_data_task_html .task_property_exit,
   .module_form_settings .broker-action-body > .set_query_data_task_html .task_property_exit {
	display:none;
}

/* CALL FUNCTION TASK HTML */
.module_form_settings .broker-action-body > .call_function_task_html {
	display:none;
	margin:20px auto 0 auto;
}
.module_form_settings .broker-action-body > .call_function_task_html .func_name label {
	width:110px;
}
.module_form_settings .broker-action-body > .call_function_task_html .result,
   .module_form_settings .broker-action-body > .call_function_task_html .task_property_exit {
	display:none;
}

/* CALL OBJECT METHOD TASK HTML */
.module_form_settings .broker-action-body > .call_object_method_task_html {
	display:none;
	margin:20px auto 0 auto;
}
.module_form_settings .broker-action-body > .call_object_method_task_html .method_obj_name, 
   .module_form_settings .broker-action-body > .call_object_method_task_html .method_name, 
   .module_form_settings .broker-action-body > .call_object_method_task_html .method_static {
	margin-bottom:5px;
}
.module_form_settings .broker-action-body > .call_object_method_task_html .method_obj_name label, 
   .module_form_settings .broker-action-body > .call_object_method_task_html .method_name label, 
   .module_form_settings .broker-action-body > .call_object_method_task_html .method_static label {
	width:110px;
}
.module_form_settings .broker-action-body > .call_object_method_task_html .result,
   .module_form_settings .broker-action-body > .call_object_method_task_html .task_property_exit {
	display:none;
}

/* CALL REST CONNECTOR TASK HTML */
.module_form_settings .broker-action-body > .get_url_contents_task_html .result,
   .module_form_settings .broker-action-body > .get_url_contents_task_html .task_property_exit {
	display:none;
}

/* CALL SOAP CONNECTOR TASK HTML */
.module_form_settings .broker-action-body > .soap_connector_task_html > .type, 
   .module_form_settings .broker-action-body > .soap_connector_task_html .data, 
   .module_form_settings .broker-action-body > .soap_connector_task_html .wsdl_url, 
   .module_form_settings .broker-action-body > .soap_connector_task_html .client_options, 
   .module_form_settings .broker-action-body > .soap_connector_task_html .client_headers, 
   .module_form_settings .broker-action-body > .soap_connector_task_html .remote_function_name, 
   .module_form_settings .broker-action-body > .soap_connector_task_html .remote_function_arguments, 
   .module_form_settings .broker-action-body > .soap_connector_task_html .result_type {
	width:500px;
	margin-left:auto;
	margin-right:auto;
}
.module_form_settings .broker-action-body > .soap_connector_task_html .result,
   .module_form_settings .broker-action-body > .soap_connector_task_html .task_property_exit {
	display:none;
}

