/* TOP BAR */
.top_bar > header {
	z-index:1000000;
}

/* BLOCK OBJ */
.block_obj {
	min-width:825px; /* bc of the createformtask */
}
.block_obj .module_data .module_description .convert_to_module_workflow {
	margin-top:20px;
	display:block;
	cursor:pointer;
}
.block_obj .module_settings {
	width:auto;
}
.block_obj .module_settings .settings {
	border:0;
}

.module_form_settings {
	text-align:left;
	position:static; /* very important otherwise the wizard popup will not be centered in the window */
	overflow:hidden; /* bc of the workflow menu drag&drop */
}
.module_form_settings label {
	font-style:normal;
	font-weight:normal;
	/*font-size:12px;*/
}
.module_form_settings input:not([type=submit]):not([type=button]), .module_form_settings select, .module_form_settings textarea {
	/*font-size:12px;*/
	background-color:#fff;
}

.module_form_settings .module_form_contents {
	border:0;
}

.module_form_settings .sla_groups_flow > nav > a.open_form_wizard,
  .module_form_settings .sla_groups_flow > nav > a.add_form_group,
  .module_form_settings .sla_groups_flow > nav > a.collapse_form_groups,
  .module_form_settings .sla_groups_flow > nav > a.expand_form_groups {
	cursor:pointer;
}
.module_form_settings .sla_groups_flow > nav > a.collapse_form_groups,
  .module_form_settings .sla_groups_flow > nav > a.expand_form_groups {
	margin-left:20px;
}
.module_form_settings .sla_groups_flow > nav > a.open_form_wizard {
	float:right;
}

/* FORM WIZARD */
.module_form_settings .form_wizard {
	width:90%;
	width:90vw;
	min-height:90%;
	min-height:90vh;
	height:auto !important;
	background:#fff;
	z-index:9999;
}

.module_form_settings .form_wizard > .steps {
	margin:20px 0 40px 0;
}
.module_form_settings .form_wizard > .steps > .step {
	text-align:center;
	display:none;
}
.module_form_settings .form_wizard > .steps > .step.panel_type_selection > .form_type,
  .module_form_settings .form_wizard > .steps > .step.table_selection > .dal_broker,
  .module_form_settings .form_wizard > .steps > .step.table_selection > .db_driver,
  .module_form_settings .form_wizard > .steps > .step.table_selection > .db_type {
	opacity:.5;
	background:#fff;
}
.module_form_settings .form_wizard > .steps > .step.table_selection > .clear {
	margin-top: 20px;
}
.module_form_settings .form_wizard > .steps > .step.table_selection > .toggle_table_options {
	margin-top:10px;
	display:block;
	text-align:center;
}
.module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .attributes,
   .module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .conditions {
	text-align:left;
	margin-top:10px;
	padding:10px;
}
.module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .attributes > label,
   .module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .conditions > label {
	display:block;
}
.module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .attributes li,
   .module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .conditions li {
	width:50%;
	margin-top:5px;
	display:inline-block;
	opacity:.5;
}
.module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .attributes li:after,
   .module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .conditions li:after {
	content:" ";
	height:1px;
	display:block;
	float:none;
	clear:both;
}
.module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .attributes li.attr_activated,
   .module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .conditions li.attr_activated {
	opacity:1;
}
.module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .attributes li label,
   .module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .conditions li label {
	width:100px;
	margin-left:5px;
	margin-right:5px;
	display:inline-block;
}
.module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .attributes li .attr_value,
  .module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .conditions li .attr_name {
	display:none;
}
.module_form_settings .form_wizard > .steps > .step.table_selection > .table_options > .conditions li label:after {
	content:" = ";
	float:right;
}

.module_form_settings .form_wizard > .steps > .step.actions_selection > label {
	margin-bottom:20px;
	display:block;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection > .multiple_actions {
	margin-top:20px;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action {
	opacity:.5;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action.action_activated {
	opacity:1;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action.action_multiple_insert_update {
	display:none;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action.action_links {
	margin-top:20px;
	padding:10px;
	border-top:1px solid #ccc;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .toggle {
	margin-top:3px;
	position:absolute;
	display:none;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action.action_activated > .toggle {
	display:inline-block;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > label {
	width:100px;
	display:inline-block;
	text-align:left;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > input {
	vertical-align:top;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options {
	width:430px;
	margin:10px auto;
	border:1px solid #ccc;
	display:none;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action.action_links > .action_options {
	width:620px;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option {
	padding:10px;
	text-align:left;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option > ul label {
	width:100px;
	display:inline-block;
	color:#999;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option > ul input {
	width:300px;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option.ajax_url {
	display:none;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option.action_links > .add {
	float:none;
	display:inline-block;
	vertical-align:middle;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option.action_links > .action_link {
	margin-top:5px;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option.action_links > .action_link > .action_link_url {
	width:300px;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option.action_links > .action_link > .action_link_class {
	width:100px;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option.action_links > .action_link > .action_link_title {
	width:150px;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option.action_links > .action_link > .delete {
	float:none;
	display:inline-block;
	vertical-align:middle;
}
.module_form_settings .form_wizard > .steps > .step.actions_selection .action > .action_options > .action_option.action_links > .action_link:nth-of-type(2) > .delete {
	display:none;
}

.module_form_settings .form_wizard > .steps > .step.create_selection > label {
	margin-bottom:10px;
	display:block;
}
.module_form_settings .form_wizard > .steps > .step.create_selection > input {
	margin:10px;
}
.module_form_settings .form_wizard > .steps > .step.create_selection > input:disabled {
	background:#ccc;
	border:1px solid #c0c0c0;
}

.module_form_settings .form_wizard > .buttons {
    width:auto;
    position:absolute;
    bottom:20px;
    left:20px;
    right:20px;
}
.module_form_settings .form_wizard > .buttons > .previous {
	float:left;
	display:none;
}
.module_form_settings .form_wizard > .buttons > .next {
	float:right;
	margin:0;
}

/* WORKFLOW */
.module_form_settings #ui {
	position:relative;
}
.module_form_settings #ui.tasks_flow_full_screen {
    position: fixed;
    top:0px;
}
.module_form_settings #ui > .taskflowchart {
	min-height:400px;
	max-height:calc(100vh - 60px);
	overflow:visible;
}
.module_form_settings #ui.tasks_flow_full_screen > .taskflowchart {
	height:100% !important;
}
.module_form_settings #ui > .taskflowchart > .workflow_menu {
	position:absolute;
	top:-25px;
	right:5px;
	z-index:4;
}
.module_form_settings #ui > .taskflowchart > .workflow_menu:before {
	font-size:14px;
	color:#666;
}
.module_form_settings #ui > .taskflowchart > .tasks_menu {
	width:130px;
}
.module_form_settings #ui > .taskflowchart > .tasks_menu_hide {
	right:130px;
}
.module_form_settings #ui > .taskflowchart > .tasks_flow {
	right:135px;
}
.module_form_settings #ui > .taskflowchart > .tasks_menu > ul > li.tasks_group_disabled {
	display:none;
}
.module_form_settings #ui > .taskflowchart > .tasks_menu .tasks_group_label {
	padding-top:0;
	border-top:0;
}
.module_form_settings #ui > .taskflowchart > .tasks_menu .tasks_group_label:hover:after {
	display:none;
}
.module_form_settings .workflow_message {
	position:absolute;
}
.module_form_settings .error {
	height:auto;
	font-size:100%;
}
.module_form_settings .sla_group_item > .sla_group_body.selected_task_properties {
	position:initial !important;
	max-height:none;
}

/* WORKFLOW - TASKS */
.module_form_settings .taskflowchart.with_top_bar_menu .tasks_menu.task_properties_shown, 
  .module_form_settings .taskflowchart.with_top_bar_menu .tasks_menu_hide.task_properties_shown, 
  .module_form_settings .taskflowchart.with_top_bar_menu .tasks_flow.task_properties_shown, 
  .module_form_settings .taskflowchart.with_top_bar_menu .tasks_menu.connection_properties_shown, 
  .module_form_settings .taskflowchart.with_top_bar_menu .tasks_menu_hide.connection_properties_shown, 
  .module_form_settings .taskflowchart.with_top_bar_menu .tasks_flow.connection_properties_shown {
	bottom:0 !important;
}
.module_form_settings .taskflowchart:not(.fixed_properties) .selected_task_properties > .maximize_minimize_icon,
  .module_form_settings .taskflowchart:not(.fixed_properties) .selected_connection_properties > .maximize_minimize_icon {
	display:none;
}
.module_form_settings .taskflowchart:not(.fixed_properties) .selected_task_properties > .generic_buttons,
  .module_form_settings .taskflowchart:not(.fixed_properties) .selected_connection_properties > .generic_buttons {
	right:30px !important;
}

.module_form_settings .taskflowchart.fixed_properties .selected_task_properties, 
  .module_form_settings .taskflowchart.fixed_properties .selected_connection_properties {
	z-index:999999 !important;
}
/*.module_form_settings .taskflowchart.fixed_properties .selected_task_properties > .resize_properties_panel .button, 
  .module_form_settings .taskflowchart.fixed_properties .selected_connection_properties .resize_properties_panel .button {
	margin:0;
}*/
.module_form_settings .taskflowchart.fixed_properties .selected_task_properties > .toggle_properties_side_icon, 
  .module_form_settings .taskflowchart.fixed_properties .selected_connection_properties .toggle_properties_side_icon {
	display:none;
}
.module_form_settings .taskflowchart.fixed_properties .selected_task_properties > .content, 
  .module_form_settings .taskflowchart.fixed_properties .selected_connection_properties .content {
	padding:10px 15px 15px;
}
.module_form_settings .taskflowchart.fixed_properties .selected_task_properties > .generic_buttons, 
  .module_form_settings .taskflowchart.fixed_properties .selected_connection_properties .generic_buttons {
	right:55px;
}
.module_form_settings .taskflowchart.fixed_properties .selected_task_properties .sla_group_item {
	margin-bottom:0;
}
.module_form_settings .taskflowchart.fixed_properties .selected_task_properties .sla_group_item:after {
	display:none;
}
.module_form_settings .taskflowchart.fixed_properties .selected_task_properties .sla_group_item .selected_task_properties {
	height:auto !important;
	position:relative !important;
}
.module_form_settings .taskflowchart.fixed_properties .selected_task_properties .sla_group_item .selected_task_properties::before,
  .module_form_settings .taskflowchart.fixed_properties .selected_task_properties .sla_group_item .selected_connection_properties::before {
	display:none;
}

.module_form_settings .taskflowchart .sla_group_item > .sla_group_body.selected_task_properties .loop_action_body > header,
  .module_form_settings .taskflowchart .sla_group_item > .sla_group_body.selected_task_properties .group_action_body > header {
	margin-bottom:0;
}
.module_form_settings .taskflowchart .sla_group_item > .sla_group_body.selected_task_properties .loop_action_body > header > a,
  .module_form_settings .taskflowchart .sla_group_item > .sla_group_body.selected_task_properties .group_action_body > header > a {
	display:none;
}
.module_form_settings .taskflowchart .sla_group_item > .sla_group_body.selected_task_properties .create_form_task_html .layout-ui-editor:not(.full-screen) > .tabs {
	background:var(--main-settings-bg);
}

