.module_show_chat {
	width:250px;
	height:300px;
	border:1px outset #ccc;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-color:#ccc;
}
.module_show_chat.chat_minimized {
	height:auto;
}

.module_show_chat .chat_header {
	height:20px;
	padding:3px 5px;
	float:none;
	clear:both;
}
.module_show_chat .chat_header .to_user_photo {
	width:20px;
	height:20px;
	float:left;
}
.module_show_chat .chat_header label {
	width:calc(100% - 40px);
	float:left;
	overflow:hidden;
	text-align:center;
	font-weight:normal;
}
.module_show_chat .chat_header .toggle_chat {
	width:20px;
	height:20px;
	background:url("toggle_icon.png") no-repeat center;
	font-size:0;
	float:right;
	cursor:pointer;
}
.module_show_chat .chat_header .close_chat {
	width:20px;
	height:20px;
	background:url("close_icon.gif") no-repeat center;
	font-size:0;
	float:right;
	cursor:pointer;
}

.module_show_chat .chat_messages {
	width:auto;
	height:calc(100% - 104px);
	overflow-y:auto;
	padding:3px 5px;
	float:none;
	clear:both;
	background:white;
	text-align:center;
}
.module_show_chat.chat_minimized .chat_messages {
	display:none;
}
.module_show_chat .chat_messages .load_previous_messages {
	margin:0 auto 20px;
	padding:6px 15px;
	display:inline-block;
	background:#f0f0f0;
	color:#999;
	border-radius:100px;
	text-align:center;
	cursor:pointer;
	vertical-align:middle;
}
.module_show_chat .chat_messages.empty_messages .load_previous_messages {
	display:none;
}
.module_show_chat .chat_messages .load_previous_messages .icon {
	margin-right:3px;
	vertical-align:middle;
}
.module_show_chat .chat_messages ul {
	margin:0;
	padding:0;
}
.module_show_chat .chat_messages .loading {
	width:100%;
	height:20px;
	margin:5px 0;
	float:none;
	clear:both;
	background:url("loading.gif") no-repeat center;
}
.module_show_chat .chat_messages .message {
	position:relative;
	display:block;
	margin:0 0 5px 0;
	padding:0;
	float:none;
	clear:both;
	list-style:none;
	background:none;
}
.module_show_chat .chat_messages .message .photo {
	width:30px;
	height:30px;
	margin:0;
	float:left;
	border-radius:10px;
	background:url("no_photo.png") no-repeat center;
}
.module_show_chat .chat_messages .message.same_user_message .photo {
	display:none;
}
.module_show_chat .chat_messages .message .photo img {
	width:100%;
	height:100%;
}
.module_show_chat .chat_messages .message .msg {
	margin-bottom:15px;
	padding:3px 5px;
	position:relative;
	display:inline-block;
	border-radius:5px;
	color:#333;
}
.module_show_chat .chat_messages .message .msg .seen_date {
	line-height:15px;
	position:absolute;
	bottom:-15px;
	right:0;
	display:block;
	color:#999;
	font-size:70%;
}
.module_show_chat .chat_messages .message .msg .subject {
	line-height:15px;
}
.module_show_chat .chat_messages .message .msg .content {
	line-height:15px;
	overflow:hidden;
	text-overflow:clip;
}
.module_show_chat .chat_messages .message .created_date {
	line-height:10px;
	display:block;
	float:none;
	clear:both;
	text-align:right;
	font-size:65%;
}

.module_show_chat .chat_messages .message_to_user {
	text-align:left;
}
.module_show_chat .chat_messages .message_to_user .photo {
	margin-right:5px;
}
.module_show_chat .chat_messages .message_to_user .msg {
	max-width:calc(80% - 30px);
	float:left;
	background-color:#C0C0C0;
}
.module_show_chat .chat_messages .message_to_user.same_user_message .msg {
	margin-left:35px;
}
.module_show_chat .chat_messages .message_to_user .created_date {
	color:#000;
}

.module_show_chat .chat_messages .message_from_user {
	text-align:right;
}
.module_show_chat .chat_messages .message_from_user .photo {
	margin-left:5px;
	float:right;
	display:none;
}
.module_show_chat .chat_messages .message_from_user .msg {
	max-width:80%;
	background-color:#00CC00;
	background-color:rgba(0, 200, 0, 0.5);
}
.module_show_chat .chat_messages .message_from_user.same_user_message .msg {
	/*margin-right:35px;*/
}
.module_show_chat .chat_messages .message_from_user .created_date {
	color:#000;
}

.module_show_chat .chat_footer {
	height:60px;
	float:none;
	clear:both;
	margin:5px;
}
.module_show_chat.chat_minimized .chat_footer {
	display:none;
}
.module_show_chat .chat_footer textarea {
	width:79%;
	height:60px;
	margin:0;
	padding:0;
	float:left;
	background:white;
	resize:none;
}
.module_show_chat .chat_footer input {
	width:19%;
	height:62px;
	margin:0 0 0 0.5%;
	padding:0;
	float:right;
	background:white;
}
