.list_settings .prop_user_type_id .selected_task_properties .form_containers .fields .field .input_name,
   .list_settings .prop_user_type_id .selected_task_properties .form_containers .fields .field .input_value {
	display:none;
}
.list_settings .prop_activity_id .selected_task_properties .form_containers .fields .field .input_name,
   .list_settings .prop_activity_id .selected_task_properties .form_containers .fields .field .input_value {
	display:none;
}
.list_settings .prop_object_type_id .selected_task_properties .form_containers .fields .field .input_name,
   .list_settings .prop_object_type_id .selected_task_properties .form_containers .fields .field .input_value {
	display:none;
}
