<module>
	<label>Edit User Type Activity Object</label>
	<description>Module "Edit User Type Activity Object" allows the user to add and remove an user type activity object.</description>
	<image>logo.svg</image>
	<load_module_settings_js_function>loadEditUserTypeActivityObjectSettingsBlockSettings</load_module_settings_js_function>
</module>
