<module>
	<label>Tag</label>
	<description>Module Tag allows you to add multiple tags to an object. This module is an auxiliar module which means this module can only be used by other modules and not directly!</description>
	<image>logo.svg</image>
	<is_reserved_module>1</is_reserved_module>
	<is_hidden_module>1</is_hidden_module>
</module>
