<IfModule mod_rewrite.c>
   RewriteEngine on
   
   RewriteRule ^$ app/layer/ [L,NC]
   
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule (.*) app/layer/$1 [L,NC]
</IfModule>
