/* TITLE */
.top_bar {
	margin-bottom:15px;
}
.top_bar header {
	z-index:9999;
}
.edit_single_query > .top_bar .title { 
	width:420px;
	z-index:1;
	position:absolute;
}
.edit_single_query > .top_bar .title .query_type {
	width:100px;
	display:inline-block;
}
.edit_single_query > .top_bar .title .query_name {
	width:200px;
	display:inline-block;
}

/* RELATIONSHIP */
.edit_single_query .data_access_obj {
	width:100%;
	margin:0;
	z-index:0;
}
.edit_single_query .relationship {
	margin:0;
	padding:0;
	border:0;
	display:none;
}
.edit_single_query .data_access_obj.with_parameter_and_result_fields .relationship {
	margin-top:20px;
}
.edit_single_query .relationship .header_buttons {
	display:none;
}
.edit_single_query .relationship .rel_type {
	width:90px;
	margin:0;
	position:fixed;
	top:7px;
	left:35px;
	z-index:9999;
}
.edit_single_query .relationship .rel_type label {
	display:none;
}
.edit_single_query .relationship .rel_type select {
	width:90px;
	border:1px solid #ccc;
	color:#000;
	background:transparent;
}
.edit_single_query .relationship .rel_name {
	width:210px;
	margin:0;
	position:fixed;
	top:7px;
	left:210px;
	z-index:9999;
}
.edit_single_query .relationship .rel_name label {
	display:none;
}
.edit_single_query .relationship .rel_name input {
	width:200px;
	border:1px solid #ccc;
	color:#000;
	background:transparent;
}
.edit_single_query .relationship .parameter_class_id, 
  .edit_single_query .relationship .parameter_map_id, 
  .edit_single_query .relationship .result_class_id, 
  .edit_single_query .relationship .result_map_id {
	display:none;
}

/* RELATIONSHIP - QUERY */
.edit_single_query .relationship .query {
	margin:0;
	padding:0;
	border:0;
	background:transparent;
	position:relative;
	overflow:visible;
}
.edit_single_query .data_access_obj.with_parameter_and_result_fields .relationship .query {
	margin-top:120px;
}
.edit_single_query .relationship .query > .query_tabs {
	display:none;
}
.edit_single_query .relationship .query > .ui-widget-content {
	display:block !important;
	margin-top:100px;
	border-top:1px solid #000;
}
.edit_single_query .data_access_obj.with_parameter_and_result_fields .relationship .query > .ui-widget-content {
	margin-top:86px;
}
.edit_single_query .relationship .query .sql_text_area {
	height:100px;
	margin-top:-100px;
	position:absolute;
	top:0;
	left:0;
	right:0;
}
.edit_single_query .data_access_obj.with_parameter_and_result_fields .relationship .query > .sql_text_area {
	margin-top:-101px;
}
.edit_single_query .data_access_obj:not(.with_parameter_and_result_fields) .relationship .query .sql_text_area {
	border-top:0;
}
.edit_single_query .relationship .query .sql_text_area textarea, 
  .edit_single_query .relationship .query .ace_editor {
	width:100%;
	height:100px; 
	border-top:0;
}
.edit_single_query .relationship .query .query_select .taskflowchart,
  .edit_single_query .relationship .query .query_select .taskflowchart .tasks_flow,
  .edit_single_query .relationship .query .query_select .taskflowchart .workflow_menu {
	width:100%;
}
.edit_single_query .relationship .query .query_select .taskflowchart {
	height:auto !important;
	margin:0;
	position:relative;
}
.edit_single_query .relationship .query .query_select.hide_taskflowchart .taskflowchart {
	display:none;
}
.edit_single_query .relationship .query .query_select .taskflowchart .tasks_flow {
	height:calc(50vh - 65px);
	/*min-height:250px;
	max-height:350px;*/
	margin:0;
	position:relative;
	overflow-y:auto;
	overflow-x:auto;
	background:#f7f7f7;
	box-sizing:border-box;
}
.edit_single_query .relationship .query .query_select.hide_query_settings .taskflowchart .tasks_flow {
	height:calc(100vh - 135px);
}
.edit_single_query .relationship .query .query_select .taskflowchart .workflow_menu {
	display:none;
}
.edit_single_query .relationship .query table {
	margin-left:auto;
	margin-right:auto;
	border:0;
}
.edit_single_query .relationship.query_insert .query_insert_update_delete, 
  .edit_single_query .relationship.query_update .query_insert_update_delete, 
  .edit_single_query .relationship.query_delete .query_insert_update_delete {
	height:calc(100vh - 145px);
	padding-bottom:50px;
	border:0;
	box-sizing:border-box;
}
.edit_single_query .relationship .query_insert_update_delete .query_insert_update_delete_tabs {
	text-align:left;
}
.edit_single_query .relationship .query .query_insert_update_delete .query_insert_update_delete_tab {
	height:calc(100% - 30px);
	overflow:auto;
}
.edit_single_query .relationship.query_select .query_select {
	border:0;
}
.edit_single_query .relationship .query .query_select .query_settings {
	height:calc(50vh - 70px);
	padding-top:10px;
	padding-bottom:50px;
	border-top:1px solid #000;
	border-radius:0;
	box-sizing:border-box;
}
.edit_single_query .relationship .query .query_select.hide_taskflowchart .query_settings {
	height:calc(100vh - 135px);
	border-top:0;
}
.edit_single_query .relationship .query .query_select .query_settings .query_settings_tab {
	height:100%;
	overflow:auto;
}
.edit_single_query .relationship .query .query_select .query_settings .advanced_query_settings {
	margin-top:auto;
	bottom:20px;
}
.edit_single_query .relationship .query .query_select .query_settings > .query_settings_tabs {
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.edit_single_query .relationship .sub_limit_start {
	height:auto;
	margin-top:0;
	padding-top:35px;
	overflow:visible;
}
.edit_single_query .relationship .query .query_select .query_settings .sub_limit_start .limit_start .limit label, 
  .edit_single_query .relationship .query .query_select .query_settings .sub_limit_start .limit_start .start label {
	font-weight:normal;
}

.edit_single_query .relationship .query .query_select .taskflowchart .tasks_flow .selected_connection_properties {
	min-height:calc(50vh - 60px) !important;
}
