.title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 20px 0px;
	text-align: center;
	width: 100%;
	height:25px;
}

.module_admin {
	width:400px;
	margin:0 auto;
	text-align:center;
}
.module_admin label {
	display:block;
	width:100%;
	height:20px;
	margin-bottom:10px;
	font-weight:normal;
}
.module_admin select {
	
}
.module_admin .button {
	display:block;
	margin:10px auto 10px auto;
	height:25px;
	line-height:15px;
	font-size:10px;
	font-weight:bold;
}
