.module_answer_question .question_answers {
	margin-top:20px;
	margin-bottom:20px;
}
.module_answer_question .question_answers li {
	margin-bottom:20px;
	list-style-type:none;
}
.module_answer_question .question_answers .answer_description {
	margin-left:20px;
	opacity:.7;
}
