.module_edit_user_answer {
	width:250px;
}
.module_edit_user_answer .form_fields .form_field input {
	width:80px;
}
.module_edit_user_answer .form_fields .form_field select {
	width:95px;
}
.module_edit_user_answer .form_fields .form_field.username.undefined_value select {
	border-color:initial;
	border-style:inset;
}
