.module_list_user_answers td.user_id {
	width:100px;
	text-align:center;
}
.module_list_user_answers td.username {
	width:100px;
}
.module_list_user_answers td.answer_id {
	width:100px;
	text-align:center;
}
