/* OBJECT TO OBJECTS FIELDS */
.module_settings .settings div .user_environments_settings {
	width:auto;
	border-top:1px solid #CCC;
	margin-top:10px;
	padding-top:10px;
}
.module_settings .settings div .user_environments_settings .user_environments_main_label {
	width:auto;
	height:auto;
	display:block;
	margin-bottom:10px;
	font-weight:normal;
}
.module_settings .settings div .user_environments_settings .add {
	margin:-28px 0 0 135px;
}
.module_settings .settings div .user_environments_settings .user_environment {
	width:auto;
	margin-bottom:5px;
}
.module_settings .settings div .user_environments_settings .environment_id {
	width:330px;
	float:left;
}
.module_settings .settings div .user_environments_settings .delete {
	margin:0;
	background-position:0 3px;
}
.module_settings .settings div .user_environments_settings .environment_id label {
	width:115px;
   	display:inline-block;
   	font-weight:normal;
}
.module_settings .settings div .user_environments_settings .environment_id input {
	width:200px;
	font-size:11px;
}
